Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Added logic for addition
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Fix bug where `split_non_commuting` erases trainability of observables (#5838)
  doc/releases/changelog-dev.md
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
Due: pylint, pylint-test

Almost finished
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Additional example in the `draw` method
  pennylane/devices/default_tensor.py
Due: pylint

Fixing error in test caused by last commit
  pennylane/devices/default_tensor.py
Due: pylint

Finished nondiagonal obs logic, unrelated issue?
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Inserting # pragma: no cover to see if codecov stop complaining
  pennylane/qnn/torch.py
Due: pylint

Added parameters for probs testing
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Removed unused imports
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Adding stub to changelog
  doc/releases/changelog-dev.md
Due: none

Remove branch_measurement.
  pennylane/devices/qubit/simulate.py
Due: pylint

changed the conversion method to scratch
  pennylane/qchem/__init__.py
  pennylane/qchem/convert_openfermion.py
  tests/qchem/of_tests/test_convert_openfermion.py
Due: pylint, pylint-test

Use qml.StatePrep ops and remove initial_state kwargs.
  pennylane/devices/qubit/simulate.py
Due: pylint

formatted through black
  pennylane/qchem/convert_openfermion.py
Due: pylint

Support native measurement-based snapshots in Default Clifford (#5794)
  doc/releases/changelog-dev.md
  pennylane/devices/default_clifford.py
  tests/devices/test_default_clifford.py
Due: pylint, pylint-test

fixed ci
  pennylane/qchem/convert_openfermion.py
Due: pylint

fix grammar
  doc/releases/changelog-dev.md
  pennylane/io.py
Due: pylint

fix vqe tests
  pennylane/_device.py
  pennylane/devices/qubit/sampling.py
  tests/conftest.py
  tests/test_vqe.py
Due: pylint, pylint-test

Add `mcm_method="single-branch-statistics"` for the default Catalyst MCM behaviour (#5833)
  doc/introduction/measurements.rst
  doc/releases/changelog-dev.md
  pennylane/capture/__init__.py
  pennylane/capture/capture_meta.py
  pennylane/capture/capture_qnode.py
  pennylane/devices/execution_config.py
  pennylane/measurements/measurements.py
  pennylane/operation.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/capture/test_capture_qnode.py
  tests/test_qnode.py
Due: pylint, pylint-test

fix test case
  tests/test_device.py
Due: pylint-test

Split adjoint to bypass catalyst dispatch (#5839)
  pennylane/ops/op_math/adjoint.py
Due: pylint

add changelog entry
  doc/releases/changelog-dev.md
Due: none

atol
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
Due: pylint-test

add testcase for StateMeasurement.process_density_matrix NotImplementedErorr
  tests/measurements/test_measurements.py
Due: pylint-test

xfail instead of removing cases
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint-test

Replacing `dtype` with `c_dtype`
  pennylane/devices/default_tensor.py
  tests/devices/default_tensor/test_default_tensor.py
  tests/devices/default_tensor/test_tensor_expval.py
  tests/devices/default_tensor/test_tensor_var.py
Due: pylint, pylint-test

use a dev for test
  tests/measurements/test_measurements.py
Due: pylint-test

Fix test_one_shot_error_without_shots
  pennylane/workflow/qnode.py
Due: pylint

fix device tests
  tests/devices/default_qubit/test_default_qubit_tracking.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_tracking.py
Due: pylint-test

Apply suggestions from code review
  pennylane/workflow/qnode.py
Due: pylint

Update pennylane/debugging.py
  pennylane/debugging.py
Due: pylint

Move device preprocessing to inner execute (#5791)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/devices/preprocess.py
  pennylane/ops/op_math/condition.py
  pennylane/transforms/core/transform_program.py
  pennylane/transforms/dynamic_one_shot.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/docs/test_supported_confs.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/test_qnode.py
  tests/transforms/core/test_transform_program.py
  tests/workflow/test_construct_batch.py
Due: pylint, pylint-test

make codecov happy
  pennylane/_device.py
Due: pylint

fix bug
  pennylane/_device.py
Due: pylint

Add support for noise models (#5684)
  doc/code/qml_noise.rst
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/noise/__init__.py
  pennylane/noise/conditionals.py
  pennylane/noise/noise_model.py
  tests/noise/test_noise_model.py
Due: pylint, pylint-test

added initial tests and improved transform code
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
Due: pylint, pylint-test

Added debugging module
  pennylane/debugging/__init__.py
  pennylane/debugging/debugger.py
  pennylane/debugging/snapshots.py
Due: pylint

fix tests
  pennylane/debugging/__init__.py
  pennylane/debugging/snapshot.py
  tests/test_debugging.py
Due: pylint, pylint-test

fix test
  tests/transforms/test_add_noise.py
Due: pylint-test

Apply suggestions from code review
  pennylane/debugging/__init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
