Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

this works
  doc/conf.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/pauli_based_computation.py
Due: pylint

add markers to equality
  pennylane/transforms/core/compile_pipeline.py
  tests/transforms/core/test_compile_pipeline.py
Due: pylint, pylint-test

simplify
  doc/conf.py
Due: none

artifact
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

undo commit
  doc/requirements.txt
Due: none

Update .github/workflows/documentation-tests.yml
  .github/workflows/documentation-tests.yml
Due: none

move documentation
  pennylane/drawer/label.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Apply suggestions from code review
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

review
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

polish
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

revert unnecessary line deletions
  doc/introduction/templates.rst
  pennylane/math/utils.py
Due: pylint

coverage/non-identity encoding
  pennylane/templates/state_preparations/sum_of_slaters.py
  tests/templates/state_preparations/test_sum_of_slaters.py
Due: pylint, pylint-test

coverage for resource function
  tests/templates/state_preparations/test_sum_of_slaters.py
Due: pylint-test

Update phase gradient preparation and add PhaseShift support
  pennylane/labs/tests/transforms/test_rot_to_phase_gradient.py
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint, labs-pylint-test

Update pennylane/drawer/label.py
  pennylane/drawer/label.py
Due: pylint

Update pennylane/fourier/mark.py
  pennylane/fourier/mark.py
Due: pylint

Update pennylane/fourier/circuit_spectrum.py
  pennylane/fourier/circuit_spectrum.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update pennylane/workflow/marker.py
  pennylane/workflow/marker.py
Due: pylint

update doc
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

Update pennylane/transforms/core/compile_pipeline.py
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

add comment
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

update documentation by switching sections
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

improve docs
  pennylane/transforms/core/compile_pipeline.py
Due: pylint

iterative_optax -> iterative-optax
  pennylane/templates/subroutines/qsvt.py
  pennylane/transforms/core/__init__.py
  tests/templates/subroutines/test_qsvt_optax.py
Due: pylint, pylint-test

artifact
  pennylane/fourier/mark.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
