Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-o",
          "autoray",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.24.0
    hooks:
    -   id: tach
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: labs-pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Write output to file instead of dumping to stdout
  pennylane/devices/null_qubit.py
  tests/devices/test_null_qubit.py
Due: pylint, pylint-test

fix regex
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

fix interface-unit-tests.yml
  .github/workflows/interface-unit-tests.yml
Due: none

Updating torch to 2.5.1
  .github/workflows/docs.yml
  doc/requirements.txt
Due: none

Remove abstractmethod from __call__ methods
  pennylane/workflow/executors/base.py
  pennylane/workflow/executors/native.py
  tests/workflow/test_executors_local.py
Due: pylint, pylint-test

Update tests/devices/qubit_mixed/test_qubit_mixed_simulate.py
  tests/devices/qubit_mixed/test_qubit_mixed_simulate.py
Due: pylint-test

changing to fullname
  .github/workflows/docs.yml
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/class_no_inherited.rst
  doc/_templates/autosummary_core/class.rst
Due: none

Update doc/development/deprecations.rst
  doc/development/deprecations.rst
Due: none

try Mudit's suggestion from an offline discussion
  pennylane/devices/qubit_mixed/initialize_state.py
Due: pylint

add feedback
  .github/workflows/interface-unit-tests.yml
  .github/workflows/scripts/upload_reports/upload.py
  .github/workflows/unit-test.yml
Due: pylint

2nd version of Mudit's
  pennylane/devices/qubit_mixed/initialize_state.py
Due: pylint

Adding absolute path and removing fullname
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/class_no_inherited.rst
  doc/_templates/autosummary_core/class.rst
  doc/conf.py
Due: none

update artifact upload condition
  .github/workflows/unit-test.yml
Due: none

Move executors to concurrency module
  pennylane/concurrency/__init__.py
  pennylane/concurrency/executors/__init__.py
  pennylane/concurrency/executors/base.py
  pennylane/concurrency/executors/dask.py
  pennylane/concurrency/executors/executors.py
  pennylane/concurrency/executors/mpi.py
  pennylane/concurrency/executors/native.py
  pennylane/devices/execution_config.py
  pennylane/workflow/__init__.py
  tests/concurrency/test_executors_local.py
Due: pylint, pylint-test

Add module import header
  pennylane/concurrency/__init__.py
Due: pylint

debug
  pennylane/devices/qubit_mixed/initialize_state.py
  tests/devices/qubit_mixed/test_qubit_mixed_simulate.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Addign .. currentmodule:: pennylane.
  doc/code/qml_operation.rst
  doc/code/qml_ops_op_math.rst
  doc/code/qml_pauli.rst
  doc/code/qml_pulse.rst
  doc/code/qml_qaoa.rst
  doc/code/qml_qchem.rst
  doc/code/qml_resource.rst
  doc/code/qml_shadows.rst
  doc/code/qml_tape.rst
  pennylane/operation.py
Due: pylint

force failures for testing
  tests/fourier/test_coefficients.py
  tests/liealg/test_horizontal_cartan_subalgebra.py
  tests/pauli/test_pauli_arithmetic.py
Due: pylint-test

test
  pennylane/transforms/broadcast_expand.py
Due: pylint

Added . to conf
  doc/conf.py
Due: none

fix tach toml to disallow imports from ftqc and labs
  tach.toml
Due: none

moving
  pennylane/io/from_qasm.py
Due: pylint

fix qnn sphinx?
  pennylane/qnn/__init__.py
Due: pylint

Adding autosummary_ignore_module_all
  doc/conf.py
Due: none

marker
  tests/devices/qubit_mixed/test_qubit_mixed_simulate.py
Due: pylint-test

sphinx
  pennylane/qnn/__init__.py
Due: pylint

Update API and MPI executors
  pennylane/concurrency/executors/base.py
  pennylane/concurrency/executors/mpi.py
  pennylane/concurrency/executors/native.py
Due: pylint

Update __init__.py
  pennylane/qnn/__init__.py
Due: pylint

Adding pennylane path
  doc/conf.py
Due: none

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

let's do this
  pennylane/decomposition/decomposition_rule.py
  pennylane/decomposition/resources.py
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
Due: pylint

ooops
  pennylane/math/matrix_manipulation.py
Due: pylint

ooops * 2
  tests/decomposition/test_controlled_decomposition.py
Due: pylint-test

nvm
  tests/decomposition/test_decomposition_graph.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Create plane_waves.py
  pennylane/labs/trotter_vs_qubitization/plane_waves.py
Due: pylint
