Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: "🐍 tach · Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: "🐍 pylint · Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/estimator/resource_mapping.py
  tests/estimator/test_estimator_mapping.py
Due: pylint, pylint-test

Update pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
  pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

Update pennylane/estimator/ops/op_math/controlled_ops.py
  pennylane/estimator/ops/op_math/controlled_ops.py
Due: pylint

Circuit optimization do not happen over operators on abstract wires
  pennylane/transforms/decompositions/clifford_t_transform.py
  pennylane/transforms/optimization/optimization_utils.py
  tests/transforms/test_optimization/test_cancel_inverses.py
  tests/transforms/test_optimization/test_merge_rotations.py
Due: pylint, pylint-test

update sample correction and tests after merge
  pennylane/ftqc/decomposition.py
  tests/ftqc/test_tape_prototype.py
Due: pylint, pylint-test

move
  doc/releases/changelog-dev.md
Due: none

David Suggestions
  pennylane/templates/subroutines/semi_adder.py
  tests/templates/test_subroutines/test_semi_adder.py
Due: pylint, pylint-test

Update semi_adder.py
  pennylane/templates/subroutines/semi_adder.py
Due: pylint

Addressed comments
  pennylane/estimator/ops/op_math/controlled_ops.py
Due: pylint

minor typechecks
  pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

removed unnecessary conflict
  pennylane/estimator/ops/__init__.py
Due: pylint

Removed link
  pennylane/estimator/ops/op_math/controlled_ops.py
  tests/estimator/ops/test_estimator_controlled.py
Due: pylint, pylint-test

Update pennylane/estimator/estimate.py
  pennylane/estimator/estimate.py
Due: pylint

Finish adding tests
  pennylane/compiler/python_compiler/rewriter/ssa_qubit_map.py
  tests/python_compiler/rewriter/test_ssa_qubit_map.py
Due: pylint, pylint-test

Update tests/estimator/test_estimate.py
  tests/estimator/test_estimate.py
Due: pylint-test

Add changelog entry
  doc/releases/changelog-dev.md
Due: none

formatting
  pennylane/estimator/ops/__init__.py
  tests/estimator/ops/test_estimator_parametric_single_qubit.py
Due: pylint, pylint-test

done
  pennylane/estimator/__init__.py
  tests/estimator/test_estimate.py
Due: pylint, pylint-test

done
  tests/estimator/test_estimate.py
Due: pylint-test

fixes
  pennylane/estimator/estimate.py
  tests/estimator/test_estimate.py
Due: pylint, pylint-test

Remove useless utils
  tests/python_compiler/rewriter/test_ssa_qubit_map.py
Due: pylint-test

fixed import issue
  pennylane/estimator/ops/op_math/controlled_ops.py
Due: pylint

Update tests/estimator/ops/test_estimator_controlled.py
  tests/estimator/ops/test_estimator_controlled.py
Due: pylint-test

let me try this
  pennylane/transforms/decompositions/clifford_t_transform.py
Due: pylint

Fix marker
  tests/python_compiler/rewriter/test_ssa_qubit_map.py
Due: pylint-test

consistency
  pennylane/estimator/ops/op_math/controlled_ops.py
Due: pylint

Update tests/transforms/test_optimization/test_cancel_inverses.py
  tests/transforms/test_optimization/test_cancel_inverses.py
Due: pylint-test

add back
  pennylane/transforms/decompositions/clifford_t_transform.py
Due: pylint
