Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

num_work_wires tests
  pennylane/devices/preprocess.py
  tests/devices/test_preprocess.py
Due: pylint, pylint-test

further explain setup_inputs
  pennylane/templates/subroutine.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

adds documentation page for Subroutines
  doc/code/qml_templates_core.rst
  doc/index.rst
  pennylane/templates/core.py
Due: pylint

not sure what happened there
  pennylane/templates/__init__.py
Due: pylint

Arithmetic ops
  pennylane/decomposition/decomposition_graph.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/qubit/arithmetic_ops.py
Due: pylint

i hate sphinx
  doc/code/qml_templates_core.rst
Due: none

Update changelog
  doc/releases/changelog-dev.md
Due: none

Matrix ops
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

wordsmithing
  doc/releases/changelog-dev.md
Due: none

Clarify setup_inputs (#9096)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutine.py
Due: pylint

Parametric ops
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Parametric ops
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

rename D -> num_entries
  pennylane/templates/state_preparations/sum_of_slaters.py
  tests/templates/state_preparations/test_sum_of_slaters.py
Due: pylint, pylint-test

Update doc/code/qml_templates_core.rst
  doc/code/qml_templates_core.rst
Due: none

Update pennylane/templates/core.py
  pennylane/templates/core.py
Due: pylint

keep the transforms that don't have a duplicate
  pennylane/ftqc/__init__.py
  pennylane/ftqc/decomposition.py
Due: pylint

Adds documentation page for Subroutine abstractions (#9097)
  doc/code/qml_templates_core.rst
  doc/index.rst
  doc/releases/changelog-dev.md
  pennylane/templates/__init__.py
  pennylane/templates/core.py
Due: pylint

Make `BasisState` (q)jit-compatible with static states and/or wires; Make `ceil_log2` jit-compatible (#9069)
  doc/releases/changelog-dev.md
  pennylane/math/utils.py
  pennylane/ops/qubit/state_preparation.py
  tests/math/test_basic_math.py
  tests/ops/qubit/test_state_prep.py
Due: pylint, pylint-test

minor updates
  doc/releases/changelog-dev.md
  pennylane/_grad/grad.py
  pennylane/_grad/value_and_grad.py
Due: pylint

Apply suggestion from @JerryChen97
  pennylane/_grad/value_and_grad.py
Due: pylint

Apply suggestion from @dwierichs
  pennylane/_grad/value_and_grad.py
Due: pylint

Controlled ops
  pennylane/decomposition/resources.py
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
Due: pylint

fix?
  pennylane/ftqc/__init__.py
Due: pylint

Adjoint
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/op_math/symbolicop.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

Revert "Adjoint"
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/op_math/symbolicop.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

Adjoint
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/symbolicop.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

fix
  doc/code/qml_ftqc.rst
Due: none

Apply suggestion from @dwierichs
  tests/capture/test_base_interpreter.py
Due: pylint-test

fix?
  doc/code/qml_ftqc.rst
Due: none

fix
  pennylane/ftqc/decomposition.py
Due: pylint

Reapply "Adjoint"
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/op_math/symbolicop.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

restore
  doc/code/qml_ftqc.rst
Due: none

docstrings
  pennylane/ftqc/decomposition.py
Due: pylint

skip doc test
  pennylane/ftqc/decomposition.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
