Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

switch function with func
  doc/development/plugins.rst
Due: none

add dep warning catch to compile function
  pennylane/transforms/compile.py
Due: pylint

Update keyfeatures
  README.md
Due: none

Update README.md
  README.md
Due: none

update key features copy
  README.md
Due: none

Revert "change mid_circuit_measurements to supported_mcm_methods"
  pennylane/devices/capabilities.py
  tests/devices/test_capabilities.py
Due: pylint, pylint-test

update changelog
  doc/releases/changelog-dev.md
Due: none

add filterwarnings to test class
  tests/transforms/test_tape_expand.py
Due: pylint-test

add initial tests
  tests/capture/autograph/test_while_loop.py
Due: pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update Demos section
  README.md
Due: none

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

some small test changes
  pennylane/capture/autograph/ag_primitives.py
  tests/capture/autograph/test_autograph.py
  tests/capture/autograph/test_while_loop.py
Due: pylint, pylint-test

fix batch treatment with diags along with tests
  pennylane/devices/qubit_mixed/apply_operation.py
  tests/devices/qubit_mixed/test_qubit_mixed_apply_operation.py
Due: pylint, pylint-test

Improved logic for check(s) on batched argument(s)
  pennylane/capture/capture_qnode.py
Due: pylint

add research applications section, remove videos
  README.md
Due: none

[BugFix] - PennyLane raises an informative error if running circuit(s) with dynamic tracers as wires (#6405)
  doc/releases/changelog-dev.md
  pennylane/devices/preprocess.py
  pennylane/wires.py
  tests/devices/test_preprocess.py
Due: pylint, pylint-test

review
  pennylane/drawer/tape_mpl.py
  pennylane/drawer/tape_text.py
Due: pylint

changelog, tests, tape_mpl UI
  doc/releases/changelog-dev.md
  pennylane/drawer/tape_mpl.py
  pennylane/drawer/tape_text.py
  tests/drawer/test_tape_mpl.py
Due: pylint, pylint-test

lint
  tests/drawer/test_tape_mpl.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

utility
  pennylane/labs/dla/__init__.py
  pennylane/labs/dla/dense_util.py
Due: pylint

removing checker num of params
  pennylane/templates/subroutines/out_poly.py
Due: pylint

cartan subalgebra
  pennylane/labs/dla/__init__.py
  pennylane/labs/dla/dense_util.py
Due: pylint

Improved style
  doc/releases/changelog-dev.md
  pennylane/capture/capture_qnode.py
  tests/capture/test_capture_qnode.py
Due: pylint, pylint-test

directly reuse the qubit apply grover
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

address comments and add tests
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
Due: pylint, pylint-test

fix typo
  pennylane/transforms/mitigate.py
Due: pylint

testing
  pennylane/ops/op_math/exp.py
  pennylane/resource/resource.py
  pennylane/templates/subroutines/trotter.py
Due: pylint

fix finite diff
  tests/qchem/test_hamiltonians.py
Due: pylint-test

Added ability to run linux workflows on large runners (#6273)
  .github/workflows/determine-workflow-runner.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/unit-test.yml
  .github/workflows/upload.yml
Due: none

draw and draw_mpl support. tests
  pennylane/drawer/draw.py
  pennylane/drawer/tape_mpl.py
  pennylane/drawer/tape_text.py
  tests/drawer/test_draw.py
  tests/drawer/test_draw_mpl.py
Due: pylint, pylint-test

[skip ci]
  pennylane/templates/subroutines/out_poly.py
Due: pylint

update research applications section
  README.md
Due: none

happy `pylint`
  tests/qchem/test_givens_rotations.py
Due: pylint-test

add from_toml_file
  pennylane/devices/capabilities.py
  tests/devices/test_capabilities.py
Due: pylint, pylint-test

Moved function in math utilis module
  pennylane/capture/capture_qnode.py
  pennylane/math/__init__.py
  pennylane/math/utils.py
  tests/capture/test_capture_qnode.py
Due: pylint, pylint-test

some Utkarsh suggestions
  pennylane/templates/subroutines/out_poly.py
Due: pylint

update Getting started section
  README.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
