Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

rename to `pauli_decompose_with_phase`
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/pauli/__init__.py
  pennylane/pauli/conversion.py
  tests/pauli/test_conversion.py
Due: pylint, pylint-test

improve docstrings
  pennylane/pauli/conversion.py
Due: pylint

use `qml.math` in Hermitian check
  pennylane/pauli/conversion.py
Due: pylint

Add SELECT template (#4431)
  doc/_static/templates/subroutines/select.png
  doc/_static/templates/subroutines/select.tex
  doc/introduction/templates.rst
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/select.py
  tests/templates/test_subroutines/test_select.py
Due: pylint, pylint-test

Revert general_shift_rules.py to master.
  pennylane/gradients/general_shift_rules.py
Due: pylint

fix tests
  pennylane/devices/tests/test_gates.py
  tests/ops/qubit/test_attributes.py
Due: pylint, pylint-test

Skip conversion for integral types.
  pennylane/gradients/general_shift_rules.py
Due: pylint

Test more types in test_integer_parameters.
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-test

raise error;tests;changelog
  doc/releases/changelog-dev.md
  pennylane/gradients/finite_difference.py
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/pulse_generator_gradient.py
  pennylane/gradients/pulse_gradient.py
  pennylane/gradients/spsa_gradient.py
  pennylane/interfaces/execution.py
  tests/gradients/core/test_gradient_transform.py
  tests/gradients/core/test_hadamard_gradient.py
  tests/gradients/core/test_pulse_generator_gradient.py
  tests/gradients/core/test_pulse_gradient.py
  tests/gradients/finite_diff/test_finite_difference.py
  tests/gradients/finite_diff/test_spsa_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/interfaces/test_autograd.py
  tests/interfaces/test_jax.py
  tests/interfaces/test_tensorflow.py
Due: pylint, pylint-test

revert old attempt
  pennylane/gradients/gradient_transform.py
  tests/gradients/core/test_gradient_transform.py
  tests/interfaces/test_autograd.py
  tests/interfaces/test_jax.py
  tests/interfaces/test_tensorflow.py
Due: pylint, pylint-test

Update tests/ops/qubit/test_parametric_ops.py
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test

changelog PR number
  doc/releases/changelog-dev.md
Due: none

black
  pennylane/gradients/gradient_transform.py
  tests/gradients/core/test_hadamard_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint, pylint-test

Update changelog.
  doc/releases/changelog-dev.md
Due: none

fix indent
  doc/releases/changelog-dev.md
Due: none

Fix error
  pennylane/_device.py
Due: pylint

indent developer details section
  pennylane/ops/op_math/adjoint.py
Due: pylint

wip: start testing old and new interface devices
  tests/gradients/core/test_hadamard_gradient.py
  tests/gradients/core/test_jvp.py
  tests/gradients/core/test_pulse_generator_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint-test

use -1j instead of 1j
  pennylane/devices/default_qubit.py
  pennylane/devices/qubit/apply_operation.py
  pennylane/ops/identity.py
Due: pylint

make sure 2.12 still works
  .github/workflows/interface-unit-tests.yml
Due: none

black
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test

Update pennylane/math/quantum.py
  pennylane/math/quantum.py
Due: pylint

pylint
  pennylane/math/fidelity.py
Due: pylint

more pylint
  tests/math/test_fidelity_math.py
Due: pylint-test

Added test
  tests/test_device.py
Due: pylint-test

add to test_parametric_ops
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test

Update tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-test

Linting
  tests/test_device.py
Due: pylint-test

Revert "make sure 2.12 still works"
  .github/workflows/interface-unit-tests.yml
Due: none

Update pennylane/math/single_dispatch.py
  pennylane/math/single_dispatch.py
Due: pylint

add multiprocessing with adjoint test
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint-test

fix jax seed in test
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint-test

Adapt remaining tests to use the new and fixed SPSA seed setting.
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
  tests/interfaces/test_autograd_qnode.py
  tests/interfaces/test_jax_jit_qnode.py
  tests/interfaces/test_jax_qnode.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/interfaces/test_torch_qnode.py
  tests/legacy/test_legacy_autograd_qnode_old.py
  tests/legacy/test_legacy_jax_qnode_old.py
  tests/legacy/test_legacy_tensorflow_qnode_old.py
  tests/legacy/test_legacy_torch_qnode_old.py
Due: pylint-test

docs rendering and pylint
  pennylane/devices/default_qubit.py
  pennylane/ops/identity.py
Due: pylint

Register `Operator` classes and pytrees (#4458)
  doc/releases/changelog-dev.md
  pennylane/operation.py
  pennylane/ops/op_math/adjoint.py
  pennylane/pytrees.py
  tests/devices/experimental/test_default_qubit_2.py
  tests/ops/functions/test_matrix.py
  tests/ops/functions/test_simplify.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/qubit/test_parametric_ops.py
  tests/test_operation.py
Due: pylint, pylint-test

fix flatten for identity
  pennylane/ops/identity.py
  tests/ops/test_identity.py
Due: pylint, pylint-test

changelog entry
  doc/releases/changelog-dev.md
Due: none

Changelog
  doc/releases/changelog-dev.md
Due: none

Fixed tests
  tests/transforms/test_defer_measurements.py
Due: pylint-test

Updated tests
  tests/test_qnode.py
Due: pylint-test
