Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Fix changelog
  doc/releases/changelog-dev.md
Due: none

complete test suite
  pennylane/qchem/integrals.py
  pennylane/qchem/matrices.py
  pennylane/qchem/observable_hf.py
  tests/qchem/test_hartree_fock.py
  tests/qchem/test_matrices.py
Due: pylint, pylint-test

First attempt
  .github/workflows/install_deps/action.yml
  .github/workflows/numpy_1_tests.yml
  .github/workflows/numpy_1_unit-tests.yml
  .github/workflows/unit-test.yml
Due: none

fix test
  tests/qinfo/test_reduced_dm.py
Due: pylint-test

fix typo
  tests/devices/default_qubit/test_default_qubit.py
  tests/devices/test_default_clifford.py
  tests/transforms/test_tape_expand.py
Due: pylint-test

fix tests
  tests/gradients/core/test_adjoint_diff.py
  tests/test_qnode_legacy.py
Due: pylint-test

Apply suggestions from code review
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/templates/broadcast.py
Due: pylint

Fix indexing in code example
  pennylane/templates/subroutines/arbitrary_unitary.py
Due: pylint

linting
  pennylane/fermi/fermionic.py
Due: pylint

Add logic to verify that csc_dot_product is usable
  pennylane/devices/qubit/measure.py
  pennylane/operation.py
Due: pylint

`qinfo` module deprecations and removals (#5911)
  doc/code/qml_qinfo.rst
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/devices/default_mixed.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/purity.py
  pennylane/measurements/vn_entropy.py
  pennylane/qinfo/__init__.py
  pennylane/qinfo/transforms.py
  tests/devices/test_default_mixed.py
  tests/measurements/test_mutual_info.py
  tests/qinfo/test_entropies.py
  tests/qinfo/test_fidelity.py
  tests/qinfo/test_fisher_deprecation.py
  tests/qinfo/test_purity.py
  tests/qinfo/test_reduced_dm.py
  tests/qinfo/test_trace_distance.py
  tests/qinfo/test_vn_entanglement_entropy_qinfo.py
  tests/shadow/test_shadow_entropies.py
Due: pylint, pylint-test

Testing only full CI and removing unnecessary lines
  .github/workflows/numpy_1_tests.yml
  .github/workflows/numpy_1_unit-tests.yml
Due: none

Fix docstring rendering
  pennylane/devices/device_constructor.py
Due: pylint

Revert shadow docs change
  pennylane/shadows/__init__.py
Due: pylint

fix more tests
  tests/transforms/test_tape_expand.py
Due: pylint-test

make pylint happy
  pennylane/devices/qubit/measure.py
Due: pylint

removing coverage inputs [ci skip]
  .github/workflows/numpy_1_tests.yml
  .github/workflows/numpy_1_unit-tests.yml
Due: none

Changing concurrency group
  .github/workflows/numpy_1_tests.yml
Due: none

fix bug
  pennylane/devices/qubit/measure.py
Due: pylint

Trying to test the workflow on the PR
  .github/workflows/numpy_1_tests.yml
Due: none

Removign comma at the end
  .github/workflows/numpy_1_unit-tests.yml
Due: none

Miscellaneous deprecations (#6277)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/devices/_qubit_device.py
  pennylane/devices/_qutrit_device.py
  pennylane/measurements/classical_shadow.py
  pennylane/ops/functions/iterative_qpe.py
  pennylane/shadows/transforms.py
  pennylane/templates/broadcast.py
  pennylane/templates/subroutines/arbitrary_unitary.py
  pennylane/templates/subroutines/qubitization.py
  tests/ops/functions/test_iterative_qpe.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/shadow/test_shadow_transforms.py
  tests/templates/test_broadcast.py
  tests/templates/test_subroutines/test_qubitization.py
  tests/transforms/test_tape_expand.py
Due: pylint, pylint-test

Remove simplify argument from Hamiltonian and LinearCombination
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/qubit/hamiltonian.py
  tests/ops/op_math/test_linear_combination.py
  tests/ops/qubit/test_hamiltonian.py
Due: pylint, pylint-test

PASSING TESTS
  pennylane/qchem/hartree_fock.py
  pennylane/qchem/integrals.py
  pennylane/qchem/matrices.py
  pennylane/qchem/molecule.py
  pennylane/qchem/observable_hf.py
  tests/qchem/test_hamiltonians.py
  tests/qchem/test_hartree_fock.py
  tests/qchem/test_matrices.py
Due: pylint, pylint-test

Update changelog link
  doc/releases/changelog-dev.md
Due: none

Remove `decomp_depth` from `qml.device` constructor (#6234)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/devices/device_constructor.py
  tests/devices/test_legacy_device.py
  tests/transforms/test_tape_expand.py
Due: pylint, pylint-test

Setting dtype explicitely
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint-test

Remove pytest.warns
  tests/ops/op_math/test_linear_combination.py
  tests/ops/qubit/test_hamiltonian.py
Due: pylint-test

Fix deprecations page
  doc/development/deprecations.rst
Due: none

Re-enabling higher precision
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint-test

Removing previous change (broke lightning)
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint-test

Spec
  .github/workflows/numpy_1_tests.yml
Due: none

Typo previous commit
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint-test

Clarification comment
  .github/workflows/numpy_1_tests.yml
  .github/workflows/numpy_1_unit-tests.yml
Due: none

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

remove fixtures
  pennylane/devices/tests/conftest.py
  tests/conftest.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
