Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Update pennylane/capture/explanations.md
  pennylane/capture/explanations.md
Due: none

add comments from code review from Ali
  pennylane/ops/op_math/linear_combination.py
  pennylane/pauli/grouping/group_observables.py
  tests/pauli/grouping/test_pauli_group_observables.py
Due: pylint, pylint-test

Make Exp.decomposition qjit compatible
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

change return type, add reviewer suggestions
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/observables.py
  tests/ops/functions/conftest.py
  tests/ops/qubit/test_observables.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Test and changelog entry
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

added types to QNode public functions
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
Due: pylint

minor bug fix
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
Due: pylint

fix tf legacy drawing test
  tests/interfaces/legacy_devices_integration/test_tensorflow_qnode_legacy.py
Due: pylint-test

Add support for `while_loop` capture (#6064)
  doc/releases/changelog-dev.md
  pennylane/compiler/qjit_api.py
  tests/capture/test_capture_while_loop.py
Due: pylint, pylint-test

fix torch test
  tests/devices/test_default_qubit_torch.py
Due: pylint-test

Add default values to `for_loop` (#6068)
  doc/releases/changelog-dev.md
  pennylane/compiler/qjit_api.py
  tests/capture/test_capture_for_loop.py
Due: pylint, pylint-test

generalize adjoint request in facade
  pennylane/devices/legacy_facade.py
Due: pylint

fix hyperlink typo
  pennylane/workflow/qnode.py
Due: pylint

Update pennylane/pauli/grouping/group_observables.py
  pennylane/pauli/grouping/group_observables.py
Due: pylint

Update tests/test_debugging.py
  tests/test_debugging.py
Due: pylint-test

apply more suggestions from Ali for performance improvement
  pennylane/ops/op_math/linear_combination.py
  pennylane/pauli/grouping/group_observables.py
Due: pylint

change color to colour and default value to lf in group_observables
  pennylane/ops/functions/dot.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/op_math/sum.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/pauli/grouping/group_observables.py
Due: pylint

new approach
  pennylane/ops/op_math/exp.py
Due: pylint

Fix hyperlink typo in `qml.QNode` docstring (#6085)
  pennylane/workflow/qnode.py
Due: pylint

make workflows jit compatible
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/gradients/parameter_shift.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/ops/op_math/controlled_decompositions.py
Due: pylint

Update changed dependencies
  .github/stable/external.txt
Due: none

fix recursion limit exceeded problem
  pennylane/devices/legacy_facade.py
  pennylane/workflow/execution.py
  pennylane/workflow/interfaces/jax_jit.py
  pennylane/workflow/qnode.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
Due: pylint, pylint-test

remove unnecessary code
  pennylane/gradients/parameter_shift.py
Due: pylint

Revert "fix recursion limit exceeded problem"
  pennylane/devices/legacy_facade.py
  pennylane/workflow/execution.py
  pennylane/workflow/interfaces/jax_jit.py
  pennylane/workflow/qnode.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/capture/explanations.md
Due: none

Update pennylane/workflow/qnode.py
  pennylane/workflow/qnode.py
Due: pylint

change type aliases to camelcase
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
Due: pylint

flatfn no longer takes flat args
  pennylane/capture/capture_qnode.py
  pennylane/capture/flatfn.py
  pennylane/compiler/qjit_api.py
  pennylane/ops/op_math/condition.py
Due: pylint

Apply suggestions from code review
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_cond.py
Due: pylint, pylint-test

Added comment for test cases
  tests/capture/test_capture_cond.py
Due: pylint-test

Update pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

applying review suggestions
  pennylane/operation.py
  pennylane/ops/qubit/arithmetic_ops.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/observables.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/pauli/grouping/group_observables.py
  pennylane/typing.py
Due: pylint

fix tests, reviewer suggestions
  tests/ops/qubit/test_observables.py
Due: pylint-test

adding to while loop
  pennylane/capture/explanations.md
  pennylane/compiler/qjit_api.py
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_while_loop.py
Due: pylint, pylint-test
