Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

[v0.41 Dep & Rmv] Documentation Audit (#7000)
  doc/development/guide/architecture.rst
  pennylane/ops/op_math/controlled_ops.py
  pennylane/workflow/qnode.py
  tests/capture/test_base_interpreter.py
  tests/ops/op_math/test_controlled_ops.py
  tests/test_qnode.py
  tests/transforms/test_qmc_transform.py
Due: pylint, pylint-test

Add functionality to detect cyclical nesting
  pennylane/ftqc/qubit_graph.py
  tests/ftqc/test_qubit_graph.py
Due: pylint, pylint-test

Improve QROM decomposition if no work wires provided (#6967)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qrom.py
  tests/templates/test_subroutines/test_qrom.py
Due: pylint, pylint-test

improvements. Tests inspired by BlockEncode
  pennylane/math/quantum.py
  tests/math/test_matrix_manipulation.py
Due: pylint, pylint-test

Add test skeleton
  tests/capture/transforms/test_capture_defer_measurements.py
  tests/capture/transforms/test_mcm_execution.py
Due: pylint-test

code review: matrix arg description
  pennylane/pauli/dla/structure_constants.py
Due: pylint

Update pennylane/pauli/dla/structure_constants.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

broadcasting link
  pennylane/pauli/trace_inner_product.py
Due: pylint

specify having to be the same type
  pennylane/pauli/trace_inner_product.py
Due: pylint

mention what is meant with batches
  pennylane/pauli/trace_inner_product.py
Due: pylint

del useless catch; add test invalid
  pennylane/math/quantum.py
  tests/math/test_matrix_manipulation.py
Due: pylint, pylint-test

add plxpr tests
  pennylane/templates/layers/strongly_entangling.py
  tests/capture/transforms/test_capture_dynamic_decompositions.py
Due: pylint, pylint-test

comment on minus sign
  pennylane/pauli/dla/lie_closure.py
Due: pylint

Apply suggestions from code review
  pennylane/labs/tests/dla/test_cartan.py
  pennylane/labs/tests/dla/test_cartan_subalgebra.py
  tests/pauli/test_trace_inner_product.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Upgrade `qml.lie_closure` to handle dense matrices (#6811)
  doc/code/qml_pauli.rst
  doc/releases/changelog-dev.md
  pennylane/labs/dla/__init__.py
  pennylane/labs/dla/cartan_subalgebra.py
  pennylane/labs/dla/dense_util.py
  pennylane/labs/dla/lie_closure_dense.py
  pennylane/labs/dla/structure_constants_dense.py
  pennylane/labs/tests/dla/test_cartan.py
  pennylane/labs/tests/dla/test_cartan_subalgebra.py
  pennylane/labs/tests/dla/test_dense_utils.py
  pennylane/labs/tests/dla/test_involutions.py
  pennylane/labs/tests/dla/test_lie_closure_dense.py
  pennylane/labs/tests/dla/test_structure_constants_dense.py
  pennylane/labs/tests/dla/test_variational_kak.py
  pennylane/pauli/__init__.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/trace_inner_product.py
  tests/pauli/dla/test_lie_closure.py
  tests/pauli/test_trace_inner_product.py
Due: pylint, pylint-test

trim_zeros
  pennylane/templates/subroutines/qsvt.py
Due: pylint

Update pennylane/templates/subroutines/qsvt.py
  pennylane/templates/subroutines/qsvt.py
Due: pylint

Update qsvt.py
  pennylane/templates/subroutines/qsvt.py
Due: pylint

Delete patata.py
  patata.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Reimplement qubit unitary (#6986)
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/apply_operation.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  tests/devices/qubit/test_apply_operation.py
  tests/devices/qubit/test_simulate.py
  tests/ops/qubit/test_matrix_ops.py
Due: pylint, pylint-test

update test so its also checking for wire collisions between cond branches
  tests/capture/transforms/test_capture_merge_amplitude_embedding.py
Due: pylint-test

Add test for collision with traced wire
  tests/capture/transforms/test_capture_merge_amplitude_embedding.py
Due: pylint-test

Update state_prep_mps.py
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

add edge cases to test
  pennylane/labs/tests/resource_estimation/ops/qubit/test_parametric_ops_multi_qubit.py
Due: pylint

Improve wire ordering in tapering workflows (#6954)
  doc/releases/changelog-dev.md
  pennylane/qchem/tapering.py
  tests/qchem/test_tapering.py
Due: pylint, pylint-test

clean-up merge logic
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

Move grover test to test_grover
  tests/capture/transforms/test_capture_dynamic_decompositions.py
  tests/templates/test_layers/test_strongly_entangling.py
  tests/templates/test_subroutines/test_grover.py
  tests/templates/test_subroutines/test_qft.py
Due: pylint-test

update sparse wrapper tests separately, resolving https://github.com/PennyLaneAI/pennylane/pull/6883#discussion_r1960632500
  tests/devices/qubit/test_apply_operation.py
Due: pylint-test

Add tests
  tests/capture/transforms/test_mcm_execution.py
Due: pylint-test

`poly_to_angles` fixing #6978 (#6979)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qsvt.py
  tests/templates/test_subroutines/test_qsvt.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/transforms/optimization/single_qubit_fusion.py
Due: pylint

Update pennylane/math/multi_dispatch.py
  pennylane/math/multi_dispatch.py
Due: pylint

some testing, validation, and rewriting
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_cond.py
Due: pylint, pylint-test
