Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

2/n
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/time_evolution/_trotter_utils.py
  pennylane/templates/subroutines/time_evolution/trotter_cdf.py
  pennylane/templates/subroutines/time_evolution/trotter_cgf.py
  tests/capture/test_templates.py
  tests/templates/subroutines/time_evolution/test_trotter_cdf.py
  tests/templates/subroutines/time_evolution/test_trotter_cgf.py
  tests/templates/subroutines/time_evolution/trotter_test_helpers.py
Due: pylint, pylint-test

oops
  tests/transforms/decompositions/test_rz_phase_gradient.py
Due: pylint-test

Cursor: add more tests
  tests/core/operator/test_operator2_uid.py
Due: pylint-test

cleanup
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

updates
  pennylane/ops/qubit/matrix_ops.py
  pennylane/templates/subroutines/qsvt.py
  tests/ops/qubit/test_matrix_ops.py
Due: pylint, pylint-test

Apply suggestion from @dwierichs
  tests/ops/qubit/test_matrix_ops.py
Due: pylint-test

Update pennylane/gradients/finite_difference.py
  pennylane/gradients/finite_difference.py
Due: pylint

setup initial infrastructure
  pennylane/__init__.py
  pennylane/capture/__init__.py
  pennylane/capture/hint.py
  pennylane/control_flow/for_loop.py
Due: pylint

fix
  pennylane/ops/op_math/controlled2.py
Due: pylint

oooops
  tests/templates/subroutines/test_qsvt.py
Due: pylint-test

Use Cursor to duplicate onto while_loop
  pennylane/control_flow/while_loop.py
Due: pylint

Codecov’s 3 missing lines in `vjp.py` were the TF-only leftovers that only had `# pragma: no cover` stripped. Deleted the branches instead:
  pennylane/gradients/fisher.py
  pennylane/gradients/vjp.py
Due: pylint

Update tests/gradients/core/test_jvp.py
  tests/gradients/core/test_jvp.py
Due: pylint-test

add qjit integration test
  tests/ops/functions/test_iterative_qpe.py
Due: pylint-test

slightly more doc
  pennylane/capture/hint.py
Due: pylint

Cursor: fix tests
  pennylane/capture/base_interpreter.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

mark test as catalyst
  tests/ops/functions/test_iterative_qpe.py
Due: pylint-test

replace example of spsa.py using torch
  pennylane/optimize/spsa.py
  tests/gradients/core/test_jvp.py
Due: pylint, pylint-test

fix
  pennylane/gradients/vjp.py
Due: pylint

several null parametrization fix
  tests/ops/qubit/test_parametric_ops.py
  tests/test_allocation.py
Due: pylint-test

mf
  pennylane/gradients/vjp.py
Due: pylint

code block
  pennylane/optimize/spsa.py
Due: pylint

strengthen qjit test
  tests/ops/functions/test_iterative_qpe.py
Due: pylint-test

Update doc/development/deprecations.rst
  doc/development/deprecations.rst
Due: none

fix
  pennylane/ops/qubit/matrix_ops.py
  tests/ops/qubit/test_matrix_ops.py
Due: pylint, pylint-test

Update pennylane/templates/embeddings/iqp.py
  pennylane/templates/embeddings/iqp.py
Due: pylint

apply https://github.com/PennyLaneAI/pennylane/pull/10221#discussion_r4146724840
  pennylane/templates/embeddings/iqp.py
Due: pylint

all wires
  pennylane/core/operator/operator2.py
  pennylane/templates/subroutines/qsvt.py
  pennylane/templates/subroutines/select.py
  pennylane/wires.py
  tests/test_wires.py
Due: pylint, pylint-test

add import path and fix cl
  doc/releases/changelog-dev.md
  pennylane/optimize/__init__.py
  pennylane/optimize/reconstruct.py
Due: pylint

Modify package versions in installation.rst
  doc/development/guide/installation.rst
Due: none

Add changelog entry for installation guide update
  doc/releases/changelog-dev.md
Due: none

Fix NaN in rotation fusion due to floating-point rounding (#10197)
  doc/releases/changelog-dev.md
  pennylane/transforms/optimization/optimization_utils.py
  tests/transforms/test_optimization/test_optimization_utils.py
  tests/transforms/test_optimization/test_single_qubit_fusion.py
Due: pylint, pylint-test

Update PR number
  doc/releases/changelog-dev.md
Due: none

Add test
  tests/capture/test_templates.py
Due: pylint-test

fix
  pennylane/wires.py
  tests/test_wires.py
Due: pylint, pylint-test

oooops
  pennylane/wires.py
Due: pylint

Support Operator types and GateSet in qml.compile basis_set (#6132)
  doc/releases/changelog-dev.md
  pennylane/transforms/compile.py
  tests/transforms/test_compile.py
Due: pylint, pylint-test

fix: QuantumPhaseEstimation only accets Operator instances
  doc/introduction/compiling_circuits.rst
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qmc.py
  pennylane/templates/subroutines/qpe.py
  pennylane/transforms/decompose.py
  tests/templates/subroutines/test_qmc.py
  tests/templates/subroutines/test_qpe.py
  tests/transforms/test_qmc_transform.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
