Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/templates/layers/gate_fabric.py
  tests/templates/test_subroutines/test_basis_rotation.py
Due: pylint, pylint-test

[skip ci] Added tests; failing currently
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/math/test_functions.py
Due: pylint, pylint-test

changing arg order in recent doc introduction as well "[skip ci]"
  pennylane/ops/functions/equal.py
Due: pylint

Update pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

[Bugfix] Hamiltonian is rendered in top level docs (#5640)
  doc/conf.py
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

shot vector/multimeasurement: Started support, not complete
  pennylane/gradients/parameter_shift.py
Due: pylint

black
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint, pylint-test

init
  pennylane/noise/conditionals.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

tests!
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_cv.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint, pylint-test

adapt
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint, pylint-test

"merge"
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-test

black
  pennylane/gradients/gradient_transform.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint, pylint-test

Increased test coverage
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint, pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Fixed trailing whitespace
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint-test

Fixed CI
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint-test

Enabe other class of MCMs with is_mcm.
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

suggestions from CR (replacing kwarg with positional arg)
  tests/templates/test_subroutines/test_basis_rotation.py
Due: pylint-test

Fix import order
  tests/pauli/dla/test_lie_closure.py
Due: pylint-test

increased test coverage
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint-test

Fix error raised when taking dot of a single Tensor
  pennylane/ops/functions/dot.py
Due: pylint

Update legacy opmath tests to temporarily use PL rc
  .github/workflows/legacy_op_math.yml
Due: none

Fix error raised when taking dot of a single Tensor (#5651)
  pennylane/ops/functions/dot.py
Due: pylint

Update legacy opmath tests to temporarily use the rc branch
  .github/workflows/legacy_op_math.yml
Due: none

Update legacy opmath tests to temporarily use the rc branch (#5653)
  .github/workflows/legacy_op_math.yml
Due: none

Removing `qml.load`
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

[skip ci] corrected openshell warnings
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/hartree_fock.py
  pennylane/qchem/molecule.py
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
  tests/qchem/test_hamiltonians.py
  tests/qchem/test_hartree_fock.py
  tests/qchem/test_molecule.py
Due: pylint, pylint-test

Bump required lightning version
  setup.py
Due: pylint

Added mapping to molecular_hamiltonian function
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/observable_hf.py
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint, pylint-test

Updating changelog
  doc/releases/changelog-dev.md
Due: none

more updating with master
  .github/workflows/rc_sync.yml
  doc/development/release_notes.md
  pennylane/__init__.py
  pennylane/_version.py
  pennylane/debugging.py
  pennylane/devices/__init__.py
  pennylane/gradients/finite_difference.py
  pennylane/gradients/parameter_shift.py
  pennylane/measurements/mid_measure.py
  pennylane/qcut/cutstrategy.py
  pennylane/transforms/compile.py
  pennylane/transforms/defer_measurements.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/tape_expand.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/measurements/test_mid_measure.py
  tests/transforms/test_defer_measurements.py
Due: pylint, pylint-test

one more fix
  pennylane/workflow/jacobian_products.py
Due: pylint

Removing `qml.from_qasm_file` from source code and tests
  doc/development/deprecations.rst
  doc/introduction/importing_workflows.rst
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

add source code clarification
  pennylane/operation.py
  pennylane/ops/op_math/controlled.py
Due: pylint

Adding changelog entry, removing entry file from doc and removing unused imports from test file
  doc/introduction/circuits.rst
  doc/releases/changelog-dev.md
  tests/test_io.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none
