Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

more
  pennylane/decomposition/resources.py
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/op_math/pow.py
Due: pylint

Port S to Operator2 (#9818)
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
  pennylane/decomposition/resources.py
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/tape/plxpr_conversion.py
  tests/capture/test_nested_plxpr.py
  tests/ops/op_math/test_controlled.py
  tests/ops/qubit/test_all_qubit_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

Fix issue with super() caused by bug in Python3.12
  pennylane/resource/resource.py
Due: pylint

del redundant repr of Y
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

update cl
  doc/releases/changelog-dev.md
Due: none

Let's just override for our life easier!
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

pylint
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Pass more unit tests
  doc/development/plugins.rst
  doc/releases/changelog-dev.md
  pennylane/capture/symbolic_array.py
  pennylane/decomposition/__init__.py
  pennylane/templates/subroutines/arithmetic/out_square.py
  pennylane/transforms/decompose.py
  pennylane/transforms/optimization/pattern_matching.py
  tests/core/test_compile_pipeline.py
  tests/devices/test_null_qubit.py
  tests/resource/test_resource.py
  tests/templates/state_preparations/test_mottonen_state_prep.py
  tests/templates/subroutines/qchem/test_basis_rotation.py
  tests/templates/test_subroutine.py
  tests/transforms/test_optimization/test_pattern_matching.py
  tests/workflow/interfaces/test_transform_program_integration.py
  tests/workflow/test_qnode.py
  tests/workflow/test_qnode_legacy.py
Due: pylint, pylint-test

pylint!!!!
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

address code review comments
  pennylane/labs/estimator_beta/ops/op_math/symbolic.py
  pennylane/labs/tests/estimator_beta/ops/test_symbolic_labs.py
Due: pylint, labs-pylint-test

coverage and pylint
  pennylane/decomposition/resources.py
  pennylane/decomposition/symbolic_decomposition.py
Due: pylint

Update qrom.py
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

revert flip_zero_control_legacy to flip_zero_control
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  tests/decomposition/test_symbolic_decomposition.py
Due: pylint, pylint-test

pylint
  pennylane/decomposition/symbolic_decomposition.py
Due: pylint

Update pennylane/wires.py
  pennylane/wires.py
Due: pylint

Migrate all MCX decomposition rules to Operator2 convention
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint, pylint-test

not legacy
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

Doctests
  pennylane/core/qscript.py
  pennylane/devices/__init__.py
  pennylane/devices/modifiers/simulator_tracking.py
  pennylane/devices/null_qubit.py
  pennylane/devices/tracker.py
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/resource/expression.py
  pennylane/resource/resource.py
  pennylane/templates/core.py
  pennylane/templates/state_preparations/partial_unary.py
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/qmc.py
  pennylane/workflow/marker.py
Due: pylint

fix issue
  tests/ops/op_math/test_prod.py
  tests/templates/subroutines/test_qrom.py
Due: pylint-test

missed a few
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

booted
  pennylane/ops/op_math/controlled.py
Due: pylint

Fix remaining formatting issues
  pennylane/resource/resource.py
  tests/devices/test_null_qubit.py
  tests/estimator/templates/test_estimator_subroutines.py
  tests/templates/state_preparations/test_mottonen_state_prep.py
  tests/transforms/test_optimization/test_pattern_matching.py
Due: pylint, pylint-test

port ry and cry
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

whoops
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

whoops
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

[WIP] Init Pow2
  pennylane/ops/op_math/pow2.py
Due: pylint

fix
  tests/templates/subroutines/test_qrom.py
Due: pylint-test

sigh
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

there's no need for flip_zero_control_legacy
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

import
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/pow2.py
Due: pylint

just necessary changes
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

Push fix
  pennylane/wires.py
Due: pylint

Apply suggestion from @mudit2812
  pennylane/wires.py
Due: pylint

Tests
  doc/introduction/inspecting_circuits.rst
  pennylane/resource/resource.py
  tests/resource/test_resource.py
  tests/transforms/test_combine_global_phases.py
Due: pylint, pylint-test

first test
  pennylane/ops/op_math/pow2.py
  tests/decomposition/test_symbolic_decomposition.py
Due: pylint, pylint-test

why do we need to touch pauli_rep
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

testrepeat
  pennylane/ops/op_math/pow2.py
  tests/decomposition/test_symbolic_decomposition.py
Due: pylint, pylint-test

port rz and crz
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
