Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

increase coverage
  tests/liealg/test_cartan_decomp.py
Due: pylint-test

update imports
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

minor fix
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/templates/subroutines/qft.py
Due: pylint

move abstract fragment to top level
  pennylane/labs/trotter/abstract_fragment.py
  pennylane/labs/trotter/fragments/__init__.py
Due: pylint

saving changes
  pennylane/labs/trotter/fragments/__init__.py
  pennylane/labs/trotter/fragments/vibrational_fragments.py
  pennylane/labs/trotter/fragments/vibronic_fragments.py
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

change fragment import
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

debug tests. Tuned error tracking system.
  pennylane/math/quantum.py
  tests/math/test_matrix_manipulation.py
Due: pylint, pylint-test

Remove tests that no longer raise an error
  tests/capture/transforms/test_expand_plxpr_transforms.py
Due: pylint-test

Update pennylane/devices/preprocess.py
  pennylane/devices/preprocess.py
Due: pylint

more descriptive dev notes
  tests/math/test_matrix_manipulation.py
Due: pylint-test

Define and integrate plxpr device jvps (#7019)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/devices/device_api.py
  pennylane/devices/qubit/jaxpr_adjoint.py
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_finite_diff.py
  tests/capture/workflow/test_capture_qnode.py
  tests/capture/workflow/test_jvp_integration.py
  tests/devices/default_qubit/test_default_qubit_plxpr.py
  tests/devices/test_device_api.py
Due: pylint, pylint-test

more tests
  pennylane/labs/tests/trotter/fragments/test_trotter.py
  pennylane/labs/tests/trotter/fragments/test_vibronic.py
Due: pylint

import HOState
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

passing all tests
  pennylane/labs/tests/trotter/fragments/test_trotter.py
  pennylane/labs/trotter/product_formulas/trotter.py
Due: pylint

isort
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/templates/subroutines/qft.py
Due: pylint

remove commented code
  pennylane/labs/tests/trotter/fragments/test_trotter.py
Due: pylint

Apply suggestions from code review
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/single_qubit_fusion.py
Due: pylint

add example to docstring and __repr__ method
  pennylane/ftqc/graph_state_preparation.py
Due: pylint

quick fix typo
  tests/ftqc/test_ftqc_graph_state_prep.py
Due: pylint-test

try codecov
  pennylane/io/qualtran_io.py
  tests/io/test_qualtran_io.py
Due: pylint, pylint-test

add small line
  tests/io/test_qualtran_io.py
Due: pylint-test

some minor adjustment
  pennylane/math/quantum.py
  tests/math/test_matrix_manipulation.py
Due: pylint, pylint-test

add pytest report upload to workflow
  .github/test-reports/placeholder.md
  .github/workflows/interface-unit-tests.yml
  .github/workflows/scripts/upload_reports/requirements.txt
  .github/workflows/scripts/upload_reports/upload.py
  .github/workflows/unit-test.yml
Due: pylint

pylint
  pennylane/decomposition/decomposition.py
Due: pylint

Try unpinning numpy
  requirements.txt
  setup.py
Due: pylint

Updating previously captured transforms (#7023)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/map_wires.py
  pennylane/transforms/decompose.py
  pennylane/transforms/defer_measurements.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/single_qubit_fusion.py
  pennylane/transforms/unitary_to_rot.py
  tests/capture/transforms/test_capture_cancel_inverses.py
  tests/capture/transforms/test_capture_defer_measurements.py
  tests/capture/transforms/test_capture_map_wires.py
Due: pylint, pylint-test

fix imports
  pennylane/labs/dla/__init__.py
Due: pylint

fix
  pennylane/io/qualtran_io.py
  tests/io/test_qualtran_io.py
Due: pylint, pylint-test

forgot to add file lol
  pennylane/labs/dla/recursive_cartan_decomp.py
Due: pylint

optimize some imports
  pennylane/math/matrix_manipulation.py
  pennylane/operation.py
  pennylane/optimize/rotosolve.py
  pennylane/optimize/shot_adaptive.py
  pennylane/qaoa/cycle.py
  pennylane/qaoa/mixers.py
Due: pylint

update error message
  pennylane/pauli/dla/structure_constants.py
Due: pylint

fix wording in test
  tests/capture/transforms/test_capture_merge_rotations.py
Due: pylint-test

Update pennylane/pauli/dla/structure_constants.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

[Capture] `merge_amplitude_embedding` is `plxpr` compatible (#6925)
  doc/releases/changelog-dev.md
  pennylane/transforms/optimization/merge_amplitude_embedding.py
  tests/capture/transforms/test_capture_merge_amplitude_embedding.py
Due: pylint, pylint-test

remove commented code
  pennylane/labs/trotter/product_formulas/trotter.py
Due: pylint

remove modes from vibronicmatrix constructor
  pennylane/labs/trotter/__init__.py
  pennylane/labs/trotter/product_formulas/__init__.py
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
  pennylane/labs/trotter/utils/__init__.py
  pennylane/labs/trotter/utils/utils.py
Due: pylint

add wires argument to ctor and pass qubit list as wires
  pennylane/ftqc/graph_state_preparation.py
Due: pylint

revert
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

Merge editor messed this up
  pennylane/transforms/optimization/cancel_inverses.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
