Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Trying to change deprecation message in one class
  pennylane/ops/op_math/linear_combination.py
Due: pylint

Fix minor bug in tests and fix execution order of
  pennylane/workflow/execution.py
  tests/transforms/test_convert_to_numpy_parameters.py
Due: pylint, pylint-test

`transforms.insert`: Update docs, improve decomposition (#5681)
  doc/releases/changelog-dev.md
  pennylane/transforms/insert_ops.py
  tests/transforms/test_insert_ops.py
Due: pylint, pylint-test

`pl-device-test` fix: do not differentiate Projector with respect to state (#5683)
  doc/releases/changelog-dev.md
  pennylane/devices/tests/test_compare_default_qubit.py
  requirements-ci.txt
  requirements.txt
Due: pylint

Deprecate `map_batch_transform` (#5676)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/transforms/batch_transform.py
  pennylane/transforms/core/transform.py
  pennylane/transforms/core/transform_dispatcher.py
  tests/param_shift_dev.py
  tests/transforms/test_batch_transform.py
Due: pylint, pylint-test

Small typo in `qml.sample` docstring (#5685)
  doc/releases/changelog-dev.md
  pennylane/measurements/sample.py
Due: pylint

Add kwargs for equal functions (#5668)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/equal.py
  tests/ops/functions/test_equal.py
  tests/ops/functions/test_simplify.py
Due: pylint, pylint-test

Final doc touch
  pennylane/ops/op_math/linear_combination.py
Due: pylint

Updated docstring and updated changelog
  doc/releases/changelog-dev.md
  pennylane/transforms/convert_to_numpy_parameters.py
Due: pylint

Small default interface fix; changelog entry
  doc/releases/changelog-dev.md
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Added diff_method to tests
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint-test

Reverted change to qml math
  pennylane/math/single_dispatch.py
Due: pylint

Qutrit channel depolarizing (#5502)
  doc/introduction/operations.rst
  doc/releases/changelog-dev.md
  pennylane/devices/default_qutrit_mixed.py
  pennylane/ops/__init__.py
  pennylane/ops/qutrit/__init__.py
  pennylane/ops/qutrit/channel.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint, pylint-test

Fixed test to work for qutrit version, fixed docs
  pennylane/ops/qutrit/__init__.py
  pennylane/ops/qutrit/channel.py
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint, pylint-test

Fixed depolarizing test to ensure it is using the correct method of differentiation
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

Added PR to changelog and QutritAmplitudeDamping to introduction
  doc/introduction/operations.rst
  doc/releases/changelog-dev.md
Due: none

adding testing and mcm support
  pennylane/capture/__init__.py
  pennylane/capture/measure.py
  pennylane/capture/primitives.py
  pennylane/measurements/measurements.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/probs.py
  tests/capture/test_measurements.py
Due: pylint, pylint-test

Reformatted and fixed doc spacing
  pennylane/ops/qutrit/channel.py
Due: pylint

Reformatted tests
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

ran isort on tests
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

Removed requirement for sum of gammas to be less than 1.
  pennylane/ops/qutrit/channel.py
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint, pylint-test

Fixed changelog to flow better, changed docstring to be more specific for qutrits
  doc/releases/changelog-dev.md
  pennylane/ops/qutrit/channel.py
Due: pylint

Fixed arbitary gamma test
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

Qdrift._flatten, test failure
  pennylane/templates/subroutines/qdrift.py
  tests/templates/test_layers/test_gate_fabric.py
Due: pylint, pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

tmp
  pennylane/templates/subroutines/commuting_evolution.py
  tests/templates/test_subroutines/test_commuting_evolution.py
Due: pylint, pylint-test

add model checks
  pennylane/noise/conditionals.py
  pennylane/noise/noise_model.py
Due: pylint

lint
  pennylane/templates/subroutines/commuting_evolution.py
  tests/templates/test_subroutines/test_commuting_evolution.py
Due: pylint, pylint-test

isort
  pennylane/ops/functions/equal.py
  tests/templates/test_subroutines/test_commuting_evolution.py
Due: pylint, pylint-test

decomposition condition
  pennylane/devices/default_qubit.py
Due: pylint

Made formatting changes
  pennylane/qchem/openfermion_obs.py
Due: pylint

Update pennylane/qchem/openfermion_obs.py
  pennylane/qchem/openfermion_obs.py
Due: pylint

Updated documentation
  doc/code/qml_qchem.rst
Due: none

Fixed trailing whitespace
  pennylane/qchem/openfermion_obs.py
Due: pylint

Suggestions from code review
  doc/development/deprecations.rst
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/transforms/batch_transform.py
Due: pylint

Fix typo in `Logging guidelines` (#5691)
  doc/development/guide/logging.rst
Due: none

Support Angstrom units in molecular_hamiltonian
  doc/releases/changelog-dev.md
  pennylane/qchem/molecule.py
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint, pylint-test

Updated Documentation
  pennylane/qchem/molecule.py
  pennylane/qchem/openfermion_obs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
