Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

improveing coverage
  tests/ops/functions/conftest.py
  tests/ops/functions/test_assert_valid.py
Due: pylint-test

Fixing code cov
  pennylane/devices/qubit/simulate.py
  pennylane/workflow/execution.py
  tests/test_qubit_device.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/templates/subroutines/qrom.py
Due: pylint

expand state to device wires
  pennylane/debugging.py
  tests/test_debugging.py
Due: pylint, pylint-test

Indent block.
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Adding options for `gate_contract` depending on method
  pennylane/devices/default_tensor.py
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint, pylint-test

Add coverage; update docs
  doc/introduction/measurements.rst
  pennylane/workflow/execution.py
Due: pylint

doc fix
  doc/introduction/measurements.rst
Due: none

Add QNode config for mid-circuit measurement options (#5679)
  doc/introduction/measurements.rst
  doc/releases/changelog-dev.md
  pennylane/_qubit_device.py
  pennylane/capture/capture_qnode.py
  pennylane/devices/__init__.py
  pennylane/devices/default_qubit.py
  pennylane/devices/execution_config.py
  pennylane/devices/preprocess.py
  pennylane/devices/qubit/apply_operation.py
  pennylane/devices/qubit/simulate.py
  pennylane/transforms/defer_measurements.py
  pennylane/transforms/dynamic_one_shot.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/capture/test_capture_qnode.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/devices/experimental/test_execution_config.py
  tests/devices/qubit/test_simulate.py
  tests/devices/test_default_qubit_legacy.py
  tests/devices/test_preprocess.py
  tests/interfaces/test_jacobian_products.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/test_qubit_device.py
  tests/transforms/test_defer_measurements.py
  tests/transforms/test_dynamic_one_shot.py
  tests/transforms/test_tape_expand.py
Due: pylint, pylint-test

improving coverage again:
  tests/ops/functions/conftest.py
Due: pylint-test

final comments review
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qrom.py
  tests/templates/test_subroutines/test_qrom.py
Due: pylint, pylint-test

Automatically test plxpr capture integration with `assert_valid` (#5686)
  doc/releases/changelog-dev.md
  pennylane/operation.py
  pennylane/ops/channel.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/meta.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/resource/first_quantization.py
  pennylane/templates/subroutines/reflection.py
  tests/ops/functions/conftest.py
  tests/ops/functions/test_assert_valid.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-test

Fix MCMConfig default.
  pennylane/devices/execution_config.py
Due: pylint

TODO: add test for the draw method
  pennylane/devices/default_tensor.py
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint, pylint-test

Add fix to keras and torch layers
  pennylane/qnn/keras.py
  pennylane/qnn/torch.py
Due: pylint

Add default_factory to mcm_config
  pennylane/devices/execution_config.py
Due: pylint

fixing up interface tests
  tests/interfaces/default_qubit_2_integration/test_autograd_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_default_qubit_2.py
Due: pylint-test

add qml.equal comparison for Conditional and MeasurementValue
  pennylane/ops/functions/equal.py
  pennylane/ops/op_math/condition.py
  tests/ops/functions/test_equal.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/ops/qutrit/channel.py
Due: pylint

Fixed pylint error
  pennylane/ops/qutrit/channel.py
Due: pylint

Removed changes to gamma
  pennylane/ops/qutrit/channel.py
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint, pylint-test

Fixed variable names for channel
  pennylane/ops/qutrit/channel.py
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint, pylint-test

Added to changelog
  doc/releases/changelog-dev.md
Due: none

add `controlled` support
  pennylane/noise/conditionals.py
  tests/noise/test_conditionals.py
  tests/transforms/test_add_noise.py
Due: pylint, pylint-test

Update `ExecutionConfig`'s `mcm_config` default value (#5798)
  pennylane/devices/execution_config.py
Due: pylint

add QuditChannel
  pennylane/devices/default_qutrit.py
  pennylane/ops/channel.py
Due: pylint

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

Added most of the logic for measurment error, still need to finalize, add preprocessing and write tests
  pennylane/devices/default_qutrit_mixed.py
  pennylane/devices/qutrit_mixed/measure.py
  pennylane/devices/qutrit_mixed/sampling.py
  pennylane/devices/qutrit_mixed/simulate.py
Due: pylint

add QutritChannel test
  doc/introduction/operations.rst
  pennylane/ops/channel.py
  tests/ops/test_channel_ops.py
Due: pylint, pylint-test

Added repetitions to uccsd template
  pennylane/templates/subroutines/uccsd.py
  tests/templates/test_subroutines/test_uccsd.py
Due: pylint, pylint-test

Update weights docstring
  pennylane/templates/subroutines/uccsd.py
Due: pylint

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Increased test coverage
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_dipole.py
Due: pylint, pylint-test

fix jax test
  pennylane/templates/subroutines/qrom.py
  tests/templates/test_subroutines/test_qrom.py
Due: pylint, pylint-test

fix adjoint label for cnot
  pennylane/ops/op_math/adjoint.py
Due: pylint

Add my name to contributors list
  doc/releases/changelog-dev.md
Due: none

Implement PauliRot/MultiRZ.
  pennylane/devices/default_tensor.py
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint, pylint-test

Update test_templates.py
  tests/capture/test_templates.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
