Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

maintained pylint disablers
  tests/transforms/test_qcut.py
Due: pylint-test

recover statistics None return as default
  pennylane/devices/_qubit_device.py
Due: pylint

fix: Update test_capture_qnode.py for unnecessary code
  tests/capture/test_capture_qnode.py
Due: pylint-test

Deprecate `qml.gradients.hamiltonian_grad` (#6849)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/gradients/hamiltonian_grad.py
  pennylane/gradients/parameter_shift.py
  tests/gradients/core/test_hamiltonian_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint, pylint-test

recover edited tests of _qubit_device
  tests/devices/test_qubit_device.py
Due: pylint-test

enforcing the warnings
  pennylane/measurements/mutual_info.py
  pennylane/measurements/purity.py
  pennylane/measurements/vn_entropy.py
  tests/measurements/test_vn_entropy.py
Due: pylint, pylint-test

fix: Revert xfails
  tests/ops/functions/test_matrix.py
  tests/ops/op_math/test_exp.py
  tests/test_compiler.py
  tests/transforms/core/test_transform_dispatcher.py
Due: pylint-test

speechless. Just del everything.
  pennylane/measurements/mutual_info.py
  pennylane/measurements/purity.py
  pennylane/measurements/vn_entropy.py
  tests/measurements/test_mutual_info.py
  tests/measurements/test_purity_measurement.py
  tests/measurements/test_vn_entropy.py
Due: pylint, pylint-test

fromat
  pennylane/devices/_qubit_device.py
Due: pylint

all-in-one pylint disablers
  tests/transforms/test_qcut.py
Due: pylint-test

adding tests
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_finite_diff.py
Due: pylint, pylint-test

somehow file was properly moved
  tests/capture/test_capture_qnode.py
Due: pylint-test

Fixing one more problem
  pennylane/transforms/decompose.py
  tests/capture/transforms/test_capture_decompose.py
Due: pylint, pylint-test

redirect to ObservableReturnTypes along with black reformatter
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/probs.py
  pennylane/measurements/purity.py
  pennylane/measurements/sample.py
  pennylane/measurements/state.py
  pennylane/measurements/var.py
  pennylane/measurements/vn_entropy.py
Due: pylint

circular import..
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/probs.py
  pennylane/measurements/purity.py
  pennylane/measurements/sample.py
  pennylane/measurements/state.py
  pennylane/measurements/var.py
  pennylane/measurements/vn_entropy.py
Due: pylint

revert unnecessary mod
  pennylane/devices/_legacy_device.py
  pennylane/measurements/measurements.py
Due: pylint

fixing test
  tests/capture/workflow/test_capture_qnode.py
Due: pylint-test

add todo's and link stroy
  pennylane/devices/default_qubit.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
  tests/gradients/core/test_pulse_gradient.py
  tests/measurements/test_probs.py
Due: pylint, pylint-test

mod dummy measurements
  tests/test_return_types.py
  tests/test_return_types_legacy.py
Due: pylint-test

qcut re-fix
  tests/transforms/test_qcut.py
Due: pylint-test

consistent with ObservableReturnTypes
  pennylane/measurements/counts.py
Due: pylint

parametrize over broadcast_in_dim functions
  tests/capture/test_base_interpreter.py
  tests/capture/test_capture_cond.py
  tests/capture/test_dynamic_shapes.py
  tests/capture/test_nested_plxpr.py
  tests/conftest.py
  tests/devices/qubit/test_dq_interpreter.py
Due: pylint-test

a little more explanation
  pennylane/capture/base_interpreter.py
Due: pylint

_shortname.value for some places related to repr
  pennylane/drawer/tape_text.py
  pennylane/measurements/measurements.py
Due: pylint

format
  pennylane/devices/_legacy_device.py
  tests/test_return_types.py
Due: pylint, pylint-test

adjoint jvp of jaxpr
  pennylane/devices/qubit/dq_interpreter.py
Due: pylint

clean leftovers
  pennylane/measurements/classical_shadow.py
  pennylane/measurements/measurements.py
Due: pylint

sort
  pennylane/drawer/tape_text.py
Due: pylint

clean more leftovers
  tests/devices/test_qubit_device.py
  tests/devices/test_qutrit_device.py
  tests/measurements/test_measurements.py
  tests/measurements/test_measurements_legacy.py
Due: pylint-test

complete the logic missing
  pennylane/measurements/measurements.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

fix: Update warning message
  pennylane/workflow/qnode.py
Due: pylint

Revert end-to-end jitting with default qubit (#6869)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/measurements/sample.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
  tests/gradients/core/test_pulse_gradient.py
  tests/measurements/test_probs.py
Due: pylint, pylint-test

doc: Update QNode docstring
  pennylane/workflow/qnode.py
Due: pylint

Promote `gradient_kwargs` to a positional keyword argument in `QNode` (#6828)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/workflow/qnode.py
  tests/gradients/core/test_pulse_gradient.py
  tests/gradients/finite_diff/test_spsa_gradient.py
  tests/gradients/parameter_shift/test_cv_gradients.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/resource/test_specs.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/transforms/test_add_noise.py
  tests/workflow/interfaces/qnode/test_autograd_qnode.py
  tests/workflow/interfaces/qnode/test_autograd_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_jax_jit_qnode.py
  tests/workflow/interfaces/qnode/test_jax_qnode.py
  tests/workflow/interfaces/qnode/test_jax_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_tensorflow_autograph_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_torch_qnode.py
  tests/workflow/test_construct_batch.py
Due: pylint, pylint-test

Moving tests to separate file
  tests/capture/transforms/test_capture_decompose.py
  tests/capture/transforms/test_capture_dynamic_decompositions.py
Due: pylint-test

trace inner product warning
  doc/code/qml_pauli.rst
  pennylane/pauli/dla/util.py
Due: pylint

fix input conversion
  pennylane/pauli/dla/util.py
Due: pylint
