Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

add imports and small bug fixes
  pennylane/ftqc/__init__.py
  pennylane/ftqc/parametric_midmeasure.py
Due: pylint

Update requirements
  requirements.txt
Due: none

add tests
  tests/ftqc/test_parametric_mid_measure.py
Due: pylint-test

Update
  doc/releases/changelog-dev.md
  pennylane/decomposition/decomposition.py
Due: pylint

improve docs
  pennylane/devices/default_mixed.py
Due: pylint

adding test
  pennylane/templates/subroutines/qrom.py
  tests/templates/test_subroutines/test_qrom.py
Due: pylint, pylint-test

align the doc in tool sec with qubit counterpart
  pennylane/devices/qubit_mixed/__init__.py
Due: pylint

add changelog
  doc/releases/changelog-dev.md
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

try resolving register
  pennylane/devices/default_mixed.py
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

warpper
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

update workflow tests to use measure functions
  tests/ftqc/test_parametric_mid_measure.py
Due: pylint-test

try Union
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

black formatting
  tests/ftqc/test_parametric_mid_measure.py
Due: pylint-test

compatible with py3.10
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

fix some broken sphinx links, maybe
  pennylane/ftqc/parametric_midmeasure.py
Due: pylint

try loop
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

disable pylint
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

rm unnecessary wrapper
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

use `qml.*` for toplevel accessibles https://github.com/PennyLaneAI/pennylane/pull/6684/files#r1924306401
  pennylane/devices/qubit_mixed/simulate.py
Due: pylint

new implementation, works but still deterministic
  pennylane/transforms/optimization/merge_rotations.py
  tests/capture/transforms/test_capture_merge_rotations.py
Due: pylint, pylint-test

bring back the test for legacy using DefaultQubitLeagcy
  tests/measurements/test_state.py
Due: pylint-test

QROM edge cases
  pennylane/templates/subroutines/qrom.py
Due: pylint

removed non-deterministic bug
  pennylane/transforms/optimization/merge_rotations.py
  tests/capture/transforms/test_capture_merge_rotations.py
Due: pylint, pylint-test

rp legace default.mixed -> Facade(DQL)
  tests/transforms/test_tape_expand.py
Due: pylint-test

recover tests that were not supposed to be removed
  tests/test_return_types_qnode.py
Due: pylint-test

format
  tests/measurements/test_state.py
Due: pylint-test

add comment explanation
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

Fix warning in connected_qubits method
  pennylane/ftqc/qubit_graph.py
  tests/ftqc/test_qubit_graph.py
Due: pylint, pylint-test

passing first vibrational test
  pennylane/labs/pf/realspace/operator.py
  pennylane/labs/pf/utils/__init__.py
  pennylane/labs/pf/utils/matrix_ops.py
  pennylane/labs/pf/vibrational/vibrational_hamiltonian.py
  pennylane/labs/pf/vibronic/vibronic_matrix.py
  pennylane/labs/pf/wavefunctions/ho_state.py
  pennylane/labs/tests/pf/vibronic/test_vibrational.py
Due: pylint

Add support for basic linear indexing
  pennylane/ftqc/qubit_graph.py
  tests/ftqc/test_qubit_graph.py
Due: pylint, pylint-test

Update tracker.py
  pennylane/tracker.py
Due: pylint

add pauli_rep for adjoint op
  pennylane/ops/op_math/adjoint.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Updating logic
  pennylane/transforms/optimization/single_qubit_fusion.py
  tests/capture/transforms/test_capture_single_qubit_fusion.py
Due: pylint, pylint-test

resource QROM
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

One more tests, but many more to add tomorrow
  pennylane/transforms/optimization/single_qubit_fusion.py
  tests/capture/transforms/test_capture_single_qubit_fusion.py
Due: pylint, pylint-test

add lattice generation support
  pennylane/ftqc/cluster_state.py
  pennylane/ftqc/lattice.py
Due: pylint

add unit tests
  pennylane/ftqc/__init__.py
  pennylane/ftqc/lattice.py
  tests/ftqc/test_lattice.py
Due: pylint, pylint-test
