Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: "🐍 tach · Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: "🐍 pylint · Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

whoops typo
  pennylane/operation.py
Due: pylint

PR Feedback
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform.py
Due: pylint, pylint-test

whoops wrong area for dep warn
  pennylane/operation.py
Due: pylint

indentation
  pennylane/_grad.py
Due: pylint

Update pennylane/_grad.py
  pennylane/_grad.py
Due: pylint

use singledispatch
  pennylane/transforms/decompose.py
Due: pylint

Remove pylint directive
  pennylane/transforms/decompose.py
Due: pylint

add test for name
  tests/test_grad.py
Due: pylint-test

test correctness
  pennylane/ops/op_math/controlled_ops.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

isort
  pennylane/ops/op_math/controlled_ops.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint, pylint-test

Redundant line
  pennylane/transforms/decompose.py
Due: pylint

add check for init subclass
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

Update controlled_ops.py
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

solved
  pennylane/compiler/python_compiler/transforms/quantum/parity_synth.py
  tests/python_compiler/transforms/quantum/test_xdsl_parity_synth.py
Due: pylint, pylint-test

Fix dynamic wire example in `register_resources` (#8550)
  doc/releases/changelog-dev.md
  pennylane/decomposition/decomposition_rule.py
Due: pylint

Improve coverage
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint, pylint-test

pylint
  tests/transforms/test_decompose_transform.py
Due: pylint-test

Update pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

deprecation: `is_hermitian` -> `is_verified_hermitian` renaming of `Operator` property (#8494)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/operation.py
  pennylane/ops/functions/generator.py
  pennylane/ops/functions/is_hermitian.py
  pennylane/ops/op_math/change_op_basis.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/evolution.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sprod.py
  pennylane/ops/op_math/sum.py
  pennylane/ops/op_math/symbolicop.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/observables.py
  pennylane/ops/qutrit/observables.py
  pennylane/templates/subroutines/time_evolution/trotter.py
  tests/ops/functions/test_is_hermitian.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_change_op_basis.py
  tests/ops/op_math/test_composite.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_exp.py
  tests/ops/op_math/test_linear_combination.py
  tests/ops/op_math/test_pow_op.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sprod.py
  tests/ops/op_math/test_sum.py
  tests/ops/op_math/test_symbolic_op.py
  tests/templates/subroutines/time_evolution/test_trotter.py
  tests/test_operation.py
Due: pylint, pylint-test

cleanup imports
  tests/transforms/test_decompose_transform.py
Due: pylint-test

PR feedback
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform.py
Due: pylint, pylint-test

Decomp
  pennylane/templates/layers/basic_entangler.py
Due: pylint

fix, test, changelog
  doc/releases/changelog-dev.md
  pennylane/decomposition/decomposition_graph.py
  tests/decomposition/test_decomposition_graph.py
Due: pylint, pylint-test

Update tests/ops/op_math/test_controlled_ops.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint-test

adding decomposition "C(SemiAdder)" (#8423)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/arithmetic/semi_adder.py
  tests/templates/subroutines/test_semi_adder.py
Due: pylint, pylint-test

Test
  pennylane/templates/layers/basic_entangler.py
  tests/templates/layers/test_basic_entangler.py
Due: pylint, pylint-test

improve codebase with `pyupgrade` (#8547)
  .pre-commit-config.yaml
  pennylane/estimator/resource_mapping.py
  pennylane/estimator/resource_operator.py
  pennylane/estimator/resources_base.py
  pennylane/labs/resource_estimation/resource_operator.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_select_re.py
  pennylane/labs/tests/resource_estimation/templates/test_stateprep.py
  pennylane/labs/trotter_error/fragments/sparse_fragments.py
Due: pylint, labs-pylint-test

Changelog
  doc/releases/changelog-dev.md
Due: none

rename function to be more descriptive
  pennylane/templates/embeddings/iqp.py
Due: pylint

Raise JIT-support error in SK decomposition (#8489)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/decompositions/solovay_kitaev.py
  pennylane/transforms/decompositions/clifford_t_transform.py
  tests/ops/op_math/test_solovay_kitaev.py
  tests/transforms/test_cliffordt_transform.py
Due: pylint, pylint-test

update import
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/molecule.py
  pennylane/qchem/openfermion_pyscf.py
  pennylane/qchem/structure.py
Due: pylint

more robust sorted call
  pennylane/capture/custom_primitives.py
Due: pylint

added commuting_groups
  pennylane/estimator/compact_hamiltonian.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Added option for CIS electronic structure, alongside bypassing of electronic structure calculation
  pennylane/labs/resource_estimation/thc_sweeper.py
Due: pylint
