Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

PR Feedback
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

Fixed test and reformatted file
  pennylane/ops/qutrit/state_preparation.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_initialize_state.py
Due: pylint, pylint-test

Added Pull Request Number
  doc/releases/changelog-dev.md
Due: none

Reformatted test file
  tests/devices/qutrit_mixed/test_qutrit_mixed_initialize_state.py
Due: pylint-test

Added check to ensure DensityMatrix applied as a prep opperator, need to add test
  pennylane/devices/qutrit_mixed/simulate.py
Due: pylint

PR Feedback: document num work wires
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

Simplified _post_process wires
  pennylane/devices/qutrit_mixed/initialize_state.py
Due: pylint

Fixed incorrect data parameter being used
  pennylane/devices/qutrit_mixed/initialize_state.py
Due: pylint

pylint
  tests/templates/subroutines/test_ffft.py
Due: pylint-test

Finished making batching appropriate
  pennylane/devices/qutrit_mixed/initialize_state.py
Due: pylint

Finalized initialize state functionality in initialize_state
  pennylane/devices/qutrit_mixed/initialize_state.py
Due: pylint

missed one
  pennylane/decomposition/decomposition_rule.py
  pennylane/transforms/decomp_inspector.py
Due: pylint

Add Operator2 base class
  pennylane/operation2.py
Due: pylint

Added test
  tests/qchem/vibrational/test_vscf.py
Due: pylint-test

ooops
  pennylane/transforms/decomp_inspector.py
Due: pylint

Apply suggestions from code review
  pennylane/labs/estimator_beta/templates/subroutines.py
Due: pylint

Improve unit test coverage
  pennylane/resource/expression.py
  tests/resource/test_expression.py
Due: pylint, pylint-test

Remove docs for now. Will be addressed in follow-up
  pennylane/operation2.py
Due: pylint

fix test permutation problem
  tests/qchem/vibrational/test_christiansen_ham.py
  tests/qchem/vibrational/test_vscf.py
Due: pylint-test

update changelog
  doc/releases/changelog-dev.md
Due: none

PR review comments
  pennylane/resource/expression.py
  pennylane/resource/resource.py
Due: pylint

Cast to set
  pennylane/operation2.py
Due: pylint

Added logic for applyiong qudit density matrix to any input wires
  pennylane/devices/default_qutrit_mixed.py
  pennylane/devices/qutrit_mixed/apply_operation.py
  pennylane/devices/qutrit_mixed/initialize_state.py
  pennylane/devices/qutrit_mixed/simulate.py
Due: pylint

Made partial trace work for any input qudit dimension
  pennylane/math/quantum.py
Due: pylint

Added tests to ensure QutritDensityMatrix implemented properly.
  tests/devices/qutrit_mixed/test_qutrit_mixed_apply_operation.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_initialize_state.py
Due: pylint-test

Adding dispatcher for pauli_measure and alias in decomp (#9506)
  doc/releases/changelog-dev.md
  pennylane/decomposition/utils.py
  pennylane/ops/mid_measure/pauli_measure.py
  tests/ops/test_pauli_measure.py
Due: pylint, pylint-test

Ran black and isort
  pennylane/devices/default_qutrit_mixed.py
  pennylane/devices/qutrit_mixed/apply_operation.py
  pennylane/devices/qutrit_mixed/initialize_state.py
  pennylane/devices/qutrit_mixed/simulate.py
  pennylane/math/quantum.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_apply_operation.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_initialize_state.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

moved FFQRAM into qram.py
  pennylane/templates/embeddings/__init__.py
  pennylane/templates/embeddings/ffqramembedding.py
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/qram.py
Due: pylint

added proper tests
  pennylane/templates/subroutines/qram.py
  tests/templates/embeddings/test_ffqram_emb.py
  tests/templates/subroutines/test_qram.py
Due: pylint, pylint-test

docs update
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qram.py
Due: pylint

format check and citation update
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qram.py
  tests/templates/subroutines/test_qram.py
Due: pylint, pylint-test

Unit test coverage and pylint warnings
  pennylane/resource/expression.py
  pennylane/resource/resource.py
  tests/resource/test_expression.py
Due: pylint, pylint-test

pylint
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint-test

fix sign error in test
  tests/qchem/vibrational/test_vscf.py
Due: pylint-test

More coverage
  pennylane/resource/resource.py
  tests/resource/test_expression.py
Due: pylint, pylint-test

sphinx
  pennylane/templates/subroutines/arithmetic/incrementer.py
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

just generate docs for Wires and AbstractQubit
  doc/code/qp_wires.rst
Due: none

Add fixed_sig
  pennylane/operation2.py
Due: pylint

Test, debug controlled decomp
  pennylane/templates/subroutines/arithmetic/incrementer.py
  tests/templates/subroutines/arithmetic/test_incrementer.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
