Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

decomp inspector again
  pennylane/transforms/decomp_inspector.py
Due: pylint

better
  tests/conftest.py
  tests/ops/op_math/test_evolution.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_prod2.py
  tests/pytest.ini
  tests/templates/embeddings/test_amplitude.py
  tests/templates/state_preparations/test_arbitrary_state_prep.py
  tests/templates/state_preparations/test_mottonen_state_prep.py
  tests/templates/state_preparations/test_qrom_state_prep.py
  tests/templates/state_preparations/test_sum_of_slaters.py
  tests/templates/state_preparations/test_superposition.py
  tests/templates/subroutines/arithmetic/test_adder.py
  tests/templates/subroutines/arithmetic/test_multiplier.py
  tests/templates/subroutines/arithmetic/test_out_adder.py
  tests/templates/subroutines/arithmetic/test_phase_adder.py
  tests/templates/subroutines/qchem/test_all_singles_doubles.py
  tests/templates/subroutines/qchem/test_kupccgsd.py
  tests/templates/subroutines/qchem/test_uccsd.py
  tests/templates/subroutines/test_amplitude_amplification.py
  tests/templates/subroutines/test_controlled_sequence.py
  tests/templates/subroutines/test_fable.py
  tests/templates/subroutines/test_gqsp.py
  tests/templates/subroutines/test_prepselprep.py
  tests/templates/subroutines/test_qpe.py
  tests/templates/subroutines/test_qram.py
  tests/templates/subroutines/test_qubitization.py
  tests/templates/subroutines/time_evolution/test_trotter.py
Due: pylint-test

fix the docstring and add new transform
  pennylane/labs/templates/select_thc.py
  pennylane/labs/tests/templates/test_select_thc.py
Due: pylint, labs-pylint-test

Operators of operators can be used as arguments to traced functions
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
  tests/capture/test_operators.py
  tests/templates/subroutines/test_multix.py
Due: pylint, pylint-test

Fix changelog link
  doc/releases/changelog-dev.md
Due: none

fixed docstringe
  pennylane/labs/templates/select_thc.py
Due: pylint

Fix THC template wire ownership and static arguments
  pennylane/templates/subroutines/alias_sampling_thc.py
  pennylane/templates/subroutines/superposition_thc.py
  tests/templates/subroutines/test_alias_sampling_thc.py
  tests/templates/subroutines/test_superposition_thc.py
Due: pylint, pylint-test

use changeopbasis
  pennylane/labs/templates/select_thc.py
  pennylane/labs/tests/templates/test_select_thc.py
Due: pylint, labs-pylint-test

updated description
  pennylane/labs/templates/select_thc.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

register decomp
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

use in iqp
  pennylane/templates/subroutines/iqp.py
Due: pylint

black
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Add floor_log2 and fix ceil/floor_log2 for large integers.
  doc/releases/changelog-dev.md
  pennylane/estimator/qpe_resources/first_quantization.py
  pennylane/estimator/templates/qubitize.py
  pennylane/estimator/templates/stateprep.py
  pennylane/io/qasm_interpreter.py
  pennylane/io/qualtran_io.py
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/tests/estimator_beta/templates/test_subroutines_labs.py
  pennylane/math/__init__.py
  pennylane/math/utils.py
  pennylane/templates/state_preparations/partial_unary.py
  pennylane/templates/subroutines/qrom.py
  pennylane/templates/tensornetworks/mera.py
  tests/math/test_basic_math.py
Due: pylint, pylint-test, labs-pylint-test

Address review on Operator2 alias sampling templates
  doc/introduction/templates.rst
  pennylane/labs/tests/templates/test_superposition_thc.py
  pennylane/templates/subroutines/alias_sampling.py
  pennylane/templates/subroutines/arithmetic/left_quantum_comparator.py
  tests/templates/subroutines/arithmetic/test_left_classical_comparator.py
  tests/templates/subroutines/arithmetic/test_left_quantum_comparator.py
Due: pylint, pylint-test, labs-pylint-test

math format
  doc/releases/changelog-dev.md
Due: none

Apply suggestion from @dwierichs
  doc/releases/changelog-dev.md
Due: none

failing labs test
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient_transform.py
Due: pylint, labs-pylint-test

Validate UniformPrep/AliasSampling register sizes for AbstractWires.
  pennylane/templates/subroutines/alias_sampling.py
  tests/templates/subroutines/test_alias_sampling.py
Due: pylint, pylint-test

Update pennylane/tape/plxpr_conversion.py
  pennylane/tape/plxpr_conversion.py
Due: pylint

address comments from code review
  tests/ops/functions/conftest.py
  tests/templates/subroutines/arithmetic/test_signed_out_square.py
  tests/templates/subroutines/test_gqsp.py
  tests/templates/subroutines/test_qmc.py
Due: pylint-test

Apply batched suggestions from code review
  doc/releases/changelog-dev.md
Due: none

remove xfail
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_prod2.py
Due: pylint-test

Add `PPR` class for discrete Clifford + T rotations (#10107)
  doc/introduction/operations.rst
  doc/releases/changelog-dev.md
  pennylane/devices/default_mixed.py
  pennylane/devices/tests/test_gates.py
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/ops/qubit/__init__.py
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

minor docs
  pennylane/numeric_hamiltonians.py
Due: pylint

add test for custom dispatch
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint-test

cl
  doc/releases/changelog-dev.md
Due: none

remove is_abstract, replace with is_fully_abstract
  pennylane/numeric_hamiltonians.py
  tests/test_numeric_hamiltonians.py
Due: pylint, pylint-test

fix changelog
  doc/releases/changelog-dev.md
Due: none

update arxiv link
  pennylane/labs/tcdq/__init__.py
Due: pylint

minor
  doc/releases/changelog-dev.md
Due: none

RBF
  pennylane/labs/tcdq/mmd_loss_pauli.py
Due: pylint

MMD
  pennylane/labs/tcdq/mmd_loss_pauli.py
Due: pylint

math formatting
  pennylane/labs/tcdq/mmd_loss_pauli.py
Due: pylint

meh
  pennylane/transforms/decomp_inspector.py
Due: pylint

`VibronicHamiltonian` class + `TrotterVibronic` now uses `VibronicHamiltonian` (#10138)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/estimator/resource_mapping.py
  pennylane/estimator/templates/trotter.py
  pennylane/numeric_hamiltonians.py
  pennylane/templates/subroutines/time_evolution/trotter_vibronic.py
  tests/capture/test_templates.py
  tests/estimator/test_estimator_mapping.py
  tests/templates/subroutines/time_evolution/test_trotter_cdf.py
  tests/templates/subroutines/time_evolution/test_trotter_vibronic.py
  tests/test_numeric_hamiltonians.py
Due: pylint, pylint-test

update document header
  pennylane/labs/tcdq/mmd_loss_pauli.py
Due: pylint

fix
  pennylane/tape/plxpr_conversion.py
Due: pylint

minor change
  pennylane/labs/tcdq/mmd_loss_pauli.py
Due: pylint
