Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: "🐍 tach · Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: "🐍 pylint · Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Update changelog
  doc/releases/changelog-dev.md
Due: none

update tests to not rely on qnode autograph kwarg
  tests/capture/autograph/test_autograph_logical_ops.py
Due: pylint-test

Fable qfunc decomp
  pennylane/templates/subroutines/fable.py
Due: pylint

Complete tests and docs
  pennylane/compiler/python_compiler/transforms/__init__.py
  pennylane/compiler/python_compiler/transforms/decompose_graph_state.py
  tests/python_compiler/transforms/test_xdsl_decompose_graph_state.py
Due: pylint, pylint-test

fixed docs
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

[WIP] test FABLE qfunc
  pennylane/templates/subroutines/fable.py
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

add coverage for case when array is static
  tests/capture/autograph/test_autograph_array_update.py
Due: pylint-test

add pylint disable
  pennylane/capture/autograph/operator_update.py
Due: pylint

Minor docs fixes
  doc/releases/changelog-dev.md
  pennylane/transforms/zx/reduce_non_clifford.py
Due: pylint

Adding one test and setting fallback behaviour
  pennylane/compiler/python_compiler/visualization/collector.py
  pennylane/compiler/python_compiler/visualization/draw.py
  tests/drawer/test_draw.py
  tests/python_compiler/visualization/test_draw.py
Due: pylint, pylint-test

Remove statement about performance
  pennylane/transforms/zx/reduce_non_clifford.py
Due: pylint

Pylint failures
  pennylane/compiler/python_compiler/visualization/xdsl_conversion.py
  tests/python_compiler/visualization/test_draw.py
Due: pylint, pylint-test

Add link to function to_zx
  pennylane/transforms/zx/reduce_non_clifford.py
Due: pylint

Changing name to test file
  tests/python_compiler/visualization/test_draw_catapy.py
Due: pylint-test

Support cases where register resulting from graph_prep_op is used
  pennylane/compiler/python_compiler/transforms/decompose_graph_state.py
  tests/python_compiler/transforms/test_xdsl_decompose_graph_state.py
Due: pylint, pylint-test

add tests
  pennylane/capture/autograph/transformer.py
  tests/capture/autograph/test_autograph.py
Due: pylint, pylint-test

Implement new transform for ZX-based `reduce_non_clifford` pass (#7747)
  doc/releases/changelog-dev.md
  pennylane/transforms/__init__.py
  pennylane/transforms/zx/__init__.py
  pennylane/transforms/zx/push_hadamards.py
  pennylane/transforms/zx/reduce_non_clifford.py
  tests/transforms/test_optimization/test_reduce_non_clifford.py
Due: pylint, pylint-test

Update pennylane/labs/tests/resource_estimation/templates/test_trotter.py
  pennylane/labs/tests/resource_estimation/templates/test_trotter.py
Due: pylint, labs-pylint-test

Added tests for select
  pennylane/labs/resource_estimation/templates/qubitize.py
  pennylane/labs/resource_estimation/templates/select.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_select.py
Due: pylint, labs-pylint-test

Minor
  doc/releases/changelog-dev.md
Due: none

Fix conflicts
  doc/releases/changelog-dev.md
Due: none

Updated the tests for comparator
  pennylane/labs/resource_estimation/templates/select.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_comparators.py
  pennylane/labs/tests/resource_estimation/templates/test_select.py
  pennylane/labs/tests/resource_estimation/templates/test_stateprep.py
Due: pylint, labs-pylint-test

Fix changelog
  doc/releases/changelog-dev.md
Due: none

Added qubitization tests
  pennylane/labs/resource_estimation/templates/qubitize.py
  pennylane/labs/tests/resource_estimation/templates/test_qubitize.py
Due: pylint, labs-pylint-test

fix docs in ClassicalShadow.entropy (#8100)
  doc/releases/changelog-dev.md
  pennylane/shadows/classical_shadow.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

clean up decomposition tests
  tests/python_compiler/test_xdsl_extras.py
  tests/templates/test_subroutines/test_select.py
Due: pylint-test

remove AbsOp (exist in upstream)
  pennylane/compiler/python_compiler/dialects/stablehlo/__init__.py
  pennylane/compiler/python_compiler/dialects/stablehlo/dialect.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise/unary.py
Due: pylint

Add `partial` keyword argument to `Select` and simplify its decomposition if `partial=True` (#7658)
  doc/releases/changelog-dev.md
  pennylane/decomposition/resources.py
  pennylane/templates/subroutines/prepselprep.py
  pennylane/templates/subroutines/qrom.py
  pennylane/templates/subroutines/select.py
  tests/python_compiler/test_xdsl_extras.py
  tests/templates/test_subroutines/test_prepselprep.py
  tests/templates/test_subroutines/test_select.py
Due: pylint, pylint-test

Fixed rendering problems and examples
  pennylane/labs/resource_estimation/templates/qubitize.py
  pennylane/labs/resource_estimation/templates/select.py
  pennylane/labs/resource_estimation/templates/stateprep.py
Due: pylint

Fixed formatting
  pennylane/labs/resource_estimation/resource_tracking.py
  pennylane/labs/resource_estimation/templates/comparators.py
Due: pylint

Add tests
  tests/python_compiler/dialects/test_stablehlo_dialect.py
Due: pylint-test

Tests passing
  pennylane/templates/subroutines/fable.py
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

Phrasing
  doc/releases/changelog-dev.md
  pennylane/transforms/zx/optimize_t_count.py
Due: pylint

Update pennylane/compiler/python_compiler/dialects/__init__.py
  pennylane/compiler/python_compiler/dialects/__init__.py
Due: pylint

Changelog entry
  doc/releases/changelog-dev.md
Due: none
