Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update more tests
  tests/legacy/test_legacy_hamiltonian_expand_old.py
  tests/legacy/test_legacy_parameter_shift_cv_old.py
  tests/legacy/test_legacy_vjp_old.py
  tests/templates/test_subroutines/test_approx_time_evolution.py
  tests/transforms/test_insert_ops.py
Due: pylint-test

More tests
  tests/transforms/test_insert_ops.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
  pennylane/interfaces/execution.py
Due: pylint

Add example
  pennylane/interfaces/execution.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/optimization/__init__.py
  pennylane/transforms/optimization/cancel_inverses.py
  tests/transforms/test_optimization/test_cancel_inverses.py
Due: pylint, pylint-test

Coverage
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/core/transform_program.py
Due: pylint

Update
  pennylane/transforms/__init__.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
  tests/workflow/test_transforms.py
Due: pylint, pylint-test

pylint
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Cover fix
  pennylane/interfaces/execution.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/core/transform_program.py
Due: pylint

pylint
  pennylane/transforms/core/transform_program.py
Due: pylint

Pylint
  pennylane/transforms/core/transform_program.py
Due: pylint

Test
  tests/transforms/test_split_non_commuting.py
Due: pylint-test

Randomize seeds when using multiprocessing to have same tape different outputs. pytest.mark.parametrize(max_workers, [1, 2]) => pytest.mark.parametrize(max_workers, [None, 1, 2]).
  pennylane/devices/experimental/default_qubit_2.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-test

Pylint tests
  tests/workflow/test_transforms_execution.py
Due: pylint-test

Make sure tapes do not have Snapshot if max_workers is not None.
  pennylane/devices/experimental/default_qubit_2.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/experimental/default_qubit_2.py
Due: pylint

Fix linting error.
  pennylane/devices/experimental/default_qubit_2.py
Due: pylint

fix docstring and unit tests
  pennylane/ops/op_math/controlled.py
  tests/ops/op_math/test_controlled.py
Due: pylint, pylint-test

fix rcParams usage
  doc/_static/draw_mpl/draw_mpl_examples.py
  doc/_static/draw_mpl/rcparams.png
  doc/_static/drawer/black_white_style.png
  doc/_static/drawer/cond.png
  doc/_static/drawer/example_formatted.png
  doc/_static/drawer/mpldrawer_examples.py
  doc/_static/tape_mpl/rcparams.png
  doc/_static/tape_mpl/tape_mpl_examples.py
Due: none

Clean up
  pennylane/math/multi_dispatch.py
  pennylane/tape/qscript.py
Due: pylint

Make method
  pennylane/interfaces/jax.py
  pennylane/interfaces/jax_jit_tuple.py
  pennylane/interfaces/tensorflow.py
  pennylane/tape/qscript.py
Due: pylint

speed up vjp
  pennylane/devices/qubit/adjoint_jacobian.py
Due: pylint

just never update in operator.expand
  doc/releases/changelog-dev.md
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

Update pennylane/tape/tape.py
  pennylane/tape/tape.py
Due: pylint

add fermionic_observable test
  tests/qchem/test_observable_hf.py
Due: pylint-test

Add back old tests
  tests/tape/test_tape.py
Due: pylint-test

Add custom wire label tests
  tests/devices/qubit/test_adjoint_jacobian.py
Due: pylint-test

fix empty PauliWord error
  pennylane/qchem/observable_hf.py
Due: pylint

Update pennylane/tape/qscript.py
  pennylane/tape/qscript.py
Due: pylint

add hamiltonian tests
  tests/qchem/test_hamiltonians.py
Due: pylint-test

black
  pennylane/tape/qscript.py
Due: pylint

move change to tape expand instead of on operator
  doc/releases/changelog-dev.md
  pennylane/operation.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/tape/tape.py
  pennylane/transforms/op_transforms.py
  tests/test_operation.py
  tests/test_qnode.py
Due: pylint, pylint-test

Update pennylane/transforms/op_transforms.py
  pennylane/transforms/op_transforms.py
Due: pylint

also pass is_state_batched to finite shot case
  pennylane/devices/qubit/simulate.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

update tests to define decomposition
  tests/interfaces/default_qubit_2_integration/test_autograd_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_default_qubit_2.py
  tests/interfaces/test_autograd.py
  tests/interfaces/test_autograd_qnode.py
  tests/interfaces/test_jax.py
  tests/interfaces/test_jax_jit.py
  tests/interfaces/test_jax_jit_qnode.py
  tests/interfaces/test_jax_qnode.py
  tests/interfaces/test_tensorflow.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/interfaces/test_torch.py
  tests/interfaces/test_torch_qnode.py
  tests/legacy/test_legacy_autograd_old.py
  tests/legacy/test_legacy_autograd_qnode_old.py
  tests/legacy/test_legacy_jax_old.py
  tests/legacy/test_legacy_jax_qnode_old.py
  tests/legacy/test_legacy_tensorflow_old.py
  tests/legacy/test_legacy_tensorflow_qnode_old.py
  tests/legacy/test_legacy_torch_old.py
  tests/legacy/test_legacy_torch_qnode_old.py
Due: pylint-test

add more detailed comment to tape.shape change
  pennylane/tape/qscript.py
Due: pylint

Update `interfaces` module to use `bind_new_parameters` (#4345)
  doc/releases/changelog-dev.md
  pennylane/interfaces/jax.py
  pennylane/interfaces/jax_jit.py
  pennylane/interfaces/jax_jit_tuple.py
  pennylane/interfaces/tensorflow.py
  pennylane/interfaces/tensorflow_autograph.py
  pennylane/pulse/parametrized_evolution.py
  pennylane/tape/qscript.py
  tests/gradients/core/test_pulse_generator_gradient.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

changes after merge
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/tape/qscript.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_default_qubit_2.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
