Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

delegate classical fisher caluclate of deprecated module to the new location's fn
  pennylane/qinfo/transforms.py
Due: pylint

change to deprecation warning in specs
  pennylane/resource/specs.py
  pennylane/workflow/qnode.py
  tests/resource/test_specs.py
Due: pylint, pylint-test

Allowing prereleases
  pennylane/__init__.py
Due: pylint

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Better deperecation note
  doc/development/deprecations.rst
Due: none

added changelog entry
  doc/releases/changelog-dev.md
Due: none

add warning to method docstring
  pennylane/operation.py
Due: pylint

fix indentation
  doc/development/deprecations.rst
Due: none

fix failing tests and remove dependencies on deprecated expand fn
  pennylane/ops/functions/assert_valid.py
  tests/ops/functions/test_assert_valid.py
  tests/ops/qubit/test_arithmetic_ops.py
Due: pylint, pylint-test

add deprecation of override_shots
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/workflow/execution.py
  tests/interfaces/default_qubit_2_integration/test_execute_default_qubit_2.py
Due: pylint, pylint-test

catch warnings on autograd tests using override_shots
  tests/interfaces/test_autograd.py
Due: pylint-test

Deprecate `classical_fisher` and `quantum_fisher` (#5985)
  doc/code/qml_qinfo.rst
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/gradients/__init__.py
  pennylane/gradients/fisher.py
  pennylane/qinfo/transforms.py
  tests/gradients/core/test_fisher.py
  tests/gradients/core/test_gradient_transform.py
  tests/qinfo/test_fisher_deprecation.py
Due: pylint, pylint-test

fix sphinx reference problem
  pennylane/io.py
Due: pylint

fix drawing
  pennylane/io.py
Due: pylint

Adding section to show the usage of `@partial`
  pennylane/transforms/__init__.py
Due: pylint

silence codefactor warning about length of qml.execute
  pennylane/workflow/execution.py
Due: pylint

second attempt at supressing warning of codefactor
  pennylane/workflow/execution.py
Due: pylint

separate warnings into helper function to abide to codefactor complains
  pennylane/workflow/execution.py
Due: pylint

Change casting rules for state to avoid copy in Lightning.
  pennylane/measurements/state.py
Due: pylint

Added skeletons of interface tests
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Cleaned up tests, got jax and autograd working, stuck on torch and TF
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

add mocktests
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

added warnings for legacy devices and warning capture fixture
  pennylane/devices/default_qubit_autograd.py
  pennylane/devices/default_qubit_jax.py
  pennylane/devices/default_qubit_legacy.py
  pennylane/devices/default_qubit_tf.py
  pennylane/devices/default_qubit_torch.py
  tests/conftest.py
  tests/devices/test_default_qubit_legacy.py
  tests/devices/test_default_qubit_legacy_broadcasting.py
  tests/test_debugging.py
  tests/test_qnode_legacy.py
Due: pylint, pylint-test

minor tweak
  tests/test_io.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

minor fixes to failing tests
  tests/drawer/test_draw.py
  tests/drawer/test_draw_mpl.py
  tests/interfaces/test_jacobian_products.py
  tests/interfaces/test_transform_program_integration.py
  tests/ops/qubit/test_observables.py
  tests/resource/test_specs.py
  tests/test_qnode.py
Due: pylint-test

Fixed torch tests reformatted
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  pennylane/devices/default_qutrit_mixed.py
  tests/devices/test_default_qutrit_mixed.py
Due: pylint, pylint-test

Apply suggestions from code review
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

Move logic into two methods; separate ValueError tests into new ones
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
Due: pylint, pylint-test

Suggestions from code review
  pennylane/transforms/__init__.py
Due: pylint

Test this.
  pennylane/measurements/state.py
Due: pylint

Add private postselect_mode
  pennylane/capture/capture_qnode.py
  pennylane/devices/default_qubit.py
  pennylane/devices/execution_config.py
  pennylane/devices/preprocess.py
  pennylane/transforms/dynamic_one_shot.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/transforms/test_dynamic_one_shot.py
Due: pylint, pylint-test

cast_to_complex
  pennylane/measurements/state.py
Due: pylint

Add kwargs to mcm transform
  pennylane/devices/preprocess.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
