Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
- repo: local
  hooks:
    - id: pylint-tests
      name: pylint whitelisted tests
      language: system
      types: [python]
      entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'
      files: ^tests/
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/

Attempt at sparse ham acceleration.
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

Move core of sparse_matrix to own function.
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

black pass
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

add pp functions
  pennylane/resource/pseudopotential/gates.py
  pennylane/resource/pseudopotential/lambda_x.py
  pennylane/resource/pseudopotential/n_x.py
  pennylane/resource/pseudopotential/qubits.py
Due: pylint

fix expval with state vector projector
  pennylane/_qubit_device.py
Due: pylint

Code example and remove hidden class docstring
  pennylane/ops/qubit/observables.py
Due: pylint

[skip ci] add codes
  pennylane/resource/pseudopotential/gates.py
Due: pylint

Fix couple bugs in _get_pauli_indices.
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

Fix type bug in sum_sparse_matrix_core.
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

Add more tests and reorganize
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
Due: pylint, pylint-tests

update change log
  doc/releases/changelog-dev.md
Due: none

minor docstring corrections
  pennylane/ops/qubit/observables.py
Due: pylint

add expval test (it was failing)
  tests/ops/qubit/test_observables.py
Due: pylint-tests

[`pulse_generator`] Implement helper methods and update `gradients` methods (1/3) (#4160)
  doc/introduction/interfaces.rst
  pennylane/gradients/__init__.py
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/pulse_generator_gradient.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/pulse/parametrized_evolution.py
  tests/gradients/core/test_pulse_generator_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

add test
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
Due: pylint, pylint-tests

fix imports for pylint
  tests/fermi/test_fermionic.py
Due: pylint-tests

black formatting
  tests/fermi/test_fermionic.py
Due: pylint-tests

fix import format for pylint more
  tests/fermi/test_fermionic.py
Due: pylint-tests

Apply suggestions from code review
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

Add one_qubit_decomposition and zxz_decomposition functions (#4210)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/controlled_decompositions.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/decompositions/single_qubit_unitary.py
  pennylane/transforms/decompositions/two_qubit_unitary.py
  pennylane/transforms/unitary_to_rot.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/ops/qubit/test_matrix_ops.py
  tests/templates/test_subroutines/test_qmc.py
  tests/transforms/test_decompositions.py
  tests/transforms/test_unitary_to_rot.py
Due: pylint, pylint-tests

__str__ returns str
  pennylane/data/data_manager/types.py
Due: pylint

format
  pennylane/data/__init__.py
  pennylane/data/base/_hdf5.py
  pennylane/data/data_manager/__init__.py
Due: pylint

Add docstring to _get_pauli_indices.
  pennylane/ops/qubit/hamiltonian.py
Due: pylint

projector bind new parameters dispatcher
  pennylane/ops/functions/bind_new_parameters.py
  tests/ops/functions/test_bind_new_parameters.py
Due: pylint, pylint-tests

Allow circuit drawing with `KerasLayer` and `TorchLayer` (#4197)
  pennylane/qnn/keras.py
  pennylane/qnn/torch.py
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
Due: pylint, pylint-tests

Not in place
  pennylane/transforms/core/transform_dispatcher.py
  tests/transforms/test_experimental/test_transform_dispatcher.py
Due: pylint, pylint-tests

Add constants to FermiWord and FermiSentence
  pennylane/fermi/fermionic.py
Due: pylint

Only deepcopy the first qnode
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Copy only first qnode
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Changelog
  doc/releases/changelog-dev.md
Due: none

Adjust tolerance and add finally block
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
Due: pylint-tests

[QInfo broadcasting (3/3)] Support quantum information QNode transforms (#4234)
  doc/releases/changelog-dev.md
  tests/qinfo/test_entropies.py
  tests/qinfo/test_fidelity.py
  tests/qinfo/test_purity.py
  tests/qinfo/test_reduced_dm.py
  tests/qinfo/test_trace_distance.py
Due: pylint-tests

Review
  pennylane/qnode.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/core/transform_program.py
  tests/transforms/test_experimental/test_transform_program.py
Due: pylint, pylint-tests

Pylint
  tests/transforms/test_experimental/test_transform_program.py
Due: pylint-tests

Typo
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Remove one comment
  pennylane/qnode.py
Due: pylint

add tests
  tests/fermi/test_fermionic.py
Due: pylint-tests
