Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

add dispatch options
  pennylane/labs/profiler/extract.py
Due: pylint

Added initial docs and some blank test files
  pennylane/labs/estimator_beta/ops/op_math/symbolic.py
  pennylane/labs/tests/estimator_beta/ops/test_symbolic_labs.py
  pennylane/labs/tests/profiler/test_profiler.py
Due: pylint, labs-pylint-test

more fixes
  pennylane/noise/insert_ops.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/qubit/test_all_qubit_ops.py
  tests/pytrees/test_pytrees.py
Due: pylint, pylint-test

refactor: Format specs to meet black rules
  pennylane/resource/specs.py
  tach.toml
Due: pylint

revert tests
  tests/estimator/test_estimate.py
Due: pylint-test

oops
  pennylane/noise/insert_ops.py
Due: pylint

revert estimate
  pennylane/estimator/estimate.py
Due: pylint

testing
  patata.py
  patata2.py
  patata3.py
  pennylane/resource/specs.py
  pennylane/templates/subroutines/qrom.py
  testing_GQSP.py
Due: pylint

add test adjoint2
  pennylane/ops/op_math/adjoint.py
  tests/ops/op_math/test_adjoint2.py
Due: pylint, pylint-test

more fixes
  pennylane/noise/insert_ops.py
  tests/operation2/test_operation2.py
  tests/ops/functions/test_assert_valid.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

Add `OutSquare` template (#9003)
  doc/_static/templates/arithmetic/outsquare.png
  doc/introduction/templates.rst
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/arithmetic/__init__.py
  pennylane/templates/subroutines/arithmetic/out_square.py
  pennylane/templates/subroutines/arithmetic/semi_adder.py
  tests/capture/test_templates.py
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
  tests/templates/subroutines/arithmetic/test_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_out_square.py
Due: pylint, pylint-test

comment
  pennylane/capture/base_interpreter.py
Due: pylint

fix import paths
  pennylane/gradients/parameter_shift.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/adjoint2.py
  pennylane/ops/op_math/symbolicop2.py
  tach.toml
  tests/ops/op_math/test_adjoint2.py
  tests/ops/op_math/test_symbolic_op2.py
Due: pylint, pylint-test

review
  pennylane/templates/subroutines/arithmetic/signed_out_square.py
Due: pylint

Add compatibility warning for DefaultGaussian device
  pennylane/devices/default_gaussian.py
Due: pylint

Update changelog with DefaultGaussian warning
  doc/releases/changelog-dev.md
Due: none

pylint
  pennylane/core/operator/operator2.py
Due: pylint

Cleanup merge
  pennylane/core/operator/operator2.py
Due: pylint

grumble grumble more merge issues
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

fix
  pennylane/estimator/estimate.py
  tests/estimator/test_estimate.py
Due: pylint, pylint-test

more coverage
  pennylane/ops/op_math/adjoint2.py
  tests/ops/op_math/test_adjoint2.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

bug fix
  pennylane/estimator/estimate.py
  tests/estimator/test_estimate.py
Due: pylint, pylint-test

StatePrepBase2 (#9562)
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
  tests/core/operator/test_operator2.py
Due: pylint, pylint-test

Removed empty line
  pennylane/devices/default_gaussian.py
Due: pylint

Added note about QutritDensityMatrix being a state prep operation
  pennylane/ops/qutrit/state_preparation.py
Due: pylint

Fixed issue with merge in imports
  tests/devices/qutrit_mixed/test_qutrit_mixed_apply_operation.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

fix test
  tests/templates/subroutines/arithmetic/test_signed_out_square.py
Due: pylint-test

remove duplicate 2s compl mention
  pennylane/templates/subroutines/arithmetic/signed_out_square.py
Due: pylint

fix capture test
  tests/capture/test_templates.py
Due: pylint-test

ugly solution, do not merge
  doc/_static/templates/state_preparations/partialunarystatepreparation_template.png
  doc/introduction/templates.rst
  pennylane/templates/state_preparations/partial_unary.py
Due: pylint

tmp
  pennylane/templates/state_preparations/partial_unary.py
Due: pylint

try to converge
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

Inline partial helpers locally per maintainer feedback
  pennylane/_functools_partial.py
  pennylane/drawer/draw.py
  pennylane/resource/specs.py
  tach.toml
  tests/drawer/test_draw_catalyst.py
  tests/resource/test_specs_catalyst.py
  tests/test_functools_partial.py
Due: pylint, pylint-test

polish
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
Due: pylint

Update tests/test_typing.py
  tests/test_typing.py
Due: pylint-test

Update pennylane/typing.py
  pennylane/typing.py
Due: pylint

Add example to changelog
  doc/releases/changelog-dev.md
Due: none

doc fixes
  pennylane/core/__init__.py
  pennylane/core/operator/base.py
Due: pylint
