Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

more messing around
  pennylane/gradients/gradient_transform.py
Due: pylint

fix pytest.ini
  tests/pytest.ini
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

lists
  doc/introduction/program_capture_sharp_bits.rst
Due: none

sphonx
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
Due: pylint

fix merge conflict
  pennylane/drawer/tape_mpl.py
Due: pylint

add back warnings to make ci happy
  pennylane/__init__.py
Due: pylint

decomps
  doc/introduction/program_capture_sharp_bits.rst
Due: none

rename template + jit
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/select_pauli_rot.py
  tests/capture/test_templates.py
  tests/templates/test_subroutines/test_select_pauli_rot.py
Due: pylint, pylint-test

added fixes for QROM and MPSPrep
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

update images, changelog
  doc/_static/draw_mpl/max_length1.png
  doc/_static/draw_mpl/max_length2.png
  doc/releases/changelog-dev.md
Due: none

update bloq_registers docs
  pennylane/io/qualtran_io.py
Due: pylint

Add `max_length` to `draw_mpl` (#7128)
  doc/_static/draw_mpl/decimals.png
  doc/_static/draw_mpl/draw_mpl_examples.py
  doc/_static/draw_mpl/level_none.png
  doc/_static/draw_mpl/level_slice.png
  doc/_static/draw_mpl/level_top.png
  doc/_static/draw_mpl/level_user.png
  doc/_static/draw_mpl/main_example.png
  doc/_static/draw_mpl/max_length1.png
  doc/_static/draw_mpl/max_length2.png
  doc/_static/draw_mpl/mid_measure.png
  doc/_static/draw_mpl/postprocessing.png
  doc/_static/draw_mpl/rcparams.png
  doc/_static/draw_mpl/show_all_wires.png
  doc/_static/draw_mpl/sketch_style.png
  doc/_static/draw_mpl/wire_order.png
  doc/_static/draw_mpl/wires_labels.png
  doc/releases/changelog-dev.md
  pennylane/drawer/draw.py
  pennylane/drawer/mpldrawer.py
  pennylane/drawer/tape_mpl.py
  tests/drawer/test_draw_mpl.py
Due: pylint, pylint-test

remove errors
  pennylane/__init__.py
Due: pylint

add pragma no cover
  pennylane/errors/__init__.py
Due: pylint

update run_opt in labs
  pennylane/labs/dla/variational_kak.py
Due: pylint

update variational kak
  pennylane/labs/dla/variational_kak.py
Due: pylint

Address code review
  doc/releases/changelog-dev.md
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

fix pragma no cover usage
  pennylane/errors/__init__.py
Due: pylint

Update doc/code/qml_io.rst
  doc/code/qml_io.rst
Due: none

Update pennylane/io/__init__.py
  pennylane/io/__init__.py
Due: pylint

docstring:
  pennylane/gradients/hadamard_gradient.py
Due: pylint

stopping condition
  pennylane/devices/default_qubit.py
Due: pylint

gradients and training
  doc/introduction/interfaces.rst
Due: none

default value
  pennylane/labs/dla/variational_kak.py
Due: pylint

grads and train
  doc/introduction/interfaces.rst
Due: none

HT gradient - additional modes (#7046)
  doc/releases/changelog-dev.md
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/hadamard_gradient.py
  pennylane/workflow/qnode.py
  tests/gradients/core/test_hadamard_gradient.py
Due: pylint, pylint-test

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
Due: pylint

first ops/__init__.py
  pennylane/ops/__init__.py
Due: pylint

add sample_dtype to SampleMP
  pennylane/ftqc/parametric_midmeasure.py
  pennylane/measurements/sample.py
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

fix ops/__init__.py
  pennylane/ops/__init__.py
Due: pylint

revert changes in null.qubit
  pennylane/devices/null_qubit.py
Due: pylint

Update pennylane/io/qualtran_io.py
  pennylane/io/qualtran_io.py
Due: pylint
