Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

:wrench: refactor (evolve): Dispatch function.
  pennylane/ops/functions/evolve.py
Due: pylint

:memo: docs (evolve): Fix docstring.
  pennylane/ops/functions/evolve.py
Due: pylint

Add `typing.TensorLike` type. (#3675)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/typing.py
  tests/test_typing.py
  tests/tests_passing_pylint.txt
Due: pylint, pylint-tests

:test_tube: tests (evolve): Fix tests.
  tests/ops/functions/test_evolve.py
Due: pylint-tests

:sparkles: feat (Exp): Add Ising decomposition.
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-tests

:sparkles: feat (Exp): Add IsingXY decomposition.
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-tests

:wrench: refactor (Exp): Refactor decomposition.
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-tests

:test_tube: tests (evolve): Fix tests.
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-tests

:test_tube: tests (evolve): Improve tests.
  tests/ops/op_math/test_exp.py
Due: pylint-tests

:memo: docs (evolve): Fix sphinx.
  pennylane/ops/functions/evolve.py
Due: pylint

:rewind: revert (evolve): Remove t and dt from parametrized_evolution.
  pennylane/ops/functions/evolve.py
  pennylane/pulse/parametrized_evolution.py
  tests/ops/functions/test_evolve.py
  tests/pulse/test_convenience_functions.py
  tests/pulse/test_parametrized_evolution.py
  tests/pulse/test_pwc_functions.py
Due: pylint, pylint-tests

:memo: docs (Exp): Improve docstring.
  pennylane/ops/op_math/exp.py
Due: pylint

:wrench: refactor (Exp): Reorder arguments.
  pennylane/ops/op_math/exp.py
Due: pylint

:test_tube: tests (Exp): Improve test.
  tests/ops/op_math/test_exp.py
Due: pylint-tests

add usage note
  pennylane/ops/qubit/special_unitary.py
Due: pylint

Fix doc
  pennylane/gradients/hadamard_gradient.py
Due: pylint

Linting
  pennylane/devices/qubit/preprocess.py
Due: pylint

validate norm and wires at op creation time
  pennylane/devices/default_qubit.py
  pennylane/ops/qubit/state_preparation.py
  tests/devices/test_default_qubit_tf.py
  tests/devices/test_default_qubit_torch.py
  tests/ops/qubit/test_state_prep.py
Due: pylint, pylint-tests

Qubit `create_initial_state` added to the devices module (#3683)
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/__init__.py
  pennylane/devices/qubit/initialize_state.py
  tests/devices/qubit/test_initialize_state.py
  tests/tests_passing_pylint.txt
Due: pylint, pylint-tests

fix use of QSV in test_tape_text
  tests/drawer/test_tape_text.py
Due: pylint-tests

Changed to
  pennylane/ops/snapshot.py
Due: pylint

Docfix/architecture typo (#3707)
  doc/development/guide/architecture.rst
  doc/development/guide/tests.rst
Due: none

fix more tests
  tests/drawer/test_draw.py
  tests/tape/test_tape.py
Due: pylint-tests

:wrench: refactor (Exp): Generalize decomposition to all generators.
  pennylane/operation.py
  pennylane/ops/functions/dot.py
  pennylane/ops/functions/generator.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/op_math/sum.py
  pennylane/ops/qubit/parametric_ops.py
  pennylane/ops/qubit/qchem_ops.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-tests

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/gradients/hadamard_gradient.py
Due: pylint

Review
  pennylane/gradients/hadamard_gradient.py
  tests/returntypes/gradients/test_hadamard_grad.py
Due: pylint, pylint-tests

Updated `map_batch_transform` and `preprocess`
  pennylane/devices/qubit/preprocess.py
  pennylane/transforms/batch_transform.py
Due: pylint

Collecting helpers into preprocess
  pennylane/devices/qubit/preprocess.py
Due: pylint

Update pennylane/devices/qubit/__init__.py
  pennylane/devices/qubit/__init__.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Pylint
  pennylane/gradients/hadamard_gradient.py
Due: pylint

Updated changelog
  doc/releases/changelog-dev.md
Due: none

Reverted back to `AnyWires` for `qml.Snapshot`
  pennylane/ops/snapshot.py
Due: pylint

Flaky added
  tests/measurements/test_classical_shadow.py
Due: pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
