Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: 🐍 pylint · Lint labs test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

remove duplicated test
  tests/transforms/test_cliffordt_transform.py
Due: pylint-test

PR Feedback
  pennylane/templates/embeddings/iqp.py
Due: pylint

cleanup imports
  pennylane/templates/layers/basic_entangler.py
Due: pylint

pylint
  pennylane/templates/layers/basic_entangler.py
Due: pylint

add modified limno18
  pennylane/labs/trotter_error/benchmarks/electronic/data.zip
Due: none

Added files for corrected workflow
  pennylane/labs/condensed_vibrational/__init__.py
  pennylane/labs/condensed_vibrational/qmm_pes_driver.py
  pennylane/labs/condensed_vibrational/qmm_vibrational_class.py
  pennylane/labs/condensed_vibrational/utils.py
Due: pylint

Removed unnecessary files
  pennylane/labs/condensed_vibrational/pes_driver.py
  pennylane/labs/condensed_vibrational/qmmm/H2O.xyz
  pennylane/labs/condensed_vibrational/qmmm/HCN.xyz
  pennylane/labs/condensed_vibrational/qmmm/density.py
  pennylane/labs/condensed_vibrational/qmmm/forcefields/hcn.xml
  pennylane/labs/condensed_vibrational/qmmm/hcn.pdb
  pennylane/labs/condensed_vibrational/qmmm/npt_density.py
  pennylane/labs/condensed_vibrational/qmmm/npt_sampler.py
  pennylane/labs/condensed_vibrational/qmmm/snapshots.py
  pennylane/labs/condensed_vibrational/utils.py
Due: pylint

Decomp
  pennylane/templates/layers/simplified_two_design.py
  tests/templates/layers/test_simplified_twodesign.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

minor bug
  pennylane/templates/layers/basic_entangler.py
Due: pylint

PR Feedback
  pennylane/transforms/decompose.py
Due: pylint

PL control flow
  pennylane/templates/layers/simplified_two_design.py
Due: pylint

Simplify dev comment
  pennylane/transforms/decompose.py
Due: pylint

fixing config =
  pennylane/estimator/estimate.py
  pennylane/estimator/resource_config.py
  pennylane/estimator/templates/qubitize.py
  pennylane/estimator/templates/trotter.py
Due: pylint

Resources estimate fix
  pennylane/templates/layers/simplified_two_design.py
Due: pylint

minor type hinting fix
  pennylane/workflow/qnode.py
Due: pylint

switch to single transform primitive
  pennylane/capture/expand_transforms.py
  pennylane/transforms/core/transform_dispatcher.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

Update pennylane/decomposition/decomposition_graph.py
  pennylane/decomposition/decomposition_graph.py
Due: pylint

Simplify try / except
  pennylane/templates/layers/simplified_two_design.py
Due: pylint

simplify try / except
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/state_preparations/basis_qutrit.py
Due: pylint

Revert "simplify try / except"
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/state_preparations/basis_qutrit.py
Due: pylint

Simplify try / except
  pennylane/templates/embeddings/iqp.py
Due: pylint

Update controlled_ops.py
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

add missing semicolon
  pennylane/io/to_openqasm.py
  tests/io/test_qasm.py
Due: pylint, pylint-test

fix typo
  pennylane/io/qasm_interpreter.py
Due: pylint

[WIP] Adding decomposition to `qml.Toffoli` gate with `qml.TemporaryAND`s (#8549)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/controlled_ops.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint, pylint-test

add note to changelog
  doc/releases/changelog-dev.md
Due: none

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

changelog entry
  doc/releases/changelog-dev.md
Due: none

Filling available decompositions (WIP)
  doc/_static/templates/decompositions/select_decomp_multi_control.png
  pennylane/templates/subroutines/select.py
Due: pylint

IQP embedding graph decomp (#8534)
  doc/releases/changelog-dev.md
  pennylane/templates/embeddings/iqp.py
  tests/templates/embeddings/test_iqp_emb.py
Due: pylint, pylint-test

Disable cache for gridsynth with qjit (#8535)
  doc/releases/changelog-dev.md
  pennylane/transforms/decompositions/clifford_t_transform.py
  tests/transforms/test_cliffordt_transform.py
Due: pylint, pylint-test

Update `rz_phase_gradient` docs (#8536)
  doc/releases/changelog-dev.md
  pennylane/transforms/rz_phase_gradient.py
  tests/transforms/test_rz_phase_gradient.py
Due: pylint, pylint-test

resources
  pennylane/templates/layers/gate_fabric.py
Due: pylint

Decomp
  pennylane/templates/layers/gate_fabric.py
Due: pylint

transform doc fixes
  doc/releases/changelog-dev.md
  pennylane/transforms/batch_input.py
  pennylane/transforms/batch_params.py
  pennylane/transforms/batch_partial.py
  pennylane/transforms/broadcast_expand.py
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/commutation_dag.py
  pennylane/transforms/compile.py
  pennylane/transforms/core/transform.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/core/transform_program.py
  pennylane/transforms/decompose.py
  pennylane/transforms/decompositions/clifford_t_transform.py
  pennylane/transforms/defer_measurements.py
  pennylane/transforms/diagonalize_measurements.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
  pennylane/transforms/intermediate_reps/rowcol.py
  pennylane/transforms/optimization/commute_controlled.py
  pennylane/transforms/optimization/merge_amplitude_embedding.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/optimization/pattern_matching.py
  pennylane/transforms/optimization/remove_barrier.py
  pennylane/transforms/optimization/undo_swaps.py
  pennylane/transforms/qmc.py
  pennylane/transforms/resolve_dynamic_wires.py
  pennylane/transforms/sign_expand/sign_expand.py
  pennylane/transforms/split_non_commuting.py
  pennylane/transforms/split_to_single_terms.py
  pennylane/transforms/tape_expand.py
  pennylane/transforms/unitary_to_rot.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

workflow
  .github/workflows/documentation-tests.yml
Due: none

Test
  pennylane/templates/layers/gate_fabric.py
  tests/templates/layers/test_gate_fabric.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
