Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

fix setters
  pennylane/core/operator/operator2.py
Due: pylint

docs
  pennylane/core/operator/operator2.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

remove fullname, add more quotes
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/class_no_inherited.rst
  doc/_templates/autosummary_core/class.rst
  pennylane/devices/_qubit_device.py
  pennylane/devices/_qutrit_device.py
  pennylane/devices/default_gaussian.py
  pennylane/devices/default_qutrit.py
  pennylane/noise/insert_ops.py
  pennylane/tape/qscript.py
  pennylane/tape/tape.py
Due: pylint

Remove extra arguments
  pennylane/ops/functions/bind_new_parameters.py
  tests/ops/functions/test_bind_new_parameters.py
Due: pylint, pylint-test

Update assert_valid
  pennylane/ops/functions/assert_valid.py
Due: pylint

return from compute_decomp
  tests/ops/functions/test_bind_new_parameters.py
Due: pylint-test

update logic by removing canonicalize_wire_leaf function
  pennylane/core/operator/meta.py
  tests/core/operator/test_operator2_metaclass.py
Due: pylint, pylint-test

add fullname back
  doc/_templates/autosummary/class.rst
  doc/_templates/autosummary/class_no_inherited.rst
  doc/_templates/autosummary_core/class.rst
Due: none

Operator2 support to qp.insert
  pennylane/noise/insert_ops.py
  tests/noise/test_insert_ops.py
Due: pylint, pylint-test

pylint
  pennylane/ops/functions/bind_new_parameters.py
Due: pylint

Remove plxpr gradient execution support (#9682)
  doc/releases/changelog-dev.md
  pennylane/workflow/_capture_qnode.py
  tests/capture/test_capture_qnode.py
  tests/capture/workflow/test_capture_finite_diff.py
Due: pylint, pylint-test

Remove PLxPR execution support
  pennylane/devices/default_qubit.py
  pennylane/devices/device_api.py
  pennylane/devices/null_qubit.py
  pennylane/devices/qubit/dq_interpreter.py
  tests/devices/default_qubit/test_default_qubit_plxpr.py
  tests/devices/test_null_qubit.py
Due: pylint, pylint-test

change error to warning
  doc/conf.py
Due: none

Add tests and fix bugs
  pennylane/core/operator/operator2.py
  pennylane/typing.py
  pennylane/wires.py
  tests/core/operator/test_operator2.py
  tests/core/operator/test_operator_utils.py
  tests/test_typing.py
  tests/test_wires.py
Due: pylint, pylint-test

Fix pytree 2hdf5
  doc/releases/changelog-dev.md
  pennylane/data/attributes/pytree.py
  tests/data/attributes/test_pytree.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

update to new formatting in doctest
  pennylane/templates/state_preparations/partial_unary.py
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

tiny
  pennylane/templates/state_preparations/partial_unary.py
Due: pylint

init change, test
  pennylane/drawer/_add_obj.py
  tests/drawer/test_tape_text.py
Due: pylint, pylint-test

docstrings, remove print
  pennylane/drawer/_add_obj.py
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

some drawing fixes
  pennylane/labs/templates/left_classical_comparator.py
  pennylane/labs/templates/sum_of_slaters2.py
  pennylane/labs/templates/trotter_fragmented.py
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
Due: pylint

undo unrelated
  pennylane/labs/templates/left_classical_comparator.py
  pennylane/labs/templates/trotter_fragmented.py
Due: pylint

add arithmetic dundes
  pennylane/core/operator/operator2.py
Due: pylint

Update pennylane/drawer/_add_obj.py
  pennylane/drawer/_add_obj.py
Due: pylint

tests
  pennylane/core/operator/operator2.py
  tests/core/operator/test_core_operator.py
Due: pylint, pylint-test

tests
  tests/core/operator/test_core_operator.py
Due: pylint-test

Apply suggestion from @albi3ro
  tests/noise/test_insert_ops.py
Due: pylint-test

Draw `QROM`s (#9692)
  doc/releases/changelog-dev.md
  pennylane/drawer/_add_obj.py
  pennylane/labs/templates/sum_of_slaters2.py
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
  pennylane/templates/state_preparations/sum_of_slaters.py
  tests/drawer/test_tape_text.py
Due: pylint, pylint-test

Assert Valid + Operator2 (#9659)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/assert_valid.py
  tests/ops/functions/test_assert_valid.py
Due: pylint, pylint-test

oooops
  tests/devices/qubit/test_dq_interpreter.py
Due: pylint-test

Operator2 support to qp.insert (#9685)
  doc/releases/changelog-dev.md
  pennylane/noise/insert_ops.py
  tests/noise/test_insert_ops.py
Due: pylint, pylint-test

Remove support for abstractifying operators
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
Due: pylint

Extend docstring for fixed_sig
  pennylane/core/operator/operator2.py
Due: pylint

chg to ignore
  doc/conf.py
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
