Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

bring back the good fix and left notes
  pennylane/core/operator/operator2.py
Due: pylint

test repr
  tests/ops/op_math/test_pow2.py
Due: pylint-test

fix
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

making more efficient the extra control trick
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

Fix remaining test
  doc/releases/changelog-dev.md
  tests/transforms/test_combine_global_phases.py
  tests/workflow/interfaces/test_transform_program_integration.py
Due: pylint-test

feat: port `qp.T` to `Operator2` (#9819)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/tape/plxpr_conversion.py
  pennylane/templates/subroutines/arithmetic/temporary_and.py
  tests/capture/test_base_interpreter.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/ops/op_math/test_prod.py
  tests/ops/qubit/test_all_qubit_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

see who failed
  pennylane/capture/base_interpreter.py
Due: pylint

fix
  tests/ops/functions/test_equal.py
Due: pylint-test

Tests
  tests/ops/op_math/test_pow2.py
Due: pylint-test

cl
  doc/releases/changelog-dev.md
Due: none

test involutory, list_decomps
  pennylane/ops/op_math/pow2.py
  tests/decomposition/test_symbolic_decomposition.py
  tests/ops/op_math/test_pow2.py
Due: pylint, pylint-test

add repr back
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Update changelog for legacy operator porting
  doc/releases/changelog-dev.md
Due: none

Changelog updates
  doc/releases/changelog-dev.md
Due: none

fix
  tests/decomposition/conftest.py
  tests/decomposition/test_decomposition_rule.py
Due: pylint-test

fix
  pennylane/core/operator/operator2.py
Due: pylint

split qrom elbows into pre-ladder and main qrom loop
  pennylane/templates/subroutines/qrom.py
Due: pylint

bring back to fix
  pennylane/capture/base_interpreter.py
Due: pylint

improve symbolic op related dispatching
  pennylane/decomposition/resources.py
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/functions/assert_valid.py
Due: pylint

add error
  pennylane/decomposition/symbolic_decomposition.py
Due: pylint

Additional tests for PBCResources
  pennylane/resource/__init__.py
  pennylane/resource/resource.py
  tests/resource/test_mlir_specs.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

patch
  pennylane/ops/functions/assert_valid.py
Due: pylint

remove caching from SX.compute_matrix
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Apply suggestion from @astralcai
  tests/transforms/test_compile.py
Due: pylint-test

Update operation indentation amount
  doc/introduction/inspecting_circuits.rst
  doc/releases/changelog-dev.md
  pennylane/devices/null_qubit.py
  pennylane/devices/tracker.py
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/resource/resource.py
  pennylane/resource/specs.py
  pennylane/templates/core.py
  pennylane/templates/state_preparations/partial_unary.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/workflow/marker.py
  tests/resource/test_resource.py
  tests/resource/test_specs.py
Due: pylint, pylint-test

Simplify `Operator2.__str__` and `Wires.__str__`
  pennylane/circuit_graph.py
  pennylane/core/measurements.py
  pennylane/core/operator/base.py
  pennylane/core/operator/operator2.py
  pennylane/core/qscript.py
  pennylane/devices/default_tensor.py
  pennylane/ftqc/parametric_midmeasure.py
  pennylane/measurements/counts.py
  pennylane/measurements/mutual_info.py
  pennylane/ops/identity.py
  pennylane/ops/mid_measure/measurement_value.py
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/templates/embeddings/angle.py
  pennylane/templates/subroutines/flip_sign.py
  pennylane/templates/subroutines/grover.py
  pennylane/templates/subroutines/permute.py
  pennylane/transforms/transpile.py
  pennylane/wires.py
Due: pylint

Improve base class coverage
  pennylane/resource/resource.py
  tests/resource/test_expression.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

PR feedback
  pennylane/resource/resource.py
  pennylane/resource/specs.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

Port of SX by cursor's Opus 4.8 (#9859)
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/qubit/test_all_qubit_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

remove pow2, refactor pow
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/pow2.py
  tests/decomposition/test_symbolic_decomposition.py
  tests/ops/op_math/test_pow2.py
Due: pylint, pylint-test

self.z
  pennylane/ops/op_math/pow2.py
  tests/ops/op_math/test_pow2.py
Due: pylint, pylint-test

remove legacy decomposition
  pennylane/ops/op_math/pow2.py
  tests/ops/op_math/test_pow2.py
Due: pylint, pylint-test

cleaning
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

override compute methods
  pennylane/ops/op_math/pow2.py
  tests/ops/op_math/test_pow2.py
Due: pylint, pylint-test

Implement recursive dict support for subs and str
  pennylane/resource/resource.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

remove unecessary branch
  pennylane/ops/op_math/pow2.py
Due: pylint

remove unecessary test
  tests/decomposition/test_symbolic_decomposition.py
Due: pylint-test

Apply suggestions from code review
  pennylane/labs/templates/superposition_thc.py
  pennylane/labs/tests/templates/test_left_classical_comparator.py
Due: pylint, labs-pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
