Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Quotes in docstring
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

Pass resource_params to rules
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Docstrings on tests
  tests/ops/op_math/test_change_op_basis.py
Due: pylint-test

docs
  pennylane/labs/estimator_beta/wires_manager.py
Due: pylint

docs + lint
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/estimate.py
  pennylane/labs/tests/estimator_beta/test_estimate.py
Due: pylint, labs-pylint-test

code block
  pennylane/transforms/core/transform.py
Due: pylint

add testing
  pennylane/ops/functions/assert_valid.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

oooops
  pennylane/ops/functions/assert_valid.py
Due: pylint

fix doctest
  pennylane/transforms/core/transform.py
Due: pylint

fix
  pennylane/transforms/core/transform.py
Due: pylint

Upgrades to the wire resource manager for resource estimation in labs (#8996)
  doc/releases/changelog-dev.md
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/wires_manager.py
  pennylane/labs/tests/estimator_beta/wire_manager_tests/test_classes.py
  pennylane/labs/tests/estimator_beta/wire_manager_tests/test_wire_counting.py
Due: pylint, labs-pylint-test

Space in docstring
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

Function was moved
  pennylane/decomposition/decomposition_graph.py
Due: pylint

Function was moved
  pennylane/decomposition/symbolic_decomposition.py
Due: pylint

how about now
  pennylane/decomposition/reconstruct.py
Due: pylint

PR Feedback: use assert_equal
  tests/ops/op_math/test_change_op_basis.py
Due: pylint-test

Update actions versions
  .github/workflows/check_in_artifact.yml
  .github/workflows/create-release.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/documentation-tests.yml
  .github/workflows/format.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/module-validation.yml
  .github/workflows/rc_sync.yml
  .github/workflows/rtd-check.yml
  .github/workflows/sync-main-to-master.yml
  .github/workflows/tests-gpu.yml
  .github/workflows/tests-labs.yml
  .github/workflows/tests.yml
  .github/workflows/unit-test.yml
  .github/workflows/update-durations.yml
  .github/workflows/upload-nightly-rc-release.yml
  .github/workflows/upload-nightly-release.yml
  .github/workflows/upload.yml
Due: none

ooops
  pennylane/ops/functions/assert_valid.py
Due: pylint

Update pennylane/transforms/core/transform.py
  pennylane/transforms/core/transform.py
Due: pylint

Address core failures
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/templates/core.py
  pennylane/templates/state_preparations/superposition.py
  pennylane/templates/subroutines/flip_sign.py
  pennylane/templates/subroutines/grover.py
Due: pylint

fix doc strings
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/estimate.py
Due: pylint

Address test failures
  pennylane/ops/op_math/change_op_basis.py
  pennylane/templates/embeddings/angle.py
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/embeddings/qaoaembedding.py
  pennylane/templates/layers/basic_entangler.py
  pennylane/templates/layers/gate_fabric.py
  pennylane/templates/layers/particle_conserving_u1.py
  pennylane/templates/layers/particle_conserving_u2.py
  pennylane/templates/layers/simplified_two_design.py
  pennylane/templates/layers/strongly_entangling.py
  pennylane/templates/state_preparations/cosine_window.py
  pennylane/templates/subroutines/aqft.py
  pennylane/templates/subroutines/arbitrary_unitary.py
  pennylane/templates/subroutines/hilbert_schmidt.py
  pennylane/templates/subroutines/qchem/all_singles_doubles.py
  pennylane/templates/subroutines/qchem/fermionic_double_excitation.py
  pennylane/templates/subroutines/qchem/fermionic_single_excitation.py
  pennylane/templates/subroutines/qchem/uccsd.py
  pennylane/templates/subroutines/qmc.py
  pennylane/templates/subroutines/time_evolution/approx_time_evolution.py
Due: pylint

fix docs + changelog
  doc/releases/changelog-dev.md
  pennylane/labs/estimator_beta/__init__.py
Due: pylint

clean up transforms/core
  pennylane/tape/tape.py
  pennylane/transforms/__init__.py
  pennylane/transforms/core/_dispatch.py
  pennylane/transforms/core/bound_transform.py
  pennylane/transforms/core/transform.py
Due: pylint

reword
  pennylane/transforms/core/transform.py
Due: pylint

Address test failures
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/templates/state_preparations/arbitrary_state_preparation.py
  pennylane/templates/subroutines/fable.py
Due: pylint

use dummy qnode
  tests/transforms/core/test_transform.py
Due: pylint-test

change external actions
  .github/workflows/create-release.yml
  .github/workflows/format.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/rc_sync.yml
  .github/workflows/tests-gpu.yml
  .github/workflows/tests.yml
  .github/workflows/unit-test.yml
  .github/workflows/upload-nightly-rc-release.yml
  .github/workflows/upload-nightly-release.yml
  .github/workflows/upload.yml
Due: none

exclude it for now
  pennylane/decomposition/reconstruct.py
Due: pylint

unskip
  .github/workflows/documentation-tests.yml
Due: none

cl
  doc/releases/changelog-dev.md
Due: none

Address test failures
  pennylane/templates/state_preparations/mottonen.py
  pennylane/templates/subroutines/prepselprep.py
  pennylane/templates/subroutines/qchem/kupccgsd.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

typo
  pennylane/templates/core.py
Due: pylint

Fix tests
  pennylane/estimator/resource_mapping.py
  pennylane/estimator/templates/subroutines.py
  tests/estimator/templates/test_estimator_subroutines.py
  tests/estimator/test_estimator_mapping.py
Due: pylint, pylint-test

cache suffix
  .github/workflows/tests.yml
Due: none

doc
  doc/releases/changelog-dev.md
Due: none

PR Feedback: split up test
  tests/templates/test_subroutine.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
