Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

resolved conflicts
  doc/releases/changelog-dev.md
  pennylane/spin/__init__.py
  pennylane/spin/lattice.py
  pennylane/spin/spin_hamiltonian.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint, pylint-test

Fix failing tests; suppress deprecation warning
  tests/circuit_graph/test_circuit_graph_hash.py
  tests/pauli/test_conversion.py
  tests/pauli/test_pauli_utils.py
  tests/pytest.ini
Due: pylint-test

Update tests/spin/test_lattice.py
  tests/spin/test_lattice.py
Due: pylint-test

Update changelog
  doc/development/release_notes.md
  doc/releases/changelog-0.38.1.md
  doc/releases/changelog-dev.md
Due: none

spin hamiltonian lattice
  pennylane/spin/lattice.py
  pennylane/spin/spin_hamiltonian.py
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint, pylint-test

spin hamiltonian lattice
  tests/spin/test_spin_hamiltonian.py
Due: pylint-test

Update tests/spin/test_spin_hamiltonian.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint-test

Fixed black
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint-test

merge conflicts and quick fixes
  pennylane/spin/__init__.py
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint, pylint-test

Remove redundant linear combination test
  tests/ops/op_math/test_linear_combination.py
Due: pylint-test

Added Kitaev model Hamiltonian (#6174)
  doc/releases/changelog-dev.md
  pennylane/spin/__init__.py
  pennylane/spin/lattice.py
  pennylane/spin/spin_hamiltonian.py
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint, pylint-test

Update pennylane/tape/qscript.py
  pennylane/tape/qscript.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  pennylane/tape/qscript.py
Due: pylint

Update pennylane/spin/lattice.py
  pennylane/spin/lattice.py
Due: pylint

Add conditional casting for tf
  pennylane/devices/qubit/apply_operation.py
Due: pylint

address most comments
  pennylane/spin/lattice.py
  pennylane/spin/spin_hamiltonian.py
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint, pylint-test

merge confs
  pennylane/spin/lattice.py
Due: pylint

pylint
  pennylane/spin/lattice.py
Due: pylint

Store durations as artifacts
  .github/workflows/tests.yml
Due: none

opqrst
  tests/spin/test_lattice.py
  tests/spin/test_spin_hamiltonian.py
Due: pylint-test

opqrst
  pennylane/spin/__init__.py
Due: pylint

Update pennylane/spin/spin_hamiltonian.py
  pennylane/spin/spin_hamiltonian.py
Due: pylint

address comments
  pennylane/spin/spin_hamiltonian.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
