Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

More unit tests, symbolic specs resources class
  pennylane/resource/resource.py
  tests/resource/test_expression.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Add properties for bkwd compat. May be removed later
  pennylane/operation2.py
Due: pylint

realized a workable ffqram embedding class
  pennylane/templates/embeddings/__init__.py
  pennylane/templates/embeddings/ffqramembedding.py
  tests/templates/embeddings/test_ffqram_emb.py
Due: pylint, pylint-test

added a minimal test file
  tests/templates/embeddings/test_ffqram_emb.py
Due: pylint-test

added implementation
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/tests/estimator_beta/templates/test_subroutines_labs.py
Due: pylint, labs-pylint-test

update test
  pennylane/labs/tests/transforms/test_decomp_rz_phase_gradient.py
Due: pylint, labs-pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

Added tests
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/tests/estimator_beta/templates/test_subroutines_labs.py
Due: pylint, labs-pylint-test

Update pennylane/ops/op_math/condition.py
  pennylane/ops/op_math/condition.py
Due: pylint

isn't this easier?
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
Due: pylint

Deprecate Operator.hash and MeasurementProcess.hash (#9488)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/ftqc/parametric_midmeasure.py
  pennylane/measurements/classical_shadow.py
  pennylane/measurements/counts.py
  pennylane/measurements/measurements.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/vn_entropy.py
  pennylane/operation.py
  pennylane/ops/mid_measure/measurement_value.py
  pennylane/ops/mid_measure/mid_measure.py
  pennylane/ops/mid_measure/pauli_measure.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sum.py
  pennylane/ops/op_math/symbolicop.py
  pennylane/pulse/parametrized_evolution.py
  pennylane/tape/qscript.py
  pennylane/templates/subroutines/controlled_sequence.py
  tests/ftqc/test_parametric_mid_measure.py
  tests/measurements/test_counts.py
  tests/measurements/test_expval.py
  tests/measurements/test_measurements.py
  tests/measurements/test_mutual_info.py
  tests/ops/op_math/test_change_op_basis.py
  tests/ops/op_math/test_composite.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sum.py
  tests/ops/op_math/test_symbolic_op.py
  tests/ops/test_mid_measure.py
  tests/pulse/test_parametrized_evolution.py
  tests/templates/subroutines/test_controlled_sequence.py
  tests/test_operation.py
Due: pylint, pylint-test

Apply suggestion from @albi3ro
  tests/capture/test_capture_cond.py
Due: pylint-test

fix
  tests/capture/test_capture_cond.py
Due: pylint-test

Remove TensorFlow mentions (#9486)
  doc/releases/changelog-dev.md
  pennylane/devices/_legacy_device.py
  pennylane/devices/default_qubit.py
  pennylane/exceptions.py
  pennylane/fourier/reconstruct.py
  pennylane/gradients/finite_difference.py
  pennylane/gradients/parameter_shift.py
  pennylane/math/__init__.py
  pennylane/math/fidelity.py
  pennylane/math/fidelity_gradient.md
  pennylane/math/interface_utils.py
  pennylane/math/is_independent.py
  pennylane/math/multi_dispatch.py
  pennylane/math/quantum.py
  pennylane/math/utils.py
  pennylane/numpy/__init__.py
  pennylane/numpy/tensor.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/optimize/rotosolve.py
  pennylane/workflow/qnode.py
  pennylane/workflow/run.py
Due: pylint

oooops
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
Due: pylint

ooops
  doc/development/deprecations.rst
Due: none

Update doc/development/deprecations.rst
  doc/development/deprecations.rst
Due: none

Deprecate `simplify` for `PauliSentence`, `FermiSentence`, `BoseSentence` (#9487)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/bose/bosonic.py
  pennylane/bose/bosonic_mapping.py
  pennylane/fermi/conversion.py
  pennylane/fermi/fermionic.py
  pennylane/labs/dla/dense_util.py
  pennylane/labs/tests/dla/test_dense_utils.py
  pennylane/liealg/cartan_decomp.py
  pennylane/liealg/center.py
  pennylane/liealg/horizontal_cartan_subalgebra.py
  pennylane/liealg/lie_closure.py
  pennylane/ops/functions/is_commuting.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sprod.py
  pennylane/ops/op_math/sum.py
  pennylane/pauli/pauli_arithmetic.py
  pennylane/qchem/convert_openfermion.py
  pennylane/qchem/number.py
  pennylane/qchem/observable_hf.py
  pennylane/qchem/spin.py
  pennylane/qchem/tapering.py
  pennylane/transforms/decompositions/clifford_t_transform.py
  tests/bose/test_binary_mapping.py
  tests/bose/test_bosonic.py
  tests/bose/test_christiansen_mapping.py
  tests/bose/test_unary_mapping.py
  tests/fermi/test_bravyi_kitaev.py
  tests/fermi/test_fermi_mapping.py
  tests/fermi/test_fermionic.py
  tests/fermi/test_parity_mapping.py
  tests/liealg/test_structure_constants.py
  tests/ops/op_math/test_linear_combination.py
  tests/pauli/test_pauli_arithmetic.py
  tests/qchem/test_hamiltonians.py
  tests/qchem/vibrational/test_christiansen_ham.py
  tests/resource/test_error/test_trotter_error.py
Due: pylint, pylint-test, labs-pylint-test

remove specifying shots on call to qnode (#9469)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/qcut/cutcircuit_mc.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_execution_config.py
  pennylane/workflow/qnode.py
  tests/debugging/test_snapshots.py
  tests/devices/test_tracker.py
  tests/workflow/interfaces/qnode/test_autograd_qnode.py
  tests/workflow/interfaces/qnode/test_torch_qnode.py
  tests/workflow/test_construct_batch.py
  tests/workflow/test_construct_tape.py
  tests/workflow/test_qnode.py
  tests/workflow/test_qnode_legacy.py
Due: pylint, pylint-test

Add error tests
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint-test

Drop the `AbstractOperator` outvar of cond primitives for `qp.cond(pred, qp.gate)` (#9494)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_cond.py
  tests/tape/test_plxpr_conversion.py
Due: pylint, pylint-test

make shots its own fixture
  pennylane/devices/tests/conftest.py
Due: pylint

Format
  pennylane/devices/device_constructor.py
  pennylane/templates/subroutines/arithmetic/incrementer.py
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
  tests/devices/test_device_api.py
  tests/templates/subroutines/arithmetic/test_incrementer.py
  tests/templates/subroutines/arithmetic/test_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint, pylint-test

printing circuit
  pennylane/labs/templates/left_classical_comparator.py
Due: pylint

Break resource analysis specs into its own module
  pennylane/resource/__init__.py
  pennylane/resource/mlir_specs.py
  pennylane/resource/resource.py
  pennylane/resource/specs.py
Due: pylint

qp instead of qml
  pennylane/labs/templates/left_classical_comparator.py
Due: pylint

remove 6 unnecessary salts
  tests/capture/test_capture_cond.py
  tests/debugging/test_snapshots.py
  tests/devices/qubit/test_dq_interpreter.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/measurements/test_probs.py
  tests/templates/subroutines/test_controlled_sequence.py
Due: pylint-test

Assisted by Cursor. update tests to use shots and updated tol fixtures
  pennylane/devices/tests/conftest.py
  pennylane/devices/tests/test_compare_default_qubit.py
  pennylane/devices/tests/test_gates.py
  pennylane/devices/tests/test_gates_with_expval.py
  pennylane/devices/tests/test_gradients_autograd.py
  pennylane/devices/tests/test_gradients_jax.py
  pennylane/devices/tests/test_gradients_torch.py
  pennylane/devices/tests/test_measurements.py
  pennylane/devices/tests/test_properties.py
  pennylane/devices/tests/test_return_system.py
  pennylane/devices/tests/test_templates.py
  pennylane/devices/tests/test_tracker.py
  pennylane/devices/tests/test_wires.py
Due: pylint

Add broadcasting stuff; add wires handling to constructor
  pennylane/operation2.py
Due: pylint

Add single_qubit_zyz_angles to replace single_qubit_rot_angles
  pennylane/__init__.py
  pennylane/ftqc/operations.py
  pennylane/operation.py
  pennylane/ops/functions/__init__.py
  pennylane/ops/functions/single_qubit_zyz_angles.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/transforms/optimization/single_qubit_fusion.py
  tests/capture/transforms/test_capture_single_qubit_fusion.py
  tests/ftqc/test_decomposition.py
  tests/ftqc/test_operations.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/qubit/test_all_qubit_ops.py
Due: pylint, pylint-test

Assisted by Cursor: fix other device.shots uses
  pennylane/devices/tests/test_compare_default_qubit.py
  pennylane/devices/tests/test_gradients_autograd.py
  pennylane/devices/tests/test_gradients_jax.py
  pennylane/devices/tests/test_gradients_torch.py
  pennylane/devices/tests/test_measurements.py
  pennylane/devices/tests/test_properties.py
  pennylane/devices/tests/test_templates.py
Due: pylint

Apply suggestion from @albi3ro
  doc/releases/changelog-dev.md
Due: none

docs
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

fix small typo and add reference to docs
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/tests/estimator_beta/templates/test_subroutines_labs.py
Due: pylint, labs-pylint-test

postfix
  pennylane/_version.py
Due: pylint

Update rng_salt version to 0.46.0 (#9477)
  tests/capture/test_capture_cond.py
  tests/debugging/test_snapshots.py
  tests/devices/qubit/test_dq_interpreter.py
  tests/gradients/core/test_gradient_transform.py
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/measurements/test_expval.py
  tests/measurements/test_probs.py
  tests/pytest.ini
  tests/templates/subroutines/test_controlled_sequence.py
  tests/workflow/interfaces/execute/test_jax.py
  tests/workflow/interfaces/qnode/test_jax_qnode.py
Due: pylint-test

Address code review
  pennylane/labs/estimator_beta/templates/subroutines.py
Due: pylint
