Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

update deprecations and change log
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
Due: none

remove missed reference to qml.ops.X in tests
  tests/gradients/parameter_shift/test_cv_gradients.py
Due: pylint-test

Updated changelog
  doc/releases/changelog-dev.md
Due: none

Merge v0.32 with master (#4532)
  doc/releases/changelog-0.32.0.md
  setup.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Removed warning imports
  pennylane/measurements/measurements.py
  pennylane/measurements/mid_measure.py
Due: pylint

Update tests
  tests/measurements/test_measurements.py
Due: pylint-test

removed missed test for unwrap
  tests/tape/test_qscript.py
Due: pylint-test

tweak docstring
  pennylane/templates/tensornetworks/mps.py
Due: pylint

add wires property to qnode
  pennylane/qnode.py
  tests/test_qnode.py
Due: pylint, pylint-test

add wires to the new device API
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/experimental/device_api.py
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/experimental/test_device_api.py
Due: pylint, pylint-test

remove new device API changes from this PR
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/experimental/device_api.py
Due: pylint

use int8 as samples instead of bool8
  pennylane/devices/qubit/sampling.py
  tests/devices/qubit/test_sampling.py
  tests/measurements/test_counts.py
Due: pylint, pylint-test

changelog; docstring fix
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/sampling.py
Due: pylint

fix test for TF 2.13
  tests/measurements/test_probs.py
Due: pylint-test

pylint fix
  tests/devices/experimental/test_device_api.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

update int8 numeric type where it matters
  pennylane/interfaces/jax_jit.py
  pennylane/interfaces/tensorflow_autograph.py
  pennylane/measurements/sample.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
Due: pylint, pylint-test

fix more typecheck tests
  tests/measurements/test_sample.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint-test

Add QuadX and QuadP to data/attributes/operator
  pennylane/data/attributes/operator/operator.py
Due: pylint

remove tape.Unwrap from test
  tests/interfaces/test_tensorflow.py
Due: pylint-test

fix some tests and documentation
  pennylane/interfaces/jacobian_products.py
  tests/interfaces/test_jacobian_products.py
  tests/logging/test_logging_autograd.py
  tests/pytest.ini
Due: pylint, pylint-test

just return int64
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/sampling.py
  pennylane/interfaces/jax_jit.py
  pennylane/interfaces/tensorflow_autograph.py
  pennylane/measurements/sample.py
  tests/devices/qubit/test_sampling.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
  tests/measurements/test_sample.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

update number function
  pennylane/qchem/number.py
Due: pylint

convert to numpy parameters uses bind_new_parameters
  doc/releases/changelog-dev.md
  pennylane/transforms/convert_to_numpy_parameters.py
Due: pylint

fix ProbabilityMP.process_state with tf.function
  doc/releases/changelog-dev.md
  pennylane/measurements/probs.py
  tests/measurements/test_probs.py
Due: pylint, pylint-test

add eigvals test
  tests/transforms/test_convert_to_numpy_parameters.py
Due: pylint-test

fix autograd test
  tests/interfaces/test_autograd_qnode.py
Due: pylint-test

Fixed test
  tests/measurements/test_measurements.py
Due: pylint-test

minor documentation changes to device api
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/device_api.py
Due: pylint

ignore hash/eq warnings until they are removed
  tests/pytest.ini
Due: none

minor test fix and sphinx problem
  pennylane/devices/experimental/device_api.py
  tests/devices/experimental/test_device_api.py
Due: pylint, pylint-test

update fermionic dipole
  pennylane/qchem/dipole.py
Due: pylint

Added single MV support for MPs
  pennylane/_device.py
  pennylane/_qubit_device.py
  pennylane/_qutrit_device.py
  pennylane/devices/qubit/measure.py
  pennylane/interfaces/jax.py
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/measurements.py
  pennylane/measurements/probs.py
  pennylane/measurements/sample.py
  pennylane/measurements/var.py
  pennylane/tape/qscript.py
  pennylane/transforms/convert_to_numpy_parameters.py
Due: pylint

update Controlled generator for new operator arithmetic
  pennylane/operation.py
  pennylane/ops/op_math/controlled.py
Due: pylint

fix embeddings
  pennylane/ops/functions/bind_new_parameters.py
Due: pylint

extending to qfunc
  pennylane/ops/op_math/controlled.py
  prueba.py
Due: pylint
