Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: labs-pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

doc changes
  doc/releases/changelog-dev.md
Due: none

yummer
  pennylane/io/qualtran_io.py
Due: pylint

add doc
  doc/releases/changelog-dev.md
  pennylane/io/qualtran_io.py
Due: pylint

Update tests/test_allocation.py
  tests/test_allocation.py
Due: pylint-test

black
  pennylane/io/qualtran_io.py
Due: pylint

Fix `Prod.simplify()` (#7671)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/prod.py
  tests/ops/op_math/test_prod.py
Due: pylint, pylint-test

update taylor_coeffs
  pennylane/qchem/vibrational/taylor_ham.py
Due: pylint

Add missing lightning devices to program capture docs
  doc/news/program_capture_sharp_bits.rst
Due: none

initial commit
  pennylane/compiler/python_compiler/transforms/__init__.py
  pennylane/compiler/python_compiler/transforms/combine_global_phases.py
  tests/python_compiler/transforms/test_transform_combine_global_phases.py
Due: pylint, pylint-test

Small wording change
  doc/news/program_capture_sharp_bits.rst
Due: none

Update changelog
  doc/releases/changelog-dev.md
Due: none

Basic custom gates
  pennylane/io/qasm_interpreter.py
  tests/io/qasm_interpreter/custom_gates.qasm
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint, pylint-test

Call a gate within a gate
  tests/io/qasm_interpreter/custom_gates.qasm
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint-test

Format
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint-test

borrow context
  pennylane/allocation.py
Due: pylint

skkip h
  doc/code/qml.rst
  pennylane/devices/__init__.py
Due: pylint

docs
  pennylane/io/qualtran_io.py
Due: pylint

Docs
  pennylane/io/qualtran_io.py
Due: pylint

Docs
  doc/releases/changelog-dev.md
  pennylane/io/io.py
Due: pylint

Built-in constants
  pennylane/io/qasm_interpreter.py
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint, pylint-test

formatting docstrings
  pennylane/labs/trotter_error/product_formulas/error.py
  pennylane/labs/trotter_error/product_formulas/product_formula.py
Due: pylint

another doc update
  pennylane/labs/trotter_error/product_formulas/product_formula.py
Due: pylint

caching for right-nested functions
  pennylane/labs/trotter_error/product_formulas/bch.py
Due: pylint

Update pennylane/labs/resource_estimation/ops/identity.py
  pennylane/labs/resource_estimation/ops/identity.py
Due: pylint

Update pennylane/labs/resource_estimation/ops/qubit/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/__init__.py
Due: pylint

Update pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
Due: pylint

Update pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
  pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

update type hints
  pennylane/labs/trotter_error/product_formulas/bch.py
Due: pylint

add shift lemma methods
  pennylane/ops/op_math/decompositions/grid_problems.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
