Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

legacy DQ coverage with Hamiltonians
  tests/devices/test_default_qubit_legacy.py
Due: pylint-test

linear combination coverage
  tests/ops/op_math/test_linear_combination.py
Due: pylint-test

linear combination coverage
  pennylane/ops/op_math/linear_combination.py
  tests/ops/op_math/test_linear_combination.py
Due: pylint, pylint-test

black formatting
  pennylane/ops/op_math/linear_combination.py
  tests/ops/op_math/test_linear_combination.py
Due: pylint, pylint-test

Link to demo in `SpecialUnitary` docstring (#5376)
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/special_unitary.py
  pennylane/optimize/qng.py
Due: pylint

operation coverage
  tests/test_operation.py
Due: pylint-test

tests for coverage
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

black formatting
  tests/test_operation.py
Due: pylint-test

pylint
  tests/test_operation.py
Due: pylint-test

make pylint happy
  tests/test_operation.py
Due: pylint-test

parameter shift coverage
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint, pylint-test

parameter shift coverage
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint-test

black formatting
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint-test

adjoint matrix hamiltonian
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_exp.py
  tests/pauli/test_pauli_interface.py
  tests/pauli/test_pauli_utils.py
Due: pylint-test

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

black formatting
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/pauli/test_pauli_interface.py
Due: pylint-test

add coverage to symbolic op matrix with legacy H as base
  tests/ops/op_math/test_pow_op.py
Due: pylint-test

Refactor `cache_execute()` as a transform (#5318)
  doc/releases/changelog-dev.md
  pennylane/workflow/__init__.py
  pennylane/workflow/execution.py
  pennylane/workflow/interfaces/autograd.py
  pennylane/workflow/jacobian_products.py
  tests/interfaces/test_autograd.py
  tests/interfaces/test_jax.py
  tests/interfaces/test_jax_jit.py
  tests/interfaces/test_tensorflow.py
  tests/interfaces/test_torch.py
  tests/logging/test_logging_autograd.py
  tests/workflow/test_cache_transform.py
Due: pylint, pylint-test

adding coverage for grouping module
  pennylane/pauli/conversion.py
  tests/pauli/grouping/test_pauli_group_observables.py
  tests/pauli/test_conversion.py
  tests/pauli/test_pauli_interface.py
  tests/pauli/test_pauli_utils.py
Due: pylint, pylint-test

adding more test coverage
  tests/devices/test_preprocess.py
  tests/ops/functions/test_equal.py
  tests/ops/qubit/test_attributes.py
  tests/pauli/test_conversion.py
  tests/pauli/test_pauli_interface.py
  tests/pauli/test_pauli_utils.py
Due: pylint-test

coverage for exp and default qubit legacy
  pennylane/devices/default_qubit_legacy.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

remove duplicate code
  pennylane/pauli/utils.py
Due: pylint

coverage for conversion and default qubit legacy
  tests/ops/qubit/test_sparse.py
  tests/pauli/test_conversion.py
Due: pylint-test

Fix test case
  tests/pauli/test_conversion.py
Due: pylint-test

Update pennylane/workflow/return_types_spec.rst
  pennylane/workflow/return_types_spec.rst
Due: none

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

initial developement of mini-qubit
  pennylane/devices/mini_qubit.py
  pennylane/devices/preprocess.py
  pennylane/measurements/expval.py
  pennylane/measurements/sample.py
  pennylane/workflow/interfaces/autograd.py
  setup.py
  tests/interfaces/default_qubit_2_integration/test_autograd_default_qubit_2.py
Due: pylint, pylint-test

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/external.txt
  .github/stable/tf.txt
Due: none

Remove redundant sum check to fix backprop CUDA error
  pennylane/devices/qubit/measure.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

fix qnspsa
  doc/releases/changelog-dev.md
  pennylane/optimize/adaptive.py
  pennylane/optimize/qnspsa.py
  tests/optimize/test_adaptive.py
  tests/optimize/test_qnspsa.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

update URL
  pennylane/data/data_manager/__init__.py
Due: pylint

Coerce torch tensors to GPU if mixed-mode C-G data used
  pennylane/devices/qubit/measure.py
  pennylane/math/multi_dispatch.py
  pennylane/math/single_dispatch.py
Due: pylint
