Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

try fix inf recursion
  pennylane/decomposition/decomposition_rule.py
Due: pylint

rm unnecessary chagnes
  pennylane/ops/op_math/change_op_basis.py
  tests/templates/subroutines/test_prepselprep.py
  tests/transforms/test_decomp_inspector.py
Due: pylint, pylint-test

coverage
  pennylane/ops/op_math/change_op_basis.py
  tests/ops/op_math/test_change_op_basis.py
Due: pylint, pylint-test

use original definition
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

del extra line
  pennylane/ops/functions/assert_valid.py
Due: pylint

[sc-128355]
  pennylane/ops/functions/assert_valid.py
  tests/ops/functions/test_assert_valid.py
Due: pylint, pylint-test

standard abs resource
  pennylane/decomposition/resources.py
Due: pylint

explicitly treat COB branch
  pennylane/decomposition/decomposition_rule.py
Due: pylint

more reduction
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

fix
  pennylane/ops/op_math/change_op_basis.py
  pennylane/ops/op_math/composite2.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

clean up
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

self-review addressed
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/arithmetic/incrementer.py
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_square.py
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_incrementer.py
Due: pylint, pylint-test

Fix work_wires being dropped in plxpr roundtrip
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
  pennylane/ops/op_math/controlled2.py
  tests/ops/op_math/test_symbolic_op2_capture.py
Due: pylint, pylint-test

Apply suggestion from @Qottmann
  doc/releases/changelog-dev.md
Due: none

self-review addressed
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
  tests/ops/op_math/test_symbolic_op2_capture.py
Due: pylint, pylint-test

Preserve work_wire_type verbatim for a fresh single control wrap
  pennylane/ops/op_math/controlled2.py
Due: pylint

Namespace controlled primitive params to avoid argname collisions
  pennylane/core/operator/operator2.py
  pennylane/ops/op_math/controlled2.py
  tests/ops/op_math/test_symbolic_op2_capture.py
Due: pylint, pylint-test

Make collect-reorder-replay adder helpers capture-safe
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/signed_out_square.py
Due: pylint

Add capture regression tests for the work-wire fixes
  tests/ops/op_math/test_symbolic_op2_capture.py
  tests/templates/subroutines/arithmetic/test_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_signed_out_square.py
Due: pylint-test

Expand changelog for the work-wire capture fixes
  doc/releases/changelog-dev.md
Due: none

Remove capture xfails now unblocked by #10066
  tests/templates/subroutines/arithmetic/test_out_square.py
  tests/templates/subroutines/arithmetic/test_signed_out_square.py
Due: pylint-test

improvements
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

Restore qjit/capture decomposition structure in Operator2 Incrementer
  pennylane/templates/subroutines/arithmetic/incrementer.py
  tests/templates/subroutines/arithmetic/test_incrementer.py
Due: pylint, pylint-test

Use pl2do marker for capture-blocked C(Incrementer) cases
  tests/templates/subroutines/arithmetic/test_incrementer.py
Due: pylint-test

simplification
  pennylane/ops/op_math/change_op_basis.py
  pennylane/ops/op_math/composite2.py
Due: pylint

only explicitly construct when COB
  pennylane/ops/op_math/adjoint2.py
  pennylane/ops/op_math/pow2.py
Due: pylint

rm duplicated data
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

improve assert
  pennylane/ops/functions/assert_valid.py
Due: pylint

Debug imports
  tests/ops/op_math/test_composite_op2.py
Due: pylint-test

remove _emit_two_body_isingzz; inline ctrl(IsingZZ) at call sites
  pennylane/templates/subroutines/time_evolution/_trotter_utils.py
  pennylane/templates/subroutines/time_evolution/trotter_cdf.py
  pennylane/templates/subroutines/time_evolution/trotter_cgf.py
  tests/templates/subroutines/time_evolution/test_trotter_cdf.py
  tests/templates/subroutines/time_evolution/test_trotter_cgf.py
Due: pylint, pylint-test

coverage 1/2
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

coverage 2/2
  tests/math/test_basic_math.py
Due: pylint-test

simplify _emit_one_body_rz via IsingZZ and ctrl(RZ)
  pennylane/templates/subroutines/time_evolution/_trotter_utils.py
  pennylane/templates/subroutines/time_evolution/trotter_cdf.py
  pennylane/templates/subroutines/time_evolution/trotter_cgf.py
  tests/templates/subroutines/time_evolution/test_trotter_cdf.py
  tests/templates/subroutines/time_evolution/test_trotter_cgf.py
Due: pylint, pylint-test

use ctrl(...) instead of _ctrl_abstract in Trotter resource counts
  pennylane/templates/subroutines/time_evolution/trotter_cdf.py
  pennylane/templates/subroutines/time_evolution/trotter_cgf.py
Due: pylint

revert test
  tests/ops/qubit/test_state_prep.py
Due: pylint-test

use floor_log2
  pennylane/io/qasm_interpreter.py
  pennylane/io/qualtran_io.py
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/templates/state_preparations/partial_unary.py
  pennylane/templates/tensornetworks/mera.py
Due: pylint

Import
  tests/ops/op_math/test_composite_op2.py
Due: pylint-test

improve code organization in equal.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/functions/equal.py
Due: pylint
