Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Add test for tracer wires
  pennylane/ops/functions/equal.py
  tests/operation2/test_operation2_equality.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

review
  doc/releases/changelog-dev.md
  pennylane/labs/tests/templates/test_sum_of_slaters2.py
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint, labs-pylint-test

Add to list in docs
  pennylane/gradients/__init__.py
Due: pylint

fix
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

Use different seed for classical shadow in the doc (#9582)
  pennylane/measurements/classical_shadow.py
Due: pylint

coverage
  tests/math/test_init.py
Due: pylint-test

fix imports, changelog
  doc/releases/changelog-dev.md
  pennylane/core/measurements.py
  pennylane/measurements/counts.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/null_measurement.py
  pennylane/measurements/probs.py
  pennylane/measurements/process_samples.py
  pennylane/measurements/purity.py
  pennylane/measurements/sample.py
  pennylane/measurements/state.py
  pennylane/measurements/var.py
  pennylane/measurements/vn_entropy.py
Due: pylint

Add `Operator2` support to `qp.equal` (#9529)
  doc/releases/changelog-dev.md
  pennylane/operation2.py
  pennylane/ops/functions/equal.py
  tests/operation2/test_operation2.py
  tests/operation2/test_operation2_equality.py
Due: pylint, pylint-test

dummy files in measurements module
  pennylane/measurements/measurements.py
  pennylane/measurements/shots.py
Due: pylint

Debug Sphinx
  pennylane/gradients/parameter_shift.py
Due: pylint

add ruff to our format.yml workflow
  .github/workflows/format.yml
Due: none

try this
  .github/workflows/format.yml
  pyproject.toml
Due: none

add note
  pyproject.toml
Due: none

change name of workflow
  .github/workflows/format.yml
Due: none

seed the missing tests in gradients finite diff
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
Due: pylint-test

More format testing
  pennylane/resource/resource.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

Forgot to make format
  pennylane/resource/resource.py
Due: pylint

fix
  pennylane/capture/__init__.py
  pennylane/estimator/compact_hamiltonian.py
  pennylane/labs/estimator_beta/wires_manager/wire_counting.py
  pennylane/labs/phox/training.py
  pennylane/math/fidelity.py
  pyproject.toml
Due: pylint

Add program capture support to Operator2
  pennylane/operation2.py
Due: pylint

Add logic for deleting eqns for operators that are data
  pennylane/operation2.py
Due: pylint

Fix 2-CNOT decomposition TracerArrayConversionError under qjit (#9520)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
  tests/ops/op_math/test_decompositions.py
Due: pylint, pylint-test

try to get rid of isort
  .github/workflows/format.yml
  pyproject.toml
Due: none

try to get rid of isort
  .github/workflows/format.yml
Due: none

Pylint
  doc/releases/changelog-dev.md
  pennylane/resource/resource.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

Apply suggestion from @andrijapau
  .github/workflows/format.yml
Due: none

Put is_baseclass back
  pennylane/operation2.py
Due: pylint

fix
  pyproject.toml
Due: none

Actually, many of them are not even testing numeric accuracy. So skip them
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
Due: pylint-test

Format
  pennylane/operation2.py
  tests/gradients/parameter_shift/test_parameter_frequencies.py
Due: pylint, pylint-test

Fix markdown rendering in changelog
  doc/releases/changelog-dev.md
Due: none

add non-controversial sim
  pennylane/io/qualtran_io.py
  pennylane/qchem/tapering.py
  pennylane/resource/mlir_specs.py
  pennylane/workflow/qnode.py
  pyproject.toml
Due: pylint

add SoSData docstring
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

fix
  pennylane/gradients/parameter_shift_hessian.py
  pennylane/transforms/decompose.py
Due: pylint

fix keys one
  pennylane/bose/bosonic.py
  pennylane/compiler/compiler.py
  pennylane/data/attributes/dictionary.py
  pennylane/data/data_manager/__init__.py
  pennylane/data/data_manager/foldermap.py
  pennylane/fermi/fermionic.py
  pennylane/io/qasm_interpreter.py
  pennylane/labs/tests/dla/test_dense_utils.py
  pennylane/labs/trotter_error/product_formulas/bch.py
  pennylane/labs/trotter_error/realspace/realspace_coefficients.py
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
  pennylane/liealg/involutions.py
  pennylane/logging/decorators.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sum.py
  pennylane/pauli/pauli_vspace.py
  pennylane/qchem/convert.py
  pennylane/resource/expression.py
  pennylane/resource/mlir_specs.py
Due: pylint, labs-pylint-test

Handle real-valued phases with `RY`-type rotations in state preparations (#9561)
  doc/releases/changelog-dev.md
  pennylane/math/__init__.py
  pennylane/templates/state_preparations/mottonen.py
  pennylane/templates/state_preparations/multiplexer_state_prep.py
  tests/io/test_qasm.py
  tests/math/test_init.py
  tests/templates/state_preparations/test_mottonen_state_prep.py
  tests/templates/state_preparations/test_multiplexer_state_prep.py
Due: pylint, pylint-test

Whoops wrong module
  doc/releases/changelog-dev.md
Due: none
