Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Add performance warning for defualt.tnesor
  pennylane/devices/default_tensor.py
Due: pylint

ResourceRot
  pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_parametric_ops_single_qubit.py
Due: pylint

making resource_rep static
  pennylane/labs/resource_estimation/resource_constructor.py
  pennylane/labs/tests/resource_estimation/test_resource_constructor.py
Due: pylint

6285 typos
  pennylane/tape/qscript.py
Due: pylint

some changes
  pennylane/math/angle_solver.py
  tests/math/test_angle_solver.py
Due: pylint, pylint-test

Fixind doc for PR 6182
  pennylane/templates/subroutines/qubitization.py
Due: pylint

6021 typos
  pennylane/ops/qubit/state_preparation.py
  pennylane/templates/embeddings/basis.py
Due: pylint

suggestion, pytrees
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled.py
Due: pylint

fixing bug extra operators
  doc/releases/changelog-0.39.0.md
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_prod.py
Due: pylint, pylint-test

Update changelog-0.39.0.md
  doc/releases/changelog-0.39.0.md
Due: none

minor
  doc/releases/changelog-0.39.0.md
Due: none

Fix minor issues in device docs
  doc/development/legacy_plugins.rst
  doc/development/plugins.rst
Due: none

one line change
  pennylane/math/utils.py
Due: pylint

[BUGFIX] `shadow_expval` doesn't work with parameter broadcasting (#6464)
  doc/releases/changelog-0.39.0.md
  pennylane/devices/default_qubit.py
  tests/measurements/test_classical_shadow.py
  tests/transforms/core/test_transform_dispatcher.py
  tests/workflow/test_construct_batch.py
Due: pylint, pylint-test

updating ResourceQFT and friends with static methods
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/ops/__init__.py
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
  pennylane/labs/resource_estimation/ops/qubit/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
  pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
  pennylane/labs/resource_estimation/templates/resource_qft.py
  pennylane/labs/tests/resource_estimation/ops/op_math/test_controlled_ops.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_non_parametric_ops.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_parametric_ops_single_qubit.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_qft.py
Due: pylint

6410 docstring fix
  pennylane/drawer/draw.py
Due: pylint

clarifications
  pennylane/math/angle_solver.py
Due: pylint

Add initial non-MCM support to dynamic_one_shot
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Update rc_sync.yml
  .github/workflows/rc_sync.yml
Due: none

more
  pennylane/qchem/structure.py
Due: pylint

6277 add removal version
  pennylane/ops/functions/iterative_qpe.py
  pennylane/shadows/transforms.py
  pennylane/templates/broadcast.py
Due: pylint

deocomp -> decomp
  doc/development/deprecations.rst
  doc/releases/changelog-0.39.0.md
  tests/ops/op_math/test_solovay_kitaev.py
Due: pylint-test

5911 small typo
  pennylane/qinfo/transforms.py
Due: pylint

ResourceSWAP
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
Due: pylint

some doc fix regarding op
  doc/development/adding_operators.rst
  pennylane/ops/op_math/controlled_decompositions.py
  tests/data/attributes/operator/test_operator.py
  tests/math/test_expectation_value.py
  tests/noise/test_conditionals.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

we be -> will be
  doc/development/deprecations.rst
Due: none

update to static methods
  pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

fixing S tests
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_non_parametric_ops.py
Due: pylint

remove qnodes
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_prod.py
Due: pylint-test

Update doc/releases/changelog-0.39.0.md
  doc/releases/changelog-0.39.0.md
Due: none

apply format and add doc
  pennylane/devices/default_tensor.py
Due: pylint

5911 add comma to mutual_info dep message in tests
  tests/measurements/test_mutual_info.py
Due: pylint-test

minor docs updates in spin module
  pennylane/spin/lattice.py
  pennylane/spin/spin_hamiltonian.py
Due: pylint

fix indentation typo
  pennylane/spin/lattice.py
Due: pylint

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

suggestions
  doc/releases/changelog-0.39.0.md
Due: none

Typo fix (#6479)
  doc/development/adding_operators.rst
  doc/development/deprecations.rst
  doc/releases/changelog-0.39.0.md
  pennylane/ops/op_math/controlled_decompositions.py
  tests/data/attributes/operator/test_operator.py
  tests/math/test_expectation_value.py
  tests/noise/test_conditionals.py
  tests/ops/op_math/test_solovay_kitaev.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

Misc. changes to changelog
  doc/releases/changelog-0.39.0.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
