Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

new balck tests
  tests/devices/test_default_qutrit_mixed.py
  tests/math/test_basic_math.py
  tests/math/test_density_matrices.py
  tests/math/test_entropies_math.py
  tests/math/test_expectation_value.py
  tests/math/test_fidelity_math.py
  tests/math/test_functions.py
  tests/math/test_init.py
  tests/math/test_multi_dispatch.py
  tests/math/test_trace_distance_math.py
  tests/measurements/test_probs.py
  tests/measurements/test_state.py
  tests/ops/functions/test_bind_new_parameters.py
  tests/optimize/test_adaptive.py
  tests/templates/test_subroutines/test_kupccgsd.py
  tests/transforms/test_split_to_single_terms.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Apply suggestions from code review
  pennylane/labs/dla/cartan_subalgebra.py
  pennylane/labs/dla/structure_constants_dense.py
  pennylane/pauli/dla/util.py
Due: pylint

Linting
  pennylane/transforms/defer_measurements.py
Due: pylint

Coverage
  pennylane/transforms/defer_measurements.py
  tests/capture/transforms/test_capture_defer_measurements.py
Due: pylint, pylint-test

Minor warning fix
  pennylane/transforms/defer_measurements.py
Due: pylint

extra tests
  pennylane/templates/state_preparations/state_prep_mps.py
  tests/templates/test_state_preparations/test_state_prep_mps.py
Due: pylint, pylint-test

change log
  doc/releases/changelog-dev.md
Due: none

running most recent black
  pennylane/bose/__init__.py
  pennylane/data/base/attribute.py
  pennylane/data/data_manager/progress/_default/term.py
  pennylane/devices/modifiers/simulator_tracking.py
  pennylane/devices/modifiers/single_tape_support.py
  pennylane/fermi/__init__.py
  pennylane/labs/resource_estimation/ops/op_math/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/__init__.py
  pennylane/labs/resource_estimation/templates/__init__.py
  pennylane/pauli/__init__.py
  pennylane/pauli/pauli_interface.py
  pennylane/pauli/utils.py
  pennylane/qchem/openfermion_pyscf.py
  pennylane/resource/error/trotter_error.py
  pennylane/transforms/core/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/zx/__init__.py
  pennylane/workflow/_cache_transform.py
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_tape.py
  pennylane/workflow/get_best_diff_method.py
  pennylane/workflow/resolution.py
  tests/devices/test_default_qutrit_mixed.py
  tests/math/test_basic_math.py
  tests/math/test_density_matrices.py
  tests/math/test_entropies_math.py
  tests/math/test_expectation_value.py
  tests/math/test_fidelity_math.py
  tests/math/test_functions.py
  tests/math/test_init.py
  tests/math/test_multi_dispatch.py
  tests/math/test_trace_distance_math.py
  tests/measurements/test_probs.py
  tests/measurements/test_state.py
  tests/optimize/test_adaptive.py
  tests/templates/test_subroutines/test_kupccgsd.py
  tests/transforms/test_split_to_single_terms.py
Due: pylint, pylint-test

initial commit
  pennylane/resource/specs.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/qnode.py
Due: pylint

doc: changelog
  doc/releases/changelog-dev.md
Due: none

black
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

fix: update _validate_diff_method
  pennylane/workflow/qnode.py
Due: pylint

Running most recent black (#6897)
  doc/releases/changelog-dev.md
  pennylane/bose/__init__.py
  pennylane/data/base/attribute.py
  pennylane/data/data_manager/progress/_default/term.py
  pennylane/devices/modifiers/simulator_tracking.py
  pennylane/devices/modifiers/single_tape_support.py
  pennylane/fermi/__init__.py
  pennylane/labs/resource_estimation/ops/op_math/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/__init__.py
  pennylane/labs/resource_estimation/templates/__init__.py
  pennylane/pauli/__init__.py
  pennylane/pauli/pauli_interface.py
  pennylane/pauli/utils.py
  pennylane/qchem/openfermion_pyscf.py
  pennylane/resource/error/trotter_error.py
  pennylane/transforms/core/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/zx/__init__.py
  pennylane/workflow/_cache_transform.py
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_tape.py
  pennylane/workflow/get_best_diff_method.py
  pennylane/workflow/resolution.py
  tests/devices/test_default_qutrit_mixed.py
  tests/math/test_basic_math.py
  tests/math/test_density_matrices.py
  tests/math/test_entropies_math.py
  tests/math/test_expectation_value.py
  tests/math/test_fidelity_math.py
  tests/math/test_functions.py
  tests/math/test_init.py
  tests/math/test_multi_dispatch.py
  tests/math/test_trace_distance_math.py
  tests/measurements/test_probs.py
  tests/measurements/test_state.py
  tests/optimize/test_adaptive.py
  tests/templates/test_subroutines/test_kupccgsd.py
  tests/transforms/test_split_to_single_terms.py
Due: pylint, pylint-test

local random
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

Update pennylane/workflow/resolution.py
  pennylane/workflow/resolution.py
Due: pylint

fix: Update test_logging_autograd.py
  tests/logging/test_logging_autograd.py
Due: pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update tests/workflow/interfaces/execute/test_autograd.py
  tests/workflow/interfaces/execute/test_autograd.py
Due: pylint-test

Update tests/logging/test_logging_autograd.py
  tests/logging/test_logging_autograd.py
Due: pylint-test

fixing jitting with device prng key
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint, pylint-test

update vibrational class
  pennylane/qchem/vibrational/localize_modes.py
  pennylane/qchem/vibrational/vibrational_class.py
Due: pylint

fix: Update test_qnode.py to cover get_gradient_fn
  tests/test_qnode.py
Due: pylint-test

minor improvement: less redundancy
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

reformat test
  tests/ops/op_math/test_controlled_ops.py
Due: pylint-test

fix interface detection with closure variables (#6892)
  doc/releases/changelog-dev.md
  pennylane/devices/reference_qubit.py
  pennylane/workflow/qnode.py
  pennylane/workflow/resolution.py
  tests/devices/test_reference_qubit.py
  tests/logging/test_logging_autograd.py
  tests/workflow/interfaces/execute/test_autograd.py
  tests/workflow/interfaces/execute/test_jax.py
  tests/workflow/interfaces/execute/test_tensorflow.py
  tests/workflow/interfaces/execute/test_torch.py
  tests/workflow/interfaces/qnode/test_autograd_qnode.py
  tests/workflow/interfaces/qnode/test_jax_jit_qnode.py
  tests/workflow/interfaces/run/test_autograd_run.py
  tests/workflow/interfaces/run/test_jax_jit_run.py
  tests/workflow/interfaces/run/test_jax_run.py
  tests/workflow/interfaces/run/test_tensorflow_autograph_run.py
  tests/workflow/interfaces/run/test_tensorflow_run.py
  tests/workflow/interfaces/run/test_torch_run.py
Due: pylint, pylint-test

convert the workflow mod since lightning latest already updated
  .github/workflows/interface-dependency-versions.yml
Due: none

update localize modes
  pennylane/qchem/vibrational/localize_modes.py
Due: pylint

fix tests and add warning with parameter shift
  pennylane/devices/default_qubit.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint, pylint-test

added tests for select
  pennylane/labs/resource_estimation/ops/op_math/__init__.py
  pennylane/labs/resource_estimation/ops/qubit/__init__.py
  pennylane/labs/resource_estimation/templates/__init__.py
  pennylane/labs/resource_estimation/templates/subroutines.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_qft.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_qpe.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_select.py
Due: pylint

initial commit
  pennylane/workflow/__init__.py
  pennylane/workflow/construct_execution_config.py
  tests/workflow/test_construct_execution_config.py
Due: pylint, pylint-test

add example to docstring
  pennylane/workflow/construct_execution_config.py
Due: pylint

fix tests; fix unflatten
  pennylane/ops/op_math/controlled_ops.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint, pylint-test

add type hinting
  pennylane/workflow/construct_execution_config.py
Due: pylint

Update pennylane/workflow/construct_execution_config.py
  pennylane/workflow/construct_execution_config.py
Due: pylint
