Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

change name
  pennylane/devices/qubit/sampling.py
Due: pylint

use rich instead
  .gitignore
  pennylane/data/data_manager/__init__.py
Due: pylint

improve handling of identity with no wires
  doc/releases/changelog-dev.md
  pennylane/devices/__init__.py
  pennylane/devices/default_qubit.py
  pennylane/devices/default_qutrit_mixed.py
  pennylane/devices/execution_config.py
  pennylane/devices/modifiers/__init__.py
  pennylane/devices/qubit/apply_operation.py
  pennylane/devices/qubit/measure.py
  pennylane/devices/qubit/sampling.py
  pennylane/devices/qubit/simulate.py
  pennylane/measurements/expval.py
  pennylane/measurements/measurements.py
  pennylane/pauli/grouping/group_observables.py
  pennylane/utils.py
  tests/devices/qubit/test_measure.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sum.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update pennylane/templates/subroutines/qubitization.py
  pennylane/templates/subroutines/qubitization.py
Due: pylint

[skip ci] Molecule central object
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/hartree_fock.py
  pennylane/qchem/molecule.py
  pennylane/qchem/observable_hf.py
  pennylane/qchem/openfermion_obs.py
Due: pylint

identation
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qubitization.py
Due: pylint

final changes
  pennylane/templates/subroutines/qubitization.py
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint, pylint-test

black formatting
  pennylane/shadows/classical_shadow.py
Due: pylint

move center section in changelog to DLA section
  doc/releases/changelog-dev.md
Due: none

PauliWord also valid input, in particular when pauli=True
  pennylane/pauli/dla/center.py
Due: pylint

add test for PauliWord inputs to ensure they are actually valid inputs in both cases
  tests/pauli/dla/test_center.py
Due: pylint-test

black formatting
  tests/pauli/dla/test_center.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

Add tests; clean up func signatures
  pennylane/devices/qubit/apply_operation.py
  pennylane/devices/qubit/simulate.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

fix tests
  tests/data/data_manager/test_dataset_access.py
Due: pylint-test

Add new lines
  doc/releases/changelog-dev.md
Due: none

Add reflection
  pennylane/templates/subroutines/qubitization.py
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint, pylint-test

first
  doc/releases/changelog-dev.md
Due: none

bk
  doc/releases/changelog-dev.md
Due: none

improved testing
  doc/releases/changelog-dev.md
  pennylane/measurements/expval.py
  tests/devices/qubit/test_sampling.py
  tests/pauli/grouping/test_pauli_group_observables.py
Due: pylint, pylint-test

Typo and string formatting in classical shadow error (#5572)
  doc/releases/changelog-dev.md
  pennylane/shadows/classical_shadow.py
Due: pylint

BK
  doc/releases/changelog-dev.md
Due: none

add test to device test suite
  pennylane/devices/tests/test_measurements.py
Due: pylint

Updated failing test
  tests/devices/default_qubit/test_default_qubit.py
Due: pylint-test

Update core test durations
  .github/workflows/core_tests_durations.json
Due: none

Updated changelog
  doc/releases/changelog-dev.md
Due: none

mpl test, changelog
  doc/releases/changelog-dev.md
  tests/drawer/test_draw_mpl.py
Due: pylint-test

oops
  pennylane/devices/tests/test_measurements.py
Due: pylint

test_operation_with_qpe
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint-test

Add device as kwargs to dyn_one_shot
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Doc fix
  pennylane/templates/subroutines/fable.py
Due: pylint

move error to where it was, fix tests
  pennylane/measurements/expval.py
  pennylane/measurements/measurements.py
  tests/devices/qubit/test_measure.py
  tests/devices/qubit/test_sampling.py
Due: pylint, pylint-test

improve test coverage
  tests/drawer/test_draw.py
  tests/drawer/test_draw_mpl.py
Due: pylint-test

[skip-ci] reflection and FABLE
  doc/releases/changelog-dev.md
Due: none

christina test
  pennylane/templates/subroutines/qubitization.py
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint, pylint-test

black
  pennylane/templates/subroutines/fable.py
Due: pylint

fixing pylint
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
