Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
- repo: local
  hooks:
    - id: pylint-tests
      name: pylint whitelisted tests
      language: system
      types: [python]
      entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'
      files: ^tests/
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/

Integrate sample measurements
  pennylane/devices/qubit/measure.py
  pennylane/devices/qubit/simulate.py
  tests/devices/qubit/test_simulate.py
Due: pylint, pylint-tests

Add more tests
  tests/devices/qubit/test_simulate.py
Due: pylint-tests

add all interface marker
  tests/test_qubit_device.py
Due: pylint-tests

fix docs
  pennylane/resource/__init__.py
Due: pylint

fix docs
  doc/code/qml_resource.rst
Due: none

Copy shots when mapping qscript wires
  pennylane/ops/functions/map_wires.py
  tests/ops/functions/test_map_wires.py
Due: pylint, pylint-tests

changelog entry
  doc/releases/changelog-dev.md
Due: none

`experimental.Device.preprocess` also returns an execution config (#4007)
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/device_api.py
Due: pylint

changelog, tests, linting
  doc/releases/changelog-dev.md
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/qubit/test_preprocess.py
Due: pylint-tests

Update tests/devices/experimental/test_default_qubit_2.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint-tests

fix bug and docs
  doc/code/qml_resource.rst
  tests/test_qnode.py
Due: pylint-tests

Move changelog entry
  doc/releases/changelog-dev.md
Due: none

add result and resultbatch type variables
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/experimental/device_api.py
  pennylane/devices/qubit/preprocess.py
  pennylane/devices/qubit/simulate.py
  pennylane/interfaces/execution.py
  pennylane/qnode.py
  pennylane/transforms/batch_transform.py
  pennylane/typing.py
Due: pylint

Update `qml.map_wires` to copy the `QuantumScript.shots` attribute. (#4106)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/map_wires.py
  tests/ops/functions/test_map_wires.py
Due: pylint, pylint-tests

small fixes
  pennylane/devices/qubit/preprocess.py
  pennylane/transforms/broadcast_expand.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Draft dispatcher
  pennylane/transforms/__init__.py
  pennylane/transforms/experimental/__init__.py
  pennylane/transforms/experimental/transform_dispatcher.py
  tests/transforms/test_experimental/test_transform_dispatcher.py
Due: pylint, pylint-tests

remove trailing whitespace
  pennylane/devices/experimental/execution_config.py
Due: pylint

Add custom wire label test
  pennylane/devices/qubit/measure.py
  tests/devices/qubit/test_simulate.py
Due: pylint, pylint-tests

Add TF logging support
  pennylane/interfaces/tensorflow.py
Due: pylint

Improve docs
  pennylane/logging/README.md
  pennylane/logging/formatters/formatter.py
Due: pylint

module docstring more generic
  pennylane/data/attributes/__init__.py
Due: pylint

Add more guidelines for logging
  pennylane/logging/README.md
Due: none

use typing for generic aliases
  pennylane/data/attributes/string.py
  pennylane/data/base/attribute.py
  pennylane/data/base/dataset.py
  pennylane/data/base/mapper.py
  pennylane/data/base/typing_util.py
Due: pylint

use typing for generic aliases
  pennylane/data/attributes/dictionary.py
  pennylane/data/attributes/list.py
Due: pylint

black
  tests/devices/qubit/test_simulate.py
Due: pylint-tests

Make shots argument optional
  pennylane/devices/qubit/measure.py
Due: pylint

fix type
  pennylane/data/attributes/dictionary.py
Due: pylint

match_obj_type array tests are more specific
  tests/data/attributes/test_attribute.py
Due: pylint-tests

add more tests for match_obj_type
  tests/data/attributes/test_attribute.py
Due: pylint-tests

Additional changes for `QuantumScript.shots` (#4103)
  doc/releases/changelog-dev.md
  pennylane/tape/qscript.py
  pennylane/tape/tape.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint, pylint-tests

dict tests
  tests/data/attributes/test_dict.py
Due: pylint-tests

add set_item method for mapper
  pennylane/data/base/dataset.py
  pennylane/data/base/mapper.py
Due: pylint

pylint
  pennylane/data/attributes/dictionary.py
  pennylane/data/attributes/list.py
Due: pylint

update tests
  tests/data/attributes/test_list.py
Due: pylint-tests

Add internal use only message to _zarr.py
  pennylane/data/base/_zarr.py
Due: pylint

Restructure simulate function
  pennylane/devices/qubit/measure.py
  pennylane/devices/qubit/simulate.py
Due: pylint

Updated `QNode`
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/qnode.py
  pennylane/resource/resource.py
  pennylane/tape/qscript.py
  tests/resource/test_resource.py
  tests/test_qnode.py
Due: pylint, pylint-tests

Add default qubit 2 tests
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint-tests
