Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

Add deprecation
  doc/releases/changelog-0.29.0.md
Due: none

Remove tilde
  doc/releases/changelog-0.29.0.md
Due: none

Merge data and other improvements
  doc/releases/changelog-0.29.0.md
Due: none

Typo
  doc/releases/changelog-0.29.0.md
Due: none

Emojis
  doc/releases/changelog-0.29.0.md
Due: none

Remove whitespace
  doc/releases/changelog-0.29.0.md
Due: none

Fix note on lightning.gpu plugin in intro/circuits.
  doc/introduction/circuits.rst
Due: none

Update doc/releases/changelog-0.29.0.md.
  doc/releases/changelog-0.29.0.md
Due: none

fix strings that wrap around without a space
  pennylane/data/dataset.py
  pennylane/devices/default_qubit.py
  pennylane/drawer/style.py
  pennylane/ops/functions/eigvals.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qutrit/matrix_ops.py
  pennylane/tape/qscript.py
  pennylane/templates/embeddings/amplitude.py
  pennylane/templates/subroutines/qmc.py
Due: pylint

Promote warning about vanilla version of NumPy from bold format to RST warning. Make Autograd case uniform.
  doc/introduction/interfaces/numpy.rst
Due: none

missed one
  pennylane/devices/default_qubit_jax.py
Due: pylint

Update changlog.
  doc/releases/changelog-0.29.0.md
Due: none

remove duplicate entries
  doc/releases/changelog-0.29.0.md
Due: none

Apply suggestions from code review
  doc/releases/changelog-0.29.0.md
Due: none

0.29 changelog updates (#3835)
  doc/releases/changelog-0.29.0.md
Due: none

Removed circular references
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Added back parametric_ops.py to resolve conflicts
  pennylane/ops/qubit/parametric_ops.py
Due: pylint

Updated docstring
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Docfix/circuits note gpu (#3836)
  doc/introduction/circuits.rst
  doc/releases/changelog-0.29.0.md
Due: none

always use trailing whitespace instead of leading
  pennylane/_qubit_device.py
  pennylane/data/dataset.py
  pennylane/devices/default_qubit.py
  pennylane/drawer/style.py
  pennylane/gradients/parameter_shift.py
  pennylane/math/is_independent.py
  pennylane/operation.py
  pennylane/ops/qubit/parametric_ops.py
  pennylane/qchem/convert.py
  pennylane/qchem/molecule.py
  pennylane/qnode.py
  pennylane/transforms/qcut/tapes.py
Due: pylint

Removing more circular imports
  pennylane/ops/qubit/parametric_ops_controlled.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

Promote warning about vanilla version of NumPy to RST warning. (#3838)
  doc/introduction/interfaces/numpy.rst
  doc/releases/changelog-0.29.0.md
Due: none

fix strings that wrap around without a space (#3837)
  pennylane/_qubit_device.py
  pennylane/data/dataset.py
  pennylane/devices/default_qubit.py
  pennylane/devices/default_qubit_jax.py
  pennylane/drawer/style.py
  pennylane/gradients/parameter_shift.py
  pennylane/math/is_independent.py
  pennylane/operation.py
  pennylane/ops/functions/eigvals.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/parametric_ops.py
  pennylane/ops/qutrit/matrix_ops.py
  pennylane/qchem/convert.py
  pennylane/qchem/molecule.py
  pennylane/qnode.py
  pennylane/tape/qscript.py
  pennylane/templates/embeddings/amplitude.py
  pennylane/templates/subroutines/qmc.py
  pennylane/transforms/qcut/tapes.py
Due: pylint

Fixing doc build
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

Use default.qubit.jax instead of default.qubit
  doc/releases/changelog-0.29.0.md
  pennylane/ops/functions/evolve.py
  pennylane/pulse/__init__.py
  pennylane/pulse/convenience_functions.py
  pennylane/pulse/parametrized_evolution.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-0.29.0.md
  pennylane/ops/functions/evolve.py
  pennylane/pulse/__init__.py
  pennylane/pulse/convenience_functions.py
  pennylane/pulse/parametrized_evolution.py
Due: pylint

Revert "Apply suggestions from code review "
  doc/releases/changelog-0.29.0.md
  pennylane/ops/functions/evolve.py
  pennylane/pulse/__init__.py
  pennylane/pulse/convenience_functions.py
  pennylane/pulse/parametrized_evolution.py
Due: pylint

Update pennylane/pulse/rydberg_hamiltonian.py
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

:memo: docs (RydbergHamiltonian): Address review comments.
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

:test_tube: tests (RydbergHamiltonian): Fix tests.
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
