Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

fix
  pennylane/core/transforms/compile_pipeline.py
Due: pylint

fix pylint
  pennylane/transforms/defer_measurements.py
Due: pylint

fix: replace resource_rep(X/Z) with bare Operator2 classes as resource keys
  pennylane/ops/op_math/controlled2.py
  pennylane/templates/subroutines/arithmetic/incrementer.py
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_square.py
  pennylane/templates/subroutines/arithmetic/signed_out_square.py
  pennylane/templates/subroutines/flip_sign.py
  pennylane/templates/subroutines/select.py
  tests/templates/subroutines/test_select.py
Due: pylint, pylint-test

Use mock up Ops
  tests/ops/op_math/test_adjoint.py
Due: pylint-test

Revert the msg regex
  tests/ops/functions/test_equal.py
Due: pylint-test

import from top
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/op_math/prod.py
  pennylane/templates/subroutines/select.py
  tests/templates/subroutines/test_select.py
Due: pylint, pylint-test

fix
  tests/core/test_transform.py
Due: pylint-test

Revert the msg regex (#9801)
  tests/ops/functions/test_equal.py
Due: pylint-test

CoB compatibility
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/op_math/change_op_basis.py
  pennylane/templates/subroutines/select.py
Due: pylint

updated formatting to fit with specifications for pennylane documentation
  tests/ops/op_math/test_pow_op.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

fix doctest
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_square.py
Due: pylint

patchable
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_graph.py
  pennylane/decomposition/symbolic_decomposition.py
Due: pylint

undo invasive change
  tests/capture/transforms/test_capture_graph_decompose.py
  tests/decomposition/test_decomposition_graph.py
  tests/decomposition/test_symbolic_decomposition.py
Due: pylint-test

clean up / docs
  pennylane/labs/templates/trotter_vibronic.py
Due: pylint

qjit diagonalization test
  pennylane/labs/templates/trotter_vibronic.py
  pennylane/labs/tests/templates/test_trotter_vibronic.py
Due: pylint, labs-pylint-test

update
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_graph.py
  pennylane/labs/templates/trotter_vibronic.py
  pennylane/labs/tests/templates/test_trotter_vibronic.py
Due: pylint, labs-pylint-test

remove duplicate changelog entry
  doc/releases/changelog-dev.md
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

add Hadamard, CNOT, CZ decomps
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/ppm_decomps.py
Due: pylint

update
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_square.py
  pennylane/templates/subroutines/arithmetic/semi_adder.py
Due: pylint

modify init
  pennylane/labs/tcdq/__init__.py
Due: pylint

minor modifications
  pennylane/labs/tcdq/__init__.py
Due: pylint

elbow rule
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/ppm_decomps.py
Due: pylint

minor modifications
  pennylane/labs/tcdq/mmd_loss.py
  pennylane/labs/tcdq/qudit_mmd_loss.py
  pennylane/labs/tcdq/training.py
Due: pylint

bring back resource keys
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

first implementation
  pennylane/labs/tests/trotter_error/fragments/test_vibronic_trotter.py
  pennylane/labs/trotter_error/fragments/vibronic_fragments.py
Due: pylint, labs-pylint-test

oooops
  pennylane/ops/op_math/controlled.py
Due: pylint

whoops
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

fix
  pennylane/labs/tcdq/expval_functions.py
  pennylane/labs/tcdq/mmd_loss.py
  pennylane/labs/tcdq/qudit_expval_functions.py
  pennylane/labs/tcdq/qudit_mmd_loss.py
  pennylane/labs/tcdq/training.py
Due: pylint

add back stuff
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

migrate rot too
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

oooops
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

get rid of resource params and keys becasue we dont need
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

fix
  pennylane/labs/tcdq/expval_functions.py
  pennylane/labs/tcdq/mmd_loss.py
  pennylane/labs/tcdq/qudit_expval_functions.py
  pennylane/labs/tcdq/qudit_mmd_loss.py
Due: pylint

Apply suggestions from code review
  pennylane/core/queuing.py
Due: pylint

docstring fix
  pennylane/labs/trotter_error/product_formulas/error.py
Due: pylint

use helpers
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/op_math/prod.py
Due: pylint

Update pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled2.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
