Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Update type hint
  pennylane/measurements/mid_measure.py
Due: pylint

added how to generate ref data for test_prive_ucisd
  pennylane/qchem/convert.py
  tests/qchem/of_tests/test_convert.py
Due: pylint, pylint-test

[skip ci] fixed typos
  tests/qchem/of_tests/test_convert.py
Due: pylint-test

[sc-36527]: Add new robots.txt to doc build to hide latest build from search engine (#4423)
  doc/conf.py
  doc/robots.txt
Due: none

remove turning warning into error (#4409)
  tests/pytest.ini
Due: none

Removed `MeasurementValue`
  pennylane/measurements/__init__.py
  pennylane/measurements/mid_measure.py
  pennylane/transforms/condition.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-test

Raise warning in Operator `__eq__` and `__hash__` about change in behaviour (#4144)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/operation.py
  tests/pytest.ini
  tests/test_operation.py
Due: pylint, pylint-test

Initialize `DefaultQubit2` local rng from global rng if no seed provided (#4394)
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/default_qubit_2.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-test

Changes to remove use of `Operator.__eq__` (#4398)
  doc/releases/changelog-dev.md
  pennylane/circuit_graph.py
  pennylane/ops/functions/equal.py
  pennylane/transforms/metric_tensor.py
  tests/circuit_graph/test_circuit_graph.py
  tests/legacy/test_legacy_qscript_old.py
  tests/ops/functions/test_equal.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

fix `has_decomposition` for ControlledQubitUnitary (#4407)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/controlled_ops.py
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint, pylint-test

Make autoray changes backwards compatible (#4397)
  pennylane/math/multi_dispatch.py
Due: pylint

Fix jax.ad deprecation. (#4403)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/math/multi_dispatch.py
  tests/test_device.py
Due: pylint, pylint-test

Add VJP/JVP capabilities to `DefaultQubit2` (#4374)
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/qubit/__init__.py
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/devices/qubit/simulate.py
  pennylane/qnode.py
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/qubit/test_simulate.py
  tests/interfaces/default_qubit_2_integration/test_autograd_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_default_qubit_2.py
Due: pylint, pylint-test

Adding a `wire_order` kwarg to `Tensor.sparse_matrix()` (#4424)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

Tensorflow qnode integration with DefaultQubit2 (#4393)
  doc/releases/changelog-dev.md
  pennylane/interfaces/tensorflow_autograph.py
  pennylane/qnode.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_autograph_qnode_shot_vector_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_shot_vector_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
Due: pylint, pylint-test

Updated defer_measurements post-merge
  pennylane/transforms/defer_measurements.py
Due: pylint

Fix guide wording and log levels
  doc/development/guide/logging.rst
  tests/logging/test_logging_autograd.py
Due: pylint-test

Fixed defer_measurements
  pennylane/transforms/defer_measurements.py
Due: pylint

pylint
  tests/transforms/test_split_non_commuting.py
Due: pylint-test

Updated test
  tests/measurements/test_mid_measure.py
Due: pylint-test

Remove redundant files and add licenses
  pennylane/logging/__init__.py
  pennylane/logging/configuration.py
  pennylane/logging/filter.py
  pennylane/logging/formatters/__init__.py
  pennylane/logging/formatters/formatter.py
  pennylane/logging/handler.py
  pennylane/logging/logger.py
Due: pylint

Updated class signature
  pennylane/measurements/mid_measure.py
Due: pylint

Updating keys
  pennylane/transforms/defer_measurements.py
Due: pylint

Fix `split_non_commuting` when tape contains both `expval` and `var` measurements (#4426)
  doc/releases/changelog-dev.md
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
Due: pylint, pylint-test

Pylint fix
  pennylane/logging/filter.py
Due: pylint

Update pennylane/qnode.py
  pennylane/qnode.py
Due: pylint

add review comments
  pennylane/qchem/convert.py
  tests/qchem/of_tests/test_convert.py
Due: pylint, pylint-test

Updated id process
  pennylane/measurements/mid_measure.py
  pennylane/transforms/defer_measurements.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-test

change name
  pennylane/qchem/convert.py
  tests/qchem/of_tests/test_convert.py
Due: pylint, pylint-test

initial commit
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/select.py
Due: pylint

Adds shots to experimental device interface and integrate with QNode (#4388)
  doc/releases/changelog-dev.md
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/experimental/device_api.py
  pennylane/interfaces/execution.py
  pennylane/interfaces/set_shots.py
  pennylane/measurements/shots.py
  pennylane/qnode.py
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/experimental/test_device_api.py
  tests/interfaces/test_set_shots.py
  tests/test_qnode.py
Due: pylint, pylint-test

modify test to account for sign change
  tests/qchem/of_tests/test_convert.py
Due: pylint-test

QNSPSA bugfix (#4421)
  doc/releases/changelog-dev.md
  pennylane/optimize/qnspsa.py
  tests/optimize/test_qnspsa.py
Due: pylint, pylint-test

Allow shots reuse
  pennylane/devices/qubit/sampling.py
  pennylane/devices/qubit/simulate.py
  tests/devices/qubit/test_sampling.py
Due: pylint, pylint-test

add qml.execute tests
  pennylane/tape/qscript.py
  tests/interfaces/test_transform_program_integration.py
  tests/tape/test_qscript.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

remove comments and modify docstring
  pennylane/qchem/convert.py
Due: pylint

Add functions to return excited basis states (#4417)
  pennylane/qchem/convert.py
  tests/qchem/of_tests/test_convert.py
Due: pylint, pylint-test

correct test
  pennylane/qchem/convert.py
  tests/qchem/of_tests/test_convert.py
Due: pylint, pylint-test

correct import
  tests/qchem/of_tests/test_convert.py
Due: pylint-test
