Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Yet Yet another batch of decomp-related fixes (#9036)
  doc/releases/changelog-dev.md
  pennylane/devices/preprocess.py
  pennylane/math/decomposition.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/transforms/decompose.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
  tests/devices/test_default_clifford.py
  tests/ops/op_math/test_controlled_ops.py
  tests/transforms/zx/test_converter.py
Due: pylint, pylint-test

Fix subroutines with decompositions (#9070)
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
  tests/capture/transforms/test_capture_decompose.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Implement classical processing for sum-of-Slaters sparse state preparation (#8964)
  doc/releases/changelog-dev.md
  pennylane/templates/state_preparations/__init__.py
  pennylane/templates/state_preparations/sum_of_slaters.py
  tests/templates/state_preparations/test_sum_of_slaters.py
Due: pylint, pylint-test

Sort and add binary linear algebra functionality to `qml.math` (#8982)
  doc/code/qml_math.rst
  doc/releases/changelog-dev.md
  pennylane/devices/default_clifford.py
  pennylane/fermi/conversion.py
  pennylane/math/__init__.py
  pennylane/math/binary_linalg.py
  pennylane/math/utils.py
  pennylane/transforms/intermediate_reps/rowcol.py
  tests/math/test_binary_linalg.py
  tests/qchem/test_tapering.py
  tests/transforms/intermediate_reps/test_rowcol.py
Due: pylint, pylint-test

Rename `qec.*` to `pbc.*` in PBC docstring examples (#9071)
  doc/releases/changelog-dev.md
Due: none

fix: add `sybil` to `pyproject.toml` (#9060)
  .github/workflows/documentation-tests.yml
  doc/releases/changelog-dev.md
  pyproject.toml
Due: none

fix: update `qml.marker` implementation to no longer be a transform (#9007)
  doc/releases/changelog-dev.md
  pennylane/noise/add_noise.py
  pennylane/resource/specs.py
  pennylane/transforms/__init__.py
  pennylane/transforms/core/compile_pipeline.py
  pennylane/transforms/core/transform.py
  pennylane/workflow/__init__.py
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/marker.py
  tests/drawer/test_draw.py
  tests/resource/test_specs.py
  tests/transforms/core/test_compile_pipeline.py
  tests/workflow/test_construct_batch.py
  tests/workflow/test_marker.py
Due: pylint, pylint-test

improve error message (#9072)
  doc/releases/changelog-dev.md
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

fix: remove `doctest: +SKIP` from `specs.py` (#9076)
  doc/releases/changelog-dev.md
  pennylane/resource/specs.py
  pennylane/transforms/decompositions/pauli_based_computation.py
Due: pylint

Add handling of `qml.GlobalPhase` to `transpile` (#9041)
  doc/releases/changelog-dev.md
  pennylane/transforms/transpile.py
  tests/transforms/test_transpile.py
Due: pylint, pylint-test

Remove Survey Note (#9084)
  README.md
Due: none

feat: add `get_compile_pipeline` to `workflow` module (#8979)
  doc/releases/changelog-dev.md
  pennylane/workflow/__init__.py
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/construct_execution_config.py
  pennylane/workflow/execution.py
  pennylane/workflow/get_compile_pipeline.py
  pennylane/workflow/qnode.py
  pennylane/workflow/resolution.py
  tests/workflow/test_get_compile_pipeline.py
Due: pylint, pylint-test

feat: add `drawer.label` and `fourier.mark` functions (#9078)
  doc/releases/changelog-dev.md
  pennylane/drawer/__init__.py
  pennylane/drawer/label.py
  pennylane/fourier/__init__.py
  pennylane/fourier/mark.py
  tests/drawer/test_label.py
  tests/fourier/test_mark.py
  tests/ops/functions/conftest.py
  tests/ops/functions/test_equal.py
Due: pylint, pylint-test

deprecate: `get_transform_program` in favour of `get_compile_pipeline` (#9077)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/drawer/draw.py
  pennylane/noise/add_noise.py
  pennylane/resource/error/error.py
  pennylane/resource/specs.py
  pennylane/workflow/__init__.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_tape.py
  pennylane/workflow/marker.py
  tests/noise/test_add_noise.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/workflow/test_construct_batch.py
Due: pylint, pylint-test

fix: Jacobian-level caching with autograd ML execution (#9081)
  doc/releases/changelog-dev.md
  pennylane/workflow/run.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
Due: pylint, pylint-test

Remove ChangeOpBasis, use subroutine_resource_rep
  pennylane/templates/embeddings/basis.py
  pennylane/templates/subroutines/arithmetic/adder.py
  pennylane/templates/subroutines/arithmetic/multiplier.py
  pennylane/templates/subroutines/arithmetic/out_adder.py
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_poly.py
  pennylane/templates/subroutines/arithmetic/phase_adder.py
Due: pylint

Remove ChangeOpBasis, use subroutine_resource_rep
  pennylane/templates/subroutines/arithmetic/adder.py
  pennylane/templates/subroutines/arithmetic/multiplier.py
  pennylane/templates/subroutines/arithmetic/out_adder.py
  pennylane/templates/subroutines/arithmetic/out_multiplier.py
  pennylane/templates/subroutines/arithmetic/out_poly.py
  pennylane/templates/subroutines/arithmetic/phase_adder.py
Due: pylint

Skip 'before transforms' level when there are only mlir transforms. WIP
  pennylane/resource/specs.py
Due: pylint

docs updates
  pennylane/resource/specs.py
Due: pylint

Make a subroutine
  pennylane/templates/subroutines/arithmetic/out_adder.py
Due: pylint

Fixed wire manager
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/wires_manager.py
Due: pylint

Update changelog
  doc/releases/changelog-dev.md
Due: none

remove redundant catalyst pass aliases
  pennylane/ftqc/catalyst_pass_aliases.py
  tests/ftqc/test_catalyst_pass_aliases.py
Due: pylint, pylint-test

Separate out pretty printing into smaller functions
  pennylane/resource/resource.py
Due: pylint

cl
  doc/releases/changelog-dev.md
Due: none

Fix typo in docs
  pennylane/resource/specs.py
Due: pylint

Changelog
  doc/releases/changelog-dev.md
Due: none

Fix wires bug
  pennylane/templates/state_preparations/mottonen.py
  pennylane/templates/subroutines/arithmetic/adder.py
Due: pylint

samples fast
  pennylane/labs/phox/expval_functions.py
Due: pylint

rebuild docs
  doc/code/qml_labs_phox.rst
Due: none
