Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Bugfix: revert modification of tol.
  pennylane/qchem/convert.py
  pennylane/qchem/convert_openfermion.py
Due: pylint

Disable protected access.
  pennylane/fermi/fermionic.py
Due: pylint

Disable protected access.
  pennylane/fermi/fermionic.py
  pennylane/qchem/convert_openfermion.py
Due: pylint

Reformat according to black.
  pennylane/__init__.py
Due: pylint

Adjust isort.
  tests/fermi/test_fermionic.py
  tests/qchem/of_tests/test_convert_openfermion.py
Due: pylint-test

Black reformatting.
  tests/fermi/test_fermionic.py
Due: pylint-test

Black formatting.
  tests/fermi/test_fermionic.py
Due: pylint-test

Fix a few docs examples in `qnn`, `fermi` and `math` (#5763)
  doc/code/qml_fermi.rst
  pennylane/fermi/conversion.py
  pennylane/kernels/cost_functions.py
  pennylane/kernels/utils.py
  pennylane/math/multi_dispatch.py
  pennylane/math/quantum.py
  pennylane/math/utils.py
  pennylane/qnn/torch.py
Due: pylint

fix, test, changelog
  doc/releases/changelog-dev.md
  pennylane/gradients/hadamard_gradient.py
  tests/gradients/core/test_hadamard_gradient.py
Due: pylint, pylint-test

test multiple probs
  tests/gradients/core/test_hadamard_gradient.py
Due: pylint-test

tape level test
  pennylane/gradients/hadamard_gradient.py
  tests/gradients/core/test_hadamard_gradient.py
Due: pylint, pylint-test

fix doc
  pennylane/ops/functions/equal.py
  pennylane/pytrees.py
Due: pylint

Update algorithm description.
  doc/introduction/measurements.rst
Due: none

Add comments describing workflow.
  pennylane/devices/qubit/simulate.py
Due: pylint

Wrap measurement updates in get_measurement_dicts
  pennylane/devices/qubit/simulate.py
Due: pylint

Apply suggestions from code review
  pennylane/devices/qubit/simulate.py
Due: pylint

Fix doc.
  doc/introduction/measurements.rst
Due: none

Added test skeleton
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint-test

Changelog entry
  doc/releases/changelog-dev.md
Due: none

MCM - tree-traversal implementation of native MCM execution (#5180)
  .github/workflows/core_tests_durations.json
  .github/workflows/format.yml
  .pre-commit-config.yaml
  doc/introduction/measurements.rst
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/devices/execution_config.py
  pennylane/devices/preprocess.py
  pennylane/devices/qubit/simulate.py
  pennylane/fourier/reconstruct.py
  pennylane/math/multi_dispatch.py
  pennylane/math/single_dispatch.py
  pennylane/math/utils.py
  pennylane/ops/qubit/observables.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/ops/qutrit/state_preparation.py
  pennylane/transforms/broadcast_expand.py
  pennylane/transforms/core/transform_program.py
  pennylane/workflow/qnode.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/math/test_multi_dispatch.py
  tests/ops/functions/test_iterative_qpe.py
  tests/test_qnode.py
Due: pylint, pylint-test

update examples
  pennylane/ops/functions/equal.py
  tests/ops/functions/test_dot.py
Due: pylint, pylint-test

Mark two more tests as new opmath only
  tests/devices/default_tensor/test_scalability.py
  tests/ops/op_math/test_sum.py
Due: pylint-test

move molecular_dipole to dipole module
  pennylane/qchem/__init__.py
  pennylane/qchem/dipole.py
  pennylane/qchem/openfermion_pyscf.py
Due: pylint

rename openfermion test file
  tests/qchem/openfermion_pyscf_tests/conftest.py
  tests/qchem/openfermion_pyscf_tests/test_convert.py
  tests/qchem/openfermion_pyscf_tests/test_convert_openfermion.py
  tests/qchem/openfermion_pyscf_tests/test_decompose.py
  tests/qchem/openfermion_pyscf_tests/test_dipole_of.py
  tests/qchem/openfermion_pyscf_tests/test_meanfield.py
  tests/qchem/openfermion_pyscf_tests/test_molecular_dipole.py
  tests/qchem/openfermion_pyscf_tests/test_molecular_hamiltonian.py
  tests/qchem/openfermion_pyscf_tests/test_observable_of.py
  tests/qchem/openfermion_pyscf_tests/test_one_particle.py
  tests/qchem/openfermion_pyscf_tests/test_ref_files/dummy_ansatz_parameters.npy
  tests/qchem/openfermion_pyscf_tests/test_ref_files/gdb3.hdf5
  tests/qchem/openfermion_pyscf_tests/test_ref_files/gdb3.mol5_ref.xyz
  tests/qchem/openfermion_pyscf_tests/test_ref_files/h2_pyscf.hdf5
  tests/qchem/openfermion_pyscf_tests/test_ref_files/h2_ref.xyz
  tests/qchem/openfermion_pyscf_tests/test_ref_files/h2o_psi4.hdf5
  tests/qchem/openfermion_pyscf_tests/test_ref_files/lih.hdf5
  tests/qchem/openfermion_pyscf_tests/test_ref_files/lih_anion.hdf5
  tests/qchem/openfermion_pyscf_tests/test_ref_files/lih_anion_2.hdf5
  tests/qchem/openfermion_pyscf_tests/test_two_particle.py
Due: pylint-test

changelog example
  doc/releases/changelog-dev.md
Due: none

Post-selection support.
  pennylane/devices/qubit/simulate.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

update transpile input docstrings
  pennylane/transforms/transpile.py
Due: pylint

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

update changelog with contribution
  doc/releases/changelog-dev.md
Due: none

add suggestions
  pennylane/qchem/basis_set.py
  pennylane/qchem/openfermion_pyscf.py
  tests/qchem/test_basis_set.py
Due: pylint, pylint-test

fix indent on docs
  pennylane/transforms/transpile.py
Due: pylint

* add more specific tests for `snapshots` transform * remove snapshots clifford test as it lives in the device tests now * replace hacky finite-shot`lightning.qubit` tests with statistical ones
  pennylane/debugging/snapshot.py
  tests/test_debugging.py
Due: pylint, pylint-test

Fix composite issue where python bools don't add like numpy bool.
  pennylane/devices/qubit/simulate.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

Mark two more tests as new opmath only (#5862)
  tests/devices/default_tensor/test_scalability.py
  tests/ops/op_math/test_sum.py
Due: pylint-test

readd final tranform on `level='device'` and update docs
  pennylane/workflow/construct_batch.py
  tests/workflow/test_construct_batch.py
Due: pylint, pylint-test

add error on processing queue if object does not have a _queue_category
  doc/releases/changelog-dev.md
  pennylane/queuing.py
  tests/test_queuing.py
Due: pylint, pylint-test

Fix `test_trotter_is_used_if_num_steps_is_defined`
  tests/ops/op_math/test_exp.py
Due: pylint-test
