Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

Update pennylane/pulse/rydberg_hamiltonian.py
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

:art: style (RydbergHamiltonian): Swap types.
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

:wrench: refactor (RydbergHamiltonian): Add wires check.
  pennylane/pulse/rydberg_hamiltonian.py
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint, pylint-tests

:test_tube: tests (RydbergHamiltonian): Improve test.
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint-tests

Use default.qubit.jax instead of default.qubit (#3839)
  doc/releases/changelog-0.29.0.md
  pennylane/ops/functions/evolve.py
  pennylane/pulse/__init__.py
  pennylane/pulse/convenience_functions.py
  pennylane/pulse/parametrized_evolution.py
Due: pylint

:test_tube: tests (RydbergHamiltonian): Fix tests.
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint-tests

:test_tube: tests (RydbergHamiltonian): Remove radd test.
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint-tests

:memo: docs (RydbergHamiltonian): Address review comments.
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

tests
  pennylane/devices/experimental/__init__.py
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/qubit/__init__.py
  pennylane/devices/qubit/default_qubit_2.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-tests

:bug: fix (RydbergPulse): Fix argument order.
  pennylane/pulse/rydberg_hamiltonian.py
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint, pylint-tests

Update header images (#3827)
  doc/_static/header-dark-mode.png
  doc/_static/header.png
Due: none

:test_tube: tests (RydbergHamiltonian): Add test.
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint-tests

:memo: docs (RydbergHamiltonian): Improve docs.
  pennylane/pulse/__init__.py
  pennylane/pulse/rydberg_hamiltonian.py
Due: pylint

:wrench: refactor (QuantumScript): Improve _obs_sharing_wires property.
  pennylane/_device.py
  pennylane/tape/qscript.py
Due: pylint

raise error for wrong notation
  pennylane/qchem/observable_hf.py
  tests/qchem/test_observable_hf.py
Due: pylint, pylint-tests

Tests new return type
  pennylane/gradients/gradient_transform.py
  tests/returntypes/finitediff/test_finite_difference_new.py
  tests/returntypes/paramshift/test_parameter_shift_new.py
Due: pylint, pylint-tests

remove moved file, fix a test
  pennylane/devices/device_api.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-tests

fix jax version in upload workflow
  .github/workflows/upload.yml
Due: none

Argnums = [0] is default
  pennylane/gradients/gradient_transform.py
Due: pylint

Typo
  pennylane/gradients/gradient_transform.py
Due: pylint

Generalise fermionic to qubit mapping in qchem (#3751)
  doc/releases/changelog-dev.md
  pennylane/pauli/utils.py
  pennylane/qchem/observable_hf.py
  tests/pauli/test_pauli_utils.py
  tests/qchem/test_observable_hf.py
Due: pylint, pylint-tests

Add tests hadamard
  pennylane/gradients/gradient_transform.py
  tests/gradients/test_finite_difference.py
  tests/gradients/test_parameter_shift.py
  tests/returntypes/finitediff/test_finite_difference_new.py
  tests/returntypes/gradients/test_hadamard_grad.py
  tests/returntypes/paramshift/test_parameter_shift_new.py
Due: pylint, pylint-tests

Changelog
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/math/multi_dispatch.py
  pennylane/transforms/batch_transform.py
Due: pylint

Update doc/development/deprecations.rst
  doc/development/deprecations.rst
Due: none

Add space in thiscan.
  doc/introduction/inspecting_circuits.rst
Due: none

Fix 'Anther' typo.
  doc/introduction/inspecting_circuits.rst
Due: none

adding tests
  pennylane/devices/default_mixed.py
  pennylane/devices/default_qubit.py
  pennylane/devices/null_qubit.py
  pennylane/devices/tests/test_gates.py
  pennylane/ops/qubit/__init__.py
  pennylane/ops/qubit/attributes.py
  pennylane/ops/qubit/parametric_ops.py
  tests/ops/qubit/test_parametric_ops.py
Due: pylint, pylint-tests

fix tensorlike import
  pennylane/devices/qubit/simulate.py
Due: pylint

Add link to quantum chemistry tutorials.
  doc/introduction/chemistry.rst
Due: none

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

:wrench: refactor (rydberg): Change name of function.
  doc/releases/changelog-dev.md
  pennylane/pulse/__init__.py
  pennylane/pulse/rydberg_hamiltonian.py
  tests/pulse/test_rydberg_hamiltonian.py
Due: pylint, pylint-tests

Update changelog.
  doc/releases/changelog-dev.md
Due: none

Docfix/typo inspecting circuit (#3844)
  doc/introduction/chemistry.rst
  doc/introduction/inspecting_circuits.rst
  doc/releases/changelog-dev.md
Due: none

Adapt metric tensor for Jax
  pennylane/math/multi_dispatch.py
  pennylane/transforms/metric_tensor.py
  tests/returntypes/transforms/test_metric_tensor_new.py
  tests/transforms/test_metric_tensor.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
