Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Sample once in `_measure_with_samples_diagonalizing_gates`
  pennylane/devices/qubit/sampling.py
Due: pylint

New opmath intro mage
  doc/index.rst
Due: none

add file
  doc/introduction/new_opmath.rst
Due: none

add MCM examples throughout docs; tiny fixes
  doc/introduction/compiling_circuits.rst
  doc/introduction/compiling_workflows.rst
  doc/introduction/inspecting_circuits.rst
  pennylane/measurements/__init__.py
  pennylane/qinfo/transforms.py
  pennylane/templates/subroutines/qft.py
  pennylane/transforms/__init__.py
  pennylane/transforms/optimization/pattern_matching.py
Due: pylint

update __init__ and quickstart
  doc/introduction/data.rst
  pennylane/data/__init__.py
Due: pylint

Fixed gradient tests
  tests/templates/test_subroutines/test_fable.py
Due: pylint-test

Tiny doc fixes (#5466)
  doc/introduction/interfaces.rst
  doc/introduction/measurements.rst
  pennylane/measurements/mid_measure.py
  pennylane/ops/op_math/condition.py
Due: pylint

Wire ordering is ascending by default
  pennylane/templates/subroutines/fable.py
  tester.ipynb
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

Delete notebook
  tester.ipynb
Due: none

update changelog
  doc/introduction/data.rst
  doc/releases/changelog-dev.md
Due: none

remove redundant section
  pennylane/data/__init__.py
Due: pylint

rebrand section
  pennylane/templates/subroutines/qft.py
Due: pylint

whitespace...
  pennylane/measurements/__init__.py
Due: pylint

Updated jacobian products to work with LQ; more LQ tests
  pennylane/workflow/jacobian_products.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
Due: pylint, pylint-test

format table
  doc/introduction/new_opmath.rst
Due: none

Fix measure_with_samples' handling of mid_measurements.
  pennylane/devices/qubit/sampling.py
  pennylane/devices/qubit/simulate.py
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

Remove comments.
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

update changelog
  doc/releases/changelog-dev.md
Due: none

Bump codecov
  .github/workflows/interface-unit-tests.yml
Due: none

Pass token as secret from calling workflow to interface-unit-test
  .github/workflows/interface-unit-tests.yml
  .github/workflows/tests.yml
Due: none

Pass token as secret from calling workflow to interface-unit-test
  .github/workflows/tests.yml
Due: none

Fix legacy node native mcm test.
  pennylane/_qubit_device.py
Due: pylint

Using postselection in tests
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint-test

Fix test
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint-test

add version checking for Keras version
  pennylane/qnn/keras.py
  tests/qnn/test_keras.py
Due: pylint, pylint-test

Update tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint-test

Implement Mudit's suggestions.
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

Fix coverage upload to codecov being broken (#5487)
  .github/workflows/interface-unit-tests.yml
  .github/workflows/tests.yml
Due: none

Update pennylane/workflow/execution.py
  pennylane/workflow/execution.py
Due: pylint

Add Scorecard action
  .github/workflows/scorecard.yml
Due: none

Add required codecov token
  .github/workflows/scorecard.yml
Due: none

Update runs on
  .github/workflows/scorecard.yml
Due: none

Create sec badge reporting
  .github/workflows/scorecard.yml
  README.md
Due: none

Update badge URL
  README.md
Due: none
