Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

upgrade
  .github/workflows/unit-test.yml
Due: none

no magic number
  pennylane/decomposition/decomposition_graph.py
Due: pylint

Update pennylane/decomposition/decomposition_graph.py
  pennylane/decomposition/decomposition_graph.py
Due: pylint

port BasisRotation to be a Subroutine
  pennylane/estimator/resource_mapping.py
  pennylane/templates/subroutines/qchem/basis_rotation.py
Due: pylint

not actually python
  pennylane/estimator/resource_mapping.py
Due: pylint

update gpu
  .github/workflows/docs.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

fix more
  tests/devices/test_device_api.py
  tests/devices/test_null_qubit.py
Due: pylint-test

fix
  tests/gradients/core/test_hadamard_gradient.py
Due: pylint-test

revert one more
  tests/resource/test_error/test_error.py
Due: pylint-test

test gpu
  .github/workflows/docs.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/unit-test.yml
Due: none

Apply suggestions from code review
  pennylane/templates/subroutines/qchem/basis_rotation.py
Due: pylint

tests, changelog, move helper func
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qchem/basis_rotation.py
  tests/templates/subroutines/qchem/test_basis_rotation.py
Due: pylint, pylint-test

more fixing tests
  tests/templates/subroutines/qchem/test_basis_rotation.py
Due: pylint-test

trigger gpu
  .github/workflows/create-release.yml
  .github/workflows/format.yml
  .github/workflows/rc_sync.yml
  .github/workflows/unit-test.yml
  .github/workflows/upload.yml
  .readthedocs.yml
Due: none

uv system
  .github/workflows/format.yml
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

clean tests
  tests/decomposition/test_decomposition_graph.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint-test

update freeze dependencies
  .github/workflows/docs.yml
  .github/workflows/interface-unit-tests.yml
  .github/workflows/unit-test.yml
  .github/workflows/upload-nightly-rc-release.yml
  .github/workflows/upload-nightly-release.yml
  .github/workflows/upload.yml
Due: none

update check in artifact
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Due: none

cleanup
  .github/workflows/rtd-check.yml
  .github/workflows/tests.yml
Due: none

improvements
  pennylane/transforms/core/compile_pipeline.py
  tests/transforms/core/test_compile_pipeline.py
Due: pylint, pylint-test

cc
  pennylane/transforms/core/compile_pipeline.py
  tests/transforms/core/test_compile_pipeline.py
Due: pylint, pylint-test

documentation tests
  pennylane/noise/add_noise.py
  pennylane/workflow/construct_batch.py
Due: pylint

Alternatives to id
  pennylane/drawer/__init__.py
  pennylane/drawer/label.py
  pennylane/fourier/__init__.py
  pennylane/fourier/circuit_spectrum.py
  pennylane/qcut/cutcircuit_mc.py
  pennylane/qcut/ops.py
  pennylane/qcut/processing.py
Due: pylint

Alternatives to id
  pennylane/drawer/label.py
Due: pylint

Apply suggestion from @albi3ro
  pennylane/fourier/circuit_spectrum.py
Due: pylint

Subroutine abstractions (#8929)
  doc/releases/changelog-dev.md
  pennylane/decomposition/decomposition_graph.py
  pennylane/drawer/draw.py
  pennylane/operation.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/functions/equal.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled.py
  pennylane/templates/__init__.py
  pennylane/templates/subroutine.py
  pennylane/transforms/decompose.py
  tests/capture/test_templates.py
  tests/ops/functions/test_equal.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/templates/test_subroutine.py
Due: pylint, pylint-test

Improve readability when printing an ExecutionConfig
  pennylane/devices/execution_config.py
  tests/devices/test_execution_config.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

a bit more testing
  tests/ops/op_math/test_adjoint.py
Due: pylint-test

pr #
  doc/releases/changelog-dev.md
Due: none

inlfft and weiss
  pennylane/templates/subroutines/qsvt.py
Due: pylint

test
  pennylane/templates/subroutines/qsvt.py
  tests/templates/subroutines/test_qsvt.py
Due: pylint, pylint-test

WIP: fixed inlft problems, rogue comments, and include jax
  pennylane/templates/subroutines/qsvt.py
Due: pylint

wip: changes from prev
  pennylane/templates/subroutines/qsvt.py
Due: pylint

fix some doc tests
  pennylane/transforms/core/compile_pipeline.py
  pennylane/transforms/core/transform.py
Due: pylint

more doc test fix
  pennylane/transforms/__init__.py
Due: pylint

add ability for duplicate levels
  pennylane/resource/specs.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
