Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Add bandit config
  .github/workflows/code_security_scan.yml
  pyproject.toml
Due: none

add more docs
  pennylane/decomposition/resources.py
Due: pylint

fix interpreter to also copy over the execution config
  pennylane/devices/qubit/dq_interpreter.py
Due: pylint

add transform program tests
  tests/transforms/core/test_transform_program.py
Due: pylint-test

Jay's comments
  pennylane/templates/state_preparations/qrom_state_prep.py
  tests/templates/test_state_preparations/test_qrom_state_prep.py
Due: pylint, pylint-test

fix cond with no returns and dynamic shapes enabled
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_cond.py
Due: pylint, pylint-test

add capture qnode tests
  tests/capture/workflow/test_capture_qnode.py
Due: pylint-test

Pass scan dir
  .github/workflows/code_security_scan.yml
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

update decomp
  tests/capture/transforms/test_capture_decompose.py
Due: pylint-test

ghost wires added
  pennylane/io/qualtran_io.py
Due: pylint

fixed
  tests/io/test_qualtran_io.py
Due: pylint-test

cachetools for doc
  doc/requirements.txt
Due: none

change example
  pennylane/io/qualtran_io.py
Due: pylint

fix
  pennylane/io/qualtran_io.py
Due: pylint

tape transforms
  doc/introduction/program_capture_sharp_bits.rst
Due: none

format
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

more doc updatess
  pennylane/decomposition/decomposition_rule.py
  pennylane/operation.py
  tests/decomposition/test_decomposition_rule.py
Due: pylint, pylint-test

fixes
  pennylane/io/qualtran_io.py
  tests/io/test_qualtran_io.py
Due: pylint, pylint-test

code review
  pennylane/liealg/__init__.py
  pennylane/pauli/dla/center.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

fixes
  pennylane/io/qualtran_io.py
Due: pylint

coder review: remove backticks from deprecation warning message
  pennylane/pauli/dla/center.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

Update severity
  .github/workflows/code_security_scan.yml
Due: none

fix qft test
  tests/capture/workflow/test_capture_qnode.py
Due: pylint-test

Ignore qml.execute input
  pennylane/optimize/qnspsa.py
Due: pylint

initial commit
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qft.py
  tests/templates/test_subroutines/test_qft.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Add support for more PL Ops
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

link to module doc
  pennylane/pauli/dla/center.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

link to module
  pennylane/pauli/dla/center.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/dla/structure_constants.py
Due: pylint

Update pennylane/templates/subroutines/qft.py
  pennylane/templates/subroutines/qft.py
Due: pylint

Create ``liealg`` module (#6935)
  doc/code/qml_liealg.rst
  doc/code/qml_pauli.rst
  doc/development/deprecations.rst
  doc/index.rst
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/labs/dla/cartan_subalgebra.py
  pennylane/liealg/__init__.py
  pennylane/liealg/center.py
  pennylane/liealg/lie_closure.py
  pennylane/liealg/structure_constants.py
  pennylane/pauli/__init__.py
  pennylane/pauli/dla/__init__.py
  pennylane/pauli/dla/lie_closure.py
  pennylane/pauli/dla/structure_constants.py
  pennylane/pauli/pauli_vspace.py
  tests/liealg/test_center.py
  tests/liealg/test_lie_closure.py
  tests/liealg/test_structure_constants.py
  tests/pauli/dla/test_deprecations.py
  tests/pauli/test_pauli_vspace.py
Due: pylint, pylint-test
