Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Apply suggestions from code review
  doc/releases/changelog-0.39.0.md
Due: none

updating tests
  pennylane/labs/tests/resource_estimation/ops/op_math/test_controlled_ops.py
Due: pylint

Add new line
  .github/workflows/docs.yml
Due: none

fixing casting arrays
  pennylane/__init__.py
  pennylane/devices/default_tensor.py
  pennylane/labs/templates/state_preparations/state_prep_mps.py
  pennylane/labs/tests/templates/test_state_preparations/test_state_prep_mps.py
Due: pylint

removing labs imports
  pennylane/__init__.py
Due: pylint

updating to new class method
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
  pennylane/labs/resource_estimation/ops/qubit/parametric_ops_single_qubit.py
  pennylane/labs/resource_estimation/resource_container.py
Due: pylint

adding class methods
  pennylane/labs/resource_estimation/ops/identity.py
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
Due: pylint

v0.39 Changelog (#6457)
  doc/releases/changelog-0.39.0.md
Due: none

Changing more docs output
  doc/development/adding_operators.rst
  doc/introduction/inspecting_circuits.rst
  doc/introduction/operations.rst
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/queuing.py
  pennylane/tape/tape.py
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/subroutines/aqft.py
  pennylane/templates/subroutines/qft.py
Due: pylint

Remove PR body new line
  .github/workflows/docs.yml
Due: none

empty
  doc/releases/changelog-0.39.0.md
Due: none

One more fix
  pennylane/tape/tape.py
Due: pylint

remove DMprep. Try reuser stateprep
  pennylane/operation.py
Due: pylint

fixing failing tests
  pennylane/labs/resource_estimation/ops/qubit/non_parametric_ops.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_non_parametric_ops.py
  pennylane/labs/tests/resource_estimation/ops/qubit/test_parametric_ops_single_qubit.py
Due: pylint

Added changelog entry
  doc/releases/changelog-0.39.0.md
Due: none

Adding check for case with wires provided as strings
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint-test

update Lattice examples
  pennylane/spin/lattice.py
Due: pylint

add missing braket
  pennylane/spin/spin_hamiltonian.py
Due: pylint

Adding string representation for some operators (#6493)
  doc/development/adding_operators.rst
  doc/introduction/inspecting_circuits.rst
  doc/introduction/operations.rst
  doc/releases/changelog-0.39.0.md
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/queuing.py
  pennylane/tape/qscript.py
  pennylane/tape/tape.py
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/subroutines/aqft.py
  pennylane/templates/subroutines/qft.py
  pennylane/transforms/convert_to_numpy_parameters.py
  pennylane/transforms/zx/converter.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_evolution.py
  tests/ops/op_math/test_exp.py
  tests/ops/op_math/test_pow_op.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

clarify wording around neighbour_order
  pennylane/spin/lattice.py
Due: pylint

undo non-docs change
  pennylane/spin/lattice.py
Due: pylint

Add back new line, better safe than sorry
  .github/workflows/docs.yml
Due: none

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

will this build?
  pennylane/spin/lattice.py
Due: pylint

stop recording
  pennylane/math/angle_solver.py
Due: pylint

Fix seeds for more tests (#6460)
  tests/devices/test_default_qutrit.py
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
  tests/gradients/finite_diff/test_spsa_gradient_shot_vec.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/interfaces/test_jacobian_products.py
  tests/measurements/test_classical_shadow.py
  tests/templates/test_subroutines/test_amplitude_amplification.py
  tests/templates/test_subroutines/test_reflection.py
  tests/transforms/test_diagonalize_measurements.py
  tests/transforms/test_qcut.py
  tests/transforms/test_split_non_commuting.py
Due: pylint-test

Fix RC sync workflow (#6484)
  .github/workflows/rc_sync.yml
Due: none

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

and will this build?
  pennylane/spin/lattice.py
Due: pylint

and this?
  pennylane/spin/lattice.py
Due: pylint

correct spy_tensordot
  tests/devices/qubit_mixed/test_qubit_mixed_apply_operation.py
Due: pylint-test

Remove body entirely
  .github/workflows/docs.yml
Due: none

tidy up
  pennylane/spin/lattice.py
Due: pylint

update neighbour_order error in Lattice
  pennylane/spin/lattice.py
Due: pylint

linebreaks for long example lines
  pennylane/spin/lattice.py
Due: pylint

update test
  tests/spin/test_lattice.py
Due: pylint-test

remove duplicated tests
  tests/devices/qubit_mixed/test_qubit_mixed_apply_operation.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
