Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update pennylane/templates/subroutines/amplitude_amplification.py
  pennylane/templates/subroutines/amplitude_amplification.py
Due: pylint

Update tests/templates/test_subroutines/test_amplitude_amplification.py
  tests/templates/test_subroutines/test_amplitude_amplification.py
Due: pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Using `.pauli_rep` in checks
  pennylane/ops/functions/is_commuting.py
  tests/ops/functions/test_is_commuting.py
Due: pylint, pylint-test

fix hadamard grad and hamiltonian_grad with sum
  pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/hamiltonian_grad.py
  pennylane/gradients/parameter_shift.py
  pennylane/ops/op_math/sum.py
Due: pylint

Added qutrit_mixed simulate to changelog
  doc/releases/changelog-dev.md
  pennylane/devices/qutrit_mixed/simulate.py
Due: pylint

Remove unused imports
  pennylane/devices/qutrit_mixed/simulate.py
Due: pylint

changing the `_pword_is_commuting` function using `.pauli_rep`
  pennylane/ops/functions/is_commuting.py
  tests/ops/functions/test_is_commuting.py
Due: pylint, pylint-test

Added tests stubs
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
Due: pylint-test

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Put name in alphabetical order
  doc/releases/changelog-dev.md
Due: none

Hamiltonian -> qml.Hamiltonian in PauliSentence
  pennylane/pauli/pauli_arithmetic.py
Due: pylint

first pass for updates
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/qchem/tapering.py
  tests/qchem/of_tests/test_convert.py
  tests/qchem/of_tests/test_dipole_of.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
  tests/qchem/test_dipole.py
  tests/qchem/test_observable_hf.py
  tests/qchem/test_particle_number.py
  tests/qchem/test_spin.py
  tests/qchem/test_tapering.py
Due: pylint, pylint-test

tests/pulse pass except pickle issue, could be local
  pennylane/pulse/hardware_hamiltonian.py
  pennylane/pulse/parametrized_hamiltonian.py
  tests/pulse/test_rydberg.py
Due: pylint, pylint-test

black formatting
  pennylane/pulse/hardware_hamiltonian.py
Due: pylint

remove re-defined pauli_rep property
  pennylane/pauli/pauli_arithmetic.py
Due: pylint

fix merge
  tests/qchem/test_tapering.py
Due: pylint-test

Remove redundant information in `evolve()` documentation (#5347)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/evolve.py
Due: pylint

qml.LinearCombination -> qml.ops.LinearCombination
  pennylane/__init__.py
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
