Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: 🐍 pylint · Lint labs test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Fix wording
  tests/kernels/test_kernels.py
Due: pylint-test

undo whitespace
  .github/workflows/unit-test.yml
Due: none

Update pennylane/compiler/python_compiler/xdsl_extras/constraints.py
  pennylane/compiler/python_compiler/xdsl_extras/constraints.py
Due: pylint

Update pennylane/compiler/python_compiler/xdsl_extras/traits.py
  pennylane/compiler/python_compiler/xdsl_extras/traits.py
Due: pylint

The decompose transform supports MCMs and Conditionals (#8145)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/condition.py
  pennylane/transforms/decompose.py
  tests/capture/transforms/test_capture_decompose.py
  tests/transforms/test_decompose_transform.py
Due: pylint, pylint-test

Fix fmt
  tests/kernels/test_kernels.py
Due: pylint-test

changes
  pennylane/labs/resource_estimation/resource_operator.py
  pennylane/labs/tests/resource_estimation/test_resource_mapping.py
Due: pylint, labs-pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

add test
  pennylane/labs/tests/trotter_error/product_formulas/test_bch.py
  pennylane/labs/tests/trotter_error/product_formulas/test_error.py
  pennylane/labs/trotter_error/product_formulas/error.py
Due: pylint, labs-pylint-test

Remove the hallucination of copilot autocomplete
  pennylane/devices/default_qubit.py
Due: pylint

add test for __eq__
  pennylane/labs/tests/resource_estimation/test_resource_operator.py
Due: pylint, labs-pylint-test

Better test suite
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint-test

update test
  pennylane/labs/tests/trotter_error/product_formulas/test_bch.py
Due: pylint, labs-pylint-test

fix codefactor
  pennylane/labs/tests/trotter_error/product_formulas/test_bch.py
Due: pylint, labs-pylint-test

more tests
  pennylane/labs/tests/resource_estimation/test_resource_operator.py
Due: pylint, labs-pylint-test

tests
  pennylane/labs/tests/resource_estimation/test_resource_operator.py
Due: pylint, labs-pylint-test

num-wires
  pennylane/labs/resource_estimation/resource_operator.py
Due: pylint

Add filecheck tests for allocation/deallocation, insertion/extraction
  tests/python_compiler/dialects/test_quantum_dialect.py
Due: pylint-test

Add filecheck tests for state prep operations
  tests/python_compiler/dialects/test_quantum_dialect.py
Due: pylint-test

Addressed comments
  pennylane/labs/resource_estimation/templates/qubitize.py
  pennylane/labs/resource_estimation/templates/select.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_qubitize.py
  pennylane/labs/tests/resource_estimation/test_qubit_manager.py
Due: pylint, labs-pylint-test

Check (non-unitary) circuit identities
  pennylane/labs/circuit_identity/__init__.py
  pennylane/labs/circuit_identity/check_circuit_id.py
Due: pylint

Fall back to op.decompose if op is unsolved in decomposition graph
  pennylane/decomposition/decomposition_graph.py
  pennylane/transforms/decompose.py
  tests/decomposition/test_decomposition_graph.py
Due: pylint, pylint-test

make outputs more useful
  pennylane/labs/circuit_identity/check_circuit_id.py
Due: pylint

added printing support
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/qubit_manager.py
  pennylane/labs/resource_estimation/resource_tracking.py
Due: pylint

Add filecheck tests for miscelleneous operations
  tests/python_compiler/dialects/test_quantum_dialect.py
Due: pylint-test

Make run_filecheck logs better
  tests/python_compiler/conftest.py
Due: pylint-test

clearer debugging output
  pennylane/labs/circuit_identity/check_circuit_id.py
Due: pylint

add tests
  tests/transforms/test_decompose_transform_graph.py
Due: pylint-test

Addressed comments
  pennylane/labs/tests/resource_estimation/templates/test_qubitize.py
  pennylane/labs/tests/resource_estimation/templates/test_select.py
  pennylane/labs/tests/resource_estimation/templates/test_stateprep.py
Due: pylint, labs-pylint-test

chore: autograph: remove `autograph` kwarg from `QNode` constructor (#8104)
  doc/releases/changelog-dev.md
  pennylane/workflow/_capture_qnode.py
  pennylane/workflow/qnode.py
  tests/capture/autograph/test_autograph.py
  tests/capture/autograph/test_autograph_for_loop.py
  tests/capture/autograph/test_autograph_logical_ops.py
  tests/capture/autograph/test_autograph_while_loop.py
  tests/capture/autograph/test_if_else.py
  tests/capture/test_capture_for_loop.py
  tests/capture/test_capture_while_loop.py
  tests/capture/test_make_plxpr.py
  tests/capture/transforms/test_capture_dynamic_decompositions.py
  tests/capture/transforms/test_capture_map_wires.py
  tests/capture/workflow/test_capture_qnode.py
  tests/capture/workflow/test_jvp_integration.py
  tests/templates/test_layers/test_strongly_entangling.py
  tests/templates/test_subroutines/test_grover.py
  tests/templates/test_subroutines/test_qft.py
Due: pylint, pylint-test

ooops
  pennylane/transforms/decompose.py
Due: pylint

sort
  pennylane/compiler/python_compiler/dialects/stablehlo/dialect.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_binary.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_other.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_unary.py
  pennylane/compiler/python_compiler/dialects/stablehlo/types.py
  pennylane/labs/tests/resource_estimation/test_resource_operator.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint, labs-pylint-test

fix import
  tests/transforms/test_cliffordt_transform.py
Due: pylint-test

oooops
  pennylane/transforms/decompose.py
Due: pylint

force autoray temporarily
  .github/workflows/interface-unit-tests.yml
Due: none

try out
  doc/requirements.txt
Due: none

isort ig
  tests/python_compiler/xdsl_extras/test_constraints.py
Due: pylint-test

Add __eq__ method to resource operator (#8155)
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/dialects/stablehlo/dialect.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_binary.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_other.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_unary.py
  pennylane/compiler/python_compiler/dialects/stablehlo/types.py
  pennylane/labs/resource_estimation/resource_operator.py
  pennylane/labs/tests/resource_estimation/test_resource_mapping.py
  pennylane/labs/tests/resource_estimation/test_resource_operator.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  tests/python_compiler/xdsl_extras/test_constraints.py
Due: pylint, pylint-test, labs-pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
