Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Update drawer catalyst and add draw_mpl (#4815)
  .github/workflows/interface-unit-tests.yml
  pennylane/_grad.py
  pennylane/drawer/draw.py
  tests/drawer/test_draw_catalyst.py
Due: pylint, pylint-test

Improve performance for `default.qubit.compute_vjp` (#4841)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qubit.py
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/devices/qubit/simulate.py
  tests/devices/qubit/test_adjoint_jacobian.py
Due: pylint, pylint-test

Fix manifest in (#4903)
  MANIFEST.in
Due: none

[Compiler] Add Catalyst control-flow operations (#4698)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/compiler/__init__.py
  pennylane/compiler/qjit_api.py
  pennylane/ops/op_math/condition.py
  tests/test_compiler.py
Due: pylint, pylint-test

tweak `docs`
  pennylane/transforms/decompositions/clifford_t/clifford_t_transform.py
Due: pylint

Compare QuantumScript classes with qml.equal (#4902)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/equal.py
  tests/ops/functions/test_equal.py
Due: pylint, pylint-test

make the pauli_rep operator property public (#4915)
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/operation.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sprod.py
  pennylane/ops/op_math/sum.py
  pennylane/ops/op_math/symbolicop.py
  pennylane/pauli/conversion.py
  pennylane/pauli/pauli_interface.py
  pennylane/qchem/convert.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/ops/op_math/test_composite.py
  tests/ops/op_math/test_pow_op.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sprod.py
  tests/ops/op_math/test_sum.py
  tests/ops/op_math/test_symbolic_op.py
  tests/ops/qubit/test_non_parametric_ops.py
  tests/pauli/test_conversion.py
  tests/test_operation.py
Due: pylint, pylint-test

JAX (non-jit) uses the `JacobianProductCalculator` and device provided vjps (#4878)
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/interfaces/execution.py
  pennylane/interfaces/jax.py
  pennylane/qnode.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/test_jax.py
  tests/interfaces/test_jax_jit.py
  tests/measurements/legacy/test_counts_legacy.py
  tests/measurements/test_counts.py
Due: pylint, pylint-test

Update benchmarks pipeline to export merged benchmarks and CSV runtimes files as artifacts (#4873)
  .github/workflows/benchmarks.yml
  .github/workflows/scripts/benchmarks/export_benchmarks_data.py
  .github/workflows/unit-test.yml
  doc/releases/changelog-dev.md
Due: pylint

lazy-load tape and operator batch sizes (#4911)
  doc/releases/changelog-dev.md
  pennylane/_device.py
  pennylane/operation.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/symbolicop.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/tape/qscript.py
  pennylane/tape/tape.py
  tests/devices/qubit/test_apply_operation.py
  tests/ops/op_math/test_composite.py
  tests/ops/op_math/test_exp.py
  tests/ops/op_math/test_pow_op.py
  tests/ops/op_math/test_sprod.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
  tests/test_operation.py
Due: pylint, pylint-test

Draw `qml.cond`: Part 2; `qml.map_wires` correctly maps nested tape wires (#4901)
  pennylane/drawer/tape_text.py
  tests/drawer/test_draw.py
Due: pylint, pylint-test

Add note to optimizers in case of other interfaces (jax, tf, torch) (#3418)
  pennylane/optimize/adagrad.py
  pennylane/optimize/adam.py
  pennylane/optimize/gradient_descent.py
  pennylane/optimize/momentum.py
  pennylane/optimize/nesterov_momentum.py
Due: pylint

Exp init error if base is not an operator (#3461)
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

Add utility for extracting classical control information to drawer (#4917)
  doc/releases/changelog-dev.md
  pennylane/drawer/tape_text.py
  pennylane/drawer/utils.py
  tests/drawer/test_drawer_utils.py
  tests/drawer/test_tape_text.py
Due: pylint, pylint-test

Removed merge artifacts
  pennylane/drawer/tape_text.py
Due: pylint

Classical conditions in the matplotlib drawer (#4850)
  doc/releases/changelog-dev.md
  pennylane/drawer/mpldrawer.py
  pennylane/drawer/tape_mpl.py
  tests/drawer/test_mpldrawer.py
  tests/drawer/test_tape_mpl.py
Due: pylint, pylint-test

Add Clifford+T example
  doc/releases/changelog-dev.md
Due: none

Fix example
  doc/releases/changelog-dev.md
Due: none

parity transform
  pennylane/fermi/__init__.py
  pennylane/fermi/conversion.py
  tests/fermi/test_parity_mapping.py
  tests/pytest.ini
Due: pylint, pylint-test

parity transform
  tests/pytest.ini
Due: none

update tests
  tests/transforms/test_broadcast_expand.py
Due: pylint-test

parity transform
  pennylane/fermi/conversion.py
Due: pylint

Clifford+T Decomposition Transform (#4802)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/math/single_dispatch.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/decompositions/clifford_t/__init__.py
  pennylane/transforms/decompositions/clifford_t/clifford_t_transform.py
  pennylane/transforms/decompositions/clifford_t/solovay_kitaev.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/optimization/optimization_utils.py
  tests/transforms/test_clifford_t/test_cliffordt_transform.py
Due: pylint, pylint-test

parity transform
  tests/fermi/test_parity_mapping.py
Due: pylint-test

Parity transform
  doc/releases/changelog-dev.md
Due: none

add interface test
  pennylane/ops/functions/equal.py
  tests/ops/functions/test_equal.py
Due: pylint, pylint-test

improve changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

pytest mark jax
  tests/ops/functions/test_equal.py
Due: pylint-test

full coverage tests
  pennylane/devices/default_clifford.py
  tests/devices/test_default_clifford.py
Due: pylint, pylint-test

happy black
  pennylane/devices/default_clifford.py
Due: pylint

Parity transform
  pennylane/fermi/conversion.py
Due: pylint

parity transform with black
  tests/fermi/test_parity_mapping.py
Due: pylint-test

remove custom eq method and instead initialize t as (0,0)
  pennylane/pulse/parametrized_evolution.py
Due: pylint

validity checks
  pennylane/pulse/parametrized_evolution.py
Due: pylint

add dense keyword
  pennylane/pulse/parametrized_evolution.py
Due: pylint

formatting
  pennylane/pulse/parametrized_evolution.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-test
