Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

introduce QubitDevice.get_diagonalizing_gates; skip Hamiltonian in default.qubit
  pennylane/_qubit_device.py
  pennylane/devices/default_qubit.py
  pennylane/devices/null_qubit.py
Due: pylint

Added tests for the new return type for qutrits
  tests/returntypes/core/test_new_return_types_qnode.py
Due: pylint-tests

fix filter in default.qubit
  pennylane/devices/default_qubit.py
Due: pylint

Sanity check
  tests/pulse/test_parametrized_evolution.py
Due: pylint-tests

Updated changelog
  doc/releases/changelog-dev.md
Due: none

perhaps this will work
  tests/pulse/test_parametrized_evolution.py
Due: pylint-tests

make method private; add tests
  pennylane/_qubit_device.py
  pennylane/devices/default_qubit.py
  pennylane/devices/null_qubit.py
  tests/devices/test_default_qubit.py
  tests/test_qubit_device.py
Due: pylint, pylint-tests

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

give flaky test more shots; mark slow test as such; linting (#3933)
  pennylane/devices/default_qubit.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  tests/devices/qubit/test_sampling.py
Due: pylint, pylint-tests

add tests on samples=1, move where error is raised
  pennylane/measurements/sample.py
  tests/measurements/test_sample.py
Due: pylint, pylint-tests

oops
  pennylane/devices/default_qubit.py
  pennylane/devices/qubit/preprocess.py
  pennylane/interfaces/autograd.py
  pennylane/interfaces/execution.py
  tests/devices/qubit/test_preprocess.py
  tests/devices/qubit/test_sampling.py
  tests/returntypes/autograd/test_autograd_new.py
  tests/tests_passing_pylint.txt
Due: pylint, pylint-tests

Delete test_autograd_default_qubit_2.py
  tests/returntypes/autograd/test_autograd_default_qubit_2.py
Due: pylint-tests

Delete test_execute_default_qubit_2.py
  tests/returntypes/core/test_execute_default_qubit_2.py
Due: pylint-tests

Update regex match in failing test
  tests/pulse/test_hardware_hamiltonian.py
Due: pylint-tests

fix tensor validation in the new qubit device expand_fn
  pennylane/devices/qubit/preprocess.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-tests

perhaps now
  tests/pulse/test_parametrized_evolution.py
Due: pylint-tests

move get_as_tensor to PW.operation(), fix test
  pennylane/pauli/pauli_arithmetic.py
  tests/ops/functions/test_dot.py
  tests/pauli/test_pauli_arithmetic.py
Due: pylint, pylint-tests

Fix `Evolution.generator` (#3796)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/evolution.py
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_evolution.py
Due: pylint, pylint-tests

format
  pennylane/pauli/conversion.py
  pennylane/pauli/pauli_arithmetic.py
Due: pylint

update tapering
  pennylane/qchem/tapering.py
  tests/qchem/test_tapering.py
Due: pylint, pylint-tests

clean the QueuingManager to not itself be a queue
  pennylane/queuing.py
Due: pylint

update pauli ops reps
  pennylane/ops/identity.py
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-tests

format
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

remove observable mult
  pennylane/qchem/tapering.py
  tests/qchem/test_tapering.py
Due: pylint, pylint-tests

changelog
  doc/releases/changelog-dev.md
Due: none

Black and linting
  tests/tests_old_return/conftest.py
  tests/tests_old_return/test_qnode_old.py
  tests/tests_old_return/test_transforms_old.py
  tests/tests_old_return/tests_interfaces_old.py
Due: pylint-tests

More tests
  tests/tests_old_return/test_transforms_old.py
Due: pylint-tests

Qnode tests
  tests/tests_old_return/conftest.py
  tests/tests_old_return/test_qnode_autograd_old.py
  tests/tests_old_return/test_qnode_jax_old.py
  tests/tests_old_return/test_qnode_old.py
  tests/tests_old_return/test_qnode_tf_old.py
  tests/tests_old_return/test_torch_qnode_old.py
  tests/tests_old_return/tests_interfaces_old.py
Due: pylint-tests

Apply suggestions from code review
  pennylane/pulse/hardware_hamiltonian.py
Due: pylint

[WIP] Move no-jax-warning in ParametrizedEvolution (#3937)
  pennylane/pulse/parametrized_evolution.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

update example code updates
  pennylane/pulse/hardware_hamiltonian.py
Due: pylint

Fix doc for pulse.rect to use vmap
  pennylane/pulse/convenience_functions.py
Due: pylint

explain vmap
  pennylane/pulse/convenience_functions.py
Due: pylint

Add note
  pennylane/pulse/convenience_functions.py
Due: pylint

black
  pennylane/pulse/convenience_functions.py
Due: pylint

TransmonSettings with delta handling
  pennylane/pulse/hardware_hamiltonian.py
  pennylane/pulse/rydberg.py
  pennylane/pulse/transmon.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
