Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

remove trailing whitespaces
  pennylane/interfaces/torch.py
Due: pylint

add conversion to JSON-XUBM before upload
  .github/workflows/benchmark_scripts/convert_pytest_JSON_to_XUBM.py
  .github/workflows/unit-test-benchmarks.yml
Due: pylint

Update docstrings
  pennylane/_grad.py
Due: pylint

Apply suggestions from code review
  pennylane/interfaces/torch.py
Due: pylint

Update pennylane/interfaces/torch.py
  pennylane/interfaces/torch.py
Due: pylint

[skip ci] Addressing review; removing old artifacts
  pennylane/drawer/drawable_layers.py
  pennylane/drawer/tape_text.py
  pennylane/drawer/utils.py
Due: pylint

extra test + Jay comments
  doc/releases/changelog-dev.md
  pennylane/ops/functions/__init__.py
  tests/ops/functions/test_iterative_qpe.py
Due: pylint, pylint-test

tmp
  pennylane/drawer/mpldrawer.py
  pennylane/drawer/tape_mpl.py
Due: pylint

fix requirements to make docker builds pass (#4810)
  docker/interfaces/gpu-cuda/cuda-base.dockerfile
  docker/pennylane.dockerfile
Due: none

Updated indexing
  doc/releases/changelog-dev.md
  pennylane/drawer/drawable_layers.py
  pennylane/drawer/tape_text.py
Due: pylint

Linting
  pennylane/drawer/tape_text.py
Due: pylint

add caching
  pennylane/devices/default_qubit.py
  pennylane/devices/qubit/simulate.py
  pennylane/qnode.py
Due: pylint

better application of observable to state vector
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/devices/qubit/apply_operation.py
Due: pylint

update benchmarks data file management in reference and branch
  .github/workflows/unit-test-benchmarks.yml
  scripts/benchmarks/convert_pytest_JSON_to_XUBM.py
Due: pylint

try to debug CI errors
  tests/ops/functions/test_assert_valid.py
Due: pylint-test

add plot benchmarks script
  .github/workflows/unit-test-benchmarks.yml
  scripts/benchmarks/convert_pytest_JSON_to_XUBM.py
  scripts/benchmarks/plot_benchmarks.py
Due: pylint

update upload to artifact steps
  .github/workflows/unit-test-benchmarks.yml
  scripts/benchmarks/plot_benchmarks.py
Due: pylint

improve error message, make tests run
  doc/development/adding_operators.rst
  pennylane/ops/functions/assert_valid.py
  tests/ops/functions/test_assert_valid.py
Due: pylint, pylint-test

Update doc/development/adding_operators.rst
  doc/development/adding_operators.rst
Due: none

fix step condition
  .github/workflows/unit-test-benchmarks.yml
  scripts/benchmarks/plot_benchmarks.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-dev.md
Due: none

update path
  .github/workflows/unit-test-benchmarks.yml
Due: none

update steps
  .github/workflows/unit-test-benchmarks.yml
Due: none

update plot benchmarks script
  scripts/benchmarks/plot_benchmarks.py
Due: pylint

ammend the changes
  pennylane/error_prop/error_prop.py
  pennylane/resource/resource.py
Due: pylint

Fix gradient transforms with default qubit and overridden shot vectors (#4795)
  doc/releases/changelog-dev.md
  pennylane/qnode.py
  tests/gradients/core/test_gradient_transform.py
Due: pylint, pylint-test

[skip ci] Always left align
  pennylane/drawer/tape_text.py
Due: pylint

Add ndim_params
  pennylane/templates/state_preparations/basis.py
  pennylane/templates/state_preparations/mottonen.py
Due: pylint

add test for warning
  tests/transforms/test_transpile.py
Due: pylint-test

transpose wire ordering for state results after transpile (#4793)
  doc/releases/changelog-dev.md
  pennylane/transforms/transpile.py
  tests/transforms/test_transpile.py
Due: pylint, pylint-test

more testing
  pennylane/ops/functions/assert_valid.py
  tests/ops/functions/test_assert_valid.py
  tests/ops/functions/test_bind_new_parameters.py
Due: pylint, pylint-test

Raise error if broadcasting with `MottonenStatePreparation` and `BasisStatePreparation` `compute_decomposition` (#4767)
  doc/releases/changelog-dev.md
  pennylane/templates/state_preparations/basis.py
  pennylane/templates/state_preparations/mottonen.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/transforms/test_batch_input.py
  tests/transforms/test_batch_params.py
Due: pylint, pylint-test

create a PL-specific deprecation warning
  pennylane/__init__.py
  pennylane/operation.py
  pennylane/ops/functions/generator.py
  pennylane/ops/op_math/controlled.py
  pennylane/tape/qscript.py
  pennylane/transforms/__init__.py
  pennylane/transforms/batch_transform.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/op_transforms.py
  pennylane/transforms/qfunc_transforms.py
  pennylane/vqe/vqe.py
Due: pylint

Update drawer
  pennylane/drawer/draw.py
  tests/drawer/test_draw_catalyst.py
Due: pylint, pylint-test

[skip ci] Adding stuff as foundation for future work
  pennylane/drawer/tape_text.py
Due: pylint

Add matplotlib to tests
  .github/workflows/interface-unit-tests.yml
Due: none

[skip ci] Linting
  pennylane/drawer/tape_text.py
Due: pylint

Update comment
  pennylane/drawer/draw.py
Due: pylint

stop allowing string control_values for ctrl
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/controlled.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_controlled_ops.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
