Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Apply suggestion from @albi3ro
  doc/releases/changelog-dev.md
Due: none

Apply suggestion from @albi3ro
  tests/capture/test_templates.py
Due: pylint-test

resolve differences
  pennylane/templates/subroutines/qchem/basis_rotation.py
  tests/capture/test_templates.py
  tests/ops/functions/test_equal.py
Due: pylint, pylint-test

fix
  pennylane/debugging/debugger.py
Due: pylint

Update pennylane/decomposition/decomposition_rule.py
  pennylane/decomposition/decomposition_rule.py
Due: pylint

add new debugging test file
  tests/debugging/test_debugger.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

update
  pennylane/labs/transforms/multix.py
Due: pylint

remove redundant decomposition
  pennylane/labs/transforms/multix.py
Due: pylint

link
  pennylane/pauli/trace_inner_product.py
Due: pylint

add regression tests
  tests/debugging/test_debugger.py
Due: pylint-test

nvm don't test debug_tape
  tests/debugging/test_debugger.py
Due: pylint-test

improve testing
  tests/debugging/test_debugger.py
Due: pylint-test

Apply suggestion from @andrijapau
  tests/debugging/test_debugger.py
Due: pylint-test

another reorder
  pennylane/transforms/__init__.py
Due: pylint

Format
  pennylane/pauli/trace_inner_product.py
Due: pylint

Fix edit
  pennylane/pauli/trace_inner_product.py
Due: pylint

Remove tests depending on lightning + PLxPR
  tests/capture/workflow/test_capture_qnode.py
Due: pylint-test

Changelog
  doc/releases/changelog-dev.md
Due: none

rename to inspect_decomps
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_rule.py
  tests/decomposition/test_decomposition_rule.py
Due: pylint, pylint-test

restore pytrees
  pennylane/pytrees/pytrees.py
Due: pylint

Revert "restore pytrees"
  pennylane/pytrees/pytrees.py
Due: pylint

restore tests pytrees
  tests/pytrees/test_pytrees.py
Due: pylint-test

fix tests
  tests/pytrees/test_pytrees.py
Due: pylint-test

Remove tests depending on lightning + PLxPR (#9345)
  doc/releases/changelog-dev.md
  tests/capture/workflow/test_capture_qnode.py
Due: pylint-test

pylint disable
  tests/debugging/test_debugger.py
Due: pylint-test

cl
  doc/releases/changelog-dev.md
Due: none

add borrowed
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

local stable version
  pennylane/estimator/ops/op_math/symbolic.py
  pennylane/estimator/templates/stateprep.py
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/profiler/__init__.py
  pennylane/labs/profiler/extract.py
  pennylane/labs/profiler/resource_profile.py
  pennylane/labs/profiler/visualization.py
Due: pylint

init
  doc/releases/changelog-dev.md
Due: none

Register jax-jit compatible basis embedding decomp (#9339)
  doc/releases/changelog-dev.md
  pennylane/templates/embeddings/basis.py
Due: pylint

minor fixes
  doc/releases/changelog-dev.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
