Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
- repo: local
  hooks:
    - id: pylint-tests
      name: pylint whitelisted tests
      language: system
      types: [python]
      entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'
      files: ^tests/
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/

Made ZYZ decomposition consistent with XYX and ZXZ
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

working prototype
  pennylane/gradients/pulse_gradient.py
  pennylane/pulse/hardware_hamiltonian.py
Due: pylint

Minor changes to documentation
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

finish merge; cleanup
  pennylane/gradients/pulse_gradient.py
  pennylane/pulse/hardware_hamiltonian.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

comments
  pennylane/gradients/pulse_gradient.py
Due: pylint

raising an error; cleanup [skip ci]
  pennylane/gradients/pulse_gradient.py
Due: pylint

lint
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

Use `pauli_word_prefactor` in `stoch_pulse_grad` (#4156)
  doc/releases/changelog-dev.md
  pennylane/gradients/pulse_gradient.py
  tests/gradients/core/test_pulse_gradient.py
Due: pylint, pylint-tests

Update pennylane/fermi/fermionic.py
  pennylane/fermi/fermionic.py
Due: pylint

error + test
  pennylane/pulse/parametrized_evolution.py
  pennylane/pulse/parametrized_hamiltonian.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

Update docstring
  pennylane/ops/qubit/observables.py
Due: pylint

Apply suggestions from code review
  doc/introduction/interfaces.rst
Due: none

Doc
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Add noncubic lattice for all electron resource estimation (#3956)
  pennylane/resource/first_quantization.py
  tests/resource/test_first_quantization.py
Due: pylint, pylint-tests

Apply code review suggestions
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
Due: pylint, pylint-tests

update test
  tests/fermi/test_fermionic.py
Due: pylint-tests

Made behaviour of ZYZ and ZXZ consistent
  pennylane/ops/op_math/controlled_decompositions.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/single_qubit_unitary.py
  pennylane/transforms/unitary_to_rot.py
  tests/transforms/test_decompositions.py
Due: pylint, pylint-tests

Add the `FermiWord` class (#4191)
  doc/releases/changelog-dev.md
  pennylane/fermi/__init__.py
  pennylane/fermi/fermionic.py
  tests/fermi/test_fermionic.py
  tests/tests_passing_pylint.txt
Due: pylint, pylint-tests

black
  tests/fermi/test_fermionic.py
Due: pylint-tests

update todos
  pennylane/fermi/fermionic.py
Due: pylint

fix code formatting
  pennylane/fermi/fermionic.py
Due: pylint

formatting
  tests/fermi/test_fermionic.py
Due: pylint-tests

Fix
  pennylane/interfaces/execution.py
  pennylane/interfaces/jax_jit_tuple.py
  tests/interfaces/test_jax_jit_qnode.py
Due: pylint, pylint-tests

pylint
  tests/qnn/test_keras.py
Due: pylint-tests

pylint
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
Due: pylint-tests

reorganize tests
  tests/fermi/test_fermionic.py
  tests/fermi/test_fermionic_operators.py
Due: pylint-tests

update tests
  tests/fermi/test_fermionic.py
Due: pylint-tests

Decomment test now that #4194 is fixed
  tests/qinfo/test_trace_distance.py
Due: pylint-tests

fix failing tests
  tests/ops/functions/test_equal.py
  tests/ops/functions/test_evolve.py
Due: pylint-tests

pylint unused import
  tests/fermi/test_fermionic_operators.py
Due: pylint-tests

Proper bra-ket in label
  pennylane/ops/qubit/observables.py
Due: pylint

Update docker/interfaces/install-interface-gpu.sh
  docker/interfaces/install-interface-gpu.sh
Due: none

update docstrings
  pennylane/fermi/fermionic.py
Due: pylint
