Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--line-length=100",
              "-t", "py311",
              "-t", "py312",
              "-t", "py313",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-o",
          "autoray",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

add it back
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
Due: pylint-test

Update pennylane/measurements/measurement_value.py
  pennylane/measurements/measurement_value.py
Due: pylint

fix dir
  tests/gradients/core/test_gradient_transform.py
Due: pylint-test

fix test_default_qubit_preprocessing
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint-test

Deprecate `QuantumScript.shape` and `QuantumScript.numeric_type` (#7950)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/tape/qscript.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint, pylint-test

Update pennylane/wires.py
  pennylane/wires.py
Due: pylint

Fix wording in docs
  doc/introduction/compiling_circuits.rst
Due: none

Update pennylane/__init__.py
  pennylane/__init__.py
Due: pylint

torch tests pass what a nuisance aaaaaaaaa
  pennylane/math/quantum.py
  tests/math/test_choi.py
Due: pylint, pylint-test

add comma
  pennylane/__init__.py
Due: pylint

Revert changelog
  doc/releases/changelog-dev.md
Due: none

deprecate MeasurementProcess.expand
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/measurements/measurements.py
  pennylane/tape/tape.py
  tests/measurements/test_measurements.py
Due: pylint, pylint-test

Make is even check more explicit
  pennylane/templates/subroutines/trotter.py
Due: pylint

Update pennylane/measurements/measurements.py
  pennylane/measurements/measurements.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  pennylane/compiler/python_compiler/transforms/diagonalize_measurements.py
  tests/python_compiler/transforms/test_xdsl_diagonalize_measurements.py
Due: pylint, pylint-test

fix out multiplier cost
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

Changelog indentation
  doc/releases/changelog-dev.md
Due: none

fix typo + use XOrIOp instead of RemSIOp
  pennylane/compiler/python_compiler/transforms/convert_to_mbqc_formalism.py
Due: pylint

Remove those remainig commented out local salts
  tests/devices/qubit/test_sampling.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/templates/test_subroutines/test_reflection.py
Due: pylint-test

fix control flow in _insert_byproduct_op by adding scf.YieldOp
  pennylane/compiler/python_compiler/transforms/convert_to_mbqc_formalism.py
Due: pylint

Fix test for RY rotation gate
  tests/transforms/test_zx.py
Due: pylint-test

Deprecate qnode call `shots=` kwarg (#7906)
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/optimize/shot_adaptive.py
  pennylane/workflow/qnode.py
  pennylane/workflow/set_shots.py
  tests/devices/default_qubit/test_default_qubit.py
  tests/gradients/core/test_gradient_transform.py
  tests/measurements/test_expval.py
  tests/measurements/test_probs.py
  tests/measurements/test_var.py
  tests/test_debugging.py
  tests/test_qcut.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/transforms/test_defer_measurements.py
  tests/workflow/interfaces/qnode/test_autograd_qnode.py
  tests/workflow/interfaces/qnode/test_jax_jit_qnode.py
  tests/workflow/interfaces/qnode/test_jax_qnode.py
  tests/workflow/interfaces/qnode/test_tensorflow_autograph_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode.py
  tests/workflow/interfaces/qnode/test_tensorflow_qnode_shot_vector.py
  tests/workflow/interfaces/qnode/test_torch_qnode.py
Due: pylint, pylint-test

Don't assign ifOp yield result to aux_qubits_dict[5] and use replace_all_uses_with to ensure the op.result.use op are updated with result qubit
  pennylane/compiler/python_compiler/transforms/convert_to_mbqc_formalism.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Deprecating feature and counting failures
  pennylane/ops/functions/evolve.py
Due: pylint

added a bug fix for another bug that was found
  pennylane/labs/resource_estimation/templates/subroutines.py
  pennylane/labs/tests/resource_estimation/templates/test_subroutines.py
Due: pylint, labs-pylint-test

Apply suggestions from code review
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

Tach for `measurements` module (#7945)
  doc/releases/changelog-dev.md
  pennylane/measurements/__init__.py
  pennylane/measurements/classical_shadow.py
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/measurement_value.py
  pennylane/measurements/measurements.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/probs.py
  pennylane/measurements/process_samples.py
  pennylane/measurements/purity.py
  pennylane/measurements/sample.py
  pennylane/measurements/state.py
  pennylane/measurements/var.py
  pennylane/measurements/vn_entropy.py
  pennylane/ops/op_math/condition.py
  tach.toml
Due: pylint

Removing deprecated feature in test
  pennylane/ops/functions/evolve.py
  tests/ops/functions/test_bind_new_parameters.py
Due: pylint, pylint-test

Stop recording
  pennylane/templates/subroutines/trotter.py
Due: pylint

Arithmetic template qfunc decompositions (#7779)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/adder.py
  pennylane/templates/subroutines/controlled_sequence.py
  pennylane/templates/subroutines/mod_exp.py
  pennylane/templates/subroutines/multiplier.py
  pennylane/templates/subroutines/out_adder.py
  pennylane/templates/subroutines/out_multiplier.py
  pennylane/templates/subroutines/out_poly.py
  tests/templates/test_subroutines/test_adder.py
  tests/templates/test_subroutines/test_controlled_sequence.py
  tests/templates/test_subroutines/test_mod_exp.py
  tests/templates/test_subroutines/test_multiplier.py
  tests/templates/test_subroutines/test_out_adder.py
  tests/templates/test_subroutines/test_out_multiplier.py
  tests/templates/test_subroutines/test_out_poly.py
Due: pylint, pylint-test

ensure qubit follows SSA use-def chain
  pennylane/compiler/python_compiler/transforms/convert_to_mbqc_formalism.py
Due: pylint

temporal fix for the failure of swapOp creation: Insert an IdentityOp create from res_aux_qubit and use the result of the IdentityOp as in_qubits for swapOp
  pennylane/compiler/python_compiler/transforms/convert_to_mbqc_formalism.py
Due: pylint

Simplified linear algebra
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

Sanity checks
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

pylint
  pennylane/templates/state_preparations/state_prep_mps.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/semi_adder.py
Due: pylint

Deprecating `num_steps` in `Evolution` as well
  pennylane/ops/functions/evolve.py
  pennylane/ops/op_math/evolution.py
  tests/ops/functions/test_bind_new_parameters.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test
