Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

update docs
  doc/introduction/compiling_workflows.rst
  pennylane/compiler/__init__.py
  pennylane/compiler/qjit_api.py
Due: pylint

update mottonen docstr to account for global phase
  pennylane/templates/state_preparations/mottonen.py
Due: pylint

Updating docs and temporarily fixing edge case (`test_tapering` does not support new opmath)
  pennylane/operation.py
  pennylane/ops/functions/generator.py
  pennylane/ops/op_math/evolution.py
  pennylane/ops/op_math/exp.py
Due: pylint

explicitly set dtype on UCCSD geometry
  pennylane/devices/tests/test_templates.py
Due: pylint

just xfail the test
  pennylane/devices/tests/test_templates.py
Due: pylint

groupings not returned, added grouping to construction; added tests
  pennylane/ops/functions/dot.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sum.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sum.py
Due: pylint, pylint-test

Fixed Pord.terms and Sum.terms to stop adding to queue
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sum.py
  tests/ops/op_math/test_prod.py
  tests/ops/op_math/test_sum.py
Due: pylint, pylint-test

Reverted changes to Prod
  pennylane/ops/op_math/prod.py
  tests/ops/op_math/test_prod.py
Due: pylint, pylint-test

move gradient tests up one folder
  pennylane/devices/tests/test_gradients_autograd.py
  pennylane/devices/tests/test_gradients_jax.py
  pennylane/devices/tests/test_gradients_tf.py
  pennylane/devices/tests/test_gradients_torch.py
Due: pylint

Update changed dependencies
  .github/stable/core.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

update example
  pennylane/resource/error.py
Due: pylint

Update pennylane/transforms/core/transform_program.py
  pennylane/transforms/core/transform_program.py
Due: pylint

Fix prune transform.
  pennylane/transforms/core/transform_program.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

black formatting
  pennylane/ops/op_math/sprod.py
Due: pylint

Update pennylane/dla/lie_closure.py
  pennylane/dla/lie_closure.py
Due: pylint

VSpace -> PauliVSpace
  pennylane/dla/lie_closure.py
  tests/dla/test_lie_closure.py
Due: pylint, pylint-test

update test
  tests/ops/op_math/test_linear_combination.py
Due: pylint-test

Make LinearCombination subclss of Sum
  pennylane/ops/op_math/__init__.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/op_math/linear_combination.py
  pennylane/ops/op_math/prod.py
  pennylane/ops/op_math/sum.py
Due: pylint

Add `SProd.terms()` method (#5287)
  doc/development/deprecations.rst
  doc/releases/changelog-0.35.0.md
  pennylane/ops/op_math/sprod.py
  tests/ops/op_math/test_sprod.py
Due: pylint, pylint-test

fixing case in which pow's generator is called with a not `SProd` base
  pennylane/ops/op_math/pow.py
Due: pylint

move qchem tests to bottom with h2 fixture, test uccsd with h2
  pennylane/devices/tests/test_templates.py
Due: pylint

confusion around data and parameters
  pennylane/ops/op_math/sum.py
  tests/ops/op_math/test_linear_combination.py
Due: pylint, pylint-test

Removed unnecessary stop_recording
  pennylane/ops/op_math/prod.py
Due: pylint

update changelog
  doc/releases/changelog-dev.md
Due: none

skip backprop tests on non-passthru devices
  pennylane/devices/tests/conftest.py
  pennylane/devices/tests/test_gradients_autograd.py
  pennylane/devices/tests/test_gradients_jax.py
  pennylane/devices/tests/test_gradients_tf.py
  pennylane/devices/tests/test_gradients_torch.py
Due: pylint

make is_independent a feature
  pennylane/dla/lie_closure.py
  tests/dla/test_lie_closure.py
Due: pylint, pylint-test

Added changelog entry
  doc/releases/changelog-dev.md
  pennylane/ops/functions/dot.py
  pennylane/ops/op_math/sum.py
Due: pylint

black formatting
  pennylane/dla/lie_closure.py
  tests/dla/test_lie_closure.py
Due: pylint, pylint-test

update method kwarg
  pennylane/qchem/openfermion_obs.py
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint, pylint-test

Fix broken links to `from_*()` functions
  doc/introduction/importing_circuits.rst
Due: none

Use `repr()` instead of `str()` output for PennyLane operator
  doc/introduction/importing_circuits.rst
Due: none

Rename `PennyLane-Forest` to `PennyLane-Rigetti`
  doc/introduction/importing_circuits.rst
Due: none

Use Sentence case instead of Title Case for section titles
  doc/introduction/importing_circuits.rst
Due: none

trim lightning dev version in stable deps (#5254)
  .github/workflows/install_deps/action.yml
Due: none

correct package name
  pennylane/qchem/openfermion_obs.py
Due: pylint

skip faulty tests
  pennylane/devices/tests/test_gradients_autograd.py
  pennylane/devices/tests/test_gradients_jax.py
  pennylane/devices/tests/test_gradients_tf.py
  pennylane/devices/tests/test_gradients_torch.py
  pennylane/devices/tests/test_templates.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
