Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

teest dense inheritance
  tests/pulse/test_parametrized_evolution.py
Due: pylint-tests

lint
  doc/releases/changelog-dev.md
  pennylane/gradients/pulse_generator_gradient.py
  tests/gradients/core/test_pulse_generator_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

docs
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  pennylane/gradients/pulse_gradient.py
  tests/gradients/core/test_pulse_gradient.py
Due: pylint, pylint-tests

test cases code review
  tests/gradients/core/test_pulse_gradient.py
Due: pylint-tests

add orthogonal test
  tests/resource/test_first_quantization.py
Due: pylint-tests

remove old test file
  tests/legacy/test_pulse_gradient_old.py
Due: pylint-tests

fix hamiltonian grouping indices bug
  doc/releases/changelog-dev.md
  pennylane/pauli/utils.py
  tests/ops/qubit/test_hamiltonian.py
  tests/pauli/test_pauli_utils.py
Due: pylint, pylint-tests

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Testing out changes to see if tests pass
  pennylane/circuit_graph.py
Due: pylint

remove lint test that was removed
  tests/tests_passing_pylint.txt
Due: none

add test for norm branch
  tests/resource/test_first_quantization.py
Due: pylint-tests

readd accidentally removed file
  tests/legacy/test_pulse_gradient_old.py
Due: pylint-tests

Support classical shadow measurements
  pennylane/devices/qubit/sampling.py
  pennylane/measurements/classical_shadow.py
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint, pylint-tests

adapt
  doc/releases/changelog-dev.md
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

code review feedback
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/pulse_gradient.py
  tests/measurements/test_shots.py
Due: pylint, pylint-tests

add test for zero norm
  pennylane/resource/first_quantization.py
  tests/resource/test_first_quantization.py
Due: pylint, pylint-tests

Add shot vector tests
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint-tests

Apply suggestions from code review
  tests/ops/qutrit/test_qutrit_parametric_ops.py
Due: pylint-tests

Updated subspace docstring
  pennylane/ops/qutrit/parametric_ops.py
Due: pylint

Pylint
  tests/ops/qutrit/test_qutrit_parametric_ops.py
Due: pylint-tests

Update
  pennylane/transforms/experimental/transform_dispatcher.py
  tests/transforms/test_experimental/test_transform_dispatcher.py
Due: pylint, pylint-tests

use Shots class in gradients module (#4152)
  doc/releases/changelog-dev.md
  pennylane/_device.py
  pennylane/gradients/finite_difference.py
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/jvp.py
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/pulse_gradient.py
  pennylane/gradients/spsa_gradient.py
  pennylane/gradients/vjp.py
  pennylane/measurements/shots.py
  pennylane/optimize/shot_adaptive.py
  tests/measurements/test_shots.py
Due: pylint, pylint-tests

rename to indicate bool; slight autograd fixup
  pennylane/interfaces/autograd.py
  pennylane/interfaces/jax.py
Due: pylint

Qutrit Rotations #2 (TRY) (#2846)
  doc/releases/changelog-dev.md
  pennylane/devices/default_qutrit.py
  pennylane/ops/qutrit/__init__.py
  pennylane/ops/qutrit/parametric_ops.py
  tests/ops/qutrit/test_qutrit_parametric_ops.py
Due: pylint, pylint-tests

jax integration for for DefaultQubit2 (#4137)
  doc/releases/changelog-dev.md
  pennylane/gradients/jvp.py
  pennylane/gradients/vjp.py
  pennylane/interfaces/autograd.py
  pennylane/interfaces/jax.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
Due: pylint, pylint-tests

Updated tests and warnings
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/operation.py
  tests/gradients/core/test_hadamard_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_shot_vec.py
  tests/legacy/test_metric_tensor_old.py
  tests/test_operation.py
  tests/transforms/test_metric_tensor.py
Due: pylint, pylint-tests

Pylint
  pennylane/operation.py
Due: pylint

just acknolowedge sum doesn't work
  tests/interfaces/default_qubit_2_integration/test_autograd_default_qubit_2.py
Due: pylint-tests

add prefactor helper
  pennylane/pauli/utils.py
Due: pylint

Updated tests
  tests/circuit_graph/test_circuit_graph.py
  tests/circuit_graph/test_circuit_graph_hash.py
Due: pylint-tests

Change seed setting in spsa_grad.
  pennylane/gradients/gradient_transform.py
  pennylane/gradients/spsa_gradient.py
Due: pylint

Update changelog.
  doc/releases/changelog-dev.md
Due: none

Adapt tests. Note that lots of tests still set a global seed!
  tests/gradients/finite_diff/test_spsa_gradient.py
  tests/gradients/finite_diff/test_spsa_gradient_shot_vec.py
  tests/interfaces/test_autograd_qnode_new.py
  tests/interfaces/test_tensorflow_autograph_qnode_shot_vector.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/interfaces/test_torch_qnode.py
  tests/legacy/test_autograd_qnode_old.py
  tests/legacy/test_spsa_gradient_old.py
  tests/legacy/test_tensorflow_qnode_old.py
  tests/legacy/test_torch_qnode_old.py
Due: pylint-tests

added tests
  pennylane/pauli/__init__.py
  pennylane/pauli/utils.py
  tests/pauli/test_pauli_utils.py
Due: pylint, pylint-tests

Remove old name from interfaces docs
  doc/introduction/interfaces.rst
Due: none

remove wrong test file
  tests/legacy/test_pulse_generator_gradient_old.py
Due: pylint-tests

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
