Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

burn unused
  pennylane/allocation.py
  pennylane/templates/core.py
  pennylane/transforms/decompose.py
Due: pylint

Typeetting
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

burn unused
  pennylane/transforms/decompose.py
Due: pylint

accidentally removed `import math`
  pennylane/transforms/decompose.py
Due: pylint

Format
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

apply suggestions from code review
  pennylane/ops/functions/single_qubit_zyz_angles.py
  pennylane/transforms/optimization/single_qubit_fusion.py
  tests/ops/functions/test_single_qubit_zyz_angles.py
  tests/transforms/test_optimization/test_single_qubit_fusion.py
Due: pylint, pylint-test

g
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

Resolve pytree and copy fixmes
  pennylane/operation2.py
Due: pylint

pylint
  pennylane/templates/core.py
  pennylane/transforms/decompose.py
Due: pylint

oooops
  pennylane/operation.py
Due: pylint

test
  pennylane/operation.py
  tests/test_operation.py
Due: pylint, pylint-test

import math??
  pennylane/transforms/decompose.py
Due: pylint

Update doc/development/deprecations.rst
  doc/development/deprecations.rst
Due: none

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Test non-zero intitial out register
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint-test

move classproperty to its own file
  pennylane/_class_property.py
  pennylane/core/operator.py
  pennylane/estimator/resource_operator.py
  pennylane/ops/op_math/controlled.py
  tach.toml
Due: pylint

Test negative non-zero intitial out register
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint-test

Added `SelectCopyQROM` to Labs (#9500)
  doc/releases/changelog-dev.md
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/estimator_beta/templates/__init__.py
  pennylane/labs/estimator_beta/templates/subroutines.py
  pennylane/labs/tests/estimator_beta/templates/test_subroutines_labs.py
Due: pylint, labs-pylint-test

yushao suggestion
  pennylane/transforms/decompose.py
Due: pylint

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

try and fix problems
  pennylane/core/operator.py
  pennylane/measurements/measurements.py
  pennylane/measurements/process_samples.py
  pennylane/noise/add_noise.py
  pennylane/noise/insert_ops.py
  pennylane/operation.py
  pennylane/ops/op_math/change_op_basis.py
  pennylane/ops/qubit/arithmetic_ops.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/typing.py
  tach.toml
  tests/test_operation.py
Due: pylint, pylint-test

really
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint-test

grumble grumble
  pennylane/capture/primitives.py
  tach.toml
Due: pylint

fix tests
  tests/ftqc/test_decomposition.py
Due: pylint-test

AHHHHH
  pennylane/operation.py
Due: pylint

[WIP] correct sign of z
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint, pylint-test

force tach into submission
  tach.toml
Due: none

some docs
  pennylane/core/operator.py
Due: pylint

Remove bit-reversal permutation
  pennylane/templates/subroutines/ffft.py
  tests/templates/subroutines/test_ffft.py
Due: pylint, pylint-test

Additional unit tests
  pennylane/resource/__init__.py
  pennylane/resource/expression.py
  pennylane/resource/resource.py
  pennylane/resource/specs.py
  tests/resource/test_resource.py
Due: pylint, pylint-test

Break apart specs tests
  tests/resource/test_mlir_specs.py
  tests/resource/test_specs.py
Due: pylint-test

Str validation
  tests/resource/test_resource.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

fix version
  pennylane/_version.py
Due: pylint

shots deprecation warning
  doc/releases/changelog-dev.md
Due: none

apply suggestions from code review
  pennylane/ops/functions/single_qubit_zyz_angles.py
Due: pylint

Update pennylane/ops/functions/single_qubit_zyz_angles.py
  pennylane/ops/functions/single_qubit_zyz_angles.py
Due: pylint

format
  pennylane/ops/functions/single_qubit_zyz_angles.py
Due: pylint

Revert "[WIP] correct sign of z"
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
  tests/templates/subroutines/arithmetic/test_signed_out_multiplier.py
Due: pylint, pylint-test

Clarify in docs
  pennylane/templates/subroutines/arithmetic/signed_out_multiplier.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
