Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update doc/releases/changelog-0.45.0.md
  doc/releases/changelog-0.45.0.md
Due: none

image less big
  doc/_static/0.45-draw-graph-changelog-example.png
Due: none

fix margins
  doc/_static/0.45-draw-graph-changelog-example.png
Due: none

Apply suggestion from @astralcai
  pennylane/transforms/decomp_inspector.py
Due: pylint

clarifications in docstrings
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/compile.py
  pennylane/transforms/decompose.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_amplitude_embedding.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/optimization/pattern_matching.py
  pennylane/transforms/optimization/remove_barrier.py
  pennylane/transforms/optimization/single_qubit_fusion.py
  pennylane/transforms/optimization/undo_swaps.py
  pennylane/transforms/transpile.py
  pennylane/transforms/unitary_to_rot.py
Due: pylint

9441
  doc/releases/changelog-0.45.0.md
Due: none

changelog entry'
  doc/releases/changelog-0.45.0.md
Due: none

ensure markers are retained if level is user
  pennylane/workflow/get_compile_pipeline.py
  tests/workflow/test_get_compile_pipeline.py
Due: pylint, pylint-test

cancel_inverses example
  pennylane/transforms/optimization/cancel_inverses.py
Due: pylint

merge rotations
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

wording
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

wording
  pennylane/transforms/optimization/cancel_inverses.py
Due: pylint

Reorder important entries
  doc/releases/changelog-0.45.0.md
Due: none

fix specs docstring
  pennylane/resource/specs.py
Due: pylint

missing dev
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

resolve comments
  pennylane/decomposition/decomposition_rule.py
Due: pylint

v0.45 Changelog: Internal changes + Documentation + Bug fixes (#9430)
  doc/releases/changelog-0.45.0.md
Due: none

v0.45 Changelog: Improvements - Decompositions (#9418)
  doc/releases/changelog-0.45.0.md
Due: none

`DecompCollection` related documentation fix (#9427)
  doc/releases/changelog-0.45.0.md
  pennylane/decomposition/decomposition_rule.py
  pennylane/transforms/core/compile_pipeline.py
  pennylane/transforms/decomp_inspector.py
Due: pylint

three miscs docfix
  doc/news/program_capture_sharp_bits.rst
  doc/releases/changelog-0.45.0.md
  pennylane/workflow/qnode.py
Due: pylint

Collection of QA fixes
  pennylane/decomposition/utils.py
  pennylane/estimator/ops/op_math/controlled_ops.py
  pennylane/estimator/ops/qubit/non_parametric_ops.py
  pennylane/ops/op_math/change_op_basis.py
  pennylane/templates/embeddings/basis.py
  pennylane/transforms/optimization/cancel_inverses.py
  tests/templates/embeddings/test_basis.py
Due: pylint, pylint-test

Add base class with only comments for now
  pennylane/operation2.py
Due: pylint

Minor details
  doc/releases/changelog-0.45.0.md
Due: none

DecompInspector: informative error message with gate set (#9436)
  doc/releases/changelog-0.45.0.md
  pennylane/transforms/decomp_inspector.py
  tests/transforms/test_decomp_inspector.py
Due: pylint, pylint-test

try adding automodule for this method
  pennylane/concurrency/__init__.py
  pennylane/workflow/qnode.py
Due: pylint

add from_qasm3 to importing workflows
  doc/introduction/importing_workflows.rst
Due: none

v0.45 Changelog: Decomposition Inspection and Pre-defined Gate Sets (#9414)
  doc/releases/changelog-0.45.0.md
Due: none

iqm acronym
  doc/introduction/templates.rst
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
