Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: "🐍 tach · Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: "🐍 pylint · Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

update signature
  pennylane/estimator/templates/subroutines.py
Due: pylint

fixes
  pennylane/estimator/templates/trotter.py
Due: pylint

foods
  pennylane/estimator/templates/trotter.py
Due: pylint

fixes
  pennylane/estimator/templates/trotter.py
  tests/estimator/templates/test_trotter.py
Due: pylint, pylint-test

Fix imports
  pennylane/compiler/python_compiler/visualization/xdsl_conversion.py
Due: pylint

Fix constant op to use property instead of attribute
  pennylane/compiler/python_compiler/dialects/stablehlo/__init__.py
  pennylane/compiler/python_compiler/dialects/stablehlo/dialect.py
  pennylane/compiler/python_compiler/dialects/stablehlo/elementwise_other.py
  tests/python_compiler/dialects/test_stablehlo_dialect.py
Due: pylint, pylint-test

Documentation for allocation features (#8127)
  doc/releases/changelog-dev.md
  pennylane/allocation.py
Due: pylint

Add estimate function to core pennylane (#8275)
  doc/releases/changelog-dev.md
  pennylane/estimator/__init__.py
  pennylane/estimator/estimate.py
  pennylane/estimator/resource_config.py
  pennylane/estimator/wires_manager.py
  tests/estimator/test_config_class.py
  tests/estimator/test_estimate.py
  tests/estimator/test_wires_manager.py
Due: pylint, pylint-test

Update pennylane/compiler/python_compiler/visualization/collector.py
  pennylane/compiler/python_compiler/visualization/collector.py
Due: pylint

Pylint
  pennylane/compiler/python_compiler/visualization/collector.py
Due: pylint

Restructure the `python_compiler` submodule (#8273)
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/__init__.py
  pennylane/compiler/python_compiler/compiler.py
  pennylane/compiler/python_compiler/conversion.py
  pennylane/compiler/python_compiler/parser.py
  pennylane/compiler/python_compiler/pass_api/__init__.py
  pennylane/compiler/python_compiler/pass_api/apply_transform_sequence.py
  pennylane/compiler/python_compiler/pass_api/compiler_transform.py
  pennylane/compiler/python_compiler/pass_api/transform_interpreter.py
  pennylane/compiler/python_compiler/transforms/mbqc/__init__.py
  pennylane/compiler/python_compiler/transforms/mbqc/convert_to_mbqc_formalism.py
  pennylane/compiler/python_compiler/transforms/mbqc/decompose_graph_state.py
  pennylane/compiler/python_compiler/transforms/mbqc/graph_state_utils.py
  pennylane/compiler/python_compiler/transforms/quantum/__init__.py
  pennylane/compiler/python_compiler/transforms/quantum/cancel_inverses.py
  pennylane/compiler/python_compiler/transforms/quantum/combine_global_phases.py
  pennylane/compiler/python_compiler/transforms/quantum/diagonalize_measurements.py
  pennylane/compiler/python_compiler/transforms/quantum/measurements_from_samples.py
  pennylane/compiler/python_compiler/transforms/quantum/merge_rotations.py
  pennylane/compiler/python_compiler/visualization/collector.py
  pennylane/compiler/python_compiler/visualization/xdsl_conversion.py
  tests/python_compiler/conftest.py
  tests/python_compiler/dialects/test_transform_dialect.py
  tests/python_compiler/test_python_compiler.py
  tests/python_compiler/transforms/mbqc/test_graph_state_utils.py
  tests/python_compiler/transforms/mbqc/test_xdsl_convert_to_mbqc_formalism.py
  tests/python_compiler/transforms/mbqc/test_xdsl_decompose_graph_state.py
  tests/python_compiler/transforms/quantum/test_xdsl_cancel_inverses.py
  tests/python_compiler/transforms/quantum/test_xdsl_combine_global_phases.py
  tests/python_compiler/transforms/quantum/test_xdsl_diagonalize_measurements.py
  tests/python_compiler/transforms/quantum/test_xdsl_measurements_from_samples.py
  tests/python_compiler/transforms/quantum/test_xdsl_merge_rotations.py
  tests/python_compiler/visualization/test_mlir_graph.py
  tests/python_compiler/xdsl_extras/test_constraints.py
Due: pylint, pylint-test

[ci skip] postprocessing fn
  pennylane/transforms/intermediate_reps/parity_matrix.py
Due: pylint

make proper transform
  pennylane/transforms/intermediate_reps/parity_matrix.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

TYPE CHECKING
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

TYPE CHECKING
  pennylane/transforms/intermediate_reps/parity_matrix.py
Due: pylint

update wire names
  pennylane/estimator/templates/subroutines.py
  tests/estimator/templates/test_estimator_subroutines.py
Due: pylint, pylint-test

update doc
  doc/code/qml_estimator.rst
Due: none

fix import
  pennylane/transforms/intermediate_reps/parity_matrix.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

update names
  pennylane/estimator/templates/comparators.py
  pennylane/estimator/templates/stateprep.py
  tests/estimator/templates/test_estimator_stateprep.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/transforms/intermediate_reps/rowcol.py
Due: pylint

fix pylint
  pennylane/estimator/templates/subroutines.py
Due: pylint

Fix `SpecialUnitary` Incompatibility at Torch (#8209)
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/special_unitary.py
  tests/ops/qubit/test_special_unitary.py
Due: pylint, pylint-test

simplify
  pennylane/noise/mitigate.py
Due: pylint

let me sneak this in
  pennylane/workflow/construct_tape.py
  pennylane/workflow/qnode.py
Due: pylint

docs
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

Port single-qubit parametric resource operators (#8242)
  doc/releases/changelog-dev.md
  pennylane/estimator/__init__.py
  pennylane/estimator/ops/__init__.py
  pennylane/estimator/ops/identity.py
  pennylane/estimator/ops/qubit/__init__.py
  pennylane/estimator/ops/qubit/non_parametric_ops.py
  pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
  tests/estimator/ops/test_estimator_parametric_single_qubit.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/templates/subroutines/select.py
Due: pylint

Addressed comment
  pennylane/estimator/ops/op_math/symbolic.py
  tests/estimator/ops/test_estimator_symbolics.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  doc/releases/changelog-dev.md
  tests/transforms/test_optimization/test_cancel_inverses.py
  tests/transforms/test_optimization/test_merge_rotations.py
Due: pylint-test

format
  tests/transforms/test_optimization/test_cancel_inverses.py
  tests/transforms/test_optimization/test_merge_rotations.py
Due: pylint-test

update test
  tests/transforms/test_optimization/test_cancel_inverses.py
  tests/transforms/test_optimization/test_merge_rotations.py
Due: pylint-test

fix doc links
  pennylane/estimator/templates/subroutines.py
Due: pylint

Update pennylane/estimator/templates/compact_hamiltonian.py
  pennylane/estimator/templates/compact_hamiltonian.py
Due: pylint

Update pennylane/estimator/templates/trotter.py
  pennylane/estimator/templates/trotter.py
Due: pylint
