Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update sample.py
  pennylane/measurements/sample.py
Due: pylint

use codecov token in upload action
  .github/workflows/interface-unit-tests.yml
Due: none

adding unit test
  pennylane/devices/qubit/sampling.py
  tests/devices/qubit/test_sampling.py
Due: pylint, pylint-test

Fix bug in wire num check
  pennylane/measurements/counts.py
Due: pylint

Additional test
  pennylane/templates/subroutines/fable.py
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

Edit test case
  pennylane/templates/subroutines/fable.py
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

swap order to see if it works
  .github/workflows/interface-unit-tests.yml
Due: none

more Hamiltonian outputs
  pennylane/devices/preprocess.py
  pennylane/qchem/tapering.py
Due: pylint

black formatting
  pennylane/qchem/convert.py
Due: pylint

remove alt code
  pennylane/gradients/gradient_transform.py
Due: pylint

black
  pennylane/gradients/gradient_transform.py
Due: pylint

Remove checks for number of wires
  pennylane/measurements/counts.py
  tests/measurements/test_counts.py
Due: pylint, pylint-test

Update use_as_is condition.
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

cycling just once over `abs_diff`
  pennylane/devices/qubit/sampling.py
Due: pylint

Edited example in docstring
  pennylane/templates/subroutines/fable.py
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

Update tests/dla/test_center.py
  tests/dla/test_center.py
Due: pylint-test

Implement robust fix treating probs separately. Raise same error as defer_measurement does.
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

use codecov token in upload action (#5481)
  .github/workflows/interface-unit-tests.yml
Due: none

Update LQ to use
  pennylane/workflow/execution.py
  pennylane/workflow/jacobian_products.py
  tests/interfaces/test_jacobian_products.py
Due: pylint, pylint-test

Fix tensorflow for when device returns float 32 results (#5446)
  doc/releases/changelog-dev.md
  pennylane/workflow/interfaces/tensorflow.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_default_qubit_2.py
Due: pylint, pylint-test

breaking the error case and the normal case up into two tests.
  tests/devices/qubit/test_sampling.py
Due: pylint-test

add vmap support for devices that do not support parameter broadcasting (#5286)
  pennylane/tape/qscript.py
  pennylane/workflow/interfaces/jax_jit.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/test_jax_jit.py
Due: pylint, pylint-test

Updated tf tests
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
Due: pylint-test

test commit on old `quimb` branch
  test.py
Due: pylint

deleting file created by accident
  test.py
Due: pylint

[bugfix] Probabilities do not sum to one with Torch (#5462)
  doc/releases/changelog-dev.md
  pennylane/devices/qubit/sampling.py
  tests/devices/qubit/test_sampling.py
Due: pylint, pylint-test

Update pennylane/measurements/expval.py
  pennylane/measurements/expval.py
Due: pylint

Fix jacobian products tests
  tests/interfaces/test_jacobian_products.py
Due: pylint-test

tol != 0 jit error
  pennylane/templates/subroutines/fable.py
  tester.ipynb
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

tol != 0 jit error
  tests/templates/test_subroutines/test_fable.py
Due: pylint-test

Update test linting
  tests/transforms/test_broadcast_expand.py
Due: pylint-test

Update tests/interfaces/test_jacobian_products.py
  tests/interfaces/test_jacobian_products.py
Due: pylint-test

Additional tests fixed edge case 1x1
  pennylane/templates/subroutines/fable.py
  tester.ipynb
  tests/templates/test_subroutines/test_fable.py
Due: pylint, pylint-test

Fix docs addition
  doc/releases/changelog-dev.md
Due: none

Fixed Mudits comments
  pennylane/devices/qutrit_mixed/simulate.py
  tests/devices/qutrit_mixed/test_qutrit_mixed_simulate.py
Due: pylint, pylint-test

review
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-test

update drawing example in introdcution and draw_mpl docstring
  doc/_static/draw_mpl/main_example.png
  doc/_static/draw_mpl/rcparams.png
  doc/_static/draw_mpl/show_all_wires.png
  doc/_static/draw_mpl/sketch_style.png
  doc/_static/draw_mpl/wire_order.png
  doc/_static/draw_mpl/wires_labels.png
  doc/introduction/inspecting_circuits.rst
  pennylane/drawer/draw.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
