Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

more debugging
  pennylane/ops/channel.py
  pennylane/ops/op_math/controlled.py
Due: pylint

Functions to retrieve fragments of realspace Hamiltonians (#7036)
  doc/releases/changelog-dev.md
  pennylane/labs/tests/trotter_error/fragments/test_trotter.py
  pennylane/labs/tests/trotter_error/fragments/test_vibrational.py
  pennylane/labs/tests/trotter_error/fragments/test_vibronic.py
  pennylane/labs/trotter_error/__init__.py
  pennylane/labs/trotter_error/fragments/__init__.py
  pennylane/labs/trotter_error/fragments/generic_fragments.py
  pennylane/labs/trotter_error/fragments/vibrational_fragments.py
  pennylane/labs/trotter_error/fragments/vibronic_fragments.py
  pennylane/labs/trotter_error/product_formulas/__init__.py
  pennylane/labs/trotter_error/product_formulas/error.py
  pennylane/labs/trotter_error/realspace/ho_state.py
  pennylane/labs/trotter_error/realspace/realspace_coefficients.py
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
  pennylane/labs/trotter_error/realspace/realspace_operator.py
Due: pylint

Wavefunction classes and State Multiplication (#7035)
  doc/releases/changelog-dev.md
  pennylane/labs/tests/trotter_error/fragments/test_trotter.py
  pennylane/labs/tests/trotter_error/fragments/test_vibrational.py
  pennylane/labs/tests/trotter_error/fragments/test_vibronic.py
  pennylane/labs/trotter_error/__init__.py
  pennylane/labs/trotter_error/abstract.py
  pennylane/labs/trotter_error/fragments/__init__.py
  pennylane/labs/trotter_error/fragments/generic_fragments.py
  pennylane/labs/trotter_error/fragments/vibrational_fragments.py
  pennylane/labs/trotter_error/fragments/vibronic_fragments.py
  pennylane/labs/trotter_error/product_formulas/__init__.py
  pennylane/labs/trotter_error/product_formulas/error.py
  pennylane/labs/trotter_error/realspace/ho_state.py
  pennylane/labs/trotter_error/realspace/realspace_coefficients.py
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
  pennylane/labs/trotter_error/realspace/realspace_operator.py
Due: pylint

Update CL
  doc/releases/changelog-dev.md
Due: none

Adding Realspace Hamiltonian classes to Labs (#7034)
  doc/releases/changelog-dev.md
  pennylane/labs/tests/trotter_error/fragments/test_trotter.py
  pennylane/labs/tests/trotter_error/fragments/test_vibrational.py
  pennylane/labs/tests/trotter_error/fragments/test_vibronic.py
  pennylane/labs/tests/trotter_error/realspace/test_matrix.py
  pennylane/labs/trotter_error/__init__.py
  pennylane/labs/trotter_error/abstract.py
  pennylane/labs/trotter_error/fragments/__init__.py
  pennylane/labs/trotter_error/fragments/generic_fragments.py
  pennylane/labs/trotter_error/fragments/vibrational_fragments.py
  pennylane/labs/trotter_error/fragments/vibronic_fragments.py
  pennylane/labs/trotter_error/product_formulas/__init__.py
  pennylane/labs/trotter_error/product_formulas/error.py
  pennylane/labs/trotter_error/realspace/__init__.py
  pennylane/labs/trotter_error/realspace/ho_state.py
  pennylane/labs/trotter_error/realspace/matrix.py
  pennylane/labs/trotter_error/realspace/realspace_coefficients.py
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
  pennylane/labs/trotter_error/realspace/realspace_operator.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Apply suggestions from code review
  pennylane/gradients/parameter_shift_hessian.py
Due: pylint

adding read the docs yml
  .github/workflows/rtd-check.yml
Due: none

changing asdf
  .github/workflows/rtd-check.yml
Due: none

changing asdf 3
  .github/workflows/rtd-check.yml
Due: none

install requirements
  .github/workflows/rtd-check.yml
Due: none

where i am
  .github/workflows/rtd-check.yml
Due: none

changed folder
  .github/workflows/rtd-check.yml
Due: none

changing build folders
  .github/workflows/rtd-check.yml
Due: none

Avoid breakages with jax tracers and caching
  pennylane/devices/null_qubit.py
Due: pylint

Reformat from suggestion
  pennylane/gradients/parameter_shift_hessian.py
Due: pylint

parseing openqasm3
  pennylane/from_openqasm3.py
Due: pylint

Reserve ABC for abstract base classes in codebase (#7156)
  doc/releases/changelog-dev.md
  pennylane/gradients/parameter_shift_hessian.py
  pennylane/math/quantum.py
  pennylane/measurements/classical_shadow.py
  pennylane/shadows/classical_shadow.py
  tests/default_qubit_legacy.py
Due: pylint, pylint-test

changing build folders to doc
  .github/workflows/rtd-check.yml
Due: none

fail on warnging
  .github/workflows/rtd-check.yml
Due: none

Added tests
  pennylane/labs/resource_estimation/compact.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/resource_estimation/templates/subroutines.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_subroutines.py
  pennylane/labs/tests/resource_estimation/test_compact.py
Due: pylint

chg fold
  .github/workflows/rtd-check.yml
Due: none

added compact state docs
  pennylane/labs/resource_estimation/compact.py
Due: pylint

skip step
  .github/workflows/rtd-check.yml
Due: none

rmv pyth
  .github/workflows/rtd-check.yml
Due: none

path
  .github/workflows/rtd-check.yml
Due: none

lint
  pennylane/labs/resource_estimation/compact.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/tests/resource_estimation/templates/test_resource_stateprep.py
  pennylane/labs/tests/resource_estimation/test_compact.py
Due: pylint

fixed doc
  doc/releases/changelog-dev.md
Due: none

removing venv
  .github/workflows/rtd-check.yml
Due: none

changing folders
  .github/workflows/rtd-check.yml
Due: none

Add caching of null.qubit zero result generation (#7155)
  doc/releases/changelog-dev.md
  pennylane/devices/null_qubit.py
Due: pylint

cd to doc
  .github/workflows/rtd-check.yml
Due: none

fix doc
  doc/releases/changelog-dev.md
Due: none

add enums
  pennylane/devices/execution_config.py
Due: pylint
