Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Apply suggestions from code review
  pennylane/ftqc/conditional_measure.py
  tests/ftqc/test_cond_meas.py
Due: pylint, pylint-test

better test
  tests/decomposition/test_decomposition_graph.py
Due: pylint-test

fix setuptools
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

try something
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

add quotes
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

try new suggestion
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

add more complex test
  tests/decomposition/conftest.py
  tests/decomposition/test_decomposition_graph.py
Due: pylint-test

apply Lillian's suggestions
  pennylane/ftqc/graph_state_preparation.py
  tests/ftqc/test_ftqc_graph_state_prep.py
Due: pylint, pylint-test

tidy up conftest
  tests/ops/functions/conftest.py
Due: pylint-test

add assert_valid tests
  pennylane/ops/functions/assert_valid.py
  tests/ftqc/test_ftqc_graph_state_prep.py
Due: pylint, pylint-test

Fix failing tests
  pennylane/workflow/_capture_qnode.py
  tests/capture/autograph/test_if_else.py
  tests/capture/test_capture_mid_measure.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

skip ftqc module for the test_generated_list_of_ops
  tests/ops/functions/test_assert_valid.py
Due: pylint-test

quick fix
  tests/ops/functions/test_assert_valid.py
Due: pylint-test

vpsace handling
  pennylane/liealg/cartan_subalgebra.py
  tests/liealg/test_cartan_subalgebra.py
Due: pylint, pylint-test

make pauli vspace iterable
  doc/releases/changelog-dev.md
  pennylane/pauli/pauli_vspace.py
Due: pylint

make pauli vspace iterable
  tests/pauli/test_pauli_vspace.py
Due: pylint-test

remove unnecessary paulivspace cases
  pennylane/liealg/cartan_subalgebra.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

changelog ⊆
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  doc/releases/changelog-dev.md
Due: none

Apply suggestions from code review
  pennylane/liealg/cartan_subalgebra.py
  tests/liealg/test_cartan_subalgebra.py
Due: pylint, pylint-test

test start_idx != 0
  tests/liealg/test_cartan_subalgebra.py
Due: pylint-test

check_commutation -> check_commutation_relation
  doc/releases/changelog-dev.md
  pennylane/liealg/__init__.py
  pennylane/liealg/cartan_decomp.py
  pennylane/ops/functions/is_commuting.py
  tests/liealg/test_cartan_decomp.py
Due: pylint, pylint-test

remove print
  pennylane/liealg/cartan_subalgebra.py
Due: pylint

labs tests pass and add back functionality of mixing ops and matrices in op_to_adjvec
  pennylane/labs/dla/variational_kak.py
  pennylane/liealg/cartan_subalgebra.py
  tests/liealg/test_cartan_subalgebra.py
Due: pylint, pylint-test

more stable
  pennylane/liealg/cartan_subalgebra.py
  tests/liealg/test_cartan_subalgebra.py
Due: pylint, pylint-test

check_all_commuting -> check_abelian
  doc/releases/changelog-dev.md
  pennylane/liealg/__init__.py
  pennylane/liealg/cartan_subalgebra.py
  tests/liealg/test_cartan_subalgebra.py
Due: pylint, pylint-test

fix test
  pennylane/labs/tests/trotter/realspace/test_matrix.py
Due: pylint

please pass
  pennylane/labs/tests/trotter/realspace/test_matrix.py
Due: pylint

pylint
  pennylane/labs/tests/trotter/realspace/test_matrix.py
  pennylane/labs/trotter/__init__.py
  pennylane/labs/trotter/product_formulas/__init__.py
  pennylane/labs/trotter/realspace/matrix.py
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

pylint stuff
  pennylane/labs/tests/trotter/realspace/test_matrix.py
  pennylane/labs/trotter/__init__.py
  pennylane/labs/trotter/abstract_fragment.py
  pennylane/labs/trotter/product_formulas/__init__.py
  pennylane/labs/trotter/realspace/realspace_operator.py
  pennylane/labs/trotter/realspace/vibronic_matrix.py
Due: pylint

try with newest uv
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

Update tests/capture/test_capture_cond.py
  tests/capture/test_capture_cond.py
Due: pylint-test

get rid of unnecessary quotes
  .github/workflows/tests-gpu.yml
  .github/workflows/unit-test.yml
Due: none

match statements
  pennylane/labs/trotter/realspace/realspace_coefficients.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
