Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

Debug jax tests
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
Due: pylint

changelog
  .github/workflows/interface-unit-tests.yml
  doc/releases/changelog-dev.md
Due: none

Debug capture tests
  tests/capture/test_templates.py
Due: pylint-test

Debug drawer
  pennylane/drawer/_add_obj.py
  tests/capture/test_templates.py
Due: pylint, pylint-test

Format
  pennylane/transforms/decompose.py
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint, pylint-test

escape
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint-test

Coverage
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint-test

Debug new rule
  pennylane/transforms/decompositions/select_pauli_rot_phase_gradient.py
Due: pylint

Format
  pennylane/templates/subroutines/select_pauli_rot.py
  pennylane/transforms/decompose.py
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint, pylint-test

DecomposeInterpreter updates
  pennylane/transforms/decompose.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint, pylint-test

Abstract init
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
  pennylane/templates/state_preparations/multiplexer_state_prep.py
  pennylane/templates/subroutines/select_pauli_rot.py
  pennylane/transforms/decompose.py
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint, pylint-test

Trace hybrid args
  pennylane/transforms/decompose.py
Due: pylint

cleanup merge
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

pylint
  pennylane/templates/state_preparations/multiplexer_state_prep.py
Due: pylint

Cleanup rebase
  tests/transforms/decompositions/test_crz_phase_gradient.py
  tests/transforms/decompositions/test_rz_phase_gradient.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint-test

extra test
  tests/capture/test_templates.py
  tests/templates/subroutines/test_flip_sign.py
Due: pylint-test

estimator module basisembedding alias
  pennylane/estimator/templates/embeddings.py
Due: pylint

Revert ControlledPhaseShift Operator2 port; defer to #9951
  doc/releases/changelog-dev.md
  pennylane/core/operator/base.py
  pennylane/decomposition/resources.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/templates/subroutines/aqft.py
  pennylane/transforms/decompose.py
  tests/decomposition/conftest.py
  tests/decomposition/test_decomposition_graph.py
  tests/ops/functions/test_is_commuting.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_controlled_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
  tests/ops/qubit/test_parametric_ops.py
  tests/templates/subroutines/test_aqft.py
  tests/templates/subroutines/test_qft.py
Due: pylint, pylint-test

pl2do
  tests/templates/subroutines/test_qrom.py
Due: pylint-test

Revert decompose
  pennylane/transforms/decompose.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint, pylint-test

Revert tests
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint-test

AHHHHHHHHHH
  pennylane/core/operator/operator2.py
  pennylane/typing.py
  pennylane/wires.py
Due: pylint

delete basisembedding tests that have resource_rep applied to these op2
  tests/decomposition/test_resources.py
Due: pylint-test

more removals
  tests/transforms/decompositions/test_crz_phase_gradient.py
  tests/transforms/decompositions/test_rz_phase_gradient.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint-test

maybe this works
  pennylane/ops/op_math/controlled2.py
Due: pylint

Update `_test_decomposition_rule` to work with COB in capture (#9973)
  doc/releases/changelog-dev.md
  pennylane/ops/functions/assert_valid.py
  tests/templates/subroutines/test_qrom.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
Due: pylint, pylint-test

docstring
  pennylane/templates/state_preparations/sum_of_slaters.py
Due: pylint

Remove dup key
  tests/resource/test_specs.py
Due: pylint-test

Pylint
  pennylane/resource/parsing.py
Due: pylint

test capture path
  pennylane/templates/subroutines/select_pauli_rot.py
  tests/templates/subroutines/test_select_pauli_rot.py
Due: pylint, pylint-test

try this
  pennylane/ops/op_math/adjoint2.py
Due: pylint

remove from labs
  pennylane/labs/templates/sum_of_slaters2.py
  pennylane/labs/tests/templates/test_sum_of_slaters2.py
Due: pylint, labs-pylint-test

fix
  pennylane/devices/tests/__init__.py
  pennylane/labs/templates/left_quantum_comparator.py
  pennylane/math/grad.py
  pennylane/ops/functions/assert_valid.py
  pennylane/optimize/spsa.py
  pennylane/pulse/transmon.py
  pennylane/templates/subroutines/qchem/kupccgsd.py
  pennylane/transforms/decompose.py
  tests/capture/autograph/test_autograph_for_loop.py
  tests/capture/autograph/test_if_else.py
  tests/core/operator/test_operator2.py
  tests/math/test_matrix_manipulation.py
  tests/templates/layers/test_strongly_entangling.py
  tests/templates/subroutines/test_grover.py
  tests/templates/subroutines/test_qft.py
Due: pylint, pylint-test

refactor: cleanup and streamline triton decoder
  pennylane/backline/decoders/triton/algorithms.py
  pennylane/backline/decoders/triton/bp_iters.py
  pennylane/backline/decoders/triton/decoder_frontend.py
  pennylane/backline/decoders/triton/math_utils.py
  pennylane/backline/decoders/triton/persistent_kernel.py
  pennylane/backline/decoders/triton/postprocess.py
  pennylane/backline/decoders/triton/triton_so_builder.py
  pennylane/backline/functions.py
Due: pylint

try to make sphinx happy
  pennylane/estimator/templates/embeddings.py
Due: pylint

Fix ordering of ops in COB
  pennylane/templates/subroutines/select_pauli_rot.py
Due: pylint

Migrate all MCX decomposition rules to Operator2 convention (#9854)
  pennylane/core/qscript.py
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_rule.py
  pennylane/devices/preprocess.py
  pennylane/measurements/__init__.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/adjoint2.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/transforms/decomp_inspector.py
  pennylane/transforms/optimization/pattern_matching.py
  pennylane/transforms/optimization/relative_phases.py
  pennylane/wires.py
  tests/capture/transforms/test_capture_decompose.py
  tests/decomposition/conftest.py
  tests/decomposition/test_decomposition_graph.py
  tests/ftqc/test_ftqc_graph_state_prep.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/ops/op_math/test_prod.py
  tests/ops/qubit/test_non_parametric_ops.py
  tests/ops/qubit/test_state_prep.py
  tests/templates/subroutines/arithmetic/test_semi_adder.py
  tests/templates/subroutines/test_qrom.py
  tests/test_wires.py
  tests/transforms/test_decomp_inspector.py
Due: pylint, pylint-test
