Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

fix casting issue
  pennylane/fermi/conversion.py
Due: pylint

PauliExp
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/pauli_exp.py
Due: pylint

call ctrl again if given a function; non-custom op in tests
  pennylane/ops/op_math/controlled.py
  tests/ops/op_math/test_controlled.py
Due: pylint, pylint-test

[ci skip]
  pennylane/templates/subroutines/pauli_exp.py
Due: pylint

just revert jax jit changes for the moment
  pennylane/interfaces/autograd.py
  pennylane/interfaces/execution.py
  pennylane/interfaces/jax.py
  pennylane/interfaces/jax_jit_tuple.py
  pennylane/interfaces/tensorflow.py
  pennylane/interfaces/torch.py
Due: pylint

trying out warning
  pennylane/qnode.py
Due: pylint

more coverage
  pennylane/data/base/attribute.py
  tests/data/attributes/operator/test__wires.py
  tests/data/base/test_attribute.py
  tests/data/data_manager/test_dataset_access.py
Due: pylint, pylint-test

Add vjp/jvp capabilities
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/devices/qubit/adjoint_jacobian.py
  pennylane/devices/qubit/simulate.py
Due: pylint

move to specifying shots on qnode
  pennylane/__init__.py
  pennylane/optimize/shot_adaptive.py
  pennylane/qnode.py
  tests/test_debugging.py
Due: pylint, pylint-test

move to specifying shots on qnode
  pennylane/optimize/shot_adaptive.py
Due: pylint

pylint
  pennylane/devices/experimental/default_qubit_2.py
Due: pylint

add marks and import skips
  tests/data/attributes/operator/test__wires.py
  tests/data/attributes/operator/test_operator.py
  tests/data/attributes/test_array.py
  tests/data/attributes/test_dict.py
  tests/data/attributes/test_json.py
  tests/data/attributes/test_list.py
  tests/data/attributes/test_molecule_.py
  tests/data/attributes/test_none.py
  tests/data/attributes/test_scalar.py
  tests/data/attributes/test_sparse_array.py
  tests/data/attributes/test_string.py
  tests/data/base/test_attribute.py
  tests/data/base/test_typing_util.py
  tests/data/data_manager/test_foldermap.py
  tests/data/data_manager/test_params.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

some tests for simulate
  tests/devices/qubit/test_simulate.py
Due: pylint-test

tests
  pennylane/data/__init__.py
  pennylane/data/base/__init__.py
  pennylane/data/base/attribute.py
  pennylane/data/base/dataset.py
  pennylane/data/base/mapper.py
  pennylane/data/data_manager/__init__.py
  tests/data/attributes/test_none.py
  tests/data/test_dataset.py
Due: pylint, pylint-test

change rename AnotherLogFormatter to LogFormatter
  pennylane/logging/formatters/formatter.py
Due: pylint

move and add logging configuration logic to the configure module
  pennylane/logging/configure.py
Due: pylint

update __init__ file
  pennylane/logging/__init__.py
Due: pylint

update toml configuration file
  pennylane/logging/log_config.toml
Due: none

update yaml configuration file
  pennylane/logging/log_config.yaml
Due: none

test open in copy mode
  pennylane/data/__init__.py
  pennylane/data/base/dataset.py
  tests/data/test_dataset.py
Due: pylint, pylint-test

format
  pennylane/interfaces/torch.py
  pennylane/logging/__init__.py
  pennylane/logging/configure.py
  pennylane/qnode.py
Due: pylint

more tests
  pennylane/data/base/dataset.py
  pennylane/data/base/hdf5.py
  tests/data/test_dataset.py
Due: pylint, pylint-test

tests
  pennylane/data/base/hdf5.py
  pennylane/data/base/mapper.py
  tests/data/base/test_hdf5.py
  tests/data/base/test_mapper.py
  tests/data/test_dataset.py
Due: pylint, pylint-test

See what breaks
  pennylane/devices/qubit/preprocess.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-test

coverage
  pennylane/data/base/attribute.py
  pennylane/data/base/mapper.py
  tests/data/base/test_attribute.py
  tests/data/base/test_mapper.py
Due: pylint, pylint-test

set to get_trainable_indices
  pennylane/devices/qubit/preprocess.py
  tests/devices/qubit/test_adjoint_jacobian.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-test

Fix integration tests
  tests/devices/experimental/test_default_qubit_2.py
Due: pylint-test

coverage
  pennylane/data/base/mapper.py
  pennylane/data/data_manager/__init__.py
  pennylane/data/data_manager/foldermap.py
  tests/data/base/test_mapper.py
  tests/data/base/test_typing_util.py
  tests/data/data_manager/test_dataset_access.py
  tests/data/data_manager/test_foldermap.py
  tests/data/data_manager/test_params.py
Due: pylint, pylint-test

Fix syntax error
  pennylane/devices/experimental/default_qubit_2.py
Due: pylint

coverage
  pennylane/data/base/_lazy_modules.py
  tests/data/base/test_mapper.py
Due: pylint, pylint-test

Apply suggestions from code review
  doc/introduction/data.rst
  doc/releases/changelog-dev.md
  pennylane/data/__init__.py
  tests/data/attributes/test_json.py
Due: pylint, pylint-test

Update pennylane/data/base/attribute.py
  pennylane/data/base/attribute.py
Due: pylint

Fixed multi measurement statistics
  pennylane/devices/qubit/measure.py
  pennylane/devices/qubit/preprocess.py
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/measurements.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/probs.py
  pennylane/measurements/sample.py
  pennylane/measurements/var.py
  pennylane/tape/qscript.py
  pennylane/transforms/convert_to_numpy_parameters.py
  pennylane/transforms/defer_measurements.py
Due: pylint

Removed unnecessary comment
  pennylane/measurements/mid_measure.py
Due: pylint

pylint ignores
  tests/data/attributes/operator/test__wires.py
  tests/data/base/test_attribute.py
  tests/data/base/test_hdf5.py
  tests/data/data_manager/test_dataset_access.py
  tests/data/data_manager/test_params.py
  tests/data/test_dataset.py
Due: pylint-test

black
  pennylane/devices/qubit/measure.py
Due: pylint

Added change for unusable measurements
  pennylane/measurements/measurements.py
Due: pylint

trying to figure out this nesting
  doc/releases/changelog-dev.md
  pennylane/interfaces/jax_jit_tuple.py
Due: pylint

working now
  pennylane/interfaces/jax_jit_tuple.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
