Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: labs-pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

added docs
  pennylane/labs/resource_estimation/resource_tracking.py
Due: pylint

format
  pennylane/workflow/construct_batch.py
Due: pylint

db
  pennylane/workflow/construct_batch.py
Due: pylint

Combine classical declaration cases
  pennylane/io/qasm_interpreter.py
Due: pylint

qol fixes
  pennylane/capture/new_visualizer.py
Due: pylint

docs and changelog
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint, pylint-test

fix default clifford
  pennylane/devices/default_clifford.py
Due: pylint

revert kernel back to isolated private helper
  pennylane/math/utils.py
  pennylane/qchem/tapering.py
  tests/qchem/test_tapering.py
Due: pylint, pylint-test

one more tests
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform.py
Due: pylint, pylint-test

do not modify global config
  pennylane/labs/resource_estimation/resource_tracking.py
Due: pylint

add decorator
  pennylane/compiler/python_compiler/transforms/cancel_inverses.py
  pennylane/compiler/python_compiler/transforms/utils.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

format
  pennylane/compiler/python_compiler/transforms/utils.py
Due: pylint

rename
  pennylane/compiler/python_compiler/transforms/utils.py
Due: pylint

added TempAnd ops
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/ops/__init__.py
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
Due: pylint

test
  pennylane/compiler/python_compiler/transforms/__init__.py
  tests/python_compiler/test_python_compiler.py
Due: pylint, pylint-test

Pylint
  pennylane/io/qasm_interpreter.py
Due: pylint

fix import
  pennylane/qchem/vibrational/pes_generator.py
  tests/qchem/vibrational/__init__.py
  tests/qchem/vibrational/test_christiansen_ham.py
Due: pylint, pylint-test

more test
  tests/transforms/test_decompose_transform.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint-test

fix import
  tests/qchem/vibrational/test_christiansen_ham.py
Due: pylint-test

Pylint tests
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint-test

GrabWires --> AllocWires
  pennylane/labs/resource_estimation/ops/op_math/symbolic.py
Due: pylint

Run formatter
  pennylane/io/qasm_interpreter.py
Due: pylint

fixed typo
  pennylane/labs/resource_estimation/ops/op_math/symbolic.py
Due: pylint

add reduced_row_echelon to math/__init__.py
  pennylane/math/__init__.py
Due: pylint

remove deprecation
  pennylane/qchem/__init__.py
Due: pylint

Move context management into ContextManager class
  pennylane/io/qasm_interpreter.py
Due: pylint

Format, pylint
  pennylane/io/qasm_interpreter.py
Due: pylint

one left from qcut
  pennylane/qcut/cutcircuit_mc.py
Due: pylint

three missing from new `io` module
  pennylane/io/io.py
Due: pylint

Test nested ends
  tests/io/qasm_interpreter/nested_end.qasm
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint-test

fix import
  pennylane/qchem/vibrational/christiansen_utils.py
  pennylane/qchem/vibrational/pes_generator.py
Due: pylint

Dict for parameters
  pennylane/compiler/python_compiler/transforms/decompose.py
  tests/python_compiler/transforms/test_decompose.py
Due: pylint, pylint-test

apply some comments
  pennylane/ftqc/pauli_tracker.py
  tests/ftqc/test_pauli_tracker.py
Due: pylint, pylint-test

Backticks around `end`
  pennylane/io/io.py
Due: pylint

Debug tests in CI
  tests/io/qasm_interpreter/test_interpreter.py
Due: pylint-test

Rename Context class per feedback
  pennylane/io/qasm_interpreter.py
Due: pylint

update gates to use TempAND
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
