Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update pennylane/devices/qubit/jaxpr_adjoint.py
  pennylane/devices/qubit/jaxpr_adjoint.py
Due: pylint

no cover importerror
  pennylane/templates/layers/strongly_entangling.py
  pennylane/templates/subroutines/grover.py
  pennylane/templates/subroutines/qft.py
Due: pylint

[skip ci]
  pennylane/templates/state_preparations/state_prep_mps.py
  tests/templates/test_state_preparations/test_state_prep_mps.py
Due: pylint, pylint-test

cover shadow_expval.process
  tests/measurements/test_classical_shadow.py
Due: pylint-test

Improve merge amp embed logic
  pennylane/transforms/optimization/merge_amplitude_embedding.py
  tests/capture/transforms/test_capture_merge_amplitude_embedding.py
Due: pylint, pylint-test

fix imports
  pennylane/transforms/optimization/merge_amplitude_embedding.py
Due: pylint

Update pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/hadamard_gradient.py
Due: pylint

[skip ci] Remove xfails
  tests/capture/test_nested_plxpr.py
Due: pylint-test

Add skeleton for shots support with defer_measurements on default.qubit
  pennylane/devices/qubit/dq_interpreter.py
Due: pylint

Added support for hw-like postselect_mode
  pennylane/devices/default_qubit.py
  pennylane/devices/device_api.py
  pennylane/devices/qubit/dq_interpreter.py
  pennylane/workflow/_capture_qnode.py
Due: pylint

no cover for unimportant legacy storage
  pennylane/devices/default_mixed.py
Due: pylint

Simplified logic even more
  pennylane/transforms/optimization/single_qubit_fusion.py
Due: pylint

temp push
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/compact_objects.py
  pennylane/labs/resource_estimation/ops/op_math/controlled_ops.py
  pennylane/labs/resource_estimation/templates/__init__.py
  pennylane/labs/resource_estimation/templates/stateprep.py
  pennylane/labs/resource_estimation/templates/subroutines.py
Due: pylint

ignore all no-member warnings from jax
  .pylintrc
  pennylane/measurements/mid_measure.py
Due: pylint

ignore all no-member warnings from jax
  doc/releases/changelog-dev.md
Due: none

vibronic state mult, kinetc/potential fragment scheme for vibrational
  pennylane/labs/pf/vibrational/vibrational_hamiltonian.py
  pennylane/labs/pf/vibronic/vibronic_matrix.py
  pennylane/labs/pf/wavefunctions/__init__.py
  pennylane/labs/pf/wavefunctions/ho_state.py
  pennylane/labs/tests/pf/vibronic/test_vibrational.py
  pennylane/labs/tests/pf/vibronic/test_vibronic.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

add test for code coverage
  tests/capture/transforms/test_capture_merge_amplitude_embedding.py
Due: pylint-test

Silence all `no-member` pylint warnings from jax (#6987)
  .pylintrc
  doc/releases/changelog-dev.md
  pennylane/measurements/mid_measure.py
Due: pylint

add suppressions
  pennylane/data/data_manager/progress/_default/__init__.py
  pennylane/devices/qubit_mixed/einsum_manpulation.py
  pennylane/optimize/rotosolve.py
  pennylane/templates/subroutines/trotter.py
Due: pylint

doc changelog
  doc/releases/changelog-dev.md
Due: none

cover legacy classical shadow
  tests/measurements/test_classical_shadow.py
Due: pylint-test

Partial changes to rework `defer_measurements`; not integrated new arch yet
  pennylane/transforms/defer_measurements.py
Due: pylint

add pauli_rep for adjoint op (#6971)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/adjoint.py
  tests/ops/op_math/test_adjoint.py
Due: pylint, pylint-test

src
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

tests
  pennylane/ops/qubit/matrix_ops.py
  tests/ops/qubit/test_matrix_ops.py
Due: pylint, pylint-test

log
  doc/releases/changelog-dev.md
Due: none

First primitive version (working only in one direction)
  pennylane/transforms/optimization/commute_controlled.py
Due: pylint

Update pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

add NullMeasurement
  doc/releases/changelog-dev.md
  pennylane/measurements/__init__.py
  pennylane/measurements/null_measurement.py
  tests/measurements/test_null_measurement.py
Due: pylint, pylint-test

adding tests
  tests/measurements/test_null_measurement.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
