Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: " gitleaks 路 Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
    - id: black
      name: " black 路 Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort
      name: " isort 路 Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: " tach 路 Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
    -   id: pyupgrade
        name: " pyupgrade 路 Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: " pylint 路 Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: " pylint 路 Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: " pylint 路 Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

fixing labs
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient_transform.py
Due: pylint, labs-pylint-test

Update pennylane/numeric_hamiltonians.py
  pennylane/numeric_hamiltonians.py
Due: pylint

change angle convention
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Register MCX decomposition rules to the MCX name
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

fix: bump `tach` to `0.35.1` (#10147)
  doc/releases/changelog-dev.md
  pyproject.toml
Due: none

oooops
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

add unit tests
  pennylane/labs/tests/tcdq/test_mmd_loss_pauli.py
Due: pylint, labs-pylint-test

test
  pennylane/numeric_hamiltonians.py
Due: pylint

pylint
  pennylane/numeric_hamiltonians.py
Due: pylint

oooops
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

Update release workflows with miscellaneous improvements (#10136)
  .github/workflows/create-release.yml
  .github/workflows/upload.yml
Due: none

fix: update GlobalPhase's controlled decomp to be capture compatible
  doc/releases/changelog-dev.md
  pennylane/ops/identity.py
  tests/ops/test_identity.py
Due: pylint, pylint-test

adjust tests
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

re-add decomposition
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

Map AliasSampling to its estimator resource operator
  pennylane/estimator/resource_mapping.py
  tests/estimator/test_estimator_mapping.py
Due: pylint, pylint-test

Add PR link for Operator2 alias sampling promotion
  doc/releases/changelog-dev.md
Due: none

Restore note on the alias table defaults
  pennylane/templates/subroutines/alias_sampling.py
Due: pylint

Fix Sybil parsing of comparator changelog examples
  doc/releases/changelog-dev.md
Due: none

Drop labs re-exports of promoted templates
  doc/releases/changelog-dev.md
  pennylane/labs/templates/__init__.py
  pennylane/labs/templates/left_classical_comparator.py
  pennylane/labs/templates/left_quantum_comparator.py
  pennylane/labs/templates/superposition_thc.py
  pennylane/labs/tests/templates/test_left_classical_comparator.py
  pennylane/labs/tests/templates/test_left_quantum_comparator.py
  pennylane/templates/subroutines/alias_sampling.py
  tests/templates/subroutines/arithmetic/test_left_classical_comparator.py
  tests/templates/subroutines/arithmetic/test_left_quantum_comparator.py
Due: pylint, pylint-test, labs-pylint-test

Cover UniformPrep and AliasSampling validation and edge decomps
  tests/templates/subroutines/test_alias_sampling.py
Due: pylint-test

Promote alias sampling and comparators to Operator2 templates
  doc/releases/changelog-dev.md
  pennylane/labs/templates/left_classical_comparator.py
  pennylane/labs/templates/left_quantum_comparator.py
  pennylane/labs/tests/templates/test_left_classical_comparator.py
  pennylane/labs/tests/templates/test_left_quantum_comparator.py
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/alias_sampling.py
  pennylane/templates/subroutines/arithmetic/__init__.py
  pennylane/templates/subroutines/arithmetic/left_classical_comparator.py
  pennylane/templates/subroutines/arithmetic/left_quantum_comparator.py
  tests/templates/subroutines/arithmetic/test_left_classical_comparator.py
  tests/templates/subroutines/arithmetic/test_left_quantum_comparator.py
  tests/templates/subroutines/test_alias_sampling.py
Due: pylint, pylint-test, labs-pylint-test

Register new templates in capture integration tests
  tests/capture/test_templates.py
Due: pylint-test

Split comparator changelog entries into New features
  doc/releases/changelog-dev.md
Due: none

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Tighten AliasSampling validation and match SuperpositionTHC work-wire resources.
  pennylane/labs/templates/superposition_thc.py
  pennylane/labs/tests/templates/test_superposition_thc.py
  pennylane/templates/subroutines/alias_sampling.py
  tests/templates/subroutines/test_alias_sampling.py
Due: pylint, pylint-test, labs-pylint-test

adjust to new angle convention
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/templates/subroutines/arithmetic/temporary_and.py
Due: pylint

Add PR link for Operator2 THC alias sampling promotion
  doc/releases/changelog-dev.md
Due: none

Promote THC alias sampling to Operator2 templates
  doc/releases/changelog-dev.md
  pennylane/estimator/resource_mapping.py
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/alias_sampling_thc.py
  tests/capture/test_templates.py
  tests/estimator/test_estimator_mapping.py
  tests/templates/subroutines/test_alias_sampling_thc.py
Due: pylint, pylint-test

Promote SuperpositionTHC to Operator2 templates
  doc/releases/changelog-dev.md
  pennylane/labs/templates/__init__.py
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/alias_sampling_thc.py
  pennylane/templates/subroutines/superposition_thc.py
  tests/capture/test_templates.py
  tests/templates/subroutines/test_alias_sampling_thc.py
  tests/templates/subroutines/test_superposition_thc.py
Due: pylint, pylint-test

black
  pennylane/ops/qubit/non_parametric_ops.py
Due: pylint

codecov
  tests/test_numeric_hamiltonians.py
Due: pylint-test

Cover remaining AliasSamplingTHC branches and pin the test decomposition path
  pennylane/templates/subroutines/alias_sampling_thc.py
  tests/templates/subroutines/test_alias_sampling_thc.py
  tests/templates/subroutines/test_superposition_thc.py
Due: pylint, pylint-test

Fix alias sampling CI after rebasing onto main
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient_transform.py
  tests/templates/subroutines/test_alias_sampling.py
Due: pylint, pylint-test, labs-pylint-test

fix: update `GlobalPhase`'s controlled decomp to be capture compatible (#10149)
  doc/releases/changelog-dev.md
  pennylane/ops/identity.py
  tests/ops/test_identity.py
Due: pylint, pylint-test

fix
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint, pylint-test

another fix
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

remove branch in __eq__
  pennylane/numeric_hamiltonians.py
Due: pylint

more
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  tests/transforms/test_decomp_inspector.py
Due: pylint, pylint-test
