Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

an attempt
  pennylane/resource/specs.py
Due: pylint

one more jit fix
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
Due: pylint

Apply suggestions from code review
  pennylane/labs/tests/transforms/test_rot_to_phase_gradient.py
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint, labs-pylint-test

add supported gates
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

RZ decomposition rule
  pennylane/labs/tests/transforms/test_rz_phase_gradient_decomp.py
  pennylane/labs/transforms/rz_phase_gradient_decomp.py
Due: pylint, labs-pylint-test

RZ decomposition rule
  pennylane/labs/tests/transforms/test_rz_phase_gradient_decomp.py
Due: pylint, labs-pylint-test

simpllify wire in test
  pennylane/labs/tests/transforms/test_rz_phase_gradient_decomp.py
Due: pylint, labs-pylint-test

Apply suggestion from @dwierichs
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint

correct binary rounding
  pennylane/labs/tests/transforms/test_rot_to_phase_gradient.py
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient.py
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint, labs-pylint-test

correct binary rounding
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint

docstring
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint

docstring
  pennylane/labs/tests/transforms/test_rot_to_phase_gradient.py
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/rot_to_phase_gradient.py
Due: pylint, labs-pylint-test

update with new binary rep
  pennylane/labs/tests/transforms/test_rz_phase_gradient_decomp.py
Due: pylint, labs-pylint-test

Update changelog
  doc/releases/changelog-dev.md
Due: none

Update tests/ftqc/test_decomposition_catalyst.py
  tests/ftqc/test_decomposition_catalyst.py
Due: pylint-test

Apply suggestion from @andrijapau
  tests/ftqc/test_decomposition_catalyst.py
Due: pylint-test

add more tests
  tests/ftqc/test_decomposition_catalyst.py
Due: pylint-test

fix: update pauli_based_computation.py docstring
  pennylane/transforms/decompositions/pauli_based_computation.py
Due: pylint

fix
  tests/ftqc/test_decomposition.py
  tests/ftqc/test_decomposition_catalyst.py
Due: pylint-test

Update pennylane/resource/specs.py
  pennylane/resource/specs.py
Due: pylint

fix
  tests/ftqc/test_decomposition.py
Due: pylint-test

fix setup entry points
  pennylane/_entry_points_utils.py
Due: pylint

pyling and docstrings
  pennylane/__init__.py
  pennylane/_entry_points_utils.py
Due: pylint

Update unit tests
  tests/resource/test_resource.py
  tests/resource/test_specs.py
Due: pylint-test

Improve type hinting
  pennylane/resource/specs.py
Due: pylint

Debug Multiplier test
  pennylane/templates/subroutines/arithmetic/multiplier.py
  tests/templates/subroutines/arithmetic/test_multiplier.py
Due: pylint, pylint-test

move decompose_*clifford_ppr to pbc.py
  pennylane/ftqc/__init__.py
  pennylane/ftqc/decomposition.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/decompositions/pauli_based_computation.py
  tests/ftqc/test_decomposition.py
  tests/transforms/test_pauli_based_computation.py
Due: pylint, pylint-test

PR review comments
  pennylane/resource/specs.py
  tests/resource/test_specs.py
Due: pylint, pylint-test

Binary representation utility function
  pennylane/math/utils.py
  tests/math/test_basic_math.py
Due: pylint, pylint-test

typing
  pennylane/math/utils.py
Due: pylint

Debug OutAdder test
  pennylane/templates/subroutines/arithmetic/out_adder.py
  tests/templates/subroutines/arithmetic/test_out_adder.py
Due: pylint, pylint-test

black
  pennylane/__init__.py
  pennylane/_entry_points_utils.py
  pennylane/transforms/decompositions/pauli_based_computation.py
Due: pylint

fix
  pennylane/math/__init__.py
  pennylane/math/utils.py
  pennylane/transforms/rz_phase_gradient.py
  tests/transforms/test_rz_phase_gradient.py
Due: pylint, pylint-test

Debug OutMultiplier test
  tests/templates/subroutines/arithmetic/test_out_multiplier.py
Due: pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

Debug PhaseAdder test
  tests/templates/subroutines/arithmetic/test_phase_adder.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
