Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Counting failures in CI
  .github/workflows/interface-unit-tests.yml
Due: none

update job condition
  .github/workflows/interface-unit-tests.yml
  tests/fourier/test_coefficients.py
  tests/liealg/test_horizontal_cartan_subalgebra.py
  tests/pauli/test_pauli_arithmetic.py
Due: pylint-test

Absorb qualtran conversion into PL (#7189)
  doc/releases/changelog-dev.md
  pennylane/io/qualtran_io.py
  tests/io/test_qualtran_io.py
Due: pylint, pylint-test

Adding Read the docs check (#7157)
  .github/workflows/rtd-check.yml
Due: none

update condition
  .github/workflows/interface-unit-tests.yml
Due: none

attempt 1
  doc/releases/changelog-dev.md
Due: none

add new tach
  tach.toml
Due: none

move serialization
  pennylane/data/attributes/pytree.py
  pennylane/data/attributes/serialization.py
  tests/data/attributes/test_serialization.py
Due: pylint, pylint-test

fix drawer
  pennylane/drawer/draw.py
  pennylane/drawer/tape_mpl.py
  pennylane/drawer/tape_text.py
Due: pylint

fix kernels
  pennylane/kernels/utils.py
Due: pylint

fix ops/functions
  pennylane/ops/functions/map_wires.py
  pennylane/ops/functions/simplify.py
Due: pylint

fix wires
  pennylane/wires.py
Due: pylint

address comments
  doc/releases/changelog-dev.md
  pennylane/io/qualtran_io.py
Due: pylint

Prepare `tape_text` for further extension (#7133)
  doc/releases/changelog-dev.md
  pennylane/drawer/_add_obj.py
  pennylane/drawer/tape_text.py
  tests/drawer/test_draw_mpl.py
  tests/drawer/test_mpldrawer.py
  tests/drawer/test_tape_text.py
Due: pylint, pylint-test

change condition approach
  .github/workflows/interface-unit-tests.yml
Due: none

try and fix _check_state and _check_density
  pennylane/math/fidelity.py
Due: pylint

minor
  doc/releases/changelog-dev.md
Due: none

fix up _add_obj for tach
  pennylane/drawer/_add_obj.py
Due: pylint

change version of tach
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
  .github/workflows/module-validation.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
Due: none

fix serialization import a bit
  pennylane/data/attributes/serialization.py
Due: pylint

Apply suggestions from code review
  pennylane/decomposition/resources.py
  tests/decomposition/test_resources.py
Due: pylint, pylint-test

add spin module and ui layer
  pennylane/spin/spin_hamiltonian.py
  tach.toml
Due: pylint

fix identity import
  pennylane/spin/spin_hamiltonian.py
Due: pylint

first draft of bch
  pennylane/labs/trotter_error/__init__.py
  pennylane/labs/trotter_error/product_formulas/__init__.py
  pennylane/labs/trotter_error/product_formulas/bch_tree.py
  pennylane/labs/trotter_error/product_formulas/product_formula.py
Due: pylint

add shadows to tertiary
  pennylane/shadows/classical_shadow.py
  pennylane/shadows/transforms.py
  tach.toml
Due: pylint

fix sparse state prep
  pennylane/devices/qubit/initialize_state.py
  tests/devices/qubit/test_initialize_state.py
  tests/devices/qubit/test_simulate.py
Due: pylint, pylint-test

minor doc fixes
  pennylane/labs/trotter_error/fragments/generic_fragments.py
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
Due: pylint

attempt 2
  doc/releases/changelog-dev.md
Due: none

fix fourier
  pennylane/fourier/circuit_spectrum.py
  pennylane/fourier/qnode_spectrum.py
  pennylane/fourier/reconstruct.py
  pennylane/fourier/utils.py
  tach.toml
Due: pylint

fix fourier
  tach.toml
Due: none

changelog
  doc/releases/changelog-dev.md
Due: none

condition on cancelled jobs
  .github/workflows/interface-unit-tests.yml
Due: none

Simple fix
  pennylane/transforms/zx/converter.py
Due: pylint

[skip ci] new numbering
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Fix misc issues involving sparse related dispatches (#7140)
  doc/releases/changelog-dev.md
  pennylane/math/multi_dispatch.py
  pennylane/math/utils.py
  tests/math/test_functions.py
Due: pylint, pylint-test

decopmps
  doc/releases/changelog-dev.md
Due: none

minor shuffle
  doc/releases/changelog-dev.md
Due: none

fix highlighting
  pennylane/labs/trotter_error/realspace/realspace_matrix.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-dev.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
