Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

cl
  doc/releases/changelog-dev.md
Due: none

fix some of the tests
  tests/capture/test_base_interpreter.py
Due: pylint-test

fix
  pennylane/labs/templates/superposition_thc.py
Due: pylint

unroll ffft because wires are traced
  pennylane/templates/subroutines/ffft.py
Due: pylint

test rule under capture
  tests/templates/subroutines/test_ffft.py
Due: pylint-test

Update the docs.
  pennylane/labs/templates/__init__.py
  pennylane/labs/templates/mps_synthesis/__init__.py
  pennylane/labs/templates/mps_synthesis/mps_synthesis.py
Due: pylint

Update redundant doc.
  pennylane/labs/templates/mps_synthesis/mps_synthesis.py
Due: pylint

[WIP] Init tests
  pennylane/ops/op_math/__init__.py
  pennylane/ops/op_math/composite2.py
  tests/ops/op_math/test_composite_op2.py
Due: pylint, pylint-test

forgot an xfail
  tests/resource/test_specs.py
Due: pylint-test

roll up operands
  pennylane/ops/op_math/composite2.py
  tests/ops/op_math/test_composite_op2.py
Due: pylint, pylint-test

update tests
  pennylane/ops/op_math/composite2.py
  tests/ops/op_math/test_composite_op2.py
Due: pylint, pylint-test

Fix several failing tests
  tests/estimator/templates/test_estimator_subroutines.py
  tests/templates/test_subroutine.py
  tests/transforms/decompositions/test_crz_phase_gradient.py
  tests/transforms/decompositions/test_rz_phase_gradient.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
  tests/transforms/test_optimization/test_pattern_matching.py
Due: pylint-test

rm test
  tests/ops/op_math/test_composite_op2.py
Due: pylint-test

Fix conditional MCM bug
  doc/releases/changelog-dev.md
  pennylane/tape/plxpr_conversion.py
  tests/tape/test_plxpr_conversion.py
Due: pylint, pylint-test

fix: revert xfails / doctest skips from #9942 (#10011)
  doc/releases/changelog-dev.md
  pennylane/resource/specs.py
  tests/resource/test_specs.py
Due: pylint, pylint-test

pr number
  doc/releases/changelog-dev.md
Due: none

Update pennylane/tape/plxpr_conversion.py
  pennylane/tape/plxpr_conversion.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Fix Operator2 canonicalize dynamic values (#10023)
  doc/releases/changelog-dev.md
  pennylane/core/operator/operator2.py
Due: pylint

Pass more tests
  tests/estimator/templates/test_estimator_subroutines.py
  tests/resource/test_resource_utils.py
  tests/test_vqe.py
Due: pylint-test

Switch to construct_tape
  tests/estimator/templates/test_estimator_subroutines.py
  tests/ops/test_meta.py
  tests/transforms/decompositions/test_crz_phase_gradient.py
  tests/transforms/decompositions/test_rz_phase_gradient.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
  tests/transforms/test_optimization/test_pattern_matching.py
Due: pylint-test

Apply suggestions from code review
  pennylane/backline/__init__.py
  pennylane/backline/placement.py
Due: pylint

format
  pennylane/backline/__init__.py
Due: pylint

fix: resolve merge conflicts
  doc/releases/changelog-dev.md
  pennylane/backline/__init__.py
  pennylane/backline/device.py
  pennylane/backline/functions.py
  pennylane/backline/placement.py
  tests/backline/test_device.py
  tests/backline/test_placement.py
Due: pylint, pylint-test

docs: use args/kwargs
  pennylane/backline/placement.py
Due: pylint

chore: fix linting
  pennylane/backline/decode.py
  pennylane/backline/device.py
Due: pylint

fix: address shuli's comments
  pennylane/backline/__init__.py
  pennylane/backline/decode.py
  tests/backline/test_decode.py
Due: pylint, pylint-test

docs: update stean_lookup in changelog
  doc/releases/changelog-dev.md
Due: none

Add TrotterVibronic template based on Operator2
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/__init__.py
  pennylane/templates/subroutines/time_evolution/__init__.py
  pennylane/templates/subroutines/time_evolution/_trotter_vibronic_utils.py
  pennylane/templates/subroutines/time_evolution/trotter_vibronic.py
  tests/templates/subroutines/time_evolution/test_trotter_vibronic.py
Due: pylint, pylint-test

Fix changelog PR link
  doc/releases/changelog-dev.md
Due: none

docs: replace inline code with attr
  pennylane/backline/__init__.py
  pennylane/backline/decode.py
  pennylane/backline/device.py
  pennylane/backline/functions.py
  pennylane/backline/placement.py
  pennylane/backline/runtime/runtime_call.py
  pennylane/backline/runtime/signature.py
  pennylane/backline/transports.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Remove orphaned _trotter_vibronic_utils.py
  pennylane/templates/subroutines/time_evolution/_trotter_vibronic_utils.py
Due: pylint

changelog, comments
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/time_evolution/_trotter_vibronic_utils.py
  pennylane/templates/subroutines/time_evolution/trotter_vibronic.py
Due: pylint

Add TrotterVibronic operator to estimator resource-op mapping
  pennylane/estimator/resource_mapping.py
Due: pylint

Make TrotterVibronic resource function graph-compatible
  pennylane/templates/subroutines/time_evolution/trotter_vibronic.py
  tests/templates/subroutines/time_evolution/test_trotter_vibronic.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
