Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

add demo notebook
  pennylane/capture/Interpreters_Demo.md
  pennylane/capture/interpreters.py
Due: pylint

Revert changes
  pennylane/measurements/mid_measure.py
  pennylane/transforms/dynamic_one_shot.py
  tests/measurements/test_mid_measure.py
Due: pylint, pylint-test

return the correct error instead of an xfail
  tests/measurements/test_state.py
Due: pylint-test

update some stuff
  pennylane/transforms/__init__.py
  pennylane/transforms/split_non_commuting.py
  pennylane/transforms/split_to_single_terms.py
Due: pylint

Small `dynamic_one_shot` change to account for Catalyst updates (#5888)
  doc/releases/changelog-dev.md
  pennylane/measurements/mid_measure.py
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

avoid using hardcoded magical matrices
  tests/measurements/test_probs.py
Due: pylint-test

remove unused dev
  tests/measurements/test_measurements.py
Due: pylint-test

remove usused arg 'expected'
  tests/measurements/test_state.py
Due: pylint-test

remove unused var 'processed'
  tests/measurements/test_state.py
Due: pylint-test

import tensorlike first
  pennylane/measurements/probs.py
  pennylane/measurements/state.py
Due: pylint

handle multi-copy insufficient shots
  pennylane/transforms/split_non_commuting.py
Due: pylint

remove update
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

try another thing
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

tests [WIP]
  tests/transforms/test_split_to_single_terms.py
Due: pylint-test

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Preparation for release candidate 0.37.0
  doc/development/release_notes.md
  doc/releases/changelog-0.36.0.md
  doc/releases/changelog-0.37.0.md
  pennylane/_version.py
Due: pylint

fix typo
  pennylane/_version.py
Due: pylint

Preparation for release candidate 0.37.0 (#5898)
  doc/development/release_notes.md
  doc/releases/changelog-0.36.0.md
  doc/releases/changelog-0.37.0.md
  pennylane/_version.py
Due: pylint

Bump version number to 0.38.0-dev
  doc/development/release_notes.md
  doc/releases/changelog-dev.md
  pennylane/_version.py
Due: pylint

remove legacy device interface code
  pennylane/__init__.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
Due: pylint

a lot of removals
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/capture/test_switches.py
  tests/interfaces/default_qubit_2_integration/test_execute_default_qubit_2.py
  tests/workflow/test_cache_transform.py
Due: pylint, pylint-test

Bump version number to 0.38.0-dev (#5899)
  doc/development/release_notes.md
  doc/releases/changelog-dev.md
  pennylane/_version.py
Due: pylint

Update the minimum version of Catalyst
  pennylane/compiler/compiler.py
Due: pylint

Fixing issue due to wire ordering in `state_vector`
  pennylane/devices/default_tensor.py
Due: pylint

Parametrizing over number of orbitals
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint-test

Updating changelog
  doc/releases/changelog-0.37.0.md
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint-test

More refined assertion check
  tests/devices/default_tensor/test_default_tensor.py
Due: pylint-test

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

let me try something
  pennylane/io.py
Due: pylint

this should work
  pennylane/io.py
  tests/test_io.py
Due: pylint, pylint-test

First round of tests
  pennylane/devices/default_tensor.py
Due: pylint

Adding the `enable_GPU` function
  pennylane/devices/default_tensor.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

pragma: no cover
  pennylane/devices/qubit/apply_operation.py
Due: pylint

Process density matrix (#5830)
  doc/releases/changelog-dev.md
  pennylane/measurements/measurements.py
  pennylane/measurements/probs.py
  pennylane/measurements/state.py
  tests/measurements/test_measurements.py
  tests/measurements/test_probs.py
  tests/measurements/test_state.py
Due: pylint, pylint-test

exploration
  pennylane/__init__.py
  pennylane/devices/execution_config.py
  pennylane/devices/legacy_facade.py
  pennylane/ops/functions/map_wires.py
  pennylane/ops/functions/simplify.py
  pennylane/qcut/cutcircuit_mc.py
  pennylane/transforms/core/transform_dispatcher.py
  pennylane/transforms/core/transform_program.py
  pennylane/workflow/__init__.py
  pennylane/workflow/beta_execution.py
  pennylane/workflow/cache_transform.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/core_preprocessing.py
  pennylane/workflow/execution.py
  pennylane/workflow/jacobian_products.py
  pennylane/workflow/qnode.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
  tests/test_qnode.py
Due: pylint, pylint-test

add file
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift_mid_measure.py
Due: pylint, pylint-test
