Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Update measurement tests for new op math (#5368)
  tests/measurements/test_sample.py
Due: pylint-test

using `assert isinstance(gen, type(qml.Hamiltonian([], [])))` to pass test both with opmath enabled and disabled
  tests/ops/functions/test_generator.py
Due: pylint-test

fixing tests related to generators (#5360)
  pennylane/ops/functions/generator.py
  tests/ops/functions/test_generator.py
Due: pylint, pylint-test

fix failing tests
  pennylane/ops/qubit/hamiltonian.py
  pennylane/pauli/utils.py
  tests/transforms/test_sign_expand.py
Due: pylint, pylint-test

X,Y,Z, and Hadamard return their eigvals
  pennylane/measurements/sample.py
Due: pylint

update tests
  tests/measurements/test_sample.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
Due: pylint-test

defer calculation till requested
  pennylane/ops/qubit/hamiltonian.py
  pennylane/pauli/conversion.py
Due: pylint

allow numpy scalar types
  pennylane/typing.py
  tests/pauli/test_pauli_arithmetic.py
Due: pylint, pylint-test

update expectation in tests
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
Due: pylint-test

also update sample on old device
  pennylane/_qubit_device.py
Due: pylint

update changelog
  doc/releases/changelog-dev.md
Due: none

sum defines diagonalizing gates
  tests/interfaces/test_autograd.py
Due: pylint-test

additional test fixes
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/sprod.py
Due: pylint

Update drawer tests for op_math (#5363)
  tests/drawer/test_tape_text.py
Due: pylint-test

fixing `test_device.py`
  pennylane/_device.py
  tests/test_device.py
Due: pylint, pylint-test

Merge v0.35.1 changes into `master` (#5378)
  doc/releases/changelog-0.35.0.md
  doc/releases/changelog-0.35.1.md
  pennylane/_qubit_device.py
  setup.py
  tests/devices/test_lightning_qubit.py
Due: pylint, pylint-test

update eigvals function
  pennylane/ops/op_math/linear_combination.py
  tests/ops/op_math/test_linear_combination.py
Due: pylint, pylint-test

un-fixing tests not associated with story
  tests/test_device.py
Due: pylint-test

remove xfail fixed in #5379
  tests/test_device.py
Due: pylint-test

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

Added basis of tests
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
Due: pylint-test

removed unecessary tests
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
Due: pylint-test

Added stub for executr
  pennylane/devices/default_qutrit_mixed.py
Due: pylint

Added types for stub
  pennylane/devices/default_qutrit_mixed.py
Due: pylint

Fixed most tests
  tests/devices/qutrit_mixed/test_qutrit_mixed_preprocessing.py
Due: pylint-test

revert mock patch on __main__
  pennylane/operation.py
Due: pylint

Update RiemannianGradient, tests pass tests/optimize/test_riemannian_gradient_optimizer.py
  pennylane/optimize/riemannian_gradient.py
  tests/optimize/test_qng.py
Due: pylint, pylint-test

Fixing test instead of `_device.py`
  pennylane/_device.py
  tests/test_device.py
Due: pylint, pylint-test

removing import `Prod` line
  pennylane/_device.py
Due: pylint
