Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

module docstring
  pennylane/registers.py
Due: pylint

black
  tests/templates/test_subroutines/test_prepselprep.py
Due: pylint-test

FF Fixes (#5931)
  doc/code/qml_debugging.rst
  doc/code/qml_qchem.rst
  doc/introduction/data.rst
  doc/introduction/inspecting_circuits.rst
  pennylane/debugging/debugger.py
  pennylane/io.py
  pennylane/math/quantum.py
  pennylane/ops/op_math/controlled_decompositions.py
  pennylane/ops/op_math/decompositions/single_qubit_unitary.py
  pennylane/pauli/conversion.py
  pennylane/qchem/__init__.py
  pennylane/qchem/convert_openfermion.py
  pennylane/transforms/transpile.py
  pennylane/typing.py
  pennylane/workflow/qnode.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/test_debugging.py
Due: pylint, pylint-test

Fix jax enable x64 (#5960)
  doc/releases/changelog-0.37.0.md
  pennylane/compiler/compiler.py
  tests/test_compiler.py
Due: pylint, pylint-test

Removed extra files
  doing_a_test.py
  my_testing.py
  pennylane/devices/jittable_mixed.py
  pennylane/devices/jittable_qutrit_mixed.py
Due: pylint

removed makefile to stop CI
  Makefile
Due: none

Removed commenting out Makefile
  Makefile
Due: none

capture ctrl transform
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled.py
  tests/capture/test_nested_plxpr.py
Due: pylint, pylint-test

Added documentation suggestions
  pennylane/devices/default_qutrit_mixed.py
  tests/devices/test_default_qutrit_mixed.py
Due: pylint, pylint-test

Added logic for approximate sampling test
  tests/devices/test_default_qutrit_mixed.py
Due: pylint-test

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

wire order fix
  pennylane/templates/subroutines/qsvt.py
  tests/templates/test_subroutines/test_qsvt.py
Due: pylint, pylint-test

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Lightning and Catalyst dependencies version bumps
  .github/stable/external.txt
  pennylane/compiler/compiler.py
  setup.py
Due: pylint

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

fix tests
  tests/measurements/test_state.py
  tests/templates/test_subroutines/test_qrom.py
Due: pylint-test

Broadcast params in phaseshift.
  pennylane/devices/qubit/apply_operation.py
Due: pylint

minor update
  doc/releases/changelog-0.37.0.md
Due: none

Fix broadcasting for all interfaces.
  pennylane/devices/qubit/apply_operation.py
  tests/devices/qubit/test_apply_operation.py
Due: pylint, pylint-test

temporarily skip catalyst tests
  tests/drawer/test_draw_catalyst.py
  tests/test_compiler.py
Due: pylint-test

update pldb prompt
  doc/releases/changelog-0.37.0.md
Due: none

add comment
  tests/drawer/test_draw_catalyst.py
  tests/test_compiler.py
Due: pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

fix
  tests/templates/test_subroutines/test_qrom.py
Due: pylint-test

Fix jax issue with math.array.
  pennylane/devices/qubit/apply_operation.py
Due: pylint

Added the test for counts approximated
  pennylane/devices/default_qutrit_mixed.py
  tests/devices/test_default_qutrit_mixed.py
Due: pylint, pylint-test

Update pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_batch.py
Due: pylint

Update pennylane/transforms/core/transform_program.py
  pennylane/transforms/core/transform_program.py
Due: pylint

Update pennylane/transforms/mitigate.py
  pennylane/transforms/mitigate.py
Due: pylint

more tests and some docs
  doc/releases/changelog-dev.md
  pennylane/devices/legacy_facade.py
  pennylane/transforms/split_non_commuting.py
  tests/devices/test_legacy_facade.py
Due: pylint, pylint-test

more type hint fixes in `jacobian_products`
  pennylane/workflow/jacobian_products.py
Due: pylint

oops
  tests/capture/test_capture_module.py
Due: pylint-test

Restore override_shots = 1
  pennylane/devices/default_mixed.py
  pennylane/workflow/qnode.py
Due: pylint

update shots handling
  pennylane/transforms/split_to_single_terms.py
Due: pylint

Add tests and remove obsolete pragma: no cover
  pennylane/devices/qubit/apply_operation.py
  tests/devices/qubit/test_apply_operation.py
Due: pylint, pylint-test

Update to add more interesting example with TN method
  doc/releases/changelog-0.37.0.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
