Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    - id: black
      args: [
              "--line-length=100",
              "-t", "py39",
              "-t", "py310",
              "-t", "py311",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    - id: isort
      args:
        [
          "--py",
          "311",
          "--profile",
          "black",
          "-l",
          "100",
          "-o",
          "autoray",
          "-p",
          "./pennylane",
          "--skip",
          "__init__.py",
          "--filter-files",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.24.0
    hooks:
    -   id: tach
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: labs-pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

fix(openfermion): Use identity qubit map when none is provided (#7332)
  doc/releases/changelog-dev.md
  pennylane/qchem/convert.py
  tests/qchem/openfermion_pyscf_tests/test_convert_openfermion.py
Due: pylint, pylint-test

Debug linting
  pennylane/transforms/decompose.py
Due: pylint

Explain the impact on the user directly in the changelog entry
  doc/releases/changelog-dev.md
Due: none

End user facing feedback
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint, pylint-test

everything passes
  pennylane/labs/tests/trotter_error/product_formulas/test_bch.py
  pennylane/labs/tests/trotter_error/product_formulas/test_pf.py
  pennylane/labs/trotter_error/abstract.py
  pennylane/labs/trotter_error/product_formulas/error.py
  pennylane/labs/trotter_error/product_formulas/product_formula.py
Due: pylint, labs-pylint-test

no more accuracy check
  tests/test_debugging.py
Due: pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

removing cmake
  pyproject.toml
Due: none

Add basic unit tests
  tests/io/test_io.py
Due: pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Indentation consistency in docs
  doc/releases/changelog-dev.md
Due: none

Update the changelog
  doc/releases/changelog-dev.md
Due: none

Consistent indentation in changelog
  doc/releases/changelog-dev.md
Due: none

Reword: H -> Hadamard
  doc/releases/changelog-dev.md
Due: none

More verbose changelog
  doc/releases/changelog-dev.md
Due: none

Move docstring example under details section
  pennylane/transforms/decompose.py
Due: pylint

Potential fix for code scanning alert no. 204: Code injection
  .github/workflows/trigger_benchmarks.yml
Due: none

Remove duplicate test
  tests/io/test_io.py
Due: pylint-test

Update .github/workflows/trigger_benchmarks.yml
  .github/workflows/trigger_benchmarks.yml
Due: none

Remove JAX warning
  doc/releases/changelog-dev.md
  pennylane/capture/capture_operators.py
Due: pylint

Apply suggestions from code review
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/pcphase_decomposition.md
Due: pylint

Indentation to remove horizontal scroll
  pennylane/transforms/decompose.py
Due: pylint

Reword: i.e. -> for example
  pennylane/transforms/decompose.py
Due: pylint

Spelling
  pennylane/transforms/decompose.py
Due: pylint

still use diagonalize transform
  pennylane/devices/reference_qubit.py
Due: pylint

Upgrading ReadTheDocs and RTD runners to ubuntu24 (#7396)
  .github/workflows/docs.yml
  .github/workflows/rtd-check.yml
  .readthedocs.yml
  doc/releases/changelog-dev.md
Due: none

Remove trailing whitespace
  pennylane/transforms/decompose.py
Due: pylint

Fix typos
  pennylane/io/io.py
Due: pylint

Minor fix to docstring
  pennylane/io/io.py
Due: pylint

[skip ci]
  doc/releases/changelog-dev.md
  pennylane/ops/qubit/matrix_ops.py
Due: pylint

clearing setup.py
  setup.py
Due: pylint

The first 4 tests are all the same thing. I don't see the point of having them different tol erances.
  tests/devices/qubit/test_sampling.py
Due: pylint-test

updating requires
  pyproject.toml
Due: none

Add resource operator implementation
  pennylane/labs/resource_estimation/__init__.py
  pennylane/labs/resource_estimation/resource_operator.py
Due: pylint

Update tests/test_debugging.py
  tests/test_debugging.py
Due: pylint-test
