Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Removed unused numpy import
  pennylane/templates/subroutines/prepselprep.py
Due: pylint

Removed unused itertools import
  pennylane/templates/subroutines/prepselprep.py
Due: pylint

Adding docstrings and conforming to other linting rules
  pennylane/templates/subroutines/prepselprep.py
  tests/templates/test_subroutines/test_prepselprep.py
Due: pylint, pylint-test

Move data concat up the stack so that parse_native_mid_circuit_measurements can accept results with a broadcast dimension (for jitting).
  Makefile
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Removing old module file
  pennylane/templates/subroutines/prep_select_prep.py
Due: pylint

update changelog
  doc/releases/changelog-dev.md
Due: none

Add unit tests for validation
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

*sigh*
  doc/development/guide/tests.rst
Due: none

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Define BasisStateProjector.compute_sparse_matrix v3.1
  tests/ops/qubit/test_observables.py
Due: pylint-test

testing improvements, doc build attempt
  pennylane/capture/capture_qnode.py
  tests/capture/test_capture_qnode.py
Due: pylint, pylint-test

[skip ci] one more
  doc/development/guide/installation.rst
Due: none

Replacing `semantic version` with `Version` (#5754)
  doc/releases/changelog-dev.md
  pennylane/math/single_dispatch.py
Due: pylint

Define BasisStateProjector.compute_sparse_matrix v3.2
  pennylane/ops/qubit/observables.py
  tests/ops/qubit/test_observables.py
Due: pylint, pylint-test

update copyright
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
Due: pylint, pylint-test

[skip ci] another one
  doc/development/guide/tests.rst
Due: none

add minor corrections
  doc/code/qml_qchem.rst
  doc/introduction/chemistry.rst
  pennylane/qchem/openfermion_obs.py
Due: pylint

Updated docs
  doc/introduction/measurements.rst
Due: none

seed
  tests/test_debugging.py
Due: pylint-test

Update pennylane/devices/execution_config.py
  pennylane/devices/execution_config.py
Due: pylint

Remove qjit checks
  pennylane/devices/preprocess.py
  pennylane/transforms/defer_measurements.py
  tests/transforms/test_defer_measurements.py
Due: pylint, pylint-test

Fixing linting error
  pennylane/devices/execution_config.py
Due: pylint

[skip ci] one more
  doc/development/guide/tests.rst
Due: none

add tests for recursive unitary decomposition
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

unreachable
  pennylane/templates/subroutines/hilbert_schmidt.py
Due: pylint

remove dev
  pennylane/gradients/gradient_transform.py
  tests/gradients/core/test_gradient_transform.py
Due: pylint, pylint-test

Suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/devices/default_tensor.py
Due: pylint

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

Couple ad hoc fix for active_jit
  pennylane/measurements/counts.py
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Finalize documentation for the `default.tensor` device (#5719)
  doc/releases/changelog-dev.md
  pennylane/__init__.py
  pennylane/devices/__init__.py
  pennylane/devices/default_tensor.py
Due: pylint

Move logic to gather_mcm_jit
  pennylane/measurements/probs.py
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Removed method inserted by accident during merging from master
  pennylane/devices/default_tensor.py
Due: pylint

add test covering decomposed_multicontrolled_unitary call from decompose_mcx
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

Fix execution config; add docs per code review
  doc/introduction/measurements.rst
  doc/releases/changelog-dev.md
  pennylane/devices/execution_config.py
Due: pylint

disable too-few-public-methods on dummy class inside test
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint-test

Fixed broken test
  tests/ops/qutrit/test_qutrit_channel_ops.py
Due: pylint-test

add suggestions
  pennylane/noise/conditionals.py
  tests/noise/test_conditionals.py
Due: pylint, pylint-test

Update review feedback
  pennylane/logging/configuration.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
