Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: 🐍 pylint · Lint labs test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

update example
  doc/releases/changelog-0.43.0.md
Due: none

hype stateprep example
  doc/releases/changelog-0.43.0.md
Due: none

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

minor RE changes
  doc/releases/changelog-0.43.0.md
Due: none

formatting
  doc/releases/changelog-0.43.0.md
Due: none

remove pylint warning
  pennylane/labs/tests/trotter_error/product_formulas/test_commutator.py
  pennylane/labs/trotter_error/product_formulas/error.py
Due: pylint, labs-pylint-test

seems to work a little bit
  pennylane/compiler/python_compiler/transforms/quantum/parity_synth.py
  tests/python_compiler/transforms/quantum/test_xdsl_parity_synth.py
Due: pylint, pylint-test

adding exact = False
  pennylane/templates/subroutines/arithmetic/semi_adder.py
  tests/templates/subroutines/test_semi_adder.py
Due: pylint, pylint-test

black
  tests/templates/subroutines/test_semi_adder.py
Due: pylint-test

Update pennylane/estimator/estimate.py
  pennylane/estimator/estimate.py
Due: pylint

minor
  doc/releases/changelog-0.43.0.md
Due: none

sphinx pls
  doc/releases/changelog-0.43.0.md
Due: none

sphinx pretty pls
  doc/releases/changelog-0.43.0.md
Due: none

starting to add vjp and jvp
  pennylane/_grad.py
Due: pylint

yay
  pennylane/compiler/python_compiler/transforms/quantum/parity_synth.py
Due: pylint

remove imports, adapt tests
  pennylane/transforms/__init__.py
  tests/transforms/intermediate_reps/test_rowcol.py
Due: pylint, pylint-test

Apply suggestions from code review
  pennylane/estimator/resource_operator.py
Due: pylint

sentence
  pennylane/transforms/intermediate_reps/__init__.py
Due: pylint

add extra example
  pennylane/estimator/resource_operator.py
Due: pylint

docs
  pennylane/transforms/__init__.py
  pennylane/transforms/intermediate_reps/__init__.py
Due: pylint

update doc
  pennylane/estimator/resource_operator.py
Due: pylint

Fix `rs_decomposition` logic to streamline decomposed operations on queue for Qjit. (#8441)
  doc/releases/changelog-0.43.0.md
  pennylane/ops/op_math/decompositions/ross_selinger.py
  tests/ops/op_math/decompositions/test_ross_selinger.py
Due: pylint, pylint-test

sphonx
  doc/releases/changelog-0.43.0.md
Due: none

Apply suggestions from code reviews
  doc/releases/changelog-0.43.0.md
Due: none

Update description of the default mcm method
  doc/introduction/dynamic_quantum_circuits.rst
Due: none

more moving things around
  pennylane/_grad.py
Due: pylint

QA for the resource classes of the resource estimation module (#8434)
  doc/code/qml_estimator.rst
  pennylane/estimator/resource_config.py
  pennylane/estimator/resource_operator.py
  pennylane/estimator/templates/trotter.py
Due: pylint

Update description of the default mcm method (#8444)
  doc/introduction/dynamic_quantum_circuits.rst
Due: none

add is_zero
  pennylane/labs/tests/trotter_error/product_formulas/test_commutator.py
  pennylane/labs/trotter_error/product_formulas/commutator.py
Due: pylint, labs-pylint-test

trial
  pennylane/transforms/__init__.py
Due: pylint

update to_openqasm and from_qasm docs
  pennylane/io/io.py
  pennylane/io/to_openqasm.py
Due: pylint

show submodule name
  pennylane/transforms/__init__.py
Due: pylint

Changelog entry update for fix to MCM documentation
  doc/releases/changelog-0.43.0.md
Due: none

QA for the resource estimation module (#8430)
  doc/code/qml_estimator.rst
  pennylane/estimator/estimate.py
  pennylane/estimator/resource_config.py
  pennylane/estimator/resource_operator.py
  pennylane/estimator/resources_base.py
  pennylane/estimator/templates/trotter.py
  pennylane/estimator/wires_manager.py
  tests/estimator/ops/test_estimator_symbolics.py
  tests/estimator/templates/test_estimator_qubitize.py
  tests/estimator/templates/test_estimator_select.py
  tests/estimator/templates/test_estimator_stateprep.py
  tests/estimator/templates/test_estimator_trotter.py
  tests/estimator/test_estimate.py
  tests/estimator/test_estimator_resOp.py
  tests/estimator/test_estimator_resources.py
Due: pylint, pylint-test

Update pennylane/io/to_openqasm.py
  pennylane/io/to_openqasm.py
Due: pylint

new symbol ⊕
  pennylane/drawer/_add_obj.py
  tests/drawer/test_tape_text.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
