Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: 🐍 pylint · Lint labs test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

More PL control flow
  pennylane/templates/subroutines/time_evolution/approx_time_evolution.py
Due: pylint

cleanup imports
  pennylane/templates/subroutines/arbitrary_unitary.py
Due: pylint

Changelog
  doc/releases/changelog-dev.md
Due: none

try moving this copy?
  pennylane/ops/op_math/sum.py
Due: pylint

see if qmc example fails in normal pytest run
  tests/transforms/test_qmc_transform.py
Due: pylint-test

del more redundant
  pennylane/capture/__init__.py
  pennylane/capture/custom_primitives.py
  pennylane/ops/op_math/condition.py
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

7.1
  .github/workflows/interface-dependency-versions.yml
Due: none

catalyst 0.13?
  .github/workflows/documentation-tests.yml
Due: none

Fixes for user transforms
  pennylane/compiler/python_compiler/visualization/specs_collector.py
  pennylane/resource/specs.py
Due: pylint

Format
  pennylane/resource/specs.py
Due: pylint

fix output
  tests/capture/test_capture_diff.py
  tests/capture/test_nested_plxpr.py
Due: pylint-test

jax=0.7.2
  .github/workflows/interface-dependency-versions.yml
Due: none

try this
  pennylane/templates/subroutines/qchem/basis_rotation.py
Due: pylint

`v0.43.1-rc0` fix: two more doc changes (#8597)
  .github/workflows/documentation-tests.yml
  .github/workflows/interface-dependency-versions.yml
  doc/development/release_notes.md
  doc/releases/changelog-0.43.0.md
  doc/releases/changelog-0.43.1.md
Due: none

Backward Fix
  doc/development/release_notes.md
  doc/releases/changelog-0.43.0.md
  doc/releases/changelog-0.43.1.md
Due: none

Comment out annoying print statement
  pennylane/compiler/python_compiler/visualization/specs_collector.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Guard allclose with is_abstract
  pennylane/templates/subroutines/qchem/basis_rotation.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

kUpCCGSD graph decomp (#8582)
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qchem/kupccgsd.py
  tests/templates/subroutines/qchem/test_kupccgsd.py
Due: pylint, pylint-test

Apply JAX 0.7.2 migration fixes
  pennylane/capture/__init__.py
  pennylane/capture/dynamic_shapes.py
  pennylane/capture/jax_patches.py
  pennylane/operation.py
  pennylane/ops/qubit/observables.py
  pennylane/wires.py
  pennylane/workflow/_capture_qnode.py
Due: pylint

Export _restore_slice from capture module
  pennylane/capture/__init__.py
Due: pylint

first version for if statement
  pennylane/compiler/python_compiler/transforms/quantum/tree_traversal.py
Due: pylint

initial test
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/rs_decomposition.py
Due: pylint

Add tests for conversion utilities
  pennylane/compiler/python_compiler/conversion.py
  tests/python_compiler/test_xdsl_utils.py
Due: pylint, pylint-test

Add tests for inlining utilities
  pennylane/compiler/python_compiler/conversion.py
  tests/python_compiler/test_xdsl_utils.py
Due: pylint, pylint-test

support for single if-statement
  pennylane/compiler/python_compiler/transforms/__init__.py
  pennylane/compiler/python_compiler/transforms/quantum/tree_traversal.py
  tests/python_compiler/conftest.py
  tests/python_compiler/transforms/quantum/test_xdsl_split_non_commuting.py
Due: pylint, pylint-test

PR Feedback
  pennylane/templates/subroutines/arbitrary_unitary.py
Due: pylint

If batch size is not None
  pennylane/devices/qubit_mixed/apply_operation.py
Due: pylint

PR Feedback
  pennylane/templates/subroutines/time_evolution/approx_time_evolution.py
Due: pylint

pylint
  pennylane/templates/subroutines/arbitrary_unitary.py
Due: pylint

pylint
  pennylane/templates/subroutines/time_evolution/approx_time_evolution.py
Due: pylint

update tests
  tests/python_compiler/transforms/quantum/test_xdsl_tree_traversal.py
Due: pylint-test

Detect xdsl passes (#8572)
  doc/releases/changelog-dev.md
  pennylane/compiler/python_compiler/pass_api/__init__.py
  pennylane/compiler/python_compiler/pass_api/apply_transform_sequence.py
Due: pylint

update docstring
  pennylane/transforms/decompositions/rs_decomposition.py
Due: pylint

chore: merge v0.43.1 bug fix back into `main` (#8607)
  doc/development/release_notes.md
  doc/releases/changelog-0.43.0.md
  doc/releases/changelog-0.43.1.md
Due: none

Update qchem to use scipy constants everywhere (#8537)
  doc/releases/changelog-dev.md
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/molecule.py
  pennylane/qchem/openfermion_pyscf.py
  pennylane/qchem/structure.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
