Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

qmlmath -> math
  pennylane/ops/op_math/pow.py
Due: pylint

Prevent unnecessary list creations
  pennylane/fermi/fermionic.py
Due: pylint

switch from qml to qp in the workflow module
  pennylane/workflow/_capture_qnode.py
  pennylane/workflow/construct_batch.py
  pennylane/workflow/construct_execution_config.py
  pennylane/workflow/construct_tape.py
  pennylane/workflow/execution.py
  pennylane/workflow/get_best_diff_method.py
  pennylane/workflow/get_compile_pipeline.py
  pennylane/workflow/interfaces/autograd.py
  pennylane/workflow/interfaces/jax.py
  pennylane/workflow/interfaces/jax_jit.py
  pennylane/workflow/interfaces/tensorflow.py
  pennylane/workflow/interfaces/tensorflow_autograph.py
  pennylane/workflow/interfaces/torch.py
  pennylane/workflow/jacobian_products.py
  pennylane/workflow/marker.py
  pennylane/workflow/qnode.py
  pennylane/workflow/resolution.py
  pennylane/workflow/return_types_spec.rst
  pennylane/workflow/run.py
  pennylane/workflow/set_shots.py
Due: pylint

Fixed JAX-traced wires for QROM
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/qrom.py
  pennylane/templates/subroutines/select.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

Speed up copy() functions for FermiWord and PauliWord
  pennylane/fermi/fermionic.py
  pennylane/pauli/pauli_arithmetic.py
Due: pylint

Copy in constructor for safety
  pennylane/fermi/fermionic.py
Due: pylint

fix test
  conftest.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
  tests/workflow/interfaces/qnode/test_jax_jit_qnode.py
  tests/workflow/test_resolve_mcm_config.py
Due: pylint, pylint-test

Update changelog
  doc/releases/changelog-dev.md
Due: none

format
  pennylane/templates/subroutines/qrom.py
Due: pylint

update changelog
  doc/releases/changelog-dev.md
Due: none

Fix TorchLayer output shape for batched tuple expval returns
  doc/releases/changelog-dev.md
  pennylane/qnn/torch.py
  tests/qnn/test_qnn_torch.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

fix: make prune() return self for fluent API usage
  pennylane/fermi/fermionic.py
  pennylane/pauli/pauli_arithmetic.py
Due: pylint

Fix error message when using decompose without gate_set
  doc/releases/changelog-dev.md
  pennylane/transforms/decompose.py
  tests/capture/transforms/test_capture_graph_decompose.py
  tests/transforms/test_decompose_transform_graph.py
Due: pylint, pylint-test

Bounty: Improve assert_equal error message for measurement processes
  pennylane/ops/functions/equal.py
Due: pylint

Fix #7807: Make circuit drawing consistent for StateMP/DensityMatrixMP with/without device wires
  pennylane/drawer/_add_obj.py
Due: pylint

Raise error in qml.compile if basis_set contains Operators instead of strings (fix #6132)
  pennylane/transforms/compile.py
Due: pylint

Extend qml.assert_equal to return informative error messages for measurement processes (fix #7354)
  pennylane/ops/functions/equal.py
Due: pylint

adding tests
  patata.py
  pennylane/labs/templates/left_quantum_integer_comparator.py
  pennylane/labs/tests/templates/test_left_quantum_integer_comparator.py
Due: pylint, labs-pylint-test

main package
  pennylane/ops/op_math/controlled_ops.py
  pennylane/templates/subroutines/arithmetic/semi_adder.py
Due: pylint

main package
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  tests/ops/op_math/test_controlled_decompositions.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
Due: pylint

merge other
  pennylane/ops/op_math/controlled_ops.py
Due: pylint

add resource keys, make resources exact, and coerce c(semiadder) work wires
  pennylane/templates/subroutines/arithmetic/semi_adder.py
Due: pylint

usage
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

bug fix
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
Due: pylint

Apply suggestions from code review
  pennylane/templates/subroutines/qrom.py
Due: pylint

code review
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

tiny
  pennylane/templates/subroutines/arithmetic/semi_adder.py
Due: pylint

David Suggestions
  pennylane/templates/subroutines/qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint, pylint-test

formatting check
  pennylane/labs/templates/__init__.py
  pennylane/labs/templates/left_quantum_integer_comparator.py
  pennylane/labs/tests/templates/test_left_quantum_integer_comparator.py
Due: pylint, labs-pylint-test

MultiX
  pennylane/labs/tests/transforms/test_multix.py
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/multix.py
Due: pylint, labs-pylint-test

Update test_qrom.py
  tests/templates/subroutines/test_qrom.py
Due: pylint-test

Update left_quantum_integer_comparator.py
  pennylane/labs/templates/left_quantum_integer_comparator.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

small fix
  pennylane/devices/default_qubit.py
Due: pylint

docs
  pennylane/labs/transforms/multix.py
Due: pylint

Update pennylane/fermi/fermionic.py
  pennylane/fermi/fermionic.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
