Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

cast to real if complex component is more or less 0
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

More fixes
  pennylane/transforms/core/transform_program.py
  pennylane/transforms/metric_tensor.py
Due: pylint

update tests
  tests/transforms/test_decompositions.py
Due: pylint-test

torch interface uses jpc
  pennylane/interfaces/torch.py
  pennylane/measurements/shots.py
  tests/interfaces/default_qubit_2_integration/test_torch_default_qubit_2.py
Due: pylint, pylint-test

Update pennylane/measurements/shots.py
  pennylane/measurements/shots.py
Due: pylint

add for finite shots case and use ith result for ith circuit
  pennylane/devices/default_qubit.py
Due: pylint

adding shot vector jvp support
  pennylane/gradients/hadamard_gradient.py
  pennylane/interfaces/jacobian_products.py
  tests/conftest.py
  tests/interfaces/test_jacobian_products.py
  tests/param_shift_dev.py
Due: pylint, pylint-test

save results as arrays to avoid totalling
  pennylane/devices/default_qubit.py
  tests/devices/test_default_qubit_tracking.py
Due: pylint, pylint-test

add fix as `todo`
  pennylane/transforms/qcut/cutcircuit.py
Due: pylint

fix `assert` for CI
  tests/transforms/test_qcut.py
Due: pylint-test

Add pulse_odegen
  pennylane/gradients/pulse_gradient_odegen.py
Due: pylint

Pylint
  pennylane/transforms/specs.py
  tests/gradients/core/test_hadamard_gradient.py
  tests/gradients/finite_diff/test_finite_difference_shot_vec.py
  tests/gradients/parameter_shift/test_cv_gradients.py
  tests/interfaces/default_qubit_2_integration/test_autograd_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_jit_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_jax_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_torch_qnode_default_qubit_2.py
  tests/interfaces/test_autograd_qnode.py
  tests/interfaces/test_jax_jit_qnode.py
  tests/interfaces/test_jax_qnode.py
  tests/interfaces/test_torch_qnode.py
  tests/templates/test_subroutines/test_approx_time_evolution.py
  tests/transforms/test_adjoint_metric_tensor.py
  tests/transforms/test_batch_transform.py
  tests/transforms/test_metric_tensor.py
  tests/transforms/test_specs.py
Due: pylint, pylint-test

init commit
  pennylane/templates/subroutines/__init__.py
Due: pylint

add stump
  pennylane/templates/subroutines/aqft.py
Due: pylint

add transform
  pennylane/__init__.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/clifford_plus_t/__init__.py
  pennylane/transforms/decompositions/clifford_plus_t/cliffordt_transform.py
  tests/ops/qubit/test_parametric_ops.py
Due: pylint, pylint-test

add circuit logic
  pennylane/templates/subroutines/aqft.py
Due: pylint

More fixes
  pennylane/transforms/core/transform_dispatcher.py
  tests/gradients/core/test_gradient_transform.py
  tests/gradients/core/test_hadamard_gradient.py
  tests/interfaces/default_qubit_2_integration/test_execute_default_qubit_2.py
  tests/interfaces/default_qubit_2_integration/test_tensorflow_qnode_default_qubit_2.py
  tests/interfaces/test_autograd_qnode.py
  tests/interfaces/test_jacobian_products.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/interfaces/test_torch_qnode.py
  tests/logging/test_logging_autograd.py
Due: pylint, pylint-test

Fix pylint
  tests/gradients/core/test_gradient_transform.py
  tests/interfaces/test_tensorflow_qnode.py
  tests/transforms/test_experimental/test_transform_dispatcher.py
Due: pylint-test

Update tests/interfaces/test_jacobian_products.py
  tests/interfaces/test_jacobian_products.py
Due: pylint-test

black
  pennylane/interfaces/jacobian_products.py
Due: pylint

fix unwrap
  pennylane/math/multi_dispatch.py
Due: pylint

Fix dumb mistake
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

Fix drawe
  pennylane/drawer/draw.py
  tests/drawer/test_draw.py
  tests/test_return_types_dq2.py
  tests/test_vqe.py
Due: pylint, pylint-test

more drawer fix
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
Due: pylint-test

Update pennylane/drawer/draw.py
  pennylane/drawer/draw.py
Due: pylint

use `GlobalPhase`
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  tests/ops/qubit/test_parametric_ops.py
  tests/transforms/test_batch_transform.py
Due: pylint, pylint-test

happy black
  tests/transforms/test_batch_transform.py
Due: pylint-test

Revert
  pennylane/drawer/draw.py
Due: pylint

fix `tests`
  pennylane/transforms/optimization/optimization_utils.py
  tests/ops/qubit/test_parametric_ops.py
  tests/transforms/test_compile.py
Due: pylint, pylint-test

refactor preprocess transforms
  pennylane/devices/__init__.py
  pennylane/devices/default_qubit.py
  pennylane/devices/preprocess.py
  pennylane/devices/qubit/__init__.py
  pennylane/devices/qubit/preprocess.py
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/qubit/test_adjoint_jacobian.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-test

fix more tests
  tests/ops/qubit/test_parametric_ops.py
  tests/transforms/test_tape_expand.py
Due: pylint-test

update changelog
  doc/releases/changelog-dev.md
Due: none

code review suggestions
  tests/test_qnode.py
Due: pylint-test

update test based on code review
  tests/transforms/test_hamiltonian_expand.py
Due: pylint-test

happy pylint
  pennylane/transforms/decompositions/clifford_plus_t/cliffordt_transform.py
  tests/ops/qubit/test_parametric_ops.py
Due: pylint, pylint-test

happier pylint
  pennylane/transforms/decompositions/clifford_plus_t/cliffordt_transform.py
Due: pylint

slightly working code; not terminating correctly
  pennylane/transforms/decompositions/clifford_plus_t/conversion.py
  pennylane/transforms/decompositions/clifford_plus_t/gridpoints.py
  pennylane/transforms/decompositions/clifford_plus_t/newsynth.py
  pennylane/transforms/decompositions/clifford_plus_t/rings.py
  pennylane/transforms/decompositions/clifford_plus_t/shapes.py
Due: pylint

fix `tests`
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test
