Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

Apply suggestions from code review
  doc/releases/changelog-0.35.0.md
Due: none

return max singular val
  pennylane/resource/error.py
Due: pylint

Bypass dynamic_one_shot for one-shot tapes.
  pennylane/devices/preprocess.py
  pennylane/transforms/dynamic_one_shot.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
Due: pylint, pylint-test

correct import
  pennylane/resource/error.py
Due: pylint

minor
  doc/releases/changelog-0.35.0.md
Due: none

remove duplicate entry, render qutrit mixed helpers (#5262)
  doc/releases/changelog-0.35.0.md
  pennylane/devices/__init__.py
Due: pylint

Add note
  doc/releases/changelog-0.35.0.md
Due: none

update failing test
  pennylane/resource/error.py
  tests/resource/test_error.py
Due: pylint, pylint-test

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

Remove overwriting __name__ of X, Y, Z, I (#5260)
  pennylane/ops/identity.py
  pennylane/ops/qubit/non_parametric_ops.py
  tests/ops/qubit/test_non_parametric_ops.py
Due: pylint, pylint-test

Update typo
  doc/releases/changelog-0.35.0.md
Due: none

changing some generators back to `Hamiltonian` instances
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
Due: pylint

Fix qpe test
  pennylane/devices/preprocess.py
Due: pylint

Revert "changing some generators back to `Hamiltonian` instances"
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
Due: pylint

only run doc freeze on non-fork PRs (#5270)
  .github/workflows/docs.yml
Due: none

Apply suggestions from code review
  pennylane/math/multi_dispatch.py
Due: pylint

force barrier color to match style line color
  doc/releases/changelog-0.35.0.md
  pennylane/drawer/tape_mpl.py
  tests/drawer/test_tape_mpl.py
Due: pylint, pylint-test

Update doc/releases/changelog-0.35.0.md
  doc/releases/changelog-0.35.0.md
Due: none

Update pennylane/drawer/tape_mpl.py
  pennylane/drawer/tape_mpl.py
Due: pylint

Fix type hints for loading Qiskit circuits with a single measurement (#5268)
  pennylane/io.py
Due: pylint

Apply @trbromley's suggestions
  pennylane/io.py
Due: pylint

remove function
  tests/dla/test_lie_closure.py
Due: pylint-test

black formatting
  tests/dla/test_lie_closure.py
Due: pylint-test

black formatting
  pennylane/dla/lie_closure.py
Due: pylint

Apply suggestion regarding `measurements` description
  pennylane/io.py
Due: pylint

Add links to `Parameter` and `ParameterVector` classes
  pennylane/io.py
Due: pylint

add string representation
  pennylane/resource/error.py
  tests/resource/test_error.py
Due: pylint, pylint-test

correct math
  pennylane/math/multi_dispatch.py
Due: pylint

correct example
  pennylane/resource/error.py
Due: pylint

fix pylint
  tests/resource/test_error.py
Due: pylint-test

Make mpl color for `Barrier` match style sheet (#5276)
  doc/releases/changelog-0.35.0.md
  pennylane/drawer/tape_mpl.py
  tests/drawer/test_tape_mpl.py
Due: pylint, pylint-test

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

qiskit section
  doc/releases/changelog-0.35.0.md
Due: none

MCM
  doc/releases/changelog-0.35.0.md
Due: none

mcm
  doc/releases/changelog-0.35.0.md
Due: none

added case of `RX`, `RY`, `RZ` operators in _get_generators function
  pennylane/gradients/hadamard_gradient.py
Due: pylint

Update intro paragraph for op arithmetic
  doc/releases/changelog-0.35.0.md
Due: none

Moved up commutator
  doc/releases/changelog-0.35.0.md
Due: none
