Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        name: "🔒 gitleaks · Detect hardcoded secrets"
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    - id: black
      name: "🐍 black · Format code"
      args: [
              "--config",
              "./pyproject.toml",
            ]
      exclude: ^doc/
-   repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
    - id: isort
      name: "🐍 isort · Sort imports"
      args:
        [
          "--settings-path",
          "./pyproject.toml",
        ]
      files: ^(pennylane/|tests/)
-   repo: https://github.com/gauge-sh/tach-pre-commit
    rev: v0.29.0
    hooks:
    -   id: tach
        name: "🐍 tach · Check module dependencies"
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
    -   id: pyupgrade
        name: "🐍 pyupgrade · Check language features"
        args: [--py311-plus]
- repo: local
  hooks:
    - id: pylint
      name: "🐍 pylint · Lint codebase"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: "🐍 pylint · Lint test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/
    - id: labs-pylint-test
      name: "🐍 pylint · Lint labs test suite"
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^pennylane/labs/tests/

black
  pennylane/labs/resource_estimation/resource_mapping.py
  pennylane/labs/tests/resource_estimation/test_resource_mapping.py
Due: pylint, labs-pylint-test

isort
  pennylane/compiler/python_compiler/dialects/transform.py
  pennylane/labs/resource_estimation/resource_mapping.py
  pennylane/labs/tests/resource_estimation/test_resource_mapping.py
Due: pylint, labs-pylint-test

fix test
  tests/transforms/test_decompose_transform.py
Due: pylint-test

pylint
  pennylane/transforms/decompose.py
Due: pylint

Make `qnode.shots` Public Again (#8073)
  doc/releases/changelog-dev.md
  pennylane/workflow/construct_batch.py
  pennylane/workflow/qnode.py
  tests/test_qnode.py
  tests/test_qnode_legacy.py
Due: pylint, pylint-test

Add link to changelog
  doc/releases/changelog-dev.md
Due: none

Fix failing test
  tests/python_compiler/dialects/test_stablehlo_dialect.py
Due: pylint-test

unpin in pyproject.toml
  pyproject.toml
Due: none

Minor fix to docstring
  pennylane/transforms/split_non_commuting.py
Due: pylint

fix?
  pennylane/math/__init__.py
Due: pylint

Add AbstractWire
  pennylane/compiler/python_compiler/transforms/api/pattern_rewriter.py
Due: pylint

Update UUID usage
  pennylane/compiler/python_compiler/transforms/api/pattern_rewriter.py
Due: pylint

almost there, maybe
  pennylane/ops/op_math/evolution.py
  pennylane/ops/op_math/exp.py
  tests/ops/op_math/test_exp.py
Due: pylint, pylint-test

Drop tape if int(shots)==0
  pennylane/transforms/split_non_commuting.py
Due: pylint

update
  pennylane/math/__init__.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

Adding RC nightly builds
  .github/workflows/upload-nightly-rc-release.yml
Due: none

Rename
  .github/workflows/upload-nightly-rc-release.yml
Due: none

fix typo
  .github/workflows/upload-nightly-rc-release.yml
Due: none

Update `mcm_method` docs to reflect device-dependent defaults
  doc/introduction/dynamic_quantum_circuits.rst
  pennylane/workflow/qnode.py
Due: pylint

Try a simple version for dq
  pennylane/devices/default_qubit.py
  pennylane/devices/preprocess.py
  tests/devices/default_qubit/test_default_qubit_preprocessing.py
Due: pylint, pylint-test

add data
  pennylane/labs/vibronic/data/energy_1.pkl
  pennylane/labs/vibronic/data/freqs.pkl
  pennylane/labs/vibronic/data/geom_eq.pkl
  pennylane/labs/vibronic/data/grid_1.pkl
  pennylane/labs/vibronic/data/load_data.py
  pennylane/labs/vibronic/data/opt_harm.py
  pennylane/labs/vibronic/data/pes_one.py
  pennylane/labs/vibronic/data/vectors.pkl
Due: pylint

[Capture] support for shot vectors and dynamic number of shots (#7652)
  doc/releases/changelog-dev.md
  pennylane/capture/base_interpreter.py
  pennylane/tape/plxpr_conversion.py
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

add fit functions
  pennylane/labs/vibronic/__init__.py
  pennylane/labs/vibronic/pes_fit.py
Due: pylint

toml file?
  pennylane/devices/default_qubit.py
  pennylane/devices/default_qubit.toml
Due: pylint

add fit file
  pennylane/labs/vibronic/data/pes_fit.py
Due: pylint

prototyped new qubit manager feature
  pennylane/labs/resource_estimation/qubit_manager.py
  pennylane/labs/resource_estimation/resource_operator.py
  pennylane/labs/resource_estimation/resource_tracking.py
Due: pylint

type hint
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

Format
  pennylane/ops/op_math/change_op_basis.py
Due: pylint

Fix changelog
  doc/releases/changelog-dev.md
Due: none

more squashing
  pennylane/ops/op_math/evolution.py
  pennylane/ops/op_math/exp.py
Due: pylint

Minor
  pennylane/transforms/split_non_commuting.py
Due: pylint

Move the gate_set property to DeviceAPI
  pennylane/devices/default_qubit.py
  pennylane/devices/device_api.py
Due: pylint

Add code example for custom shot_dist in docstring
  pennylane/transforms/split_non_commuting.py
Due: pylint
