Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

char leng
  pennylane/qchem/vibrational/taylor_ham.py
Due: pylint

Update pennylane/qchem/vibrational/taylor_ham.py
  pennylane/qchem/vibrational/taylor_ham.py
Due: pylint

appease sphinx check, probably
  doc/development/autograph.rst
Due: none

allow sphinx to build
  pennylane/qchem/vibrational/taylor_ham.py
Due: pylint

tuple docs
  pennylane/qchem/vibrational/taylor_ham.py
Due: pylint

Update cache glob for uv
  .github/workflows/unit-test.yml
Due: none

debug MP treatment
  pennylane/devices/qubit_mixed/apply_operation.py
  pennylane/devices/qubit_mixed/measure.py
Due: pylint

Update pennylane/wires.py
  pennylane/wires.py
Due: pylint

revert: Reset template tests to master
  tests/templates/test_subroutines/test_adder.py
  tests/templates/test_subroutines/test_mod_exp.py
  tests/templates/test_subroutines/test_multiplier.py
  tests/templates/test_subroutines/test_out_adder.py
  tests/templates/test_subroutines/test_out_multiplier.py
  tests/templates/test_subroutines/test_out_poly.py
  tests/templates/test_subroutines/test_phase_adder.py
Due: pylint-test

revert: Reset capture template tests to master
  tests/capture/test_templates.py
Due: pylint-test

format smapoling
  pennylane/devices/qubit_mixed/sampling.py
Due: pylint

del legacy test
  tests/measurements/test_measurements_legacy.py
Due: pylint-test

minor update
  pennylane/transforms/optimization/undo_swaps.py
Due: pylint

fix: Update templates to handle work_wires = work_wires or ()
  pennylane/templates/subroutines/adder.py
  pennylane/templates/subroutines/mod_exp.py
  pennylane/templates/subroutines/multiplier.py
  pennylane/templates/subroutines/out_adder.py
  pennylane/templates/subroutines/out_multiplier.py
  pennylane/templates/subroutines/out_poly.py
  pennylane/templates/subroutines/phase_adder.py
  pennylane/templates/subroutines/qrom.py
Due: pylint

Add tests
  pennylane/capture/transforms/capture_cancel_inverses.py
  tests/capture/transforms/test_capture_cancel_inverses.py
Due: pylint, pylint-test

Update impl for adjoint
  pennylane/capture/transforms/capture_decompose.py
  tests/capture/transforms/test_capture_decompose.py
Due: pylint, pylint-test

Update manual copies of tape to use tape.copy (#6708)
  pennylane/debugging/snapshot.py
  pennylane/devices/_qubit_device.py
  pennylane/devices/default_qubit.py
  pennylane/devices/preprocess.py
  pennylane/devices/qubit/simulate.py
  pennylane/drawer/utils.py
  pennylane/gradients/hamiltonian_grad.py
  pennylane/ops/functions/simplify.py
  pennylane/optimize/adaptive.py
  pennylane/optimize/riemannian_gradient.py
  pennylane/qcut/cutcircuit.py
  pennylane/transforms/__init__.py
  pennylane/transforms/add_noise.py
  pennylane/transforms/compile.py
  pennylane/transforms/decompositions/clifford_t_transform.py
  pennylane/transforms/defer_measurements.py
  pennylane/transforms/diagonalize_measurements.py
  pennylane/transforms/insert_ops.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/commute_controlled.py
  pennylane/transforms/optimization/merge_amplitude_embedding.py
  pennylane/transforms/optimization/merge_rotations.py
  pennylane/transforms/optimization/pattern_matching.py
  pennylane/transforms/optimization/remove_barrier.py
  pennylane/transforms/optimization/single_qubit_fusion.py
  pennylane/transforms/optimization/undo_swaps.py
  pennylane/transforms/qmc.py
  pennylane/transforms/transpile.py
  pennylane/transforms/unitary_to_rot.py
Due: pylint

marked purity torch, tf, jax xfails with finite diff
  tests/measurements/test_purity_measurement.py
Due: pylint-test

fix: Change to TypeError
  pennylane/wires.py
  tests/test_wires.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

examples
  pennylane/qchem/vibrational/taylor_ham.py
  tests/qchem/vibrational/test_taylor_ham.py
Due: pylint, pylint-test

sphinx
  pennylane/devices/__init__.py
  pennylane/devices/qubit_mixed/apply_operation.py
  pennylane/devices/qubit_mixed/simulate.py
Due: pylint

fix: xfail adjoint with tf-autograph
  tests/workflow/interfaces/run/conftest.py
  tests/workflow/interfaces/run/test_tensorflow_autograph_run.py
Due: pylint-test

Finish adding tests
  tests/capture/transforms/test_capture_cancel_inverses.py
Due: pylint-test

Fix PP bug
  pennylane/labs/vibronic/test_vibronic.py
  pennylane/labs/vibronic/vibronic.py
Due: pylint

Fix tests to check differentiability for all interfaces
  tests/transforms/test_combine_global_phases.py
Due: pylint-test

first attempt
  pennylane/transforms/core/transform_program.py
  pennylane/workflow/__init__.py
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  pennylane/workflow/run.py
Due: pylint

tidy up handling of classical part of transform program
  pennylane/transforms/core/transform_program.py
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/execution.py
Due: pylint

move some stuff in qnode around
  pennylane/workflow/qnode.py
Due: pylint

Update pennylane/qchem/vibrational/vscf.py
  pennylane/qchem/vibrational/vscf.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

merge
  pennylane/labs/dla/lie_closure_dense.py
Due: pylint

jax import
  pennylane/labs/dla/variational_kak.py
Due: pylint

fix name
  pennylane/labs/dla/variational_kak.py
  pennylane/labs/tests/dla/test_variational_kak.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
