Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-tests:
  name: pylint whitelisted tests
  language: system
  entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'

raise warning if control indicators are hidden in drawer
  doc/releases/changelog-dev.md
  pennylane/drawer/mpldrawer.py
  tests/drawer/test_mpldrawer.py
Due: pylint, pylint-tests

add actionable suggestion to warning
  pennylane/drawer/mpldrawer.py
Due: pylint

Add uncopied tests
  tests/transforms/test_batch_input.py
  tests/transforms/test_batch_params.py
  tests/transforms/test_broadcast_expand.py
Due: pylint-tests

fix import order
  tests/drawer/test_mpldrawer.py
Due: pylint-tests

Update
  .github/workflows/interface-unit-tests.yml
Due: none

Formatting fix.
  doc/development/deprecations.rst
Due: none

only check if multiple target wires
  pennylane/drawer/mpldrawer.py
Due: pylint

more custom definitions
  doc/development/deprecations.rst
  pennylane/operation.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/composite.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/sprod.py
  pennylane/ops/qubit/arithmetic_ops.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/templates/embeddings/angle.py
  pennylane/templates/layers/random.py
  pennylane/templates/layers/strongly_entangling.py
  pennylane/templates/subroutines/approx_time_evolution.py
  pennylane/templates/subroutines/commuting_evolution.py
  pennylane/templates/subroutines/fermionic_double_excitation.py
  pennylane/templates/subroutines/flip_sign.py
  pennylane/templates/subroutines/grover.py
  pennylane/templates/subroutines/hilbert_schmidt.py
  pennylane/templates/tensornetworks/mera.py
Due: pylint

resolve conflict
  doc/releases/changelog-0.31.0.md
Due: none

just check all control wires
  pennylane/drawer/mpldrawer.py
  tests/drawer/test_mpldrawer.py
Due: pylint, pylint-tests

Device API review (#4283)
  pennylane/_qubit_device.py
  pennylane/debugging.py
  pennylane/devices/experimental/default_qubit_2.py
  pennylane/measurements/counts.py
  pennylane/measurements/sample.py
  pennylane/transforms/decompositions/single_qubit_unitary.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

remove duplicate controlled operation entries
  pennylane/ops/op_math/__init__.py
Due: pylint

Update jax version
  doc/requirements.txt
Due: none

update tf macos version
  doc/requirements.txt
Due: none

raise warning if control indicators are hidden in drawer (#4295)
  doc/releases/changelog-dev.md
  pennylane/drawer/mpldrawer.py
  tests/drawer/test_mpldrawer.py
Due: pylint, pylint-tests

remove duplicate controlled operation entries (#4298)
  pennylane/ops/op_math/__init__.py
Due: pylint

Refer to class QNode in ml layers
  pennylane/qnn/keras.py
  pennylane/qnn/torch.py
Due: pylint

Fix documentation for the last arguments, which are variable length lists.
  pennylane/math/multi_dispatch.py
  pennylane/operation.py
  pennylane/templates/subroutines/hilbert_schmidt.py
Due: pylint

Update (#4296)
  .github/workflows/interface-unit-tests.yml
Due: none

Helper function
  pennylane/transforms/batch_input.py
  pennylane/transforms/batch_params.py
  pennylane/transforms/broadcast_expand.py
Due: pylint

pylint
  pennylane/transforms/batch_input.py
  pennylane/transforms/batch_params.py
  pennylane/transforms/broadcast_expand.py
Due: pylint

update doc string
  pennylane/transforms/specs.py
Due: pylint

Refer to class QNode in ml layers (#4299)
  pennylane/qnn/keras.py
  pennylane/qnn/torch.py
Due: pylint

Specs dict fix (#4286)
  doc/development/deprecations.rst
  pennylane/tape/qscript.py
  pennylane/transforms/optimization/pattern_matching.py
  pennylane/transforms/specs.py
  tests/tape/test_qscript.py
Due: pylint, pylint-tests

v32 removals
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
  pennylane/math/__init__.py
  pennylane/math/quantum.py
  pennylane/operation.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled.py
  pennylane/ops/op_math/pow.py
  pennylane/optimize/__init__.py
  pennylane/optimize/lie_algebra.py
  pennylane/optimize/riemannian_gradient.py
  pennylane/qchem/openfermion_obs.py
  pennylane/qinfo/transforms.py
  pennylane/tape/operation_recorder.py
  pennylane/tape/qscript.py
  pennylane/tape/tape.py
  pennylane/transforms/__init__.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/decompositions/single_qubit_unitary.py
  tests/legacy/test_lie_algebra_old.py
  tests/legacy/test_qscript_old.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_pow_op.py
  tests/ops/qubit/test_non_parametric_ops.py
  tests/optimize/test_lie_algebra_optimizer.py
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
  tests/test_operation.py
  tests/test_vqe.py
  tests/transforms/test_decompositions.py
  tests/transforms/test_specs.py
Due: pylint, pylint-tests

Fermionic ops in changelog
  doc/releases/changelog-0.31.0.md
Due: none

fix
  doc/introduction/interfaces/numpy.rst
  tests/qchem/of_tests/test_molecular_hamiltonian.py
Due: pylint-tests

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

Fermionic ops in changelog (#4302)
  doc/releases/changelog-0.31.0.md
Due: none

bump lightning to 0.31 in setup.py
  setup.py
Due: pylint

pin scipy
  doc/requirements.txt
  requirements.txt
  setup.py
Due: pylint

Revert "pin scipy"
  doc/requirements.txt
  requirements.txt
  setup.py
Due: pylint

take Soran's forward fix for scipy fac2
  pennylane/qchem/integrals.py
Due: pylint

revert the scipy un-pinning and forward fix - just pin scipy
  doc/requirements.txt
  pennylane/qchem/integrals.py
  requirements.txt
  setup.py
Due: pylint

remove lower bound in files that didn't have them
  doc/requirements.txt
  setup.py
Due: pylint

remove autograd lower bound
  doc/requirements.txt
  setup.py
Due: pylint

bump lightning to 0.31 in setup.py, pin scipy to [1.8,1.10] (#4304)
  doc/requirements.txt
  requirements.txt
  setup.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-tests: any of: ^tests/ and \.py$
