Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

remove compute_decomposition
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Apply suggestion from @andrijapau
  pennylane/ops/op_math/exp.py
Due: pylint

update docstring
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

Fix the name of documentation tests CI
  .github/workflows/documentation-tests.yml
Due: none

remove outdated doc example
  pennylane/decomposition/decomposition_rule.py
Due: pylint

keeping structure of standard alias sampling
  pennylane/labs/templates/alias_sampling_thc.py
  pennylane/labs/tests/templates/test_alias_sampling_thc.py
Due: pylint, labs-pylint-test

Delete patata.py
  patata.py
Due: pylint

update XX
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

draft of fixing tests
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test

update other ops
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

update parametric ops tests
  tests/ops/qubit/test_parametric_ops.py
Due: pylint-test

cl
  doc/releases/changelog-dev.md
Due: none

use ellipses
  pennylane/templates/embeddings/qaoaembedding.py
Due: pylint

some cleanup
  pennylane/labs/tcdq/expval_functions.py
Due: pylint

use default Op2 param freqs
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

remove batch dim from abstract shape
  pennylane/templates/embeddings/iqp.py
Due: pylint

Skip `qjit` doctests using op2 obs
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

refactor: promote `RZ` / `CRZ` / `SelectPauliRot` phase gradient decomps to `transforms/decompositions` (#9928)
  doc/releases/changelog-dev.md
  pennylane/labs/estimator_beta/__init__.py
  pennylane/labs/tests/transforms/test_decomp_crz_phase_gradient.py
  pennylane/labs/tests/transforms/test_decomp_rz_phase_gradient.py
  pennylane/labs/tests/transforms/test_decomp_selectpaulirot_phase_gradient.py
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient_transform.py
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/select_pauli_rot_phase_gradient.py
  pennylane/transforms/decompositions/__init__.py
  pennylane/transforms/decompositions/crz_phase_gradient.py
  pennylane/transforms/decompositions/rz_phase_gradient.py
  pennylane/transforms/decompositions/select_pauli_rot_phase_gradient.py
  tests/transforms/decompositions/test_cliffordt_transform.py
  tests/transforms/decompositions/test_crz_phase_gradient.py
  tests/transforms/decompositions/test_gridsynth.py
  tests/transforms/decompositions/test_rz_phase_gradient.py
  tests/transforms/decompositions/test_select_pauli_rot_phase_gradient.py
  tests/transforms/test_rz_phase_gradient_transform.py
Due: pylint, pylint-test, labs-pylint-test

pass wires instead of num_wires
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

add claude hook for black and isort
  .claude/settings.json
Due: none

Update pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/cancel_inverses.py
Due: pylint

Apply suggestions from code review
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

Apply suggestion from @andrijapau
  .github/workflows/documentation-tests.yml
Due: none

rebase and revert
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

let's see if CI will complain if python instead of python3
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

feat: port `RZ` and `CRZ` to `Operator2` (#9857)
  doc/releases/changelog-dev.md
  pennylane/decomposition/__init__.py
  pennylane/decomposition/resources.py
  pennylane/gradients/parameter_shift.py
  pennylane/ops/functions/equal.py
  pennylane/ops/op_math/adjoint.py
  pennylane/ops/op_math/controlled2.py
  pennylane/ops/op_math/controlled_ops.py
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
  pennylane/ops/op_math/exp.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/templates/embeddings/iqp.py
  pennylane/templates/layers/particle_conserving_u2.py
  pennylane/templates/subroutines/hilbert_schmidt.py
  pennylane/transforms/decomp_inspector.py
  pennylane/transforms/decompose.py
  pennylane/transforms/decompositions/crz_phase_gradient.py
  pennylane/transforms/decompositions/rz_phase_gradient.py
  tests/capture/test_base_interpreter.py
  tests/capture/test_templates.py
  tests/capture/transforms/test_capture_decompose.py
  tests/decomposition/test_decomposition_rule.py
  tests/decomposition/test_resources.py
  tests/decomposition/test_symbolic_decomposition.py
  tests/devices/test_preprocess.py
  tests/drawer/test_draw.py
  tests/ops/functions/test_equal.py
  tests/ops/op_math/test_adjoint.py
  tests/ops/op_math/test_controlled.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/ops/op_math/test_controlled_ops.py
  tests/ops/qubit/test_all_qubit_ops.py
  tests/ops/qubit/test_parametric_ops.py
  tests/templates/embeddings/test_iqp_emb.py
  tests/templates/subroutines/test_qrom.py
  tests/templates/subroutines/test_qsvt.py
  tests/transforms/test_compile.py
  tests/transforms/test_decomp_inspector.py
  tests/transforms/test_decompose_transform.py
Due: pylint, pylint-test

I SURRENDER
  pennylane/transforms/combine_global_phases.py
  pennylane/transforms/optimization/cancel_inverses.py
  pennylane/transforms/optimization/merge_rotations.py
Due: pylint

fix: rename documentation testing workflow in CI (#9954)
  .github/workflows/documentation-tests.yml
Due: none

Apply suggestions from code review
  pennylane/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

Complex instead of Float
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
Due: pylint

initial code
  pennylane/labs/templates/alias_sampling.py
  pennylane/labs/templates/onebody_walk_op.py
Due: pylint

add pow rule
  pennylane/ops/qubit/qchem_ops.py
Due: pylint

review
  pennylane/gradients/parameter_shift.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  tests/gradients/parameter_shift/test_parameter_frequencies.py
Due: pylint, pylint-test

Update superposition_thc.py
  pennylane/labs/templates/superposition_thc.py
Due: pylint

fix decomp inspector again
  pennylane/transforms/decomp_inspector.py
  tests/transforms/test_decomp_inspector.py
Due: pylint, pylint-test

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
