Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
- repo: local
  hooks:
    - id: pylint-tests
      name: pylint whitelisted tests
      language: system
      types: [python]
      entry: bash -c 'pylint --rcfile tests/.pylintrc $(cat tests/tests_passing_pylint.txt | tr "\n" " ")'
      files: ^tests/
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/

merge
  pennylane/gradients/pulse_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

merge
  pennylane/gradients/parameter_shift.py
  tests/gradients/parameter_shift/test_parameter_shift.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-tests

merge
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

merge fix
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

imports
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

add tests
  tests/gradients/core/test_pulse_generator_gradient.py
Due: pylint-tests

fix parametrization
  tests/gradients/core/test_pulse_gradient.py
Due: pylint-tests

fixes
  tests/circuit_graph/test_circuit_graph.py
  tests/test_return_types.py
Due: pylint-tests

fix
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-tests

dense test
  tests/pulse/test_parametrized_evolution.py
Due: pylint-tests

missing line
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-tests

re-add changes
  pennylane/gradients/pulse_generator_gradient.py
Due: pylint

lint
  tests/gradients/parameter_shift/test_parameter_shift.py
Due: pylint-tests

Address comments
  doc/releases/changelog-dev.md
  pennylane/measurements/classical_shadow.py
Due: pylint

Add comment for diag_list
  pennylane/measurements/classical_shadow.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/pauli/utils.py
Due: pylint

PauliWord to Pauli word, pylint
  pennylane/pauli/utils.py
  tests/pauli/test_pauli_utils.py
Due: pylint, pylint-tests

pylint
  pennylane/pauli/utils.py
Due: pylint

update preprocessing tests
  pennylane/devices/qubit/preprocess.py
  tests/devices/qubit/test_preprocess.py
Due: pylint, pylint-tests

Replace deprecated by renamed in changelogs
  doc/development/deprecations.rst
  doc/releases/changelog-dev.md
Due: none

Marked failing test as xfail
  tests/docs/test_supported_confs.py
Due: pylint-tests

prototype separate state and density matrix
  pennylane/_qubit_device.py
  pennylane/circuit_graph.py
  pennylane/measurements/__init__.py
  pennylane/measurements/state.py
Due: pylint

Update pennylane/gradients/spsa_gradient.py
  pennylane/gradients/spsa_gradient.py
Due: pylint

reduce
  pennylane/math/quantum.py
Due: pylint

include wire ordering, test for that, raise error for broadcasting, test for that
  pennylane/math/quantum.py
  tests/math/test_density_matrices.py
  tests/measurements/test_state.py
Due: pylint, pylint-tests

changelog
  doc/releases/changelog-dev.md
Due: none

add test for qinfo transform
  tests/qinfo/test_reduced_dm.py
Due: pylint-tests

more tests for math module
  tests/math/test_density_matrices.py
Due: pylint-tests

black
  tests/measurements/test_state.py
Due: pylint-tests

introduce, use and test input_is_dm kwarg to reduced_dm
  pennylane/devices/default_mixed.py
  pennylane/devices/default_qubit.py
  pennylane/math/quantum.py
  tests/math/test_density_matrices.py
Due: pylint, pylint-tests

seed fix
  tests/gradients/core/test_gradient_transform.py
Due: pylint-tests

lint math tests
  tests/math/test_density_matrices.py
Due: pylint-tests

tmp
  pennylane/devices/default_mixed.py
  pennylane/devices/default_qubit.py
  pennylane/math/quantum.py
Due: pylint

lint
  tests/measurements/test_state.py
Due: pylint-tests

reverting
  pennylane/devices/default_mixed.py
  pennylane/devices/default_qubit.py
  pennylane/math/quantum.py
  tests/math/test_density_matrices.py
  tests/measurements/test_state.py
Due: pylint, pylint-tests

some minor polishing
  tests/devices/experimental/test_default_qubit_2.py
  tests/devices/qubit/test_preprocess.py
Due: pylint-tests

simplify operator
  pennylane/data/__init__.py
  pennylane/data/attributes/__init__.py
  pennylane/data/attributes/list.py
  pennylane/data/attributes/operator/__init__.py
  pennylane/data/attributes/operator/hamiltonian.py
  pennylane/data/attributes/operator/operator.py
  tests/data/attributes/operator/test_hamiltonian.py
  tests/data/attributes/operator/test_operator.py
  tests/data/attributes/test_attribute.py
Due: pylint, pylint-tests

Allow broadcasting in density matrices
  pennylane/_qubit_device.py
  pennylane/devices/default_mixed.py
  pennylane/math/__init__.py
  pennylane/math/quantum.py
  pennylane/measurements/state.py
  pennylane/qinfo/transforms.py
  tests/math/test_density_matrices.py
  tests/measurements/test_state.py
Due: pylint, pylint-tests

pylint
  pennylane/data/attributes/operator/_wires.py
  pennylane/data/attributes/operator/operator.py
Due: pylint

Treat identities as equivalent in `pauli.are_identical_pauli_words` (#4161)
  doc/releases/changelog-dev.md
  pennylane/pauli/utils.py
  tests/ops/qubit/test_hamiltonian.py
  tests/pauli/test_pauli_utils.py
Due: pylint, pylint-tests
