Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

ignore observable validation
  pennylane/devices/legacy_facade.py
Due: pylint

changelog headers
  doc/releases/changelog-dev.md
Due: none

minor
  doc/releases/changelog-dev.md
Due: none

disable draft CI
  .github/workflows/benchmarks.yml
  .github/workflows/docs.yml
  .github/workflows/tests-gpu.yml
  .github/workflows/tests.yml
Due: none

disable formatter
  .github/workflows/format.yml
Due: none

add test for measurment value and pytree args
  tests/capture/test_capture_cond.py
Due: pylint-test

Apply suggestions from code review
  doc/releases/changelog-dev.md
  pennylane/capture/explanations.md
Due: none

address codecov missed lines
  pennylane/devices/legacy_facade.py
  tests/interfaces/test_jacobian_products.py
Due: pylint, pylint-test

Update pennylane/transforms/split_non_commuting.py
  pennylane/transforms/split_non_commuting.py
Due: pylint

autouse False
  pennylane/devices/tests/test_templates.py
  tests/capture/test_templates.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/transforms/test_batch_input.py
  tests/transforms/test_batch_params.py
  tests/transforms/test_defer_measurements.py
Due: pylint, pylint-test

only test_templates
  tests/capture/test_templates.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/transforms/test_batch_input.py
  tests/transforms/test_batch_params.py
  tests/transforms/test_defer_measurements.py
Due: pylint-test

test_amplitude
  pennylane/ops/qubit/state_preparation.py
  pennylane/templates/embeddings/amplitude.py
  tests/templates/test_embeddings/test_amplitude.py
Due: pylint, pylint-test

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

Update test_qubitization.py
  tests/templates/test_subroutines/test_qubitization.py
Due: pylint-test

Update test_tape.py
  tests/tape/test_tape.py
Due: pylint-test

Update default_mixed.py
  pennylane/devices/default_mixed.py
Due: pylint

added support to trotterize qfuncs
  pennylane/operation.py
  pennylane/resource/__init__.py
  pennylane/resource/resource.py
  pennylane/templates/subroutines/trotter.py
Due: pylint

fixed some bugs
  pennylane/resource/resource.py
  pennylane/templates/subroutines/trotter.py
Due: pylint

[Program Capture] higher order primitives support pytree input and output (#6081)
  doc/releases/changelog-dev.md
  pennylane/capture/capture_qnode.py
  pennylane/capture/explanations.md
  pennylane/capture/flatfn.py
  pennylane/compiler/qjit_api.py
  pennylane/ops/op_math/condition.py
  tests/capture/test_capture_cond.py
  tests/capture/test_capture_for_loop.py
  tests/capture/test_capture_qnode.py
  tests/capture/test_capture_while_loop.py
Due: pylint, pylint-test

remove unnecessary interface setting/ resetting
  pennylane/workflow/qnode.py
Due: pylint

Replace op.matrix() with qml.matrix(op)
  tests/ops/qubit/test_observables.py
Due: pylint-test

works for when all is false, otherwise still buggy
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/hartree_fock.py
  pennylane/qchem/integrals.py
  pennylane/qchem/matrices.py
Due: pylint

fix bugs
  pennylane/qchem/integrals.py
Due: pylint

Minor `QNode` clean up: remove setting and resetting interface (#6094)
  pennylane/workflow/qnode.py
Due: pylint

Update pennylane/workflow/qnode.py
  pennylane/workflow/qnode.py
Due: pylint

Update `Hermitian.decomposition` test to use `qml.matrix` (#6095)
  tests/ops/qubit/test_observables.py
Due: pylint-test

address final feedback concerns and add codecov no cover
  pennylane/workflow/execution.py
  tests/measurements/legacy/test_classical_shadow_legacy.py
  tests/pulse/test_parametrized_evolution.py
Due: pylint, pylint-test

codefactor
  pennylane/devices/default_qubit_tf.py
  pennylane/math/quantum.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/templates/embeddings/amplitude.py
  tests/templates/test_embeddings/test_amplitude.py
Due: pylint, pylint-test

undo extra
  tests/math/test_density_matrices.py
  tests/math/test_expectation_value.py
  tests/math/test_fidelity_math.py
Due: pylint-test

Added type hints to QNode public functions (#6084)
  pennylane/workflow/execution.py
  pennylane/workflow/qnode.py
  tests/devices/test_default_qubit_torch.py
Due: pylint, pylint-test

black
  pennylane/qchem/integrals.py
  pennylane/qchem/matrices.py
  pennylane/qchem/molecule.py
Due: pylint

black
  pennylane/qchem/hamiltonian.py
Due: pylint

remove unneeded quotes and simplify FlatPytree
  pennylane/operation.py
  pennylane/ops/qubit/arithmetic_ops.py
Due: pylint

move `WiresLike` to wires module and add exceptions to docs
  doc/code/qml_wires.rst
  pennylane/operation.py
  pennylane/ops/qubit/arithmetic_ops.py
  pennylane/ops/qubit/hamiltonian.py
  pennylane/ops/qubit/matrix_ops.py
  pennylane/ops/qubit/non_parametric_ops.py
  pennylane/ops/qubit/observables.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  pennylane/ops/qubit/parametric_ops_single_qubit.py
  pennylane/ops/qubit/qchem_ops.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/typing.py
  pennylane/wires.py
Due: pylint

Update changed dependencies
  .github/stable/all_interfaces.txt
  .github/stable/core.txt
  .github/stable/external.txt
  .github/stable/jax.txt
  .github/stable/tf.txt
  .github/stable/torch.txt
Due: none

tests
  tests/qchem/test_hamiltonians.py
Due: pylint-test

tests
  tests/qchem/test_hamiltonians.py
  tests/qchem/test_molecule.py
Due: pylint-test

some fixes
  tests/qchem/test_hamiltonians.py
  tests/qchem/test_integrals.py
Due: pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
