Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

missed the second charge in tapering
  pennylane/qchem/tapering.py
Due: pylint

More qfunc update
  doc/introduction/compiling_circuits.rst
  pennylane/transforms/commutation_dag.py
  pennylane/transforms/compile.py
  pennylane/transforms/insert_ops.py
  pennylane/transforms/mitigate.py
Due: pylint

Removed grad capabilities that it shouldn't have
  tests/test_qutrit_device.py
Due: pylint-test

Added backprop to tested grad methods
  tests/ops/qutrit/test_qutrit_parametric_ops.py
Due: pylint-test

Fixed grad for jax, tf, and, torch
  pennylane/devices/default_qutrit.py
Due: pylint

Fixed tuple values for parametric ops
  pennylane/ops/qutrit/parametric_ops.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

Update catalyst.ops ref
  pennylane/_grad.py
Due: pylint

Apply suggestions from code review
  pennylane/compiler/qjit_api.py
  pennylane/transforms/condition.py
Due: pylint

Apply code review suggestions
  pennylane/compiler/__init__.py
  pennylane/compiler/compiler.py
  pennylane/transforms/condition.py
Due: pylint

try to resolve ambiguity for docs failure
  pennylane/devices/device_api.py
Due: pylint

Update pennylane/devices/default_qubit.py
  pennylane/devices/default_qubit.py
Due: pylint

set minimum autoray version; pin ci temporarily
  doc/development/guide/installation.rst
  requirements-ci.txt
  requirements.txt
  setup.py
Due: pylint

QNode -> circuit
  pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/parameter_shift.py
  pennylane/gradients/parameter_shift_hessian.py
  pennylane/gradients/pulse_gradient_odegen.py
  pennylane/gradients/spsa_gradient.py
  pennylane/shadows/transforms.py
  pennylane/transforms/batch_input.py
  pennylane/transforms/core/transform_dispatcher.py
  tests/transforms/test_experimental/test_transform_dispatcher.py
Due: pylint, pylint-test

check if qubit_freq callable before calling ndim; update docstring
  pennylane/pulse/transmon.py
Due: pylint

Pinned jax and tensorflow versions for external-libraries-tests. Removed input keras_version from unit-test.yml as it was not being used
  .github/workflows/interface-unit-tests.yml
  .github/workflows/unit-test.yml
Due: none

Fix bug
  pennylane/transforms/core/transform_dispatcher.py
Due: pylint

Add test
  tests/transforms/test_qcut.py
Due: pylint-test

Update requirements-ci.txt
  requirements-ci.txt
Due: none

fix local hilbert shmidt template
  doc/releases/changelog-0.33.0.md
  pennylane/templates/subroutines/hilbert_schmidt.py
  tests/templates/test_subroutines/test_hilbert_schmidt.py
Due: pylint, pylint-test

lint and black
  tests/templates/test_subroutines/test_hilbert_schmidt.py
Due: pylint-test

update benchmarks workflow
  .github/workflows/benchmarks.yml
Due: none

set minimum autoray version (#4716)
  doc/development/guide/installation.rst
  pennylane/pulse/transmon.py
  requirements.txt
  setup.py
Due: pylint

Update transforms
  pennylane/transforms/__init__.py
  pennylane/transforms/core/transform.py
  pennylane/transforms/split_non_commuting.py
Due: pylint

Fix `LocalHilbertSchmidt` template (#4719)
  doc/releases/changelog-0.33.0.md
  pennylane/templates/subroutines/hilbert_schmidt.py
  tests/templates/test_subroutines/test_hilbert_schmidt.py
Due: pylint, pylint-test

Update pennylane/templates/subroutines/hilbert_schmidt.py
  pennylane/templates/subroutines/hilbert_schmidt.py
Due: pylint

Add
  doc/releases/changelog-0.33.0.md
Due: none

Update deprecations for v0.33 release
  doc/development/deprecations.rst
Due: none

Fix expand when applying transform on tapes (#4718)
  pennylane/transforms/core/transform_dispatcher.py
  tests/transforms/test_qcut.py
Due: pylint, pylint-test

Bump version
  doc/development/deprecations.rst
Due: none

Update release notes
  doc/releases/changelog-0.33.0.md
Due: none

Add image
  doc/_static/cosine_window.png
Due: none

ctrlsequence and other additions
  doc/releases/changelog-0.33.0.md
Due: none

minor
  doc/releases/changelog-0.33.0.md
Due: none

Revert merge
  doc/development/release_notes.md
  doc/releases/changelog-dev.md
  pennylane/_version.py
Due: pylint

Double
  pennylane/gradients/__init__.py
  pennylane/gradients/finite_difference.py
  pennylane/gradients/hadamard_gradient.py
  pennylane/gradients/parameter_shift_cv.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
