Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      exclude: ^doc/
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
        ]
      exclude: ^(doc/|tests/)
    - id: pylint-test
      name: pylint-test
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=tests/.pylintrc", # Link to your config file
        ]
      files: ^tests/

logging and some comments
  pennylane/interfaces/jacobian_products.py
Due: pylint

minor documentation changes
  pennylane/interfaces/jacobian_products.py
Due: pylint

remove rebasing issues
  doc/development/release_notes.md
  doc/releases/changelog-dev.md
  pennylane/_version.py
Due: pylint

Update doc/releases/changelog-0.32.0.md
  doc/releases/changelog-0.32.0.md
Due: none

Apply suggestions from code review
  pennylane/interfaces/jacobian_products.py
Due: pylint

Remove function use that causes hash warning
  pennylane/optimize/adaptive.py
Due: pylint

Update documentation (#4504)
  doc/development/guide/logging.rst
  pennylane/tape/qscript.py
Due: pylint

device setup changes
  pennylane/__init__.py
  pennylane/devices/default_qubit.py
  pennylane/devices/experimental/default_qubit_2.py
Due: pylint

Unused import
  pennylane/gradients/parameter_shift_hessian.py
Due: pylint

Added test
  tests/test_qnode.py
Due: pylint-test

Fixed test
  tests/test_qnode.py
Due: pylint-test

Update pennylane/measurements/mid_measure.py
  pennylane/measurements/mid_measure.py
Due: pylint

update spin2 with fermi sentence
  pennylane/qchem/spin.py
Due: pylint

Remove MeasurementValueError
  pennylane/measurements/__init__.py
  pennylane/measurements/mid_measure.py
Due: pylint

update spinz
  pennylane/qchem/spin.py
Due: pylint

exclude files from pr
  doc/development/release_notes.md
  pennylane/_version.py
Due: pylint

more test changes
  tests/gradients/finite_diff/test_spsa_gradient.py
  tests/gradients/parameter_shift/test_parameter_shift_cv.py
  tests/ops/qubit/test_special_unitary.py
  tests/optimize/test_optimize_shot_adaptive.py
  tests/qchem/test_hamiltonians.py
  tests/qnn/conftest.py
  tests/qnn/test_keras.py
  tests/qnn/test_qnn_torch.py
  tests/shadow/test_shadow_entropies.py
  tests/tape/test_qscript.py
  tests/tape/test_tape.py
  tests/templates/test_subroutines/test_permute.py
  tests/templates/test_subroutines/test_qft.py
  tests/templates/test_subroutines/test_qpe.py
  tests/templates/test_subroutines/test_single_excitation.py
  tests/templates/test_subroutines/test_uccsd.py
  tests/transforms/test_specs.py
Due: pylint-test

Apply suggestions from code review
  doc/releases/changelog-0.32.0.md
Due: none

Use fermi sentence in qchem spin functions (#4521)
  pennylane/qchem/spin.py
Due: pylint

Sphinx fix
  doc/code/qml_measurements.rst
Due: none

added converter for MPS DMRG wavefunctions
  doc/releases/changelog-dev.md
  pennylane/qchem/convert.py
Due: pylint

fixed formatting and updated changelog
  doc/releases/changelog-dev.md
  pennylane/qchem/convert.py
Due: pylint

Changed to list comprehension
  pennylane/optimize/adaptive.py
Due: pylint

adding converter for SHCI wavefunction
  doc/releases/changelog-dev.md
  pennylane/qchem/convert.py
Due: pylint

add pr for updating spin
  doc/releases/changelog-0.32.0.md
Due: none

Change how Select is displayed in circuit drawer (#4506)
  doc/releases/changelog-0.32.0.md
  pennylane/templates/subroutines/select.py
  tests/templates/test_subroutines/test_select.py
Due: pylint, pylint-test

map wires for pulse stuff; more test fixes
  pennylane/pulse/parametrized_evolution.py
  pennylane/pulse/parametrized_hamiltonian.py
  tests/devices/test_lightning_qubit.py
  tests/pulse/test_hardware_hamiltonian.py
  tests/templates/test_embeddings/test_basis.py
  tests/templates/test_subroutines/test_basis_rotation.py
Due: pylint, pylint-test

correct pyscf link in chemistry doc
  doc/introduction/chemistry.rst
Due: none

temp for ci: use legacy in templates
  tests/templates/test_broadcast.py
  tests/templates/test_embeddings/test_amplitude.py
  tests/templates/test_embeddings/test_angle.py
  tests/templates/test_embeddings/test_basis.py
  tests/templates/test_embeddings/test_iqp_emb.py
  tests/templates/test_embeddings/test_qaoa_emb.py
  tests/templates/test_layers/test_basic_entangler.py
  tests/templates/test_layers/test_gate_fabric.py
  tests/templates/test_layers/test_particle_conserving_u1.py
  tests/templates/test_layers/test_particle_conserving_u2.py
  tests/templates/test_layers/test_random.py
  tests/templates/test_layers/test_simplified_twodesign.py
  tests/templates/test_layers/test_strongly_entangling.py
  tests/templates/test_state_preparations/test_arbitrary_state_prep.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/templates/test_subroutines/test_all_singles_doubles.py
  tests/templates/test_subroutines/test_approx_time_evolution.py
  tests/templates/test_subroutines/test_arbitrary_unitary.py
  tests/templates/test_subroutines/test_basis_rotation.py
  tests/templates/test_subroutines/test_commuting_evolution.py
  tests/templates/test_subroutines/test_double_excitation.py
  tests/templates/test_subroutines/test_flip_sign.py
  tests/templates/test_subroutines/test_grover.py
  tests/templates/test_subroutines/test_kupccgsd.py
  tests/templates/test_subroutines/test_permute.py
  tests/templates/test_subroutines/test_qft.py
  tests/templates/test_subroutines/test_qmc.py
  tests/templates/test_subroutines/test_qpe.py
  tests/templates/test_subroutines/test_qsvt.py
  tests/templates/test_subroutines/test_select.py
  tests/templates/test_subroutines/test_single_excitation.py
  tests/templates/test_subroutines/test_uccsd.py
  tests/templates/test_swapnetworks/test_ccl2.py
  tests/templates/test_tensornetworks/test_MERA.py
  tests/templates/test_tensornetworks/test_MPS.py
  tests/templates/test_tensornetworks/test_TTN.py
Due: pylint-test

Revert "temp for ci: use legacy in templates"
  tests/templates/test_broadcast.py
  tests/templates/test_embeddings/test_amplitude.py
  tests/templates/test_embeddings/test_angle.py
  tests/templates/test_embeddings/test_basis.py
  tests/templates/test_embeddings/test_iqp_emb.py
  tests/templates/test_embeddings/test_qaoa_emb.py
  tests/templates/test_layers/test_basic_entangler.py
  tests/templates/test_layers/test_gate_fabric.py
  tests/templates/test_layers/test_particle_conserving_u1.py
  tests/templates/test_layers/test_particle_conserving_u2.py
  tests/templates/test_layers/test_random.py
  tests/templates/test_layers/test_simplified_twodesign.py
  tests/templates/test_layers/test_strongly_entangling.py
  tests/templates/test_state_preparations/test_arbitrary_state_prep.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/templates/test_subroutines/test_all_singles_doubles.py
  tests/templates/test_subroutines/test_approx_time_evolution.py
  tests/templates/test_subroutines/test_arbitrary_unitary.py
  tests/templates/test_subroutines/test_basis_rotation.py
  tests/templates/test_subroutines/test_commuting_evolution.py
  tests/templates/test_subroutines/test_double_excitation.py
  tests/templates/test_subroutines/test_flip_sign.py
  tests/templates/test_subroutines/test_grover.py
  tests/templates/test_subroutines/test_kupccgsd.py
  tests/templates/test_subroutines/test_permute.py
  tests/templates/test_subroutines/test_qft.py
  tests/templates/test_subroutines/test_qmc.py
  tests/templates/test_subroutines/test_qpe.py
  tests/templates/test_subroutines/test_qsvt.py
  tests/templates/test_subroutines/test_select.py
  tests/templates/test_subroutines/test_single_excitation.py
  tests/templates/test_subroutines/test_uccsd.py
  tests/templates/test_swapnetworks/test_ccl2.py
  tests/templates/test_tensornetworks/test_MERA.py
  tests/templates/test_tensornetworks/test_MPS.py
  tests/templates/test_tensornetworks/test_TTN.py
Due: pylint-test

update select code example
  doc/releases/changelog-0.32.0.md
Due: none

little fixups from timmysilv for the 0.32 release (#4517)
  pennylane/drawer/style.py
  pennylane/math/fidelity.py
  pennylane/measurements/mid_measure.py
  pennylane/operation.py
  pennylane/pauli/pauli_arithmetic.py
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/observable_hf.py
Due: pylint

minor
  doc/releases/changelog-0.32.0.md
Due: none

correct pyscf link in chemistry doc (#4525)
  doc/introduction/chemistry.rst
Due: none

[skip-ci] Apply suggestions from code review
  tests/gradients/core/test_gradient_transform.py
  tests/interfaces/test_jacobian_products.py
Due: pylint-test

fix templates
  tests/templates/test_embeddings/test_amplitude.py
  tests/templates/test_embeddings/test_angle.py
  tests/templates/test_embeddings/test_basis.py
  tests/templates/test_embeddings/test_iqp_emb.py
  tests/templates/test_embeddings/test_qaoa_emb.py
  tests/templates/test_layers/test_basic_entangler.py
  tests/templates/test_layers/test_gate_fabric.py
  tests/templates/test_layers/test_particle_conserving_u1.py
  tests/templates/test_layers/test_particle_conserving_u2.py
  tests/templates/test_layers/test_random.py
  tests/templates/test_layers/test_simplified_twodesign.py
  tests/templates/test_layers/test_strongly_entangling.py
  tests/templates/test_state_preparations/test_arbitrary_state_prep.py
  tests/templates/test_state_preparations/test_basis_state_prep.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/templates/test_subroutines/test_all_singles_doubles.py
  tests/templates/test_subroutines/test_approx_time_evolution.py
  tests/templates/test_subroutines/test_arbitrary_unitary.py
  tests/templates/test_subroutines/test_basis_rotation.py
  tests/templates/test_subroutines/test_commuting_evolution.py
  tests/templates/test_subroutines/test_double_excitation.py
  tests/templates/test_subroutines/test_kupccgsd.py
Due: pylint-test

More 0.32 related fixes (#4520)
  doc/code/qml_measurements.rst
  pennylane/measurements/__init__.py
  pennylane/measurements/mid_measure.py
  pennylane/optimize/adaptive.py
Due: pylint

bugfixes to unblock teleportation tutorial (#4518)
  pennylane/transforms/defer_measurements.py
  tests/transforms/test_defer_measurements.py
Due: pylint, pylint-test
