Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Bugfix for wire_options (#6805)
  doc/releases/changelog-0.40.0.md
  pennylane/drawer/mpldrawer.py
  pennylane/drawer/tape_mpl.py
  tests/drawer/test_draw_mpl.py
  tests/drawer/test_mpldrawer.py
Due: pylint, pylint-test

fix: Move mcm_config kwarg to the bottom
  pennylane/workflow/execution.py
Due: pylint

doc: Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

fix: Update capture to use new execute_kwargs
  pennylane/workflow/_capture_qnode.py
  tests/capture/test_capture_qnode.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update pennylane/workflow/qnode.py
  pennylane/workflow/qnode.py
Due: pylint

Update tests/test_qnode.py
  tests/test_qnode.py
Due: pylint-test

fix: Make init_args private
  pennylane/workflow/qnode.py
Due: pylint

half-draft
  doc/releases/changelog-0.40.0.md
Due: none

lint
  pennylane/labs/resource_estimation/ops/op_math/symbolic.py
  pennylane/labs/resource_estimation/templates/subroutines.py
  pennylane/labs/resource_estimation/templates/trotter.py
Due: pylint

update args in docstring
  pennylane/drawer/mpldrawer.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-0.40.0.md
Due: none

update warning and move labs up
  doc/releases/changelog-0.40.0.md
Due: none

no emdash
  doc/releases/changelog-0.40.0.md
Due: none

give two more chances to the notorious fail test
  tests/test_debugging.py
Due: pylint-test

correct args...
  tests/test_debugging.py
Due: pylint-test

full draft
  doc/releases/changelog-0.40.0.md
Due: none

Fix docstring in MPLDrawer (#6808)
  pennylane/drawer/mpldrawer.py
Due: pylint

minor
  doc/releases/changelog-0.40.0.md
Due: none

rm improper descriptions
  tests/devices/qutrit_mixed/test_qutrit_mixed_simulate.py
Due: pylint-test

wording
  doc/releases/changelog-0.40.0.md
Due: none

v0.40 changelog - QSVT (#6762)
  doc/releases/changelog-0.40.0.md
Due: none

v0.40 changelog - efficient state prep (#6761)
  doc/releases/changelog-0.40.0.md
Due: none

v0.40 changelog - Generalized Trotter products (#6763)
  doc/releases/changelog-0.40.0.md
Due: none

no qchem.vibrational
  doc/releases/changelog-0.40.0.md
Due: none

fix: Update hamiltonian.py
  pennylane/qchem/hamiltonian.py
Due: pylint

update "additional functionality"
  doc/releases/changelog-0.40.0.md
Due: none

add vibrational_pes example
  doc/releases/changelog-0.40.0.md
Due: none

fix typos and code rendering
  doc/releases/changelog-0.40.0.md
Due: none

v0.40.0 changelog - Vibrational Hamiltonians (#6765)
  doc/releases/changelog-0.40.0.md
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
