Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

Update stable docs dependencies
  .github/stable/doc.txt
Due: none

Making codecov happy
  pennylane/io.py
Due: pylint

Fixes `split_non_commuting` with non-trainable autograd coefficients
  pennylane/transforms/split_non_commuting.py
  tests/transforms/test_split_non_commuting.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-0.37.0.md
Due: none

doc fixes following QA
  doc/code/qml_pytrees.rst
  doc/index.rst
  doc/releases/changelog-0.37.0.md
  pennylane/templates/subroutines/qrom.py
Due: pylint

Update doc/releases/changelog-0.37.0.md
  doc/releases/changelog-0.37.0.md
Due: none

minor improvs
  pennylane/ops/op_math/controlled_decompositions.py
  pennylane/ops/op_math/decompositions/single_qubit_unitary.py
Due: pylint

[skip ci] correct spelling on specs and construct_batch
  pennylane/resource/specs.py
  pennylane/workflow/construct_batch.py
Due: pylint

Update docstrings of `qml.equal` and `qml.assert_equal` (#5933)
  pennylane/ops/functions/equal.py
Due: pylint

make sphinx happy
  doc/code/qml_pytrees.rst
  pennylane/pytrees/pytrees.py
Due: pylint

Apply suggestions from code review
  doc/releases/changelog-0.37.0.md
Due: none

First attempt at fixing issue
  pennylane/templates/embeddings/amplitude.py
  tests/templates/test_embeddings/test_amplitude.py
Due: pylint, pylint-test

[skip ci] add punctuation to from_openfermion
  pennylane/qchem/convert_openfermion.py
Due: pylint

Fix broken links in various measurement process docstrings (#5913)
  doc/releases/changelog-0.37.0.md
  pennylane/measurements/classical_shadow.py
  pennylane/measurements/counts.py
  pennylane/measurements/expval.py
  pennylane/measurements/mid_measure.py
  pennylane/measurements/mutual_info.py
  pennylane/measurements/probs.py
  pennylane/measurements/purity.py
  pennylane/measurements/sample.py
  pennylane/measurements/state.py
  pennylane/measurements/var.py
Due: pylint

Update title to pytrees
  doc/code/qml_pytrees.rst
Due: none

Clean up (introduce TreeTraversalStack, etc.)
  pennylane/devices/qubit/simulate.py
  pennylane/measurements/__init__.py
  pennylane/measurements/mid_measure.py
Due: pylint

Fix lint
  pennylane/devices/qubit/simulate.py
  pennylane/workflow/qnode.py
Due: pylint

perhaps it will render correctly now
  doc/code/qml_pytrees.rst
Due: none

openfermion conversions example improvements
  doc/code/qml_qchem.rst
  pennylane/ops/op_math/controlled_decompositions.py
  pennylane/qchem/__init__.py
  pennylane/qchem/convert_openfermion.py
Due: pylint

[skip ci] correct warning according to added functionality and format examples in parameter_shift
  pennylane/gradients/parameter_shift.py
Due: pylint

missing imports in example
  pennylane/pauli/conversion.py
Due: pylint

update sorting
  pennylane/qchem/observable_hf.py
Due: pylint

minor
  doc/releases/changelog-0.37.0.md
Due: none

copy editing
  doc/releases/changelog-0.37.0.md
Due: none

add test
  pennylane/qchem/observable_hf.py
  tests/qchem/test_hamiltonians.py
Due: pylint, pylint-test

[skip ci] add punctuation to dynamic_one_shot functions
  pennylane/transforms/dynamic_one_shot.py
Due: pylint

Fix test_one_shot_error_without_shots test.
  tests/test_qnode.py
Due: pylint-test

[skip ci] erase qml import from examples
  pennylane/gradients/parameter_shift.py
Due: pylint

minor example fix for `expectation_value`
  pennylane/math/quantum.py
Due: pylint

minor doc improv
  doc/code/qml_debugging.rst
Due: none

add Example header in docstrings
  pennylane/pytrees/pytrees.py
Due: pylint

`tree-traversal` work with `shots=None` (#5949)
  pennylane/devices/default_qubit.py
  pennylane/devices/qubit/simulate.py
  pennylane/measurements/__init__.py
  pennylane/measurements/mid_measure.py
  pennylane/workflow/qnode.py
  tests/devices/default_qubit/test_default_qubit_native_mcm.py
  tests/test_qnode.py
Due: pylint, pylint-test

Update changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update docstring of various functions (#5935)
  doc/releases/changelog-0.37.0.md
  pennylane/capture/capture_meta.py
  pennylane/capture/capture_qnode.py
  pennylane/devices/preprocess.py
  pennylane/transforms/convert_to_numpy_parameters.py
Due: pylint

[skip ci] fix spelling mistakes in rst of noise functions
  doc/code/qml_noise.rst
Due: none

Updates to fix CI failures
  pennylane/debugging/snapshot.py
  tests/test_compiler.py
  tests/test_debugging.py
Due: pylint, pylint-test

Quality check for PRs related to `PennyLane 0.37` (#5932)
  doc/releases/changelog-0.37.0.md
  pennylane/capture/explanations.md
  pennylane/io.py
  pennylane/ops/qutrit/channel.py
  pennylane/transforms/split_non_commuting.py
Due: pylint

minor doc fixes
  doc/code/qml_noise.rst
  doc/code/qml_qchem.rst
  doc/introduction/operations.rst
  pennylane/noise/noise_model.py
  pennylane/ops/functions/equal.py
  pennylane/qchem/hamiltonian.py
  pennylane/qchem/observable_hf.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
