Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: 🐍 pylint · Lint codebase
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: 🐍 pylint · Lint test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: 🐍 pylint · Lint labs test suite
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

kwargs are no longer qnode metadata
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_qnode.py
Due: pylint, pylint-test

adding decomposition
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/select.py
  tests/templates/test_subroutines/test_select.py
Due: pylint, pylint-test

remove relative imports
  pennylane/concurrency/executors/external/dask.py
  pennylane/concurrency/executors/external/mpi.py
  pennylane/concurrency/executors/native/api.py
  pennylane/concurrency/executors/native/conc_futures.py
  pennylane/concurrency/executors/native/multiproc.py
  pennylane/concurrency/executors/native/serial.py
  pennylane/devices/default_gaussian.py
  pennylane/devices/default_qutrit.py
  pennylane/devices/modifiers/simulator_tracking.py
  pennylane/kernels/cost_functions.py
  pennylane/ops/functions/bind_new_parameters.py
  pennylane/qchem/vibrational/vibrational_class.py
  pennylane/templates/layers/cv_neural_net.py
  pennylane/templates/layers/gate_fabric.py
  pennylane/templates/layers/particle_conserving_u1.py
  pennylane/templates/layers/particle_conserving_u2.py
  pennylane/workflow/interfaces/jax_jit.py
Due: pylint

chore: improve type hinting in `workflow` module (#8284)
  doc/releases/changelog-dev.md
  pennylane/workflow/_setup_transform_program.py
  pennylane/workflow/construct_execution_config.py
  pennylane/workflow/construct_tape.py
  pennylane/workflow/get_best_diff_method.py
  pennylane/workflow/qnode.py
  pennylane/workflow/resolution.py
  pennylane/workflow/run.py
Due: pylint

apply suggestions
  pennylane/estimator/resource_tracking.py
Due: pylint

Update pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
  pennylane/estimator/ops/qubit/parametric_ops_single_qubit.py
Due: pylint

add warning about unmaintained nature of plxpr execution
  doc/releases/changelog-dev.md
  pennylane/workflow/_capture_qnode.py
  tests/capture/workflow/test_capture_qnode.py
  tests/pytest.ini
Due: pylint, pylint-test

Update test_select.py
  tests/templates/test_subroutines/test_select.py
Due: pylint-test

Port non-parametric resource operators (#8240)
  doc/code/qml_estimator.rst
  doc/conf.py
  doc/releases/changelog-dev.md
  pennylane/estimator/ops/__init__.py
  pennylane/estimator/ops/identity.py
  pennylane/estimator/ops/qubit/__init__.py
  pennylane/estimator/ops/qubit/non_parametric_ops.py
  tests/estimator/ops/test_estimator_identity.py
  tests/estimator/ops/test_estimator_non_parameteric.py
Due: pylint, pylint-test

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Fixed tests
  pennylane/estimator/ops/op_math/controlled_ops.py
  tests/estimator/ops/test_estimator_controlled.py
Due: pylint, pylint-test

remove unused import
  pennylane/estimator/resource_mapping.py
Due: pylint

Updated changelog
  doc/releases/changelog-dev.md
Due: none

Begin adding tests
  tests/python_compiler/rewriter/test_ssa_qubit_map.py
Due: pylint-test

adding None work wires
  pennylane/templates/subroutines/select.py
  tests/templates/test_subroutines/test_select.py
Due: pylint, pylint-test

Update semi_adder.py
  pennylane/templates/subroutines/semi_adder.py
Due: pylint

remove pauli ops from the tape in the convert_to_mbqc_formalism transform
  pennylane/ftqc/decomposition.py
Due: pylint

update failing tests
  pennylane/ftqc/decomposition.py
  tests/ftqc/test_tape_prototype.py
Due: pylint, pylint-test

update tests
  tests/ftqc/test_tape_prototype.py
Due: pylint-test

fix test
  tests/templates/test_subroutines/test_prepselprep.py
Due: pylint-test

add stuff back
  pennylane/capture/autograph/operator_update.py
  pennylane/capture/custom_primitives.py
  pennylane/decomposition/decomposition_graph.py
Due: pylint

add property and tests
  pennylane/decomposition/decomposition_rule.py
  tests/decomposition/test_decomposition_rule.py
Due: pylint, pylint-test

parity matrix type hinting
  pennylane/transforms/intermediate_reps/parity_matrix.py
Due: pylint

phase polynomial type hinting
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

fix type checking problem with future annotations
  pennylane/transforms/intermediate_reps/parity_matrix.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

use other tape constructor
  pennylane/transforms/intermediate_reps/parity_matrix.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

use new feature
  pennylane/decomposition/symbolic_decomposition.py
  pennylane/ops/functions/assert_valid.py
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/op_math/decompositions/unitary_decompositions.py
  pennylane/ops/qubit/state_preparation.py
  pennylane/templates/state_preparations/mottonen.py
  pennylane/templates/subroutines/basis_rotation.py
  pennylane/templates/subroutines/select_pauli_rot.py
  pennylane/templates/subroutines/semi_adder.py
  tests/ops/functions/conftest.py
  tests/ops/op_math/test_controlled_ops.py
  tests/ops/qubit/test_state_prep.py
  tests/templates/test_embeddings/test_basis.py
  tests/templates/test_state_preparations/test_mottonen_state_prep.py
  tests/templates/test_subroutines/test_basis_rotation.py
  tests/templates/test_subroutines/test_select.py
  tests/templates/test_subroutines/test_select_pauli_rot.py
  tests/templates/test_subroutines/test_semi_adder.py
Due: pylint, pylint-test

fix qnode input
  pennylane/transforms/intermediate_reps/parity_matrix.py
  pennylane/transforms/intermediate_reps/phase_polynomial.py
  tests/transforms/intermediate_reps/test_parity_matrix.py
  tests/transforms/intermediate_reps/test_phase_polynomial.py
Due: pylint, pylint-test

TensorLike
  pennylane/transforms/intermediate_reps/rowcol.py
Due: pylint

Apply suggestions from code review
  pennylane/transforms/__init__.py
  pennylane/transforms/zx/optimize_t_count.py
Due: pylint

docs
  pennylane/transforms/intermediate_reps/parity_matrix.py
Due: pylint

docs
  pennylane/transforms/intermediate_reps/phase_polynomial.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

angle_wires
  pennylane/transforms/rz_phase_gradient.py
  tests/transforms/test_rz_phase_gradient.py
Due: pylint, pylint-test

unify global phases
  pennylane/transforms/rz_phase_gradient.py
  tests/transforms/test_rz_phase_gradient.py
Due: pylint, pylint-test

validate wires
  pennylane/transforms/rz_phase_gradient.py
  tests/transforms/test_rz_phase_gradient.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
