Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: labs-pylint-test
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

more documentation
  pennylane/compiler/python_compiler/quantum_dialect.py
Due: pylint

clean up exceptions.py
  pennylane/exceptions.py
Due: pylint

fix operation.py to remove errors from list
  pennylane/operation.py
Due: pylint

Update pennylane/transforms/__init__.py
  pennylane/transforms/__init__.py
Due: pylint

Update doc/releases/changelog-dev.md
  doc/releases/changelog-dev.md
Due: none

Update pennylane/capture/autograph/__init__.py
  pennylane/capture/autograph/__init__.py
Due: pylint

Update pennylane/capture/autograph/transformer.py
  pennylane/capture/autograph/transformer.py
Due: pylint

update import paths
  pennylane/capture/autograph/transformer.py
  pennylane/compiler/qjit_api.py
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_graph.py
  pennylane/measurements/__init__.py
  pennylane/measurements/classical_shadow.py
  pennylane/numpy/__init__.py
Due: pylint

make format
  pennylane/transforms/__init__.py
Due: pylint

bug
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/templates/embeddings/amplitude.py
  pennylane/templates/subroutines/approx_time_evolution.py
  pennylane/templates/subroutines/arbitrary_unitary.py
  pennylane/templates/subroutines/fermionic_double_excitation.py
  pennylane/templates/subroutines/fermionic_single_excitation.py
  pennylane/templates/subroutines/permute.py
  pennylane/templates/subroutines/temporary_and.py
  pennylane/templates/subroutines/uccsd.py
Due: pylint

changelog
  doc/releases/changelog-dev.md
Due: none

Format code
  tests/optimize/test_momentum_qng_qjit.py
Due: pylint-test

fix typing.py manually
  pennylane/typing.py
Due: pylint

fix qscript.py manually
  pennylane/tape/qscript.py
Due: pylint

fix shots.py manually
  pennylane/measurements/shots.py
Due: pylint

fix typing_util.py manually
  pennylane/data/base/typing_util.py
Due: pylint

fix interface_utils.py
  pennylane/math/interface_utils.py
Due: pylint

fix remaining errors manually
  pennylane/data/attributes/sparse_array.py
  pennylane/data/base/hdf5.py
  pennylane/wires.py
Due: pylint

Update pennylane/typing.py
  pennylane/typing.py
Due: pylint

Global phase improvements to RS decomposition (#7793)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/decompositions/grid_problems.py
  pennylane/ops/op_math/decompositions/normal_forms.py
  pennylane/ops/op_math/decompositions/rings.py
  pennylane/ops/op_math/decompositions/ross_selinger.py
  tests/ops/op_math/decompositions/test_normal_forms.py
  tests/ops/op_math/decompositions/test_rings.py
  tests/ops/op_math/decompositions/test_ross_selinger.py
Due: pylint, pylint-test

documentation
  pennylane/compiler/python_compiler/quantum_dialect.py
Due: pylint

fix union of strings
  pennylane/_deprecated_observable.py
  pennylane/devices/default_tensor.py
  pennylane/ops/op_math/decompositions/grid_problems.py
  pennylane/pulse/hardware_hamiltonian.py
  pennylane/qcut/cutstrategy.py
  pennylane/queuing.py
  pennylane/tape/qscript.py
Due: pylint

fix interface utils
  pennylane/math/interface_utils.py
Due: pylint

[Decomposition] Register work-wire usage of decomposition rules
  pennylane/decomposition/__init__.py
  pennylane/decomposition/decomposition_rule.py
Due: pylint

fix
  pennylane/concurrency/executors/external/dask.py
  pennylane/data/base/dataset.py
  pennylane/data/data_manager/foldermap.py
  pennylane/data/data_manager/params.py
  pennylane/operation.py
  pennylane/ops/op_math/pow.py
  pennylane/ops/op_math/prod.py
Due: pylint

Update pennylane/data/base/typing_util.py
  pennylane/data/base/typing_util.py
Due: pylint

Add more tests
  tests/optimize/test_momentum_qng_qjit.py
Due: pylint-test

fix
  pennylane/measurements/measurements.py
Due: pylint

add ability to chain transform applications together
  pennylane/transforms/core/transform_dispatcher.py
  tests/transforms/core/test_transform_dispatcher.py
Due: pylint, pylint-test

Add work_wire_requirements to DecompositionRule
  pennylane/decomposition/decomposition_rule.py
Due: pylint

add initial tests
  tests/python_compiler/transforms/test_xdsl_diagonalize_measurements.py
Due: pylint-test

update compiler transforms init
  pennylane/compiler/python_compiler/transforms/__init__.py
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
