Repository PennyLaneAI/pennylane: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-test, labs-pylint-test

pylint:
  name: ' pylint 路 Lint codebase'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

pylint-test:
  name: ' pylint 路 Lint test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

labs-pylint-test:
  name: ' pylint 路 Lint labs test suite'
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=tests/.pylintrc

fix: update tensorflow support warning
  doc/introduction/interfaces.rst
  doc/introduction/interfaces/tf.rst
Due: none

cl
  doc/releases/changelog-dev.md
Due: none

fix messaging
  doc/introduction/interfaces.rst
  doc/introduction/interfaces/tf.rst
Due: none

Fix broken links in the source code
  pennylane/fourier/reconstruct.py
  pennylane/kernels/postprocessing.py
  pennylane/labs/dla/variational_kak.py
  pennylane/labs/estimator_beta/ops/op_math/controlled_ops.py
  pennylane/labs/estimator_beta/ops/qubit/non_parametric_ops.py
  pennylane/liealg/__init__.py
  pennylane/liealg/center.py
  pennylane/liealg/horizontal_cartan_subalgebra.py
  pennylane/liealg/lie_closure.py
  pennylane/liealg/structure_constants.py
  pennylane/ops/qubit/special_unitary.py
  pennylane/optimize/qng.py
  pennylane/optimize/qnspsa.py
  pennylane/pulse/__init__.py
  pennylane/qnn/__init__.py
  pennylane/shadows/__init__.py
  pennylane/shadows/classical_shadow.py
  pennylane/templates/subroutines/iqp.py
  pennylane/workflow/get_best_diff_method.py
Due: pylint

Fix black errors
  pennylane/liealg/horizontal_cartan_subalgebra.py
  pennylane/liealg/lie_closure.py
Due: pylint

[no ci] bump nightly version
  pennylane/_version.py
Due: pylint

qml->qp
  pennylane/templates/subroutines/arithmetic/out_square.py
  tests/templates/subroutines/arithmetic/test_out_square.py
Due: pylint, pylint-test

polish
  pennylane/ops/functions/assert_valid.py
  pennylane/templates/subroutines/arithmetic/__init__.py
Due: pylint

oops
  doc/releases/changelog-dev.md
Due: none

Fix Controlled pickle
  pennylane/ops/op_math/controlled.py
  tests/ops/op_math/test_controlled.py
Due: pylint, pylint-test

changelog
  doc/releases/changelog-dev.md
Due: none

avoid base=None
  pennylane/ops/op_math/controlled.py
Due: pylint

Add C(Prod) decomposition rule
  pennylane/ops/op_math/prod.py
Due: pylint

Remove unused magic number eps from math module
  pennylane/math/__init__.py
Due: pylint

fix order of non-commuting ops
  pennylane/ops/op_math/prod.py
  tests/ops/op_math/test_prod.py
Due: pylint, pylint-test

Remove unused magic number tolerance from default_qutrit
  pennylane/devices/default_qutrit.py
Due: pylint

fix: trotterize to use adjoints instead of list reversal for qfuncs
  doc/releases/changelog-dev.md
  pennylane/templates/subroutines/time_evolution/trotter.py
  tests/templates/subroutines/time_evolution/test_trotter.py
Due: pylint, pylint-test

Imports
  pennylane/templates/subroutines/ffft.py
Due: pylint

format
  pennylane/transforms/inspect_decomp_graph.py
Due: pylint

Add dirty cprod decomposition
  pennylane/ops/op_math/prod.py
Due: pylint

Imports
  pennylane/templates/subroutines/ffft.py
  tests/templates/subroutines/test_ffft.py
Due: pylint, pylint-test

Module docstring
  tests/templates/subroutines/test_ffft.py
Due: pylint-test

Operator docs
  pennylane/templates/subroutines/ffft.py
Due: pylint

new readme
  README.md
Due: none

address comments
  doc/releases/changelog-dev.md
Due: none

pylint
  pennylane/templates/subroutines/ffft.py
  tests/templates/subroutines/test_ffft.py
Due: pylint, pylint-test

Format
  pennylane/templates/subroutines/ffft.py
  tests/templates/subroutines/test_ffft.py
Due: pylint, pylint-test

Make MultiControlledX QJIT compatible without program capture (#9306)
  doc/releases/changelog-dev.md
  pennylane/ops/op_math/decompositions/controlled_decompositions.py
  pennylane/ops/qubit/parametric_ops_multi_qubit.py
  tests/ops/op_math/test_controlled_decompositions.py
  tests/ops/qubit/test_parametric_ops.py
Due: pylint, pylint-test

[Labs] Phase gradient decompositions (#9115)
  .github/workflows/tests-labs.yml
  doc/releases/changelog-dev.md
  pennylane/labs/tests/transforms/test_decomp_rz_phase_gradient.py
  pennylane/labs/tests/transforms/test_decomp_selectpaulirot_phase_gradient.py
  pennylane/labs/tests/transforms/test_select_pauli_rot_phase_gradient.py
  pennylane/labs/transforms/__init__.py
  pennylane/labs/transforms/decomp_rz_phase_gradient.py
  pennylane/labs/transforms/decomp_selectpaulirot_phase_gradient.py
  pennylane/labs/transforms/select_pauli_rot_phase_gradient.py
  pennylane/templates/state_preparations/sum_of_slaters.py
  pennylane/templates/subroutines/qrom.py
  pennylane/transforms/rz_phase_gradient.py
Due: pylint, labs-pylint-test

fix
  pennylane/ops/qubit/state_preparation.py
  tests/capture/test_templates.py
Due: pylint, pylint-test

FFFT docs
  pennylane/templates/subroutines/ffft.py
  tests/templates/subroutines/test_ffft.py
Due: pylint, pylint-test

Make importable
  pennylane/templates/subroutines/__init__.py
Due: pylint

Typo
  pennylane/templates/subroutines/ffft.py
Due: pylint

docs
  pennylane/decomposition/decomposition_rule.py
  pennylane/transforms/__init__.py
  pennylane/transforms/inspect_decomp_graph.py
Due: pylint

Debug sphinx
  pennylane/templates/subroutines/ffft.py
Due: pylint

lets try this again
  pennylane/templates/subroutines/qchem/basis_rotation.py
  tests/templates/subroutines/qchem/test_basis_rotation.py
Due: pylint, pylint-test

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/|tests/)
  pylint-test: any of: ^tests/ and \.py$
  labs-pylint-test: any of: ^pennylane/labs/tests/ and \.py$
